﻿
<div id="idBandejaCostoController" ng-app="app.Oportunidad" ng-controller="BandejaCostoController as vm">

    <section class="panel" ng-init="vm.BuscarCosto()">
        <header class="panel-heading">
            Configuración Costo
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>



        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-12">

                        <label class="col-md-2 control-label">Linea de Negocio<span class="text-danger">*</span></label>
                        <div class="col-md-2">
                            <select id="CmbLineaNegocio" class="form-control"
                                    ng-model="vm.IdTipoCosto"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoCosto" ng-cloak></select>

                        </div>



                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            @*<button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalRegistrarServicio" ng-click="vm.ModalCosto()">
                            Nuevo
                        </button>*@
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarCosto()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbBandejaCosto" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtInstance" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <div class="modal fade" id="ModalRegistrarCosto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">Registro de Costo</p>

                </div>
                <div id="ContenidoCosto" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>
</div>