﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Oportunidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Opcion = "Contenedor";
    ViewBag.Title = Titulos.Titulo_BandejaPlantillaImplantacion;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/page.css" rel="stylesheet" />
<body ng-app="app.Oportunidad" block-ui="main"></body>
<div id="idDetallePlantillaImplantacion" ng-app="app.Oportunidad" ng-controller="DetalleSede as vm">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"></i>
                    Información Sede
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Tipo Sede</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.TipoSede" class="form-control" disabled="" placeholder="Nombre sede" type="text">
                                </div>
                                <label class="control-label col-md-2">Departamento</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.Departamento" class="form-control" disabled="" placeholder="Nombre departamento" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Dirección</label>
                                <div class="col-md-4">
                                    <textarea ng-model="vm.Direccion" class="tb form-control ng-pristine ng-valid ng-touched" disabled="" placeholder="Ingrese Direccion" rows="2"></textarea>
                                </div>
                                <label class="control-label col-md-2">Provincia</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.Provincia" class="form-control" disabled="" placeholder="Ingrese Provincia" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2"></label>
                                <div class="col-md-4">
                                </div>
                                <label class="control-label col-md-2">Distrito</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.Distrito" class="form-control" disabled="" placeholder="Ingrese Distrito" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"></i>
                    Contactos
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                       class="ui compact selectable striped celled table"
                                       dt-instance="vm.dtInstance" style="width:100%;">
                                    <thead class="cf">
                                </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"></i>
                    Circuito Digital
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div id="divAlertInactivarPlantillaImplantacion" class="alert-edit col-md-12"></div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button ng-click="vm.ModalPlantillaImplantacion()" class="btn btn-primary btn-primary-tgestiona">Agregar</button>
                    </div>
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptionsPlantillaImplantacion" dt-columns="vm.dtColumnsPlantillaImplantacion"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
    <!-- Inicio Modal-->
    <div id="ModalRegistrarPlantillaImplantacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">Registro de Plantilla Implantacion</p>

                </div>
                <div id="ContenidoPlantillaImplantacion" class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal-->
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/comun/js");
    @Scripts.Render("~/bundles/app/oportunidad/js");
    @Scripts.Render("~/bundles/app/oportunidad/detallePlantillaImplantacion/js");
    <script>var jsonSede= @Html.Raw(Json.Encode(ViewBag.VbSede));</script>
}