﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Oportunidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Opcion = "Contenedor";
    ViewBag.Title = Titulos.Titulo_BandejaPlantillaImplantacion;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/page.css" rel="stylesheet" />
<body ng-app="app.Oportunidad" block-ui="main"></body>
<div id="idPlantillaImplantacionController" ng-app="app.Oportunidad" ng-controller="BandejaPlantillaImplantacion as vm">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"></i>
                    Información del Cliente
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Número de Sales Force</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.NumeroSalesForce" class="form-control" disabled="" placeholder="Ingrese Número de Sales Force" type="text">
                                </div>
                                <label class="control-label col-md-2">Descripción Oportunidad</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.DescripcionOportunidad" class="form-control" disabled="" placeholder="Ingrese la descripción oportunidad" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Número de Caso</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.NumeroCaso" class="form-control" disabled="" placeholder="Ingrese número de caso" type="text">
                                </div>
                                <label class="control-label col-md-2">Versión</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.Version" class="form-control" disabled="" placeholder="Ingrese la version" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Cliente</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.DescripcionCliente" class="form-control" disabled="" placeholder="Ingrese el cliente" type="text">
                                </div>
                                <label class="control-label col-md-2">Sector</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.Sector" class="form-control" disabled="" placeholder="Ingrese el sector" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Gerente Comercial</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.GerenteComercial" class="form-control" disabled="" placeholder="Ingrese el gerente comercial" type="text">
                                </div>
                                <label class="control-label col-md-2">Dirección Comercial</label>
                                <div class="col-md-4">
                                    <input ng-model="vm.DireccionComercial" class="form-control" disabled="" placeholder="Ingrese la direccion comercial" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"></i>
                    Lista de Sedes
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <!--
                    <div class="col-md-12 text-right">
                        <button id="btnInstalacion" class="btn btn-primary btn-primary-tgestiona">
                            Datos Instalación
                        </button>
                        <button id="btnCircuitos" class="btn btn-primary btn-primary-tgestiona">
                            Circuitos Digitales
                        </button>
                    </div>
                    -->
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
    <!-- Inicio modal -->
    <div class="modal fade" id="ModalRegistrarSede" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">REGISTRO DE SEDE</p>
                </div>
                <div id="ContenidoSede" class="modal-body-white">
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal -->
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/comun/js");
    
    @Scripts.Render("~/bundles/app/oportunidad/contenedor/js");
    @Scripts.Render("~/bundles/app/oportunidad/SISEGO/js");

    @Scripts.Render("~/bundles/app/oportunidad/js");
    @Scripts.Render("~/bundles/app/oportunidad/bandejaPlantillaImplantacion/js");
    <script>var jsonOportunidad= @Html.Raw(Json.Encode(ViewBag.VbOportunidad));</script>
}