﻿<div id="IdAgregarSedeController" ng-controller="AgregarSedeController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_AgregarSede" class="alert-edit"></div>
    </div>
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Nombre:</label>
                <div class="col-md-4">
                    <input ng-model="vm.Nombre" class="tb form-control" id="txtNombre" autocomplete="off" disabled="disabled"/>
                </div>
                <label class="col-md-2 control-label">Ruc:</label>
                <div class="col-md-4">
                    <input ng-model="vm.Ruc" class="tb form-control" id="txtRuc" autocomplete="off" disabled="disabled"/>
                </div>
            </div>
        </div>
    </section>
    <section class="panel" ng-init="vm.BuscarSedeCliente()">
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table datatable="" id="gridSedeCliente" dt-options="vm.dtOptionsServiciosModal" dt-columns="vm.dtColumnsSedeModal"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtInstanciaServicioModal" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
    <section class="panel">
        <div class="panel-body">
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnServicio" type="button" ng-click="vm.AgregarSedeInstalacion()">Grabar</button>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/registrarServicio/js");

}
