﻿
<div id="idIndicadorController" ng-app="app.Oportunidad" ng-controller="IndicadorController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_FContable" class="alert-edit"></div>
    </div>

    <section class="panel">
        <header class="panel-heading">
            Generar Indicadores
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <button type="button" class="btn btn-primary btn-sm" aria-label="Generar" ng-click="vm.GenerarIndicadores()"><span aria-hidden="true">Generar Indicadores</span></button>
                </div>
            </section>
        </div>
    </section>
    <section class="panel" ng-show="vm.FlagMostrarReporte">
        <div class="panel-body">
            <section id="flip-scroll">
                <iframe id="FReporte" width="100%" height="650"  class="iframe-style"></iframe>
            </section>
        </div>
    </section>
</div>