﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Registrar Recurso Oportunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div id="IdRegistrarRecursoOportunidad" ng-app="app.Trazabilidad" ng-controller="RegistrarRecursoOportunidad as vm" ng-cloak>
    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Recurso Oportunidad
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
            </section>
            <div class="panel-body">
                    <div id="divAlert">
                    </div>
                <form>
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-12">                     
                                            <h5 class="font-bold col-md-12 control-label">Los campos con asterisco (*) son obligatorios.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="col-md-12 control-label" for="IdAsignacion">Código:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-md" id="IdAsignacion" ng-model="vm.IdAsignacion" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-3 control-label" for="ddlEstado">Estado(*):</label>
                                        <div class="col-md-9">
                                            <select id="ddlIdEstado" class="form-control input-md"
                                                    ng-model="vm.IdEstado"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="col-md-12 control-label" for="IdOportunidad">Oportunidad(*):</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-md" id="HDescripcionOportunidad" ng-model="vm.HDescripcionOportunidad" disabled="disabled" />
                                                <input type="hidden" class="form-control input-md" ng-model="vm.IdOportunidad" id="IdOportunidad" maxlength="150" />
                                                <span class="input-group-addon btn btn-primary btn-primary-tgestiona waves-effect m-l-5" id="btnBuscarO" ng-click="vm.ModalBusquedaOportunidad()">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="col-md-12 control-label" for="IdRecurso">Recurso(*):</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-md" id="HDescripcionRecurso" ng-model="vm.HDescripcionRecurso" disabled="disabled" />
                                                <input type="hidden" class="form-control input-md" ng-model="vm.IdRecurso" id="IdRecurso" maxlength="150" />
                                                <span class="input-group-addon btn btn-primary btn-primary-tgestiona waves-effect m-l-5" id="btnBuscarR" ng-click="vm.ModalBusquedaRecurso()">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="col-md-12 control-label" for="listFases">Rol Recurso(*):</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <select id="IdRol" class="form-control input-md"
                                                    ng-model="vm.IdRol"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listRolRecurso" ng-cloak></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-3 control-label" for="PorcentajeDedicacion">%Dedicación:</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control input-md" ng-model="vm.PorcentajeDedicacion" id="PorcentajeDedicacion" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="col-md-12 control-label" for="FInicioAsignacion">Fecha Inicio:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <div class='input-group date' style="cursor:pointer;">
                                                <input id="FInicioAsignacion" type='text' class="form-control" data-date-time-picker ng-model="vm.FInicioAsignacion" placeholder="dd/mm/yyyyy" autocomplete="off" maxlength="10" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-3 control-label" for="FFinAsignacion">Fecha Fin:</label>
                                        <div class="col-md-9">
                                            <div class='input-group date' style="cursor:pointer;">
                                                <input id="FFinAsignacion" type='text' class="form-control" data-date-time-picker ng-model="vm.FFinAsignacion" placeholder="dd/mm/yyyyy" autocomplete="off" maxlength="10" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="col-md-12 control-label" for="Observaciones">Observaciones:</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <textarea id="Observaciones" ng-model="vm.Observaciones" class="form-control input-md" maxlength="1900" style="width:100%"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='modal-footer text-right'>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistraRecursoOportunidad()"><span class="glyphicon glyphicon-list-alt"></span> Registrar</button>
                                        <a class="btn btn-default waves-effect m-l-5" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Retornar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Buscar Oportunidad-->

    <div class="modal fade" id="ModalBusquedaOportunidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">BUSQUEDA OPORTUNIDAD</p>

                </div>
                <div id="ContenidoBusquedaOportunidad" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>
    <!-- Modal Buscar Recurso-->

    <div class="modal fade" id="ModalBusquedaRecurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">BUSQUEDA RECURSO</p>

                </div>
                <div id="ContenidoBusquedaRecurso" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script>
        var jsonDatoRecursoOportunidad = @Html.Raw(Json.Encode(ViewBag.vbDatoRecursoOportunidad));
        function SeleccionarOportunidadSF(IdOportunidad) {
            var scope = angular.element(document.getElementById("IdRegistrarRecursoOportunidad")).scope();
            scope.vm.SeleccionarOportunidadSF(IdOportunidad);
            scope.$apply();
        }
        function SeleccionarRecurso(IdRecurso) {
            var scope = angular.element(document.getElementById("IdRegistrarRecursoOportunidad")).scope();
            scope.vm.SeleccionarRecurso(IdRecurso);
            scope.$apply();
        }
    </script>

    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RegistrarRecursoOportunidad/js")
}



