﻿<div id="idVisitaEditController" ng-app="app.Oportunidad" ng-controller="VisitaEditController as vm">
    
    <!-- Alert -->


    <section class="panel">
        <header class="panel-heading-modal">
            Editar Visita
        </header>
        <div class="panel-body">
            <div class="row">
                <div id="lblAlerta_VisitaDetalle" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Fecha del acuerdo</label>
                <div class="col-md-9">
                    <div class="input-group date" style="cursor:pointer;">
                        <input id="idFechaVisita" type="text" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched" data-date-time-picker="" min-date="today" ng-model="vm.FechaAcuerdo" maxlength="10" placeholder="dd/mm/yyyy">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>                
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Descripción del punto</label>
                <div class="col-md-9">
                    <textarea ng-model="vm.DescripcionPunto" class="tb form-control" autocomplete="off" rows="5"></textarea>
                </div>                
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Responsable</label>
                <div class="col-md-9">
                    <input id="txtRespansable" ng-model="vm.Responsable" class="tb form-control" autocomplete="off" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Cumplimiento</label>
                <div class="col-md-9">
                    <input type="checkbox" ng-model="vm.Cumplimiento" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnVisita" type="button" ng-click="vm.GrabarAgenda()">Grabar</button>
                </div>
            </div>

        </div>
    </section>

</div>