﻿<div id="idVisitaController" ng-app="app.Oportunidad" ng-controller="VisitaController as vm">
    <br />
    <!-- Alert -->

    <section class="panel">
        <header class="panel-heading">
            Visitas
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div id="lblAlerta_Visita" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Preventa Visitante</label>
                <div class="col-md-4">
                    <input id="txtVisitante" ng-model="vm.Visitante" class="tb form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Fecha de Visita</label>
                <div class="col-md-4">
                    <div class="input-group date" style="cursor:pointer;">
                        <input id="idFechaVisita" type="text" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched" data-date-time-picker="" min-date="today" ng-model="vm.FechaVisita" maxlength="10" placeholder="dd/mm/yyyy">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cliente visitado</label>
                <div class="col-md-4">
                    <input id="txtVisitado" ng-model="vm.Visitado" class="tb form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Hora de Inicio</label>
                <div class="col-md-4">
                    <div class="input-group date" style="cursor:pointer;">
                        <input id="idHoraInicioVisita" type="text" class="form-control ng-valid ng-valid-maxlength ng-touched ng-dirty ng-valid-parse" time-picker="" ng-model="vm.HoraInicio" maxlength="5" placeholder="HH:mm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo de visita</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipoVisita"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoVisita" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Hora de Fin</label>
                <div class="col-md-4">
                    <div class="input-group date" style="cursor:pointer;">
                        <input id="idHoraInicioVisita" type="text" class="form-control ng-valid ng-valid-maxlength ng-touched ng-dirty ng-valid-parse" time-picker="" ng-model="vm.HoraFin" maxlength="5" placeholder="HH:mm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 text-right">
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarVisita()">{{vm.Id==0?'Grabar':'Actualizar'}}</a>
            </div>

            <div class="col-sm-12 text-right">
            </div>

            <section id="flip-scroll">
                <div class="col-sm-12">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.CargaModal(0)" ng-disabled="{{vm.Id!=0}}">Agregar</a>
                </div>

                <div class="table-responsive">
                    <table id="tbVisita" datatable="" dt-options="vm.dtOptionsVisita" dt-columns="vm.dtColumnsVisita"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceVisita" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <div id="frmVisita" class="container">
        <!--Modal-->
        <div class="modal fade" id="ModalVisita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ vm.TituloModal }}</h4>

                    </div>
                    <div id="ContenidoVisita" class="modal-body">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/oportunidad/Visita/js");
}