﻿<div id="IdRecursoOportunidadBusquedaOportunidadController" ng-controller="RecursoOportunidadBusquedaOportunidad as vm">

    <div id="divAlert" class="alert-edit col-md-12"></div>
    <div class="row">
        <div id="divAlert">
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Oportunidad:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control input-md" id="DescripcionOportunidad" ng-model="vm.DescripcionOportunidad" placeholder="Ingrese Descripción" />
                        </div>
                        <div class="col-lg-2">
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltrosO()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">ID Oportunidad SF:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control input-md" id="IdOportunidadSF" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Codigo" />
                        </div>
                        <div class="col-lg-2">
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona waves-effect m-l-5" type="submit" ng-click="vm.BuscarOportunidadST()">
                                Filtrar
                            </button>
                        </div>
                    </div>

                </form>
            </div>
                <div class="row">
                    <section class="panel">
                        <header class="panel-heading">
                            Oportunidades
                        </header>
                        <div class="panel-body">
                            <section id="flip-scroll">
                                <div class="table-responsive">
                                    <table datatable="" dt-options="vm.dtOptionsO" dt-columns="vm.dtColumnsO"
                                           class="ui compact selectable striped celled table"
                                           dt-instance="vm.dtInstanceO" style="width:100%">
                                        <thead class="cf">
                                    </table>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>


        </div>
    </div>
</div>
@section scripts{
    <script>

    </script>
}

