﻿<div id="IdRegistrarSedeController" ng-app="app.Oportunidad" ng-controller="RegistrarSede as vm">

    <section class="panel">
        <header class="panel-heading">
            Servicio
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="row">
            <div id="divAlertRegistrarSede" class="alert-edit col-md-12"></div>
        </div>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_SedeDetalle" class="alert-edit"></div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Código Sede:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" id="txtCodigo" ng-model="vm.IdSede" disabled="disabled" />
                </div>
                
            </div>
      
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table datatable="" id="gridSede" dt-options="vm.dtOptionsSede" dt-columns="vm.dtColumnsSede"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtInstanciaSede" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>

            <div class="form-group col-md-12">
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" id="btnSede" type="button" ng-click="vm.RegistrarSede()">Grabar</button>
                        @*<button class="btn btn-primary btn-sm" id="btnMap" type="button" ng-click="vm.RegistrarSede()">Buscar Dirección</button>*@
                        <button class="btn btn-primary btn-sm" id="btnMap" type="button">Solicitar SISEGO</button>
                    </div>
                </div>
            </div>
    </section>

</div>
