﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
  .General-heading {
  color: #ffffff;
  background-color: #00a4b6;
  border-color: #dddddd;
}
 table.dataTable.compact tbody th, table.dataTable.compact tbody td {
        padding: 1px;
    }
</style>
<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div id="IdBandejaDatosPostventaMovil" ng-app="app.Trazabilidad" ng-controller="BandejaDatosPostventaMovil as vm">

    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Oportunidad:</label>
                        <div class="col-md-4">
                            <input id="IdOportunidadSF" class="form-control" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Codigo" maxlength="240" autocomplete="off" ng-cloak>
                        </div>
                        <label class="control-label col-md-2">Cliente: </label>
                        <div class="col-md-4">
                            <input id="DescripcionCliente" class="form-control" ng-model="vm.DescripcionCliente" placeholder="Ingrese Descripción" maxlength="240" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Etapa:</label>
                        <div class="col-md-4">
                            <select id="IdEtapa" class="form-control input-md"
                                    ng-model="vm.IdEtapa"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>
                        </div>
                        <label class="control-label col-md-2">Estado: </label>
                        <div class="col-md-4">
                            <select id="IdEstadoCaso" class="form-control input-md"
                                    ng-model="vm.IdEstadoCaso"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstadosCaso" ng-cloak></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Segmento Negocio:</label>
                        <div class="col-md-4">
                            <select id="IdSegmentoNegocio" class="form-control input-md"
                                    ng-model="vm.IdSegmentoNegocio"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listSegmentosNegocios" ng-cloak></select>

                        </div>
                        <label class="control-label col-md-2">Tipo Oportunidad: </label>
                        <div class="col-md-4">
                            <select id="IdTipoOportunidad" class="form-control input-md"
                                    ng-model="vm.IdTipoOportunidad"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listTiposOportunidad" ng-cloak></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Complejidad:</label>
                        <div class="col-md-4">
                            <select id="Codigo" class="form-control input-md"
                                    ng-model="vm.IdComplejidad"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listComplejidad" ng-cloak></select>
                        </div>
                        <label class="control-label col-md-2">Codigo Sisego:</label>
                        <div class="col-md-4">
                            <input type="text" id="CodSisego" class="form-control" ng-model="vm.CodSisego" placeholder="Ingrese Codigo" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarDatosPostventaMovil()">
                            Filtrar
                        </button>
                        <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <section class="panel">
            <header class="panel-heading">
                Seguimiento PostVenta Movil - Casos de Oportunidad
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstance" style="width:800%">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>

    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaDatosPostventaMovil/js")

}









