﻿@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaActividad;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.Comun" block-ui="main">
</body>
<div id="IdBandejaActividad" ng-app="app.Comun" ng-controller="BandejaActividad as vm">
        <div id="divAlert" class="alert-edit col-md-12"></div>
    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-lg-2 control-label">Descripción:</label>
                            <div class="col-lg-3">
                                <input id="idDescripcion" class="form-control" ng-model="vm.Descripcion" placeholder="Ingrese Descripción" maxlength="100" autocomplete="off" ng-cloak>
                            </div>
                            <label class="col-lg-1 control-label">Etapa:</label>
                            <div class="col-lg-3">
                                <select id="IdEtapas" class="form-control input-md"
                                        ng-model="vm.IdEtapa"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak ></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-lg-2 control-label">Area / Sistema:</label>
                            <div class="col-lg-3">
                                <select id="IdAreas" class="form-control input-md"
                                        ng-model="vm.IdAreaSeguimiento"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listAreas" ng-cloak ></select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarActividad()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                            <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalRegistrarActividad" ng-click="vm.ModalActividad()">
                                Nuevo
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Configuración - Actividades
                </header>
                <div class="panel-body">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:200%">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>

        </div>
    </div>
    <!-- Modal Registrar-->

    <div class="modal fade" id="ModalRegistrarActividad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">REGISTRO DE ACTIVIDAD OPORTUNIDAD</p>

                </div>
                <div id="ContenidoActividad" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>


    <!-- Modal Confirmacion de Eliminacion-->

    <div class="modal fade" id="IdConfirmacionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="txtIdAreaSeguimiento">¿Esta seguro de querer eliminar este registro?</label>
                        <input type="hidden" id="idClave" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAgregar" ng-if="vm.btnEliminar" ng-click="vm.AceptarEliminarActividad()">Eliminar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>

        function EliminarActividad(IdActividad) {
            var scope = angular.element(document.getElementById("IdBandejaActividad")).scope();
            scope.vm.EliminarActividad(IdActividad);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
    @Scripts.Render("~/bundles/app/Comun/BandejaActividad/js")





}



