﻿<div id="IdPeticionCompraCentroCostoController" ng-app="app.Compra" ng-controller="BuscadorPeticionCompraController as vm">
    <div id="frmPeticionCompraBCentroCosto" class="content-page">
        <div class="row">
            <div id="divAlertBuscarCentroCosto" class="alert-edit col-md-12"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        DATOS DE CONTRATO MARCO
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbCentroCosto"></a>
                        </span>
                    </header>
                    <div id="pnbCentroCosto" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row" >
                                <label class="col-sm-2 col-form-label">Código CM:</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input id="bContratoMarcoNum" class="form-control"
                                               ng-model="vm.ContratoMarco.NumContrato"
                                               placeholder="Descripción"
                                               autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                                <label class="col-sm-2 col-form-label">Proveedor:</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input id="bContratoMarcoProveedor" class="form-control"
                                               ng-model="vm.ContratoMarco.Proveedor"
                                               placeholder="Descripción"
                                               autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                                       ng-click="vm.BuscarContratoMarcoPeticionCompra()">
                                        <span class='glyphicon glyphicon-search'></span> Buscar
                                    </a>

                                    <button id="btnLimpiar" class="btn btn-primary" type="reset"
                                            ng-click="vm.LimpiarFiltrosContratoMarco()">
                                        <span class="glyphicon glyphicon-erase" /> Limpiar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--progress bar end-->
            </div>
        </div>

        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                LISTADO DE CONTRATO MARCO
            </header>
            <div class="panel-body">
                <section id="dv-table">
                    <div class="table-responsive">
                        <table id="tbBuscarContratoMarco" datatable="" dt-options="vm.dtOptionsCoMaPeticionCompra"
                               dt-columns="vm.dtBuscarContratoMarcoColumns"
                               class="display table table-bordered table-striped"
                               dt-instance="vm.dtBuscarContratoMarcoInstance"
                               style="width:100%;" dt-column-defs="vm.dtBuscarContratoMarcoColumns"></table>
                    </div>
                </section>
            </div>
        </section>
    </div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/app/Compra/BuscadoresPeticionCompra/js");

}
