﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.Trazabilidad" block-ui="main">
</body>

<div id="IdRptQuiebresOportunidades" ng-app="app.Trazabilidad" ng-controller="RptQuiebresOportunidades as vm">

    <div class="content-page">
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Reporte de Quiebres de Oportunidades 
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="divAlert" class="alert-edit col-md-12"></div>
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Fecha Inicio:</label>
                                <div class="col-md-8">
                                    <div class='input-group date' style="cursor:pointer;">
                                        <input id="FechaInicio" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaInicio" placeholder="dd/mm/yyyyy" autocomplete="off" maxlength="10" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Fecha Fin: </label>
                                <div class="col-md-8">
                                    <div class='input-group date' style="cursor:pointer;">
                                        <input id="FechaFin" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaFin" placeholder="dd/mm/yyyyy" autocomplete="off" maxlength="10" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Etapa:</label>
                                <div class="col-md-8">
                                    <select id="IdEtapa" class="form-control input-md"
                                            ng-model="vm.IdEtapa"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Segmento Negocio:</label>
                                <div class="col-md-8">
                                    <select id="IdSegmentoNegocio" class="form-control input-md"
                                            ng-model="vm.IdSegmentoNegocio"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listSegmentosNegocios" ng-cloak></select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Estado de Oportunidad:</label>
                                <div class="col-md-8">
                                    <select id="IdEstadoOportunidad" class="form-control input-md"
                                            ng-model="vm.IdEstadoOportunidad"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listEstadoOportunidad" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Niveles de Agrupacion:</label>
                                <div class="col-md-8">
                                    <select id="IdNivel" class="form-control input-md"
                                            ng-model="vm.IdNivel"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listNiveles" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-12 text-right">             
                                    <button type="button" class="btn btn-primary btn-sm" aria-label="Generar" ng-click="vm.GenerarReporte()"><span aria-hidden="true">Generar Reporte</span></button>
                                    <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                        Limpiar
                                    </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <section class="panel" ng-show="vm.FlagMostrarReporte">
            <div class="panel-body">
                <section id="flip-scroll">
                    <iframe id="FReporte" width="100%" height="650"></iframe>
                </section>
            </div>
        </section>

    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RptQuiebresOportunidades/js")

}











