﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Negocio;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_NgNuevaOportunidadGanadora;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/negocio.css" rel="stylesheet" />

<body ng-app="app.Negocio" block-ui="main">
</body>

<!----------------- Comienza el Contenido ------------------>
<body class="container" ng-controller="NgNuevaOportunidad as vm">

    <!----------- Group Form Oportunidad y RUC ------------>
    <div class="row">
        
        <div id="divAlert" class="alert-edit col-md-12"></div>
        
        <div class="col-md-12">
            <form>
                <input type="hidden" id="per" value="@Html.Raw(ViewBag.PER)"/>
                <div class="form-group col-md-3">
                    <label class="control-label" for="#Oportunidad">Oportunidad</label>
                    <div class="input-group">
                        <input id="Oportunidad" class="form-control" type="text" autocomplete="off" placeholder="PER-XXXXXXX" ng-model="vm.PER" ng-change="vm.BuscarCaso()"/>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label" for="#CasoDerivado">Caso Derivado</label>
                    <div class="input-group">
                        <input id="CasoDerivado" class="form-control" type="text" autocomplete="off" placeholder="XXXXXXXXX" ng-model="vm.CasoDerivado" ng-change="vm.ObtenerOportunidadGanadora()"/>
                    </div>
                </div>
                <div class="text-right col-md-3 col-md-offset-3" style="padding:25px 0px 0px 0px">
                    <div class="input-group" style="padding:0px 15px 0px 0px">
                        <button id="btnAgregarOportunidad" class="btn btn-primary btn-primary-tgestiona" style="display:none; margin-right:1.5em" ng-click="vm.btnAgregarOportunidad()">Guardar</button>
                        <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.btnEnviarValidacion()">Enviar Validacion</button>
                    </div>
                </div>                                
            </form>
        </div>
    </div>

    <!----------- Panel Superior ------------>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6" style="padding:0 5px 0px 0px" >
                    <div class="card-header">Lista de Ofertas</div>
                    <div id="CardOfertas" class="card-body">
                        <br />
                        <form>
                            <div class="form-group col-md-4" style="padding:0">
                                <label class="control-label" for="#NroOferta">Nro Ofertas:</label>
                                <div class="input-group">
                                    <input id="NroOferta" class="form-control" autocomplete="off" type="text" disabled ng-model="vm.NroOferta" placeholder="XXXXXXXX" />
                                </div>
                            </div>
                            
                            <div class="form-group col-md-2">
                                <label class="control-label" for="#NroVersion">Version:</label>
                                <div class="input-group">
                                    <input id="NroVersion" class="form-control" autocomplete="off" type="text" disabled ng-model="vm.NroOfertaVersion" placeholder="XXX" />
                                </div>
                            </div>
                            <div class="text-right col-md-4 col-md-offset-2" style="padding:25px 0px 0px 0">
                                <div class="input-group" style="padding:0">
                                    <button id="btnAgregarOferta" class="btn btn-primary btn-primary-tgestiona" disabled ng-click="vm.btnAgregarOferta()"> Agregar </button>
                                </div>
                            </div>
                        </form>
                        <table id="tablaOfertas" datatable="" dt-options="vm.dtOptionsIsisNroOferta" dt-columns="vm.dtColumnsIsisNroOferta"
                               class="ui compact  striped celled table"
                               dt-instance="vm.dtInstanceIsisNroOferta" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
                <div class="col-md-6" style="padding:0 0px 0px 5px">
                    <div class="card-header">Lista de SISEGOS</div>
                    <div id="CardSisegos" class="card-body">
                        <br />
                        <form>
                            <div class="form-group col-md-4" style="padding:0">
                                <label class="control-label" for="#CodigoSisego">SISEGO</label>
                                <div class="input-group">
                                    <input id="CodigoSisego" class="form-control" autocomplete="off" type="text" disabled ng-model="vm.CodigoSisego" placeholder="SISEGO" />
                                </div>
                            </div>
                            <div class="text-right col-md-4 col-md-offset-4" style="padding:25px 0px 0px 0">
                                <div class="input-group" style="padding:0">
                                    <button id="btnAgregarSisego" class="btn btn-primary btn-primary-tgestiona" disabled ng-click="vm.btnAgregarSisego()"> Agregar </button>
                                </div>
                            </div>
                        </form>
                        <table id="tablaSisegos" datatable="" dt-options="vm.dtOptionsSisegoCotizado" dt-columns="vm.dtColumnsSisegoCotizado"
                               class="ui table compact  striped celled order-column"
                               dt-instance="vm.dtInstanceSisegoCotizado" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="text-center col-md-12" style="margin-top:2em">
                <button class="btn btn-primary btn-primary-tgestiona col-md-6 col-md-offset-3" ng-click="vm.btnAsociarOfertaSisego()">Asociar SISEGO(s) con Nro. Oferta</button>
            </div>          
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">SISEGOS Asociados a la Oferta:</div>
                <div class="card-body">
                    <table id="tablaAsociarOfertaSisego" datatable="" dt-options="vm.dtOptionsAsociarOfertaSisego" dt-columns="vm.dtColumnsAsociarOfertaSisego"
                           class="ui compact  striped celled table"
                           dt-instance="vm.dtInstanceAsociarOfertaSisego" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </div>
            <div class="col-md-12"></div>
        </div>
    </div>

</body>

@section scripts{

    @Scripts.Render("~/bundles/app/negocio/js")
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/oportunidad/js");

}
