﻿<div id="IdRegistrarOportunidadTipoCambio" ng-controller="RegistrarOportunidadTipoCambio as vm">
    <br />

    <div class="row">
        <div class="col-md-12">
         
            <div class="row">
                <div id="divAlert_RegistrarOportunidadTipoCambio" class="alert-edit col-md-12"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Tipo Costo:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipoCosto"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoCosto"
                            ng-cloak disabled></select>
                </div>
               
                    <label class="control-label col-md-2">Moneda:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipoMoneda"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoMoneda"
                            ng-cloak disabled></select>
                </div>
                </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Año:</label>
                <div class="col-md-4">
                    <input id="id" class="form-control" ng-model="vm.Anio" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                </div>

                <label class="control-label col-md-2">Monto:</label>
                <div class="col-md-4">
                    <input id="id" class="form-control" ng-model="vm.Monto" placeholder="Ingrese Valor" autocomplete="off" ng-cloak>
                </div>

            </div>
            <div class="form-group col-md-12 text-right">


                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.ActualizarOportunidadTipoCambio()"> Grabar</a>

            </div>
        </div>
    </div>


</div>

