﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.Trazabilidad" block-ui="main">
</body>

<div id="IdRptFCVGrilla" ng-app="app.Trazabilidad" ng-controller="RptFCVGrilla as vm">

    <div class="content-page">
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Reporte de FCV en Grilla
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="divAlert" class="alert-edit col-md-12"></div>
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Año:</label>
                                <div class="col-md-8">
                                    <selectorAnios id="IdAnio"></selectorAnios>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Mes Inicio:</label>
                                <div class="col-md-8">
                                    <select id="IdMesesInicio" class="form-control input-md"
                                            ng-model="vm.IdMesesInicio"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listMeses" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Mes Fin:</label>
                                <div class="col-md-8">
                                    <select id="IdMesesFin" class="form-control input-md"
                                            ng-model="vm.IdMesesFin"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listMeses" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Etapa:</label>
                                <div class="col-md-8">
                                    <select id="IdEtapa" class="form-control input-md"
                                            ng-model="vm.IdEtapa"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row" style="margin-top:5px">
                         <div class="col-sm-6">
                             <div class="form-group">
                                 <label class="control-label col-md-4">Recurso:</label>
                                 <div class="col-md-8">
                                     <div class="input-group">
                                         <input type="text" class="form-control input-md" id="HDescripcionRecurso" ng-model="vm.HDescripcionRecurso" disabled="disabled" />
                                         <input type="hidden" class="form-control input-md" ng-model="vm.IdRecurso" id="IdRecurso" maxlength="150" />
                                         <span class="input-group-addon btn btn-primary btn-primary-tgestiona waves-effect m-l-5" id="btnBuscarR" ng-click="vm.ModalBusquedaRecurso()">
                                             <i class="glyphicon glyphicon-search"></i>
                                         </span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Estado de Oportunidad:</label>
                                    <div class="col-md-8">
                                        <select id="Codigo" class="form-control input-md"
                                                ng-model="vm.IdEstadoOportunidad"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listEstadoOportunidad" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div class="row" style="margin-top:5px">
                            <div class="col-sm-12 text-right">
                                <button type="button" class="btn btn-primary btn-sm" aria-label="Generar" ng-click="vm.GenerarReporte()"><span aria-hidden="true">Generar Reporte</span></button>
                                <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                    Limpiar
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </section>

        <br />
        <section class="panel" ng-show="vm.FlagMostrarReporte">
            <div class="panel-body">
                <section id="flip-scroll">
                    <iframe id="FReporte" height="900" class="iframe-style"></iframe>
                </section>
            </div>
        </section>

    </div>


    <!-- Modal Buscar Recurso-->

    <div class="modal fade" id="ModalRptFCVGrillaBusquedaRecurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">BUSQUEDA RECURSO</p>

                </div>
                <div id="ContenidoRptFCVGrillaBusquedaRecurso" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>

</div>


@section scripts{
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RptFCVGrilla/js")

}













