﻿<div id="IdAccionCartaFianzaController" ng-controller="AccionCartaFianzaController as vm">
    <div id="frmAccionartaFianzaAcciones" class="content-page">
        <div class="row">
            <div id="divAlertRegistrar" class="alert-edit col-md-12"></div>
        </div>

        <div class="row" style="visibility:hidden;display:none">
            
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Agregar Acciones
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnTipoAccion"></a>
                        </span>
                    </header>

                    <div id="pnTipoAccion" class="panel-collapse collapse in">

                     
                        <!-- -->
                        <div class="row">
                            
                                <input type="hidden" id="IdCartaFianza" ng-model="vm.IdCartaFianza" />
                                <br />

                         
                                <div class="form-group col-md-12" >
                                    <label class="col-md-2 control-label">Tipo Acción<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <select id="CmbTipoAccion" class="form-control"
                                                ng-model="vm.CmbTipoAccion"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoAccion"></select>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Fecha Emisión<span class="text-danger"></span></label>
                                        <div class="col-md-4">
                                            <input id="FechaEmision" type="date" class="form-control input-md" ng-model="vm.FechaEmision" max="3000-12-31" min="2000-01-01" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                 
                                   
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Fecha Vencimiento<span class="text-danger"></span></label>
                                        <div class="col-md-4">
                                            <input id="FechaVencimiento" type="date" class="form-control input-md" ng-model="vm.FechaVencimiento" max="3000-12-31" min="2000-01-01" />
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Observación <span class="text-danger"></span></label>
                                        <div class="col-md-12">
                                            <input type="text" id="Observacion"  ng-model="vm.Observacion" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                           


                            <div class="col-md-12 text-right">
                                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.Validar()"> Grabar</a>
                            </div>


                        </div>

                    </div>
                </section>
                <!--progress bar end-->
             
        </div>

        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                Registro de Acciones Carta Fianza
            </header>
            <div class="panel-body">
                <div class="dv-table">
                    <div class="table-responsive">
                        <table id="tbCartaFianzaAcciones" datatable="" dt-options="vm.dtOptionsCartaFianzaAcciones" dt-columns="vm.dtColumnsCartaFianzaAcciones"
                               class="display table table-bordered table-striped"
                               dt-instance="vm.dtInstanceCartaFianzaAcciones" style="width:100%;" dt-column-defs="vm.dtColumnDefsAcciones">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
             </div>
           </section>


     </div>
</div>


            @section scripts{

                @Scripts.Render("~/bundles/app/CartaFianza/AccionCartaFianza/js");

            }
