﻿<div id="IdEquipoSeguridadController" ng-app="app.Oportunidad" ng-controller="EquipoSeguridadController as vm">
    
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_EquiposSeguridad" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoESeguridad" class="tb form-control" onkeypress="ConceptoComplete(this,10);" autocomplete="off"  ng-model="vm.Equipo" />
                </div>
                <label class="control-label col-md-2">Tipo :</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-cloak ng-change="vm.CantidadEquipoSeguridadComplete();"></select>
                </div>  
                

            </div>
            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceESeguridad" class="form-control" autocomplete="off" ng-model="vm.Cruce" />
                </div>
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoESeguridad" class="form-control" autocomplete="off" ng-model="vm.AEReducido"  />
                </div>
                
            </div>*@
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo de Equipo</label>
                <div class="col-md-4">
                    <input id="txtTipoEquipoESeguridad" class="form-control" autocomplete="off" ng-model="vm.Tipo" />
                </div>
                <label class="col-md-2 control-label">Marca-Modelo</label>
                <div class="col-md-4">
                    <input id="txtMModeloESeguridad" class="form-control" autocomplete="off" ng-model="vm.Marca"  />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadESeguridad" class="form-control" disabled="disabled" autocomplete="off" ng-model="vm.MesesAntiguedad" />
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadESeguridad" type="text" class="form-control" autocomplete="off" ng-change="vm.CantidadEquipoSeguridadComplete();" ng-model="vm.Cantidad" />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Antiguo (USD)</label>
                <div class="col-md-4">
                    <input id="txtAntiguoESeguridad" class="form-control" disabled="disabled" autocomplete="off" ng-change="vm.CantidadEquipoSeguridadComplete();" ng-model="vm.CostoUnitarioAntiguo" />
                </div>
                <label class="col-md-2 control-label">Valor Residual (USD)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualESeguridad" type="text" disabled="disabled" class="form-control"  ng-model="vm.ValorResidualSoles"  />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Nuevo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioESeguridad" class="form-control" autocomplete="off" ng-change="vm.CantidadEquipoSeguridadComplete();" ng-model="vm.CostoUnitario" />
                </div>
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresESeguridad" type="text" disabled="disabled" class="form-control" ng-model="vm.CapexDolares"/>
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesESeguridad" class="form-control" disabled="disabled" autocomplete="off" ng-model="vm.CapexSoles" />
                </div>
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexESeguridad" type="text" disabled="disabled" class="form-control" ng-model="vm.TotalCapex" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoESeguridad" class="form-control" autocomplete="off" ng-model="vm.MesRecupero" />
                </div>
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoESeguridad" type="text" class="form-control" ng-model="vm.MesComprometido"  />
                </div>
              
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtCertificadoESeguridad" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>
            </div>
            
            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnEquiposSeguridad" type="button" ng-click="vm.GrabarConceptoEquipoSeguridad()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarConceptoEquipoSeguridad()">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    
    @Scripts.Render("~/bundles/app/oportunidad/equiposeguridad/js");
}