﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    //ViewBag.Area = Titulos.Titulo_Area;
    //ViewBag.Title = Titulos.Titulo_BandejaObservacionOportunidad;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table.dataTable.compact tbody th, table.dataTable.compact tbody td {
        padding: 1px;
    }
</style>
<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div id="IdBandejaTiempoAtencionEquipo" ng-app="app.Trazabilidad" ng-controller="BandejaTiempoAtencionEquipo as vm">


    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2">Oportunidad:</label>
                            <div class="col-lg-4">
                                <input id="IdOportunidadSF" class="form-control" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Codigo" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                            <label class="col-lg-2 control-label">Caso:</label>
                            <div class="col-lg-4">
                                <input id="IdCasoSF" class="form-control" ng-model="vm.IdCasoSF" placeholder="Ingrese Codigo" maxlength="20" autocomplete="off" ng-cloak>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">

                            <label class="col-lg-2 control-label">SISEGO:</label>
                            <div class="col-lg-4">
                                <input id="IdSisegoSW" class="form-control" ng-model="vm.IdSisegoSW" placeholder="Ingrese Codigo" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                            <label class="col-lg-2 control-label">Equipo Trabajo:</label>
                            <div class="col-lg-4">
                                <select id="IdTipoRecurso" class="form-control input-md"
                                        ng-model="vm.IdEquipoTrabajo"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listEquipoTrabajo" ng-cloak></select>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarTiempoAtencionEquipo()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" type="submit" href="{{vm.EnlaceRegistrar}}0"> Nuevo</a>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Mantenimiento de Tiempo de Atencion de Equipos
                </header>
                <div class="panel-body">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:150%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>

</div>


@section scripts{
    <script>
        var jsonTiempoAtencionEquipo = @Html.Raw(Json.Encode(ViewBag.vbTiempoAtencionEquipo));
        function EliminarTiempoAtencionEquipo(IdTiempoAtencion) {
            var scope = angular.element(document.getElementById("IdBandejaTiempoAtencionEquipo")).scope();
            scope.vm.EliminarTiempoAtencionEquipo(IdTiempoAtencion);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaTiempoAtencionEquipo/js")

}







