﻿
@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaServicios;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Comun" block-ui="main">
</body>
<div id="IdBandejaServicio" ng-app="app.Comun" ng-controller="BandejaServicio as vm">

    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div id="divAlert_Eliminar" class="alert-edit col-md-12"></div>
                </div>
               
                    <div class="row">
                        <div class="form-group col-md-12">

                            <label class="control-label col-md-2">Descripción :</label>
                            <div class="col-md-4">
                                <input id="id" class="form-control" ng-model="vm.Descripcion" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                            </div>

                            <label class="control-label col-md-2">Linea Negocio :</label>
                            <div class="col-md-4">
                                <select id="" class="form-control"
                                        ng-model="vm.IdLineaNegocioBandeja"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio " ng-cloak></select>
                            </div>
                            
                        </div>
                    </div>

                <div class="clearfix"></div>
                <div class="row action">
                    <div class="col-sm-12 text-right">
                      
                        <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarServicio()">
                            Filtrar
                        </button>
                        <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <br />
        <section class="panel">
            <header class="panel-heading">
        
                Configuración - Servicios
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <span class="tools pull-right">
                    <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalRegistrarServicio" ng-click="vm.ModalServicio()">
                        Nuevo
                    </button>
                </span>
               

                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstance" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>

    </div>


    <!-- Modal-->

    <div class="modal fade" id="ModalRegistrarServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">Registro de Servicio</p>

                </div>
                <div id="ContenidoServicio" class="modal-body">

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal-->

<style>
    div#exampleModalCenter {
        margin-top: 10%;
    }

    /*.modal-lg {
                    width: 1240px !important;
                }*/
</style>

@section scripts{

    <script>
        function EliminarSubServicio(IdServicioSubServicio) {
            debugger
            var scope = angular.element(document.getElementById("IdBandejaSubServicio")).scope();
            scope.vm.EliminarSubServicio(IdServicioSubServicio);
            scope.$apply();
        }
        function ObtenerSubServicio(IdServicioSubServicio) {
            debugger
            var scope = angular.element(document.getElementById("IdBandejaSubServicio")).scope();
            scope.vm.ObtenerSubServicio(IdServicioSubServicio);
            scope.$apply();
        }

        function ObtenerServicio(IdServicio) {
            var scope = angular.element(document.getElementById("IdBandejaServicio")).scope();
            scope.vm.ObtenerServicio(IdServicio);
            scope.$apply();
        }

        function EliminarServicio(IdServicio) {
            var scope = angular.element(document.getElementById("IdBandejaServicio")).scope();
            scope.vm.EliminarServicio(IdServicio);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    <script src="~/Scripts/app/Oportunidad/Oportunidad.module.js"></script>
    <script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>

    <script src="~/Scripts/app/Comun/Depreciacion/Depreciacion.service.js"></script>
    <script src="~/Scripts/app/Comun/DireccionComercial/DireccionComercial.service.js"></script>
    <script src="~/Scripts/app/Comun/LineaNegocio/LineaNegocio.service.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    <script src="~/Scripts/app/Comun/Medio/Medio.service.js"></script>
    <script src="~/Scripts/app/Comun/Proveedor/Proveedor.service.js"></script>
    <script src="~/Scripts/app/Comun/RegistrarCasoNegocio/RegistrarCasoNegocio.service.js"></script>
    <script src="~/Scripts/app/Comun/Servicio/Servicio.service.js"></script>
    <script src="~/Scripts/app/Comun/ServicioCMI/ServicioCMI.service.js"></script>
    <script src="~/Scripts/app/Comun/ServicioSubServicio/ServicioSubServicio.service.js"></script>

    <script src="~/Scripts/app/Comun/SubServicio/SubServicio.service.js"></script>

    <script src="~/Scripts/app/Comun/LineaNegocio/LineaNegocio.service.js"></script>

    <script src="~/Scripts/app/Comun/BandejaServicio/BandejaServicio.controller.js"></script>
    <script src="~/Scripts/app/Comun/BandejaServicio/BandejaServicio.service.js"></script>
    <script src="~/Scripts/app/Comun/ServicioGrupo/ServicioGrupo.service.js"></script>
    
    @*@Scripts.Render(" ~/bundles/app/comun/BandejaServicio/js")*@

<script src="~/Scripts/app/Comun/RegistrarServicio/RegistrarServicio.controller.js"></script>
<script src="~/Scripts/app/Comun/RegistrarServicio/RegistrarServicio.service.js"></script>
}

