﻿
@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Reporte Solicitud Devolución Carta Fianza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.CartaFianza" block-ui="main">
</body>

<div ng-app="app.CartaFianza" ng-controller="ReporteSolicitudDevolucionCartaFianzaController as vm">

    <div class="content-page">
        <div class="row">
            <div id="divAlerta" class="alert-edit col-md-12"></div>
        </div>

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">

                <div class="row">

                    <input type="hidden" id="IdCliente" ng-model="vm.IdCliente" style="visibility:hidden;display:none" />

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">Número RUC/NIF:</label>
                            <div class="col-md-9">
                                <input id="NumeroIdentificadorFiscal" class="form-control" ng-model="vm.NumeroIdentificadorFiscal" placeholder="Ruc / Nif" autocomplete="off" ng-cloak readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">Nombre del Cliente:</label>
                            <div class="col-md-9">
                                @*<input id="NombreCliente" class="form-control" ng-model="vm.NombreCliente" placeholder="Nombre del Cliente" readonly>*@
                                @*<select id="NombreCliente" class="form-control" ng-model="vm.NombreCliente"></select>*@
                                <input type="text" ng-model="vm.NombreCliente" ng-change="vm.SelectCliente(vm.NombreCliente)" class="form-control" />
                                <ul class="list-group" style="height:{{vm.heightCliente }}px">
                                    <li class="list-group-item" ng-repeat="item in vm.ListCliente" ng-click="vm.fillTextbox(item.Descripcion,item.IdCliente)">{{item.Descripcion}}</li>
                                </ul>


                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">Número Garantia:</label>
                            <div class="col-md-9">
                                <input id="NumeroGarantia" class="form-control" ng-model="vm.NumeroGarantia" placeholder="Número Garantia" >
                            </div>
                        </div>
                    </div>

                   

                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" ng-click="vm.BuscarReporteSolDevolucion()">
                            <span class="glyphicon glyphicon-new-search"></span> Filtrar
                        </button>
                        <button class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                            <span class="glyphicon glyphicon-new-erase"></span> Limpiar
                        </button>
                    </div>

                </div>

            </div>
        </section>
        <br />

        <section class="panel"   >
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                Reporte Consolidado
            </header>
                 

                    <iframe id="FReporte" style="width:100%;height:1000px;" scrolling="no" name="FReporte" frameborder="0" ></iframe>

        </section>
    </div>
</div>


<!-- Modal-->
<div class="modal fade" id="ModalCartaFianzaCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">BUSCAR CLIENTE</p>

            </div>
            <div id="ContenidoCartaFianzaCliente" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">

            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/CartaFianza/ReporteSolicitudDevolucionCartaFianza/js");
}

