﻿
<div ng-controller="RegistrarNoPepsController as vr">
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="row">
                <div id="divAlertRegistrar" class="alert-edit col-md-12"></div>
            </div>

            <form>
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3">Serie Peps:</label>
                            <div class="col-md-6">
                                <input id="RCodigoPep" class="form-control" ng-model="vr.CodigoPep" placeholder="Serie Peps" autocomplete="off" maxlength="24" ng-cloak >
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="clearfix"></div>
                <br /><br />
                <div class="row">
                    <div class="col-sm-8 text-right"> 
                        <button id="btnregistrar"  class="btn btn-default waves-effect m-l-5 glyphicon glyphicon-floppy-saved {{vr.btnregistrar}}" type="button" ng-click="vr.NoPepsRegistro()">
                            Registrar
                        </button>
                        <button id="btnguardar"  class="btn btn-default waves-effect m-l-5 glyphicon glyphicon-floppy-saved {{vr.btnguardar}}" type="button" ng-click="vr.NoPepsActualizar(vr.Id)">
                            Guardar
                        </button> 
                    </div>
                </div> 
            </form>
        </div>
    </section>
     
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/PlantaExterna/RegistrarNoPeps/js")
}
