﻿<div id="IdHardwareController" ng-app="app.Oportunidad" ng-controller="HardwareController as vm">
  
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_Hardware_Modal" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoHardware" class="tb form-control" onkeypress="ConceptoComplete(this,11);" autocomplete="off" ng-model="vm.Equipo" />
                </div>
                <label class="control-label col-md-2">Tipo :</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-change="vm.CantidadHardwareComplete();"  ng-cloak></select>
                </div>


            </div>
            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceHardware" class="form-control" autocomplete="off" ng-model="vm.Cruce" />
                </div>
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoHardware" class="form-control" autocomplete="off" ng-model="vm.AEReducido" />
                </div>

            </div>*@
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo de Hardware</label>
                <div class="col-md-4">
                    <input id="txtTipoEquipoHardware" class="form-control" autocomplete="off" ng-model="vm.Tipo" />
                </div>
                <label class="col-md-2 control-label">Marca-Modelo</label>
                <div class="col-md-4">
                    <input id="txtMModeloHardware" class="form-control" autocomplete="off" ng-model="vm.Marca" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Antigüedad</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadHardware" class="form-control" autocomplete="off" ng-change="vm.CantidadHardwareComplete();" ng-model="vm.MesesAntiguedad" />
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadHardware" type="text" class="form-control" autocomplete="off" ng-change="vm.CantidadHardwareComplete();" ng-model="vm.Cantidad" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Antiguo</label>
                <div class="col-md-4">
                    <input id="txtAntiguoHardware" class="form-control" autocomplete="off" ng-model="vm.CostoUnitarioAntiguo" ng-change="vm.CantidadHardwareComplete();" />
                </div>
                <label class="col-md-2 control-label">Valor Residual</label>
                <div class="col-md-4">
                    <input id="txtValorResidualHardware" type="text" class="form-control" disabled="disabled" ng-model="vm.ValorResidualSoles" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U.  (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioHardware" class="form-control" autocomplete="off" ng-change="vm.CantidadHardwareComplete();" ng-model="vm.CostoUnitario" />
                </div>
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresHardware" type="text" class="form-control" disabled="disabled" ng-model="vm.CapexDolares" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesHardware" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.CapexSoles" />
                </div>
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexHardware" type="text" class="form-control" disabled="disabled" ng-model="vm.TotalCapex" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoHardware" class="form-control" autocomplete="off" ng-model="vm.MesRecupero" />
                </div>
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoHardware" type="text" class="form-control" ng-model="vm.MesComprometido" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtCertificadoHardware" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>
            </div>
            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnHardware" type="button" ng-click="vm.GrabarConceptoHardware()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarConceptoHardware()">Grabar</button>
            </div>
        </div>
    </div>

</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/Hardware/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");
}