hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 3px solid #fb0201;
    margin-left: 20px;
    margin-right: 20px;
}
.pagination > li > a, .pagination > li > span {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    float: left;
    line-height: 1.42857;
    margin-left: 1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
