/*================================================================================
	Item Name: Robust - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.header-navbar.navbar-semi-dark .navbar-header {
    background: #002e45;
}.card-header {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    background-color: #063f53;
    color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}.card-header .heading-elements i, .card-header .heading-elements-toggle i {
    color: #ffffff;
}.header-navbar.navbar-semi-dark {
    background: #f3f3f3;
}


 .header-navbar.navbar-semi-dark .navbar-header {
    background: #002e45;
    height: 65px;
    position: relative;
}
 /*1900*/
 .header-navbar .navbar-container ul.nav li > a.nav-link {
    padding: 2.4rem 0.4rem 0.8rem 0.4rem;
    background: transparent;
}
 .header-navbar .navbar-container ul.nav li a.nav-link-search, .header-navbar .navbar-container ul.nav li a.nav-link-expand {
    padding: 2.4rem 1rem 1rem 1rem;
}

 /*vertical menu*/
 body.vertical-layout.vertical-menu.menu-expanded .main-menu {
    width: 240px;
    transition: 300ms ease all;
    backface-visibility: hidden;
    margin-top: 25px;
}

 body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: "\ea0b";
    font-family: "icomoon";
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out;
    font-size: 20px;
}
 body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
    width: 60px;
    transform: translateZ(-160px) translateX(-160px);
    transform: translate3d(0, 0, 0);
    transition: 300ms ease all;
    margin-top: 25px;
}
 /*app*/

 .main-menu.menu-dark {
    color: #dcdcdc;
    background: #002e45;
}
 .main-menu.menu-dark .navigation>li.active>a {
    background-color: #32d2c9;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

 .main-menu.menu-dark .navigation>li>a {
    background-color: #002e45;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 12px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


 .main-menu.menu-dark .navigation>li ul li>a {
    padding: 8px 20px 8px 50px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header {
    float: left;
    /*width: 240px;*/
}
 /**/

 .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #f3f3f3;
    border-color: #337ab7;
}
 /*--*/

#main-content {
    margin-left: 0px !important;
   
}



img.imagen-logo {
    width: 100%;
}

.header-navbar.navbar-semi-dark .navbar-nav .nav-link :hover {
    background:transparent;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-header :hover {
    background: transparent;
}

.header-navbar.navbar-semi-dark .navbar-nav li   :hover {
  
}
.navbar-nav  :hover {
    background: transparent;
}

.dropdown .dropdown-menu .dropdown-item :hover {

    background:#fff;
}

.navbar-nav > li > .dropdown-menu :hover {

    background:#fff;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;


    }

.header-navbar .navbar-container ul.nav li a.menu-toggle i {
    font-size: 2.5rem;
}.header-navbar .navbar-container ul.nav li i.ficon {
    font-size: 2.5rem;
}
 .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

 nav.header-navbar.navbar.navbar-with-menu.navbar-fixed-top.navbar-semi-dark.navbar-shadow {
      background:rgba(255, 255, 255, 0) !important;
}
.breadcrumb {
 padding: 10px 15px !important;
    margin-bottom: 20px !important;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 1.2rem !important;
    margin-left: 0px;
    margin-right: 0px;
}

.header-navbar.navbar-semi-dark .navbar-nav .nav-link :hover {
    background: #00e4b8;
    color: #ffffff;
}
 .navbar-fixed-top {
    border-width: 0 0 0px !important;
}
 body.vertical-layout.vertical-menu.menu-collapsed  .breadcrumb {
    /*margin-left:170px !important;*/
}
    .header-navbar.navbar-shadow {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.08) !important;

    }

   body.vertical-layout.vertical-menu.menu-collapsed  .header-navbar .navbar-container ul.nav li a.menu-toggle i {
 
    margin-left: -23px;
}


.header_pagining {
    color: #fff;
    background-color: #00a4b6;
    font-family: 'Open Sans',sans-serif;
    width: auto !Important;
    text-align: center !important;
    font-weight: bold !important;
}

.widthSelectorGrilla {
    width: 50px;
    max-width: 50px;
}
