﻿@{
    ViewBag.Title = "_InfoDescripcion";
    Layout = null;
}

<div id="lblAlerta_PEPCeCo" class="alert-edit"></div>

<input type="hidden" class="form-control" ng-model="vm.pepceco.IdDetalleFinanciero" />

<div class="form-group row">
    <label class="col-sm-3 col-form-label">Elemento PEP:</label>
    <div class="col-sm-5">
        <input class="form-control" ng-model="vm.pepceco.ElementoPEP" />
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">Centro Gestor:</label>
    <div class="col-sm-5">
        <input class="form-control" ng-model="vm.pepceco.CentroGestor" />
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">CeCo:</label>
    <div class="col-sm-5">
        <input class="form-control" ng-model="vm.pepceco.CeCo" />
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">Producto:</label>
    <div class="col-sm-5">
        <input class="form-control" ng-model="vm.Linea" readonly />
    </div>
</div>


