﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Proyecto;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaProyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.Proyecto" block-ui="main">
</body>
<style>
    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
        border-top: 3px solid #fb0201;
        margin-left: 20px;
        margin-right: 20px;
    }
</style>

<!-- ============================================================== -->
<div id="idBandejaProyecto" ng-app="app.Proyecto" ng-controller="BandejaProyectoController as vm">
    <!-- Start content -->
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Código:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="IdProyecto" ng-model="vm.IdProyectoLKM" placeholder="Código de proyecto" maxlength="20" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Cliente:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="txtCliente" ng-model="vm.Cliente" placeholder="Nombre de cliente" maxlength="50" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Etapa:</label>
                        <div class="col-sm-5">
                            <select class="form-control"
                                    ng-model="vm.IdEtapa"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaEtapas" ng-cloak></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Fecha de Creación:</label>

                        <div class="form-group col-sm-2">
                            <div class="input-group">
                                <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaInicio" maxlength="10" placeholder="Desde" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="input-group">
                                <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaFin" maxlength="10" placeholder="Hasta" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" href="{{vm.EnlaceRegistrar}}0" ng-hide="vm.OptionPreVenta">
                                <i class="glyphicon glyphicon-plus"></i> Nuevo
                            </a>
                            <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.BuscarProyecto()">
                                <i class="glyphicon glyphicon-search"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Proyectos
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tblProyectos" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstance" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </section>
            @*<div class="container">
                    <div class="well">
                        <paging class="small"
                                page="currentPage"
                                page-size="pageSize"
                                total="total"
                                pg-href="{{pgHref}}"
                                adjacent="{{adjacent}}"
                                dots="{{dots}}"
                                hide-if-empty="{{hideIfEmpty}}"
                                show-prev-next="{{showPrevNext}}"
                                show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
                        </paging>
                    </div>
                    <div class="well" style="display:none;">
                        <div class="form-group">
                            <label>Current Page:</label>
                            <input placeholder="page"
                                   class="form-control"
                                   maxlength="16"
                                   ng-model="currentPage"
                                   ng-init="currentPage = 1" />
                        </div>
                        <div class="form-group">
                            <label>Page Size:</label>
                            <input placeholder="Page Size"
                                   class="form-control"
                                   maxlength="16"
                                   ng-model="pageSize"
                                   ng-init="pageSize = 10" />
                        </div>
                        <div class="form-group">
                            <label>Total Items:</label>
                            <input placeholder="Total"
                                   class="form-control"
                                   maxlength="16"
                                   ng-model="total" />
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="content">
        <div class="container">
        </div>
        <!-- content -->
    </div>
</div>
<script>
    var LineasCMI = 0;
</script>
@section scripts{
    <link href="~/Content/morris.css" rel="stylesheet" />
    <script src="~/Content/morris.min.js"></script>
    <script src="~/Content/raphael-min.js"></script>

    <script>var jsonListCliente= @Html.Raw(Json.Encode(ViewBag.vbListCliente));</script>

    @*<script>var jsonListGerente= @Html.Raw(Json.Encode(ViewBag.vbListGerente));</script>

        <script>var jsonListDireccion= @Html.Raw(Json.Encode(ViewBag.vbListDireccion));</script>*@


    @Scripts.Render("~/bundles/app/comun/js")

    <script src="~/Scripts/app/Proyecto/Proyecto.module.js"></script>
    <script src="~/Scripts/app/Trazabilidad/Trazabilidad.module.js"></script>

    @Scripts.Render("~/bundles/app/Compra/PrePeticionCompra/js")

    <script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    <script src="~/Scripts/app/Trazabilidad/EtapaOportunidad/EtapaOportunidad.service.js"></script>
    <script src="~/Scripts/app/Comun/Recurso/Recurso.service.js"></script>
    <script src="~/Scripts/app/Comun/LineaNegocio/LineaNegocio.service.js"></script>
    @Scripts.Render("~/bundles/app/Proyecto/Bandeja/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")
    <script src="~/Scripts/app/Proyecto/RegistroProyecto/RegistroProyecto.service.js"></script>
    @*<script src="~/Scripts/app/Oportunidad/RegistrarOportunidad/RegistrarOportunidad.service.js"></script>*@
    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>

    <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />

    <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>

    <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>
}