﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Compra;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaPeticionCompra;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.Compra" block-ui="main">
</body>
<style>
    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
        border-top: 3px solid #fb0201;
        margin-left: 20px;
        margin-right: 20px;
    }
</style>

<!-- ============================================================== -->

<div id="idBandejaProyecto" ng-app="app.Compra" ng-controller="BandejaPeticionCompraController as vm">
    <!-- Start content -->
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Código Compra:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="CodigoCompra" ng-model="vm.CodigoCompra" placeholder="Código de compra" maxlength="20" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Asociado a Proyecto:</label>
                        <div class="col-sm-4">
                            <select id="cboAsociadoProyecto" class="form-control"
                                    ng-model="vm.IdAsociadoProyecto"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaAsociadoProyecto"
                                    ng-change="vm.CargarTipoCosto()"
                                    ng-cloak></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tipo de Compra:</label>
                        <div class="col-sm-4">
                            <select id="cboTipoCompra" class="form-control"
                                    ng-model="vm.IdTipoCompra"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoCompra"
                                    ng-cloak></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tipo de Costo:</label>
                        <div class="col-sm-4">
                            <select id="cboTipoCosto" class="form-control"
                                    ng-model="vm.IdTipoCosto"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoCosto"
                                    ng-cloak></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Fecha:</label>

                        <div class="form-group col-sm-2">
                            <div class="input-group">
                                <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaInicio" maxlength="10" placeholder="Desde" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="input-group">
                                <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaFin" maxlength="10" placeholder="Hasta" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            @if (@ViewBag.Orden == 1)
                            {
                                <a id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" href="{{vm.EnlaceRegistrar}}0">
                                    <i class="glyphicon glyphicon-plus"></i> Nuevo
                                </a>
                            }
                            
                            <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.BuscarPeticionCompra()">
                                <i class="glyphicon glyphicon-search"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Proyectos
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tblPeticionCompra" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstance" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="content">
        <div class="container">
        </div>
        <!-- content -->
    </div>
</div>

<script>
    var Seguimiento = 0;
</script>

@section scripts{
    <link href="~/Content/morris.css" rel="stylesheet" />
    <script src="~/Content/morris.min.js"></script>
    <script src="~/Content/raphael-min.js"></script>

    <script>var jsonListCliente= @Html.Raw(Json.Encode(ViewBag.vbListCliente));</script>

    @Scripts.Render("~/bundles/app/comun/js")

    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")

<script src="~/Scripts/app/Proyecto/Proyecto.module.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    @Scripts.Render("~/bundles/app/Compra/Bandeja/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")

    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>

    <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />

    <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>

    <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>
}
