﻿@using Tgs.SDIO.Util.Web.Negocio;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_DetalleOportunidadGanadora;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div id="ResumenServicioOfertaController" block-ui="main" ng-app="app.Negocio" ng-controller="ResumenServicioOfertaController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_AgregarServicio" class="alert-edit"></div>
    </div>

    <div id="DetallesServicio">
        <section class="panel">
            <header class="panel-heading-modal">
                Datos del Servicio
            </header>
            <div class="panel-body">

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#Cantidad">Cantidad:</label>
                        <div class="input-group">
                            <input id="Cantidad" class="form-control" type="text" disabled ng-model="vm.Cantidad" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="#Servicio">Servicio:</label>
                        <div class="input-group">
                            <input id="Servicio" class="form-control" type="text" disabled ng-model="vm.Servicio" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#Cliente">Velocidad:</label>
                        <div class="input-group">
                            <input id="Velocidad" class="form-control" type="text" disabled ng-model="vm.Velocidad" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#Accion">Accion:</label>
                        <div class="input-group">
                            <input id="Accion" class="form-control" type="text" disabled ng-model="vm.Accion" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="#MedioTx">Medio de TX:</label>
                        <div class="input-group">
                            <input id="#MedioTx" class="form-control" type="text" disabled ng-model="vm.MedioTx" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#TipoCircuito">Tipo Circuito:</label>
                        <div class="input-group">
                            <select class="form-control"
                                    ng-change="vm.CargarTipoCircuito()"
                                    ng-model="vm.TipoCircuito"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoCircuito" ng-cloak></select>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="#NumeroCDK">Numero CDK:</label>
                        <div class="input-group">
                            <input id="NumeroCDK" class="form-control" type="text" disabled ng-model="vm.NumeroCDK" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="#NumeroCD">Numero CD:</label>
                        <div class="input-group">
                            <input id="NumeroCD" class="form-control" type="text" disabled ng-model="vm.NumeroCD" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h5 style="font-weight:bold; margin-left:1em">CAUDALES %</h5>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#ModalidadConexion">Modalidad Conexion</label>
                        <div class="input-group">
                            <input id="ModalidadConexion" class="form-control" type="text" disabled ng-model="vm.ModalidadConexion" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#DatosPlatinium">Datos Platinium</label>
                        <div class="input-group">
                            <input id="DatosPlatinium" class="form-control" type="text" disabled ng-model="vm.DatosPlatinium" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#BW">BW (Mbps, Kbps)</label>
                        <div class="input-group">
                            <input id="BW" class="form-control" type="text" disabled ng-model="vm.BW" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#CaudalVoz">Caudal VDZ TOS 5 </label>
                        <div class="input-group">
                            <input id="CaudalVoz" class="form-control" type="text" disabled ng-model="vm.CaudalVoz5" />
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-md-offset-2">
                        <label class="control-label" for="#CaudalVoz5">Caudal VDZ TOS 2 </label>
                        <div class="input-group">
                            <input id="CaudalVoz5" class="form-control" type="text" disabled ng-model="vm.CaudalVoz2" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#TiempoRealVOZ">Tiempo Real: VOZ</label>
                        <div class="input-group">
                            <input id="TiempoRealVOZ" class="form-control" type="text" disabled ng-model="vm.TiempoRealVOZ" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#DatosORO">Datos ORO</label>
                        <div class="input-group">
                            <input id="DatosORO" class="form-control" type="text" disabled ng-model="vm.DatosORO" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#CaudalORO">Caudal ORO</label>
                        <div class="input-group">
                            <input id="CaudalORO" class="form-control" type="text" disabled ng-model="vm.CaudalORO" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#CaudalVideo4">Caudal Video TOS 4</label>
                        <div class="input-group">
                            <input id="CaudalVideo4" class="form-control" type="text" disabled ng-model="vm.CaudalVideo4" />
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-md-offset-2">
                        <label class="control-label" for="#VRF">VRF</label>
                        <div class="input-group">
                            <input id="VRF" class="form-control" type="text" disabled ng-model="vm.VRF" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#TiempoRealVideo">Tiempo Real: VIDEO</label>
                        <div class="input-group">
                            <input id="TiempoRealVideo" class="form-control" type="text" disabled ng-model="vm.TiempoRealVideo" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#DatosPLATA">Datos PLATA</label>
                        <div class="input-group">
                            <input id="DatosPLATA" class="form-control" type="text" disabled ng-model="vm.DatosPLATA" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#CaudalPLATA">Caudal PLATA</label>
                        <div class="input-group">
                            <input id="CaudalPLATA" class="form-control" type="text" disabled ng-model="vm.CaudalPLATA" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#CaudalVideo4">Caudal Platinium TOS 3</label>
                        <div class="input-group">
                            <input id="CaudalPlatinum3" class="form-control" type="text" disabled ng-model="vm.CaudalPlatinium" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2 col-md-offset-2">
                        <label class="control-label" for="#DatosBRONCE">Datos BRONCE</label>
                        <div class="input-group">
                            <input id="DatosBRONCE" class="form-control" type="text" disabled ng-model="vm.DatosBRONCE" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#CaudalLDN">Caudal LDN</label>
                        <div class="input-group">
                            <input id="CaudalLDN" class="form-control" type="text" disabled ng-model="vm.CaudalLDN" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#CaudalOroTos2">Caudal ORO TOS 2</label>
                        <div class="input-group">
                            <input id="CaudalOroTos2" class="form-control" type="text" disabled ng-model="vm.CaudalOroTos2" />
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    
    <br />
    
    <div id="DetalleSisego">
        <section class="panel">
            <header class="panel-heading-modal">
                Direccion Sede de Instalacion
            </header>
            <div class="panel-body">
                <input id="IdServicio" class="hidden" type="text" value="@ViewData["Id"]>" />
                <div class="row">

                    <div class="form-group col-md-2">
                        <label class="control-label" for="#Cantidad">Via:</label>
                        <select class="form-control"
                                ng-change="vm.CargarTipoVia()"
                                ng-model="vm.TipoVia"
                                ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoVia" ng-cloak></select>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label" for="#Direccion">Direccion:</label>
                        <div class="input-group">
                            <input id="Direccion" class="form-control" type="text" value="" disabled ng-model="vm.Direccion" />
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label class="control-label" for="#Piso">Piso:</label>
                        <div class="input-group">
                            <input id="Piso" class="form-control" type="text" disabled ng-model="vm.Piso" />
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label class="control-label" for="#Numero">Numero:</label>
                        <div class="input-group">
                            <input id="Numero" class="form-control" type="text" disabled ng-model="vm.Numero" />
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label class="control-label" for="#Interior">Interior:</label>
                        <div class="input-group">
                            <input id="#Interior" class="form-control" type="text" disabled ng-model="vm.Interior" />
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-3">
                        <label class="control-label">Departamento:</label>
                        <div class="input-group">
                            <input id="Departamento" class="form-control" type="text" disabled ng-model="vm.Departamento" />
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="control-label">Provincia:</label>
                        <div class="input-group">
                            <input id="Provincia" class="form-control" type="text" disabled ng-model="vm.Provincia" />
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="control-label">Ciudad:</label>
                        <div class="input-group">
                            <input id="Ciudad" class="form-control" type="text" disabled ng-model="vm.Ciudad" />
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="control-label">Distrito:</label>
                        <div class="input-group">
                            <input id="Distrito" class="form-control" type="text" disabled ng-model="vm.Distrito" />
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
    
    <br />

    <section class="panel">

        <header class="panel-heading-modal">
            Datos del Equipo
        </header>

        <div class="panel-body">
            <div class="form-group col-md-12">
                <table id="tablaDatosEquipos" datatable="" dt-options="vm.dtOptionsDatosEquipos" dt-columns="vm.dtColumnsDatosEquipos"
                       class="ui table compact  striped celled order-column"
                       dt-instance="vm.dtInstanceDatosEquipos" style="width:100%;">
                    <thead class="cf">
                </table>
            </div>
        </div>

    </section>
    <br />

    <section class="panel">
        <header class="panel-heading-modal">
            Valor Agregado
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label" for="#ServicioVias">Servicio Vias:</label>
                    <div class="input-group">
                        <input id="#ServicioVias" class="form-control" type="text" disabled ng-model="vm.ServicioVias" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label" for="#Velocidad">Velocidad:</label>
                    <div class="input-group">
                        <input id="#Velocidad" class="form-control" type="text" disabled ng-model="vm.Velocidad" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />

    @*<section class="panel">
        <header class="panel-heading-modal">
            Datos del Equipo Valor Agregado
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">

            </div>
        </div>
    </section>
    <br />*@

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Contacto
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbDetalleContacto" datatable="" dt-options="vm.dtOptionsDetalleContacto" dt-columns="vm.dtColumnsDetalleContacto"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtInstanciaDetalleContacto" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <div class="row">
        <div class="text-right" style="padding-right:1em; margin-top: 1em">
            <button id="btnGrabarDetalles" type="button" class="btn btn-primary btn-primary-tgestiona" ng-click="vm.GrabarDetalles()">Grabar</button>
        </div>
    </div>

    <div id="frmContacto" class="container">
        <!---Modal Actualizar Contacto--->
        <div class="modal fade" id="ModalActualizarContactoSisego" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span id="titleModal"></span> <strong> Actualizar Contacto</strong></h4>
                    </div>
                    <div id="ContenidoContactoDetalle" class="modal-body">
                        <div class="row">
                            <div id="divAlertActualizarContacto" class="alert-edit col-md-12"></div>
                        </div>
                        <form name="formularioActualizarContacto">
                            <div class="row">
                                <div class="form-group col-md-8">
                                    <label for="Contacto1"><strong> Contacto 1</strong></label>
                                    <input type="text" class="form-control" id="Contacto1" ng-model="vm.contacto.Contacto">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="telefono1">Telefono 1</label>
                                    <input type="text" class="form-control" id="telefono1" ng-model="vm.contacto.Telefono1">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="telefono1">Telefono 2</label>
                                    <input type="text" class="form-control" id="telefono1" ng-model="vm.contacto.Telefono2">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="telefono1">Telefono 3</label>
                                    <input type="text" class="form-control" id="telefono1" ng-model="vm.contacto.Telefono3">
                                </div>
                            </div>
                     
                            <div class="row">
                                <div class="form-group col-md-8">
                                    <label for="Contacto1"><strong> Contacto 2</strong></label>
                                    <input type="text" class="form-control" id="Contacto1" ng-model="vm.contacto.Contacto_2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="telefono1">Telefono 1</label>
                                    <input type="text" class="form-control" id="telefono1" ng-model="vm.contacto.Telefono1_Contacto2">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="telefono1">Telefono 2</label>
                                    <input type="text" class="form-control" id="telefono1" ng-model="vm.contacto.Telefono2_Contacto2">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="telefono1">Telefono 3</label>
                                    <input type="text" class="form-control" id="telefono1" ng-model="vm.contacto.Telefono3_Contacto2">
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-click="vm.GuardarContacto(vm.contacto, 'divAlertActualizarContacto')">
                            <span class='glyphicon glyphicon-ok' style='color: #FFFFFF;'>Actualizar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
   
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/oportunidad/js");
    @Scripts.Render("~/bundles/app/negocio/js")
    @Scripts.Render("~/bundles/app/Comun/Maestra/js");

}



