﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Negocio;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_ProcesarOporunidadGanadora;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Negocio" block-ui="main" ng-controller="ProcesarOportunidadGanadoraController as vm">

    <div class="container">
        <div class="row">

            <div id="divAlert" class="alert-edit col-md-12"></div>

            <div class="col-md-12 card" style="padding:0px">
                <div class="card-header" style="">Detalles Oportunidad</div>
                <div class="card-body">
                    <form>
                        <input id="PER" class="hidden" value="@ViewData["PER"]" />
                        <input class="hidden" id="optionsGics" value="@Html.Raw(ViewBag.vbOptionGics)" />
                        <div class="form-group col-md-2">
                            <label class="control-label" for="#Oportunidad">Oportunidad:</label>
                            <div class="input-group">
                                <input id="Oportunidad" class="form-control" type="text" disabled ng-model="vm.Oportunidad"/>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="#Cliente">Cliente:</label>
                            <div class="input-group">
                                <input id="Cliente" class="form-control" type="text" disabled ng-model="vm.Cliente"/>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="#RUC">RUC:</label>
                            <div class="input-group">
                                <input id="RUC" class="form-control" type="text" disabled ng-model="vm.RUC" />
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="#CodCliente">Codigo Cliente:</label>
                            <div class="input-group">
                                <input id="#CodCliente" class="form-control" type="text" disabled ng-model="vm.CodCliente" />
                            </div>
                        </div>
                        <div class="text-right col-md-2" style="padding:25px 15px 0px 0px">
                            <div class="input-group" style="padding:0">
                                <button id="btnProcesarCierre" class="btn btn-primary btn-primary-tgestiona" ng-click="vm.btnModalProcesarCierre()"> Procesar Cierre </button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
            
            <div class="col-md-12 card" style="padding:0px">
                <div class="card-header">Asociar Servicios Sisegos</div>
                <div class="card-body">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="#ListaNroOfertas">Numero Oferta:</label>
                        <div class="input-group">
                            <select class="form-control"
                                    ng-change="vm.CargarDatos()"
                                    ng-model="vm.IdOferta"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaNroOfertas" ng-cloak></select>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding:0px">

                        <div class="col-md-5 card" style="padding:0px 2px 0px 0px">
                            <div class="card-header">Servicios</div>
                            <div class="card-body">
                                <table id="tablaServiciosOfertas" datatable="" dt-options="vm.dtOptionsServiciosOfertas" dt-columns="vm.dtColumnsServiciosOfertas"
                                       class="ui table compact selectable striped celled"
                                       dt-instance="vm.dtInstanceServiciosOfertas" style="width:100%;">
                                    <thead class="cf">
                                </table>
                            </div>
                        </div>

                        <div class="col-md-7 card" style="padding:0px 0px 0px 2px">
                            <div class="card-header">SISEGOS</div>
                            <div class="card-body">
                                <table id="tablaSisegoDetalles" datatable="" dt-options="vm.dtOptionsSisegoDetalles" dt-columns="vm.dtColumnsSisegoDetalles"
                                       class="ui table compact selectable striped celled"
                                       dt-instance="vm.dtInstanceSisegoDetalles" style="width:100%;">
                                    <thead class="cf">
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="input-group" style="padding:0">
                            <button id="btnAsociarServiciosSisegos" class="btn btn-primary btn-primary-tgestiona col-md-4 col-md-offset-4" ng-click="vm.AsociarServiciosSisegos()" style="margin-bottom:1em;"> Asociar Direccion </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 card" style="padding:0px">
                <div class="card-header">Lista de Asociados</div>
                <div class="card-body">
                    <table id="tablaAsociarServicioSisegos" datatable="" dt-options="vm.dtOptionsServicioSisegos" dt-columns="vm.dtColumnsServicioSisegos"
                           class="ui table compact  striped celled order-column"
                           dt-instance="vm.dtInstanceServicioSisegos" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div id="frmDetalleSisego" class="container">
        <!---Modal Detalle SISEGO--->
        <div class="modal fade" id="ModalServicioDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span id="titleModal"></span> <strong> Detalles Servicio</strong></h4>
                    </div>
                    <div id="ContenidoDetalleServicio" class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label" for="#Servicio">Servicio:</label>
                                <div class="input-group">
                                    <input id="Servicio" class="form-control" type="text" value="" readonly ng-model="vm.servicio.NombreServicio" />
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label" for="#Cantidad">Cantidad:</label>
                                <div class="input-group">
                                    <input id="Cantidad" class="form-control" type="text" value="" readonly ng-model="vm.servicio.Cantidad" />
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label" for="#Velocidad">Velocidad:</label>
                                <div class="input-group">
                                    <input id="Velocidad" class="form-control" type="text" value="" readonly ng-model="vm.servicio.Velocidad" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#TipoCircuito">Tipo Circuito:</label>
                                <div class="input-group">
                                    <input id="TipoCircuito" class="form-control" type="text" readonly ng-model="vm.servicio.TipoCircuito" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#Accion">Accion</label>
                                <div class="input-group">
                                    <input id="Accion" class="form-control" type="text" readonly ng-model="vm.servicio.Accion" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#MedioTx"> MedioTx </label>
                                <div class="input-group">
                                    <input id="MedioTx" class="form-control" type="text" readonly ng-model="vm.servicio.ModeloTx" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#LDN">LDN </label>
                                <div class="input-group">
                                    <input id="LDN" class="form-control" type="text" disabled ng-model="vm.servicio.LDN" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <h5 style="font-weight:bold; margin-left:1em">CAUDALES %</h5>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#TiempoRealVOZ">Tiempo Real: VOZ</label>
                                <div class="input-group">
                                    <input id="TiempoRealVOZ" class="form-control" type="text" readonly ng-model="vm.servicio.Realtime" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#CaudalORO">Caudal ORO:</label>
                                <div class="input-group">
                                    <input id="CaudalORO" class="form-control" type="text" readonly ng-model="vm.servicio.Caudal_oro" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#CaudalPlata">Caudal Plata:</label>
                                <div class="input-group">
                                    <input id="CaudalPlata" class="form-control" type="text" readonly ng-model="vm.servicio.Caudal_plata" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#CaudalPlatino">Caudal Platino:</label>
                                <div class="input-group">
                                    <input id="CaudalPlatino" class="form-control" type="text" readonly ng-model="vm.servicio.Caudal_platino" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#LDN">LDN:</label>
                                <div class="input-group">
                                    <input id="LDN" class="form-control" type="text" readonly ng-model="vm.servicio.LDN" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#Video">Video:</label>
                                <div class="input-group">
                                    <input id="Video" class="form-control" type="text" readonly ng-model="vm.servicio.Video" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" for="#VRF"> VRF </label>
                                <div class="input-group">
                                    <input id="VRF" class="form-control" type="text" readonly ng-model="vm.servicio.Caudal_VRF" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.CerrarModal()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="frmDetalleSisego" class="container">
        <!---Modal Detalle SISEGO--->
        <div class="modal fade" id="ModalSisegoDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span id="titleModal"></span> <strong> Detalles SISEGO</strong></h4>
                    </div>
                    <div id="ContenidoDetalleSisego" class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label" for="#Sisego">Codigo SISEGO:</label>
                                <div class="input-group">
                                    <input id="Sisego" class="form-control" type="text" value="" readonly ng-model="vm.sisego.CodSisego" />
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-md-6">
                                <label class="control-label" for="#Servicio">Direccion:</label>
                                <div class="input-group">
                                    <input id="Direccion" class="form-control" type="text" value="" readonly ng-model="vm.sisego.Direccion" />
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label class="control-label" for="#Cliente">Piso:</label>
                                <div class="input-group">
                                    <input id="Piso" class="form-control" type="text" readonly ng-model="vm.sisego.Nro_Piso" />
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label class="control-label" for="#Accion">Numero:</label>
                                <div class="input-group">
                                    <input id="Numero" class="form-control" type="text" readonly ng-model="vm.sisego.Numero" />
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label class="control-label" for="#Interior">Interior:</label>
                                <div class="input-group">
                                    <input id="Interior" class="form-control" type="text" readonly ng-model="vm.sisego.Interior" />
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-3">
                                <label class="control-label">Departamento:</label>
                                <div class="input-group">
                                    <input id="Departamento" class="form-control" type="text" readonly ng-model="vm.sisego.Departamento" />
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label">Provincia:</label>
                                <div class="input-group">
                                    <input id="Provincia" class="form-control" type="text" readonly ng-model="vm.sisego.Provincia" />
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label">Ciudad:</label>
                                <div class="input-group">
                                    <input id="Ciudad" class="form-control" type="text" readonly ng-model="vm.sisego.Ciudad" />
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label">Distrito:</label>
                                <div class="input-group">
                                    <input id="Distrito" class="form-control" type="text" readonly ng-model="vm.sisego.Distrito" />
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.CerrarModal()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="frmProcesarCierre" class="container">
        <!---Modal Procesar Cierre Oferta--->
        <div class="modal fade" id="ModalCierreOferta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span id="titleModal"></span> <strong> Procesar Cierre</strong></h4>
                    </div>
                    <div id="ContenidoCierreOferta" class="modal-body">
                        <div id="CajaCierre" class="row">
                           
                            <div id="alert">

                            </div>
                        </div>
                        <div class="row">
                            <div id="grupoCD" class="form-group col-md-12">
                                <label class="control-label col-md-3" for="#CodigoCD">Codigo CD/CDK:</label>
                                <div class="input-group col-md-6">
                                    <input id="CodigoCD" class="form-control" type="text" ng-change="vm.ValidarCampoCD()" ng-model="vm.CodigoCD" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.CerrarModal()">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="vm.btnProcesarCierre()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

@section scripts{

    @Scripts.Render("~/bundles/app/negocio/js")
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/oportunidad/js");


}