﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="form-group row">
    <label class="col-sm-6 col-form-label"><strong>Despachos a Compras:</strong></label>

</div>

<div class="form-group row">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <tr>
                <td>Comprador</td>
                <td>Correo</td>
                <td>Estado Observado</td>
                <td>Fecha Estado</td>
                <td>Comentario</td>
            </tr>
            <tr>
                <td>
                    Fernan Flores Bellido
                </td>
                <td>
                    fernan.florez@telefonica.com
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>