﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="idGestionController" ng-app="app.Compra" ng-controller="DetallePrePeticionCompraController as vm">
    <div class="form-group row">
        <div class="col-sm-12">
            <div id="lblAlerta_PrePeticionDetalle" class="alert-edit"></div>
            <section class="panel">
                <div class="panel-group">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        INFORMACIÓN CONTRATO MARCO
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse2"></a>
                        </span>
                    </header>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">N° de Contrato Marco SRM:</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="hidden" ng-model="vm.ContratoMarco.IdContratoMarco" />
                                            <input type="text" class="form-control" id="txtResponsablePost"
                                                   ng-model="vm.ContratoMarco.NumContrato" readonly />
                                            <span class="input-group-btn">
                                                <a class="btn btn-primary" ng-click="vm.ModalBuscarContratoMarco()">
                                                    <span class="glyphicon glyphicon-new-search"></span> Buscar
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Nombre Proveedor Adjudicado:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtProveedor" readonly
                                                   ng-model="vm.ContratoMarco.Proveedor" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Fecha Fin de Contrato:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtFechaFin" readonly
                                                   ng-model="vm.ContratoMarco.FechaFin" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Tipo de CM:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboLineaProducto" class="form-control" disabled
                                                    ng-model="vm.PeticionCompra.IdLineaProducto"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListarTipoCompra"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Contrato Catologado:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboAutorizado" class="form-control" disabled
                                                    ng-model="vm.ContratoMarco.ContratoCatolagado" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Moneda:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboMoneda" class="form-control" disabled
                                                    ng-model="vm.ContratoMarco.Moneda"
                                                    ng-options="item.Valor2 as item.Descripcion for item in vm.ListaMonedas"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Saldo:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtGerenteCuenta" readonly
                                                   ng-model="vm.ContratoMarco.Importe" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        RESUMEN SALDO
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse3"></a>
                        </span>
                    </header>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    {{vm.MensajeSaldo}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        INFORMACIÓN DETALLE PRE-PETICIÓN
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse1"></a>
                        </span>
                    </header>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tipo de Costo:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboTipoCosto" class="form-control"
                                                    ng-change="vm.ObtenerSaldo()"
                                                    ng-model="vm.DetallePrePeticionCompra.TipoCosto"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoCosto"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Dirección:</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtSector"
                                                   ng-model="vm.DetallePrePeticionCompra.Direccion" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Línea Negocio:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboLineaProducto" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompra.IdLineaProducto"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaLineaProducto"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Descripción de Compra:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtDescripcion"
                                                   ng-model="vm.DetallePrePeticionCompra.Descripcion" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Product Manager:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtProductManager"
                                                   ng-model="vm.DetallePrePeticionCompra.ProductManager" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Autorizado por Productos:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboAutorizado" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompra.AutorizadoPor" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tipo de Entrega del Proveedor:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboTipoEntrega" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompra.TipoEntrega"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoEntrega"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Moneda de la Compra:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboMoneda2" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompra.MonedaCompra"
                                                    ng-options="item.Valor2 as item.Descripcion for item in vm.ListaMonedas"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Monto sin IGV:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="txtGerenteCuenta"
                                                   ng-model="vm.DetallePrePeticionCompra.Monto" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Plazo de Entrega Orden Compra:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="txtPlazo"
                                                   ng-model="vm.DetallePrePeticionCompra.PlazoEntrega" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">P X Q Adjunto de acuerdo a preciario:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboAutorizado" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompra.PQAdjudicado" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Cotización Adjunta de Proveedor:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboAutorizado" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompra.CotizacionAdjunta" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Fecha de necesidad entrega de Orden de Compra Proveedor:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="date" class="form-control" id="txtFechaEntregaOC"
                                                   ng-model="vm.DetallePrePeticionCompra.FechaEntregaOC" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Posiciones en OC:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboAutorizado" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompra.PosicionOC" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Observaciones:</label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" ng-model="vm.DetallePrePeticionCompra.Observaciones"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 pull-right">
            <button type="button" class="btn btn-success btn-sm" ng-click="vm.GuardarPrePeticionDCMDetalle()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="vm.CerrarPrePeticionCompra()"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
        </div>
    </div>
    <script>
        var IdProyecto = '@ViewBag.IdProyecto'
        var IdDetalleFinanciero = '@ViewBag.IdDetalleFinanciero'
    </script>
</div>
