﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Parametros Carta Fianza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.CartaFianza" block-ui="main">
</body>

<div id="idRecuperoCartaFianza" ng-app="app.CartaFianza" ng-controller="ParametrosCartaFianzaController as vm">
    <div id="frmCartaFianza" class="content-page">
    
        <header class="panel-heading-modal" style="background-color:white;color:black;">
            <i class="fa fa-chevron-circle-down"> </i>
             
            <center>
                <p style="padding-bottom:10px;
			                font-size: 18px;border-bottom-color: orange;border-top-color: white;
                            border-left-color: white;border-right-color: white;border-style: solid;
                            font-size: 28px;font-family: cursive;">
                    Parámetros
                </p>
            </center>
        </header>

        <br />
        <div class="row">
            <div class="col-lg-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading">
                        Filtros
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tipo de Filtro:</label>
                                    <div class="col-md-8">
                                        <select id="IdBancoSearch" class="form-control" ng-model="vm.search.IdRelacion">
                                            <option value="0">--Seleccione--</option>
                                            <option value="183">Identificador Fiscal</option>
                                            <option value="186">Tipo de Contrato</option>
                                            <option value="189">Empresa Adjudicada</option>
                                            <option value="194">Tipo de Garantías</option>
                                            <option value="212">Estatus Carta Fianza</option>
                                            <option value="225">Estatus Recupero</option>
                                            <option value="435">Indicador Tesorería</option>
                                            <option value="440">Indicador Gerente Cuenta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <a class="btn btn-primary" ng-click="vm.NuevoParametro()" ng-hide="vm.deshabilitarNuevoParametro">
                                    <span class="glyphicon fa-new-search"></span> Nuevo
                                </a>
                                <a class="btn btn-primary" ng-click="vm.CargarTtablaParametros()">
                                    <span class="glyphicon fa-new-search"></span> Filtrar
                                </a>
                                <a class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                                    <span class="glyphicon fa-new-erase"></span> Limpiar
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <br />
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Tabla de Parametros Carta Fianza
                    </header>
                    <div class="panel-body">
                        <div class="dv-table">
                            <div class="table-responsive">
                                <table class="display table table-bordered table-striped" id="tablaParametros">
                                    <thead>
                                        <tr>
                                            <th>Nro</th>
                                            <th>Valor</th>
                                            <th>Opción</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="ModalRegistroParametros" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:500px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title"><span class="tituloModal"></span> PARAMETROS</p>
                </div>

                <div class="row">
                    <div id="divAlertRegistroParametros" class="alert-edit col-md-12"></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div id="divAlertRegistroParametros" class="alert-edit col-md-12"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!--progress bar start-->
                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Datos de la tabla
                                        <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnContratoCliente"></a>
                                        </span>
                                    </header>
                                    <div id="pnContratoCliente" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <input type="hidden" ng-model="vm.param.IdMaestra"/>
                                                <input type="hidden" ng-model="vm.param.Comentario" />
                                                <div class="form-group" ng-hide="vm.deshabilitarInputValor">
                                                    <label class="col-md-3 control-label"> Valor:<span class="text-danger"></span></label>
                                                    <div class="col-md-9">
                                                        <select id="Color" class="form-control"
                                                                ng-model="vm.param.Valor"
                                                                ng-options="item.Valor as item.Descripcion for item in vm.listaParametros" ng-disabled="ActivarPanel">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-hide="vm.deshabilitarInputDescripcion">
                                                    <label class="col-md-3 control-label">Descripción:<span class="text-danger"></span></label>
                                                    <div class="col-md-9">
                                                        <input type="text" id="IdOpcion" class="form-control" ng-model="vm.param.Descripcion" placeholder="Descripcion" />
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-hide="vm.deshabilitarInputIdOpcion">
                                                    <label class="col-md-3 control-label">N° de Días:<span class="text-danger"></span></label>
                                                    <div class="col-md-9">
                                                        <input type="number" id="IdOpcion" class="form-control" ng-model="vm.param.IdOpcion" placeholder="N° de Días" min="1" max="1000" step="1"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!--progress bar end-->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" ng-click="vm.GuardarParamentros(vm.param, 'divAlertRegistroParametros')" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="ModalEliminiarParametro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:450px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">ELIMINAR PARAMETRO</p>
                </div>

                <div class="row">
                    <div id="divAlertEliminiarParametro" class="alert-edit col-md-12"></div>
                </div>
                <div class="modal-body modal-bodyTgestiona" style="font-size:9pt;"> </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group ">
                            <center><h4><strong>¿Está seguro que desea eliminar este parámetro?</strong></h4></center>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" class="btn btn-primary" ng-click="vm.GuardarParamentros(vm.delete, 'divAlertEliminiarParametro')">Procesar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/CartaFianza/ParametrosCartaFianza/js");
}
