﻿
@using Tgs.SDIO.Util.Web.Funnel
@using Scripts = System.Web.Optimization.Scripts

@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_ReporteEvolutivo;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutPopupFunnel.cshtml";
}

<div class="row" style="margin-top:0px;" ng-app="app.Funnel" ng-controller="ReporteEvolutivoOportunidadController as vm">
    <div id="divAlert"> </div>
    <!-- Breadcrumbs-->

    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" width="1200" height="650"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>

<script type="text/javascript">
    var IdOportunidad = '@ViewBag.IdOportunidad';
</script>

@section scripts{
    @Scripts.Render("~/bundles/app/funnel/ReporteEvolutivoOportunidad/js")
}

