﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.Trazabilidad" block-ui="main">
</body>

<div id="IdRptOportunidades" ng-app="app.Trazabilidad" ng-controller="RptOportunidades as vm">
    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Reporte de Oportunidades
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="divAlert" class="alert-edit col-md-12"></div>
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Oportunidad:</label>
                                <div class="col-md-8">
                                    <input id="DescripcionOportunidad" class="form-control" ng-model="vm.DescripcionOportunidad" placeholder="Ingrese Descripción" maxlength="240" autocomplete="off" ng-cloak>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Cliente: </label>
                                <div class="col-md-8">
                                    <input id="DescripcionCliente" class="form-control" ng-model="vm.DescripcionCliente" placeholder="Ingrese Descripción" maxlength="240" autocomplete="off" ng-cloak>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Etapa de Oportunidad:</label>
                                <div class="col-md-8">
                                    <select id="IdEtapa" class="form-control input-md"
                                            ng-model="vm.IdEtapa"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Estado de Caso: </label>
                                <div class="col-md-8">
                                    <select id="IdEstadoCaso" class="form-control input-md"
                                            ng-model="vm.IdEstadoCaso"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listEstadosCaso" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Segmento Negocio:</label>
                                <div class="col-md-8">
                                    <select id="IdSegmentoNegocio" class="form-control input-md"
                                            ng-model="vm.IdSegmentoNegocio"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listSegmentosNegocios" ng-cloak></select>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Tipo de Oportunidad: </label>
                                <div class="col-md-8">
                                    <select id="IdTipoOportunidad" class="form-control input-md"
                                            ng-model="vm.IdTipoOportunidad"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listTiposOportunidad" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Tipo de Complejidad:</label>
                                <div class="col-md-8">
                                    <select id="Codigo" class="form-control input-md"
                                            ng-model="vm.Codigo"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listComplejidad" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">% Cierre: </label>
                                <div class="col-md-8">
                                    <input type="number" id="PorcentajeCierre" class="form-control" ng-model="vm.PorcentajeCierre" placeholder="Ingrese numero" autocomplete="off" ng-cloak>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-primary btn-sm" aria-label="Generar" ng-click="vm.GenerarReporte()"><span aria-hidden="true">Generar Reporte</span></button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <section class="panel" ng-show="vm.FlagMostrarReporte">
            <div class="panel-body">
                <section id="flip-scroll">
                    <iframe id="FReporte" width="100%" height="650"></iframe>
                </section>
            </div>
        </section>

    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RptOportunidades/js")

}











