﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Proyecto" block-ui="main">
</body>
<style>
    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
        border-top: 3px solid #fb0201;
        margin-left: 20px;
        margin-right: 20px;
    }
</style>

<!-- ============================================================== -->
<div id="idBandejaProyecto" ng-app="app.Proyecto" ng-controller="BandejaProyectoController as vm">

    <script>
        var LineasCMI = 1;
    </script>

    <input type="hidden" value="ViewBag.IdPerfilActual" ng-model="vm.IdPerfilActual" />

    <div class="modal fade" id="IdPrePeticionCompra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" style="width:900px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Pre-Petición Compra</h4>
                </div>
                <div class="modal-body">
                    <div id="ContenidoPrePeticionCompra">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAgregar" ng-click="vm.GuardarPEPCeCo()">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Start content -->
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Código:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="IdProyecto" ng-model="vm.IdProyectoLKM" placeholder="Código de proyecto" maxlength="20" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Cliente:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="txtCliente" ng-model="vm.Cliente" placeholder="Nombre de cliente" maxlength="50" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Etapa:</label>
                        <div class="col-sm-5">
                            <select class="form-control"
                                    ng-model="vm.IdEtapa"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaEtapas" ng-cloak></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Fecha de Creación:</label>

                        <div class="form-group col-sm-2">
                            <div class="input-group">
                                <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaInicio" maxlength="10" placeholder="Desde" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="input-group">
                                <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaFin" maxlength="10" placeholder="Hasta" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.BuscarProyecto()">
                                <i class="glyphicon glyphicon-search"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Lineas CMI
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tblProyectosLP" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumnsLineasCMI"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstance" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="content">
        <div class="container">
        </div>
        <!-- content -->
    </div>
</div>
<script type="text/javascript">
    function edit() {
        angular.element(document.getElementById('idBandejaProyecto')).scope().makeAlert('This is for Test');
    }
</script>
@section scripts{
    <link href="~/Content/morris.css" rel="stylesheet" />
    <script src="~/Content/morris.min.js"></script>
    <script src="~/Content/raphael-min.js"></script>

    <script>var jsonListCliente= @Html.Raw(Json.Encode(ViewBag.vbListCliente));</script>

    @*<script>var jsonListGerente= @Html.Raw(Json.Encode(ViewBag.vbListGerente));</script>

        <script>var jsonListDireccion= @Html.Raw(Json.Encode(ViewBag.vbListDireccion));</script>*@


    @Scripts.Render("~/bundles/app/comun/js")

    <script src="~/Scripts/app/Proyecto/Proyecto.module.js"></script>
    <script src="~/Scripts/app/Trazabilidad/Trazabilidad.module.js"></script>

    <script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    <script src="~/Scripts/app/Comun/Recurso/Recurso.service.js"></script>
    <script src="~/Scripts/app/Trazabilidad/EtapaOportunidad/EtapaOportunidad.service.js"></script>

    <script src="~/Scripts/app/Comun/LineaNegocio/LineaNegocio.service.js"></script>
    @Scripts.Render("~/bundles/app/Proyecto/Bandeja/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")
    @Scripts.Render("~/bundles/app/Compra/PrePeticionCompra/js")
    <script src="~/Scripts/app/Proyecto/RegistroProyecto/RegistroProyecto.service.js"></script>

    @*<script src="~/Scripts/app/Oportunidad/RegistrarOportunidad/RegistrarOportunidad.service.js"></script>*@
    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>

    <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />

    <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>

    <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>
}