﻿<div ng-controller="RegistrarRecursoLineaNegocioController as vmreclinea">
    <div class="row">
        <div id="divAlertLineaNegocio" class="alert-edit col-md-12"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Usuario</label>
                <div class="col-md-4">
                    <label class="form-label" data-ng-bind="vmreclinea.NombreUsuario"></label>
                </div>
                <label class="col-md-2 control-label">Linea Negocio</label>
                <div class="col-md-4">
                    <select class="form-control"
                            ng-model="vmreclinea.IdLineaNegocio"
                            ng-options="item.Codigo as item.Descripcion for item in vmreclinea.ListaLineaNegocio"></select>
                </div>
            </div>

            <div class="form-group col-md-12"> 
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vmreclinea.RegistrarRecursoLineaNegocio()"> Grabar</a>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
           Linea de Negocio
        </header>
        <div class="panel-body">             
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table datatable="" dt-options="vmreclinea.dtOptionsLineaNegocio" dt-columns="vmreclinea.dtColumnsLineaNegocio"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vmreclinea.dtInstanceLineaNegocio" style="width:99%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>     
</div>