﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Oportunidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Opcion = "Contenedor";
    ViewBag.Title = Titulos.Titulo_Contenedor;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Oportunidad" block-ui="main">
</body>
<style>

    .contenedor-tabs.col-xs-1 {
    margin-left: -35px;
}.contenedor-content.row {
    margin-left: 110px;
}.tabs-left>li>a {
    position: relative;
    display: block;
     padding: 27px 20px 0px 25px; 
    transform: rotate(-90deg);
    width: 110px;
    height: 70px;
    margin-top: 34px;
    /*background: #ffffff;*/
}
 .contenedor-tabs.row {
    width: 90px;
    height: auto;
    position: absolute;
}.contenedor-content.row {
    margin-left: 90px;
}
</style>
<div class=""  id="idOportunidadContenedorController" ng-app="app.Oportunidad" ng-controller="OportunidadContenedorController as vm">
    <div id="alertContenedor" class="col-md-12"></div>
    @*<div class="contenedor-tabs col-xs-1">*@
    <div class="contenedor-tabs row">
        <!-- Nav tabs -->
        <ul id="idContenedor" class="nav nav-tabs tabs-left sideways">
            <li class="active"><a href="#datos" data-toggle="tab" >Datos</a></li>
            <li><a href="#detalle" data-toggle="tab" ng-click="vm.CargaDetalle()">Detalle</a></li> 
            <li ng-hide="{{vm.TabResumen}}"><a href="#resumen" data-toggle="tab">Resumen</a></li>
            <li><a href="#preImplantacion" data-toggle="tab" ng-click="vm.CargaPreImplantacion()">Bitácora</a></li>
            <li><a href="#sisego" data-toggle="tab" ng-click="vm.CargaSISEGO()">Sede</a></li>
        </ul>
    </div>
    @*<div class="contenedor-content col-xs-11">*@
    <div class="contenedor-content row">
        <div class="panel-content">
            <div class="col-md-12">
                <!-- Tab panes -->
                <div class="tab-content" style="padding: 2px 0 0 0;">
                    <div class="tab-pane active" id="datos">
                        <div class="card-box">
                            @Html.Action("Index", "RegistrarOportunidad", new { area = "Oportunidad" })
                        </div>
                    </div>
                    <div class="tab-pane" id="detalle">
                        <div class="card-box">
                        </div>
                    </div>
                    <div class="tab-pane" id="resumen" ng-hide="{{vm.TabResumen}}">
                        <div class="card-box">
                        </div>
                    </div>
                    <div class="tab-pane" id="preImplantacion" >
                        <div class="card-box">
                        </div>
                    </div>
                    <div class="tab-pane" id="sisego">
                        <div class="card-box">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

@section scripts{


    @Scripts.Render("~/bundles/app/oportunidad/contenedor/js");
    <script src="~/Scripts/app/Comun/CasoNegocioServicio/CasoNegocioServicio.service.js"></script>  
<script src="~/Scripts/app/Oportunidad/RegistrarTipoCambio/RegistrarTipoCambio.controller.js"></script>
<script src="~/Scripts/app/Oportunidad/RegistrarTipoCambio/RegistrarTipoCambio.service.js"></script>
    <script>var jsonOportunidad= @Html.Raw(Json.Encode(ViewBag.VbOportunidad));</script>

    @*<script>var jsonOptionAnalistaFin= @Html.Raw(Json.Encode(ViewBag.vbOptionAnalistaFin));</script>
    <script>var jsonOptionCoordinadorFin= @Html.Raw(Json.Encode(ViewBag.vbOptionCoordinadorFin));</script>
    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>
    <script>var jsonListEstado= @Html.Raw(Json.Encode(ViewBag.VbListEstado));</script>
    <script>var jsonAccionGrabar= @Html.Raw(Json.Encode(ViewBag.VbAccionGrabar));</script>

    <script>var jsonTabResumen= @Html.Raw(Json.Encode(ViewBag.VbTabResumen));</script>

<script>var jsonTabOCosto= @Html.Raw(Json.Encode(ViewBag.VbTabOCosto));</script>
<script>var jsonTabFCFinanciero= @Html.Raw(Json.Encode(ViewBag.VbTabFCFinanciero));</script>
<script>var jsonTabFCContable= @Html.Raw(Json.Encode(ViewBag.VbTabFCContable));</script>
<script>var jsonTabCAdicional= @Html.Raw(Json.Encode(ViewBag.VbTabCAdicional));</script>
<script>var jsonTabIndicadores= @Html.Raw(Json.Encode(ViewBag.VbTabIndicadores));</script>
<script>var jsonTabCapex= @Html.Raw(Json.Encode(ViewBag.VbTabCapex));</script>
<script>var jsonTabCaratula= @Html.Raw(Json.Encode(ViewBag.VbTabCaratula));</script>
 <script>var jsonTabDocumento= @Html.Raw(Json.Encode(ViewBag.VbTabDocumento));</script>*@   
}