﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Oportunidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_Contenedor;
    Layout = "";
}
<div id="idOportunidadContenedorController" ng-app="app.Oportunidad" ng-controller="OportunidadContenedorController as vm">
    <div id="frmOportunidadContenedor">

        <div class="row">
            <section class="panel">
                <header class="panel-heading">
                    Detalle Oportunidad
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label">Linea de Negocio<span class="text-danger">*</span></label>
                                <div class="col-md-2">
                                    <select id="CmbLineaNegocio" class="form-control"
                                            ng-model="vm.IdLineaNegocio"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListOportunidadLineaNegocio" ng-cloak
                                            ng-change="vm.ListarCasoNegocio()"></select>

                                </div>
                                <div class="col-md-8 text-right" ng-hide="vm.AccionGrabar">
                                    <a class="btn btn-primary btn-sm" ng-click="vm.CargaModalCasoNegocio()" ng-hide="vm.EditarDatoTable"> Plantilla</a>
                                    <a class="btn btn-primary btn-sm" ng-click="vm.CargaModalServicio()" ng-hide="vm.EditarDatoTable"> Servicio</a>
                                    <a class="btn btn-primary btn-sm" ng-click="vm.ModalRegistrarComponente()" ng-hide="vm.EditarDatoTable"> Componente</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="">
                    <ul class="nav nav-tabs navtab-bg">
                        <li  ng-hide="vm.TabCaratula" id="caratulaTab" class="active">
                            <a href="#caratula" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaCaratula()">
                                <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                <span class="hidden-xs">Caratula</span>
                            </a>
                        </li>
                        <li ng-hide="vm.TabCapex" id="ecapexTab">
                            <a href="#ecapex" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaECapex()">
                                <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                <span class="hidden-xs">ECapex</span>
                            </a>
                        </li>
                        <li id="configuracionAdicionalTab" class="" ng-hide="vm.TabCAdicional">
                            <a href="#configuracionAdicional" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaCAdicional()">
                                <span class="visible-xs"><i class="mdi mdi-server"></i></span>
                                <span class="hidden-xs">C. Adicional</span>
                            </a>
                        </li>
                        <li id="contableTab" class="" ng-hide="vm.TabFCContable">
                            <a href="#contable" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaFContable()">
                                <span class="visible-xs"><i class="mdi mdi-server"></i></span>
                                <span class="hidden-xs">FC. Contable</span>
                            </a>
                        </li>
                        <li id="financieroTab" class="" ng-hide="vm.TabFCFinanciero">
                            <a href="#financiero" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaFFinanciera()">
                                <span class="visible-xs"><i class="mdi mdi-server"></i></span>
                                <span class="hidden-xs">FC. Financiero</span>
                            </a>
                        </li>
                        <li id="indicadoresTab" class="">
                            <a href="#indicadores" data-toggle="tab" ng-hide="vm.TabIndicadores"  aria-expanded="false"  ng-click="vm.CargaIndicadores()">
                                <span class="visible-xs"><i class="mdi mdi-view-module"></i></span>
                                <span class="hidden-xs">Indicadores</span>
                            </a>
                        </li>
                        <li ng-hide="vm.TabDocumento" id="documentosTab" class="">
                            <a href="#documentos" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="mdi mdi-view-module"></i></span>
                                <span class="hidden-xs">Documentos</span>
                            </a>
                        </li>
                        <li id="oportunidadcostoTab" class="" ng-hide="vm.TabOCosto">
                            <a href="#oportunidadcosto" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaOportunidadCosto()">
                                <span class="visible-xs"><i class="mdi mdi-view-module"></i></span>
                                <span class="hidden-xs">Costo</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="caratula">
                            <div class="content-page">
                                @Html.Action("Index", "Caratula", new { area = "Oportunidad" })
                            </div>
                        </div>
                        <div class="tab-pane" id="ecapex">
                            <div class="content-page">
                            </div>
                        </div>
                        <div class="tab-pane" id="configuracionAdicional">
                            <div class="content-page">

                            </div>
                        </div>
                        <div class="tab-pane" id="contable">
                            <div class="content-page">
                                
                            </div>
                        </div>
                        <div class="tab-pane" id="financiero">
                            <div class="content-page">
                                
                            </div>
                        </div>
                        <div class="tab-pane" id="indicadores">
                            <div class="content-page">

                            </div>
                        </div>
                        <div class="tab-pane" id="documentos">
                            <div class="content-page">

                            </div>
                        </div>
                        <div class="tab-pane" id="oportunidadcosto">
                            <div class="content-page">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal -->
    <div class="modal fade" id="ModalCasoNegocio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar Caso Negocio</h4>
                </div>
                <div id="ContenidoCasoNegocio" class="modal-body modal-bodyTgestiona">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalServicios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar Servicios</h4>
                </div>
                <div id="ContenidoServicios" class="modal-body modal-bodyTgestiona">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalComponente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_2" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar Componente</h4>
                </div>
                <div id="ContenidoComponente" class="modal-body-white modal-bodyTgestiona">

                </div>
            </div>
        </div>
    </div>

</div>

