﻿<div id="idOportunidadContenedorController" ng-app="app.Oportunidad" ng-controller="OportunidadContenedorController as vm">
    <div id="frmOportunidadContenedorController">
        <div class="row">
            <section class="panel">
                <header class="panel-heading">
                    Seguimiento
                </header>
            </section>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div>
                    <ul class="nav nav-tabs navtab-bg">
                        <li id="TabSituacionActual" class="active">
                            <a href="#SituacionActual" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                <span class="hidden-xs">Documentos</span>
                            </a>
                        </li>
                        <li id="TabRiesgo">
                            <a href="#riesgo" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaRiesgoProyecto()">
                                <span class="visible-xs"><i class="mdi mdi-application"></i></span>
                                <span class="hidden-xs">Riesgos y Oportunidades</span>
                            </a>
                        </li>
                        <li id="TabVisitas" class="">
                            <a href="#visitas" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaVisitas()">
                                <span class="visible-xs"><i class="mdi mdi-server"></i></span>
                                <span class="hidden-xs">Visitas</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="SituacionActual">
                            <div class="content-page">
                                @Html.Action("Index", "SituacionActual", new { area = "Oportunidad" })
                            </div>
                        </div>
                        <div class="tab-pane" id="riesgo">
                            <div class="content-page">
                            </div>
                        </div>
                        <div class="tab-pane" id="visitas">
                            <div class="content-page">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>