﻿<div id="idOportunidadContenedorController" ng-app="app.Oportunidad" ng-controller="SISEGOController as vm">
    <div id="frmOportunidadContenedorController">
        <div class="row">
            <section class="panel">
                <header class="panel-heading">
                    Configurar Instalación Servicio
                </header>
                <div class="row">
                    <div id="divAlertContenedor" class="alert-edit col-md-12"></div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 text-right" ng-hide="vm.hideBoton">
                        <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.CargaModal(0)">Nueva Sede</a>
                        <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.CargaModalAgregarSede()">Agregar Sede</a>
                    </div>
                    <section id="flip-scroll" >
                        <div class="table-responsive">
                            <table datatable="" id="gridSede" dt-options="vm.dtOptionsServiciosModal" dt-columns="vm.dtColumnsSedeModal"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstanciaServicioModal" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>
            <!-- Modal Agregar Sede-->
            <div class="modal fade" id="ModalAgregarSede" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content modal-contentTgestiona">
                        <div class="modal-header modalheaderTgestiona">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"ng-click="vm.BuscarListaSedeInstalacion()"><span aria-hidden="true">&times;</span></button>
                            <p class="modal-title">AGREGAR SEDE</p>
                        </div>
                        <div id="ContenidoAgregarSede" class="modal-body-white">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Registrar-->
            <div class="modal fade" id="ModalRegistrarSede" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content modal-contentTgestiona">
                        <div class="modal-header modalheaderTgestiona">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.BuscarListaSedeInstalacion()"><span aria-hidden="true">&times;</span></button>
                            <p class="modal-title">REGISTRO DE SEDE</p>
                        </div>
                        <div id="ContenidoSede" class="modal-body-white">
                        </div>
                    </div>
                </div>
            </div>
            <div id="frmSede" class="container">
                <!--Modal-->
                <div class="modal fade" id="ModalSede" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content modal-contentTgestiona">
                            <div class="modal-header modalheaderTgestiona">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{ vm.TituloModal }}</h4>

                            </div>
                            <div id="ContenidoSede" class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/app/oportunidad/SISEGO/js");
}