﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div id="idDetalleCompraController" ng-app="app.Compra" ng-controller="DetalleCompraController as vm">
    <div class="form-group row">
        <label class="col-sm-6 col-form-label"><strong>Importante:</strong> Considerar las siguientes recomendaciones, para simplificar el proceso</label>
    </div>
    <div class="form-group row">
        <ul>
            <li>Seleccionar para cada item la "Cuenta" con el botón respectivo. En caso de error, borrar con el botón y volver a seleccionar.</li>
            <li>Registrar la "Cantidad" de unidades, su "Descripción" y el "Costo x Unidad".</li>
            <li>Importes sin IGV y aplicar la misma moneda de la cotización</li>
            <li>Verificar datos y ejecutar el botón ejecutar.</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="radio">
                <label style="width:30%;"><strong>TIpo de Moneda: </strong></label>
                <label class="checkbox-inline">
                    <input type="radio" name="optRdTipoMonedaGestionCompra" id="rbtnTipoMonedaG1" ng-disabled="vm.Ver == 1"
                           ng-model="vm.IdTipoMoneda" value="1" checked>Soles
                </label>
                <label class="checkbox-inline" style="width:200px">
                    <input type="radio" name="optRdTipoMonedaGestionCompra" id="rbtnTipoMonedaG2"  ng-disabled="vm.Ver == 1"
                           ng-model="vm.IdTipoMoneda" value="2">Dólares
                </label>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <div class="radio">
                <span class="input-group-btn">
                    <a class="btn btn-primary"  ng-hide="vm.Ver == 1" ng-click="vm.AgregarDetalle()">
                        <span class="glyphicon glyphicon-plus-sign"></span> Agregar
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="tblPeticionCompra" datatable=""
                       dt-options="vm.dtOptionsDetCompra" dt-columns="vm.dtColumnsDetCompra"
                       class="ui compact selectable striped celled table"
                       dt-instance="vm.dtInstanceDetCompra" style="width:100%;"
                       dt-column-defs="vm.dtDetCompraColumnDefs">
                    <thead class="cf">
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="pull-right col-md-3">
            <div class="form-group row">
                <label class="col-sm-5 col-form-label"><strong>Total:</strong></label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="txtTotalCosto" ng-model="vm.TotalCosto2" readonly />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Sustento Cualitativo:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="txtSustento"  ng-disabled="vm.Ver == 1" ng-model="vm.Sustento" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Detalle de Solpe:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="txtSolpe"  ng-disabled="vm.Ver == 1" ng-model="vm.Solpe" />
        </div>
    </div>
    <br />
    <div>
        <div class="pull-right">
            <button type="button" class="btn btn-success btn-sm"  ng-hide="vm.Ver == 1" ng-click="vm.GrabarDetalleCompra()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        </div>
    </div>
</div>
<!-- Modal Buscar Cuenta-->
<div class="modal fade" id="ModalCompraCuenta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">BUSCAR CUENTA</p>
            </div>
            <div id="ContenidoCompraCuenta" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">
            </div>
        </div>
    </div>
</div>
