﻿
@{
    ViewBag.Title = "_InfoDescripcion";
    Layout = null;
}

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <label><strong>Tipo de Solución</strong></label>
        </div>
        <div ng-repeat="tiposolucion in vm.ListaTipoSolucion" class="form-check form-check-inline">
            <label ng-class='$index <= 3 ? "margin-checkbox checkbox-inline" : "checkbox-inline"'>
                <input type="checkbox" name="group" id="{{tiposolucion.IdTipoSolucion}}" ng-model="tiposolucion.Activo"
                       ng-change="ActualizarSeleccion()">
                {{tiposolucion.Descripcion}}
            </label>

        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-8">
        <div class="form-group">
            <label><strong>Descripción de la Oportunidad</strong></label>
            <input type="text" id="Descripcion" ng-model="vm.Descripcion" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label><strong>Oficina de Oportunidad</strong></label>
            <select class="form-control" ng-disabled="true"
                    ng-model="vm.IdOficinaOportunidad"
                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaOficinaOportunidad" ng-cloak></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label><strong>Complejidad</strong></label>
            <select class="form-control"
                    ng-model="vm.IdComplejidad"
                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaComplejidadProyecto" ng-cloak></select>
        </div>
    </div>
</div>

<div class="pull-right">
    <button type="button" class="btn btn-success btn-sm" ng-click="vm.GrabarProyectoDescripcion()" ng-hide="vm.OptionPreVenta"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
</div>