﻿@{
    ViewBag.Title = "_InfoFinancieraLineas";
    Layout = null;
}


<div class="row">

    <div class="col-lg-12">
        <div class="table-responsive" style="overflow:auto;">
            <table class="table table-bordered table-hover">
                <tr class="grid-head">
                    <th class="text-center">Línea</th>
                    <th class="text-center">SubLínea</th>
                    <th class="text-center">Servicio CMI</th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Analista de Control</th>
                    <th class="text-center">Porcentaje (%)</th>
                </tr>
                <tr ng-repeat="detalle in vm.ListaDetalleFinanciero" ng-hide="vm.ListaDetalleFinanciero.length == 0">
                    <td>
                        {{detalle.Linea}}
                    </td>
                    <td>
                        {{detalle.SubLinea}}
                    </td>
                    <td>
                        {{detalle.Servicio}}
                    </td>
                    <td>
                        {{detalle.Producto}}
                    </td>
                    <td>
                        {{detalle.AnalistaCGUsuarioLotus}}
                    </td>
                    <td>
                        {{detalle.PorcentajeCalculado}}%
                    </td>
                </tr>
                <tr ng-hide="vm.ListaDetalleFinanciero.length != 0">
                    <td colspan="15"><strong>No hay registros.</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>