﻿@{
    ViewBag.Title = "_InfoFinanciera";
    Layout = null;
}

<fieldset>
    <legend>Datos de plantilla financiera</legend>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label"><strong>Plantilla económica:</strong></label>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="input-group input-file" name="Fichier1">
                        <input type="text" readonly ng-model="vm.DocumentoFinan.NombreArchivo" class="form-control" />
                        <input id="fArchivo" name='file' type="file" accept="{{vm.TipoDocumentoFinancieros}}" ngf-select="UploadFilesFinan($files)" style="display:none" />

                        <span class="input-group-btn">
                            <button class="btn btn-default btn-choose" onclick="$('#fArchivo').click()" type="button">Seleccionar Archivo</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" ng-click="vm.GuardarConsolidado()" ng-hide="vm.MostrarANFI"><i class="glyphicon glyphicon-paperclip"></i> Adjuntar</button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-2">
                <label class="control-label"><strong>Conformidad:</strong></label>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="checkbox-inline" style="width:100px">
                        <input type="checkbox" name="group" id="" ng-model="vm.ConformidadConsolidado"
                               ng-change="ActualizarConformidad()">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label"><strong>CMI del Proyecto:</strong></label>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="input-group input-file">
                        <input type="text" readonly ng-model="vm.DocumentoFinanCMI.NombreArchivo" class="form-control" ng-disabled="vm.habilitarCMI"/>
                        <input id="fArchivoCMI" name='file' type="file" accept="{{vm.TipoDocumentoFinancieros}}" ngf-select="UploadFilesCMI($files)" style="display:none" />

                        <span class="input-group-btn">
                            <button class="btn btn-default btn-choose" onclick="$('#fArchivoCMI').click()" type="button" ng-disabled="vm.habilitarCMI">Seleccionar Archivo</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" ng-click="vm.GuardarCMI()" ng-disabled="vm.habilitarCMI" ng-hide="vm.MostrarANFI"><i class="glyphicon glyphicon-paperclip"></i> Adjuntar</button>
        </div>
    </div>
</fieldset>


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <div class="tab" role="tabpanel" style="margin-top:10px">
                    <!-- Nav tabs -->
                    <!-- Tab panes content goes here-->
                    <div class="tab-content">
                        <div role="tabpanel" class="fade-in active" id="javatab1">
                            <fieldset>
                                <div class="row m-t-xs">
                                    <div class="col-md-12">
                                        <ul id="idContenedorFinanciero" class="nav nav-tabs">
                                            <li class="active"><a id="lnkInfoPagos" href="#pagosFinaciero" ng-click="vm.MostrarFinacieraPagos(0)" data-toggle="tab">Pagos</a></li>
                                            <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabled" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#indicadoresFinaciero" : "" }}' data-toggle="tab" ng-click="vm.MostrarFinacieraIndicadores()">Indicadores</a></li>
                                            <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabled" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#lineasFinaciero" : "" }}' data-toggle="tab" ng-click="vm.MostrarFinacieraLineas()">Líneas</a></li>
                                            <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabled" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#costosFinaciero" : "" }}' data-toggle="tab" ng-click="vm.MostrarFinacieraCostos()">Costos</a></li>
                                            <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabled" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#costosConceptoFinaciero" : "" }}' data-toggle="tab" ng-click="vm.MostrarFinacieraCostosConcepto()">Costos x Concepto</a></li>
                                            <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabled" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#serviciosFinaciero" : "" }}' data-toggle="tab" ng-click="vm.MostrarFinacieraServicios()">Servicios CMI</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade-in active" id="pagosFinaciero">
                                                <div id="ContenidoInfoPagosFinaciero">
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade-in" id="indicadoresFinaciero">
                                                <div id="ContenidoInfoIndicadores">
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade-in" id="lineasFinaciero">
                                                <div id="ContenidoInfoLineasFinanciero">
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade-in" id="costosFinaciero">
                                                <div id="ContenidoInfoCostosFinanciero">
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade-in" id="costosConceptoFinaciero">
                                                <div id="ContenidoInfoCostoConceptoFinanciero">
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade-in" id="serviciosFinaciero">
                                                <div id="ContenidoInfoServiciosFinanciero">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>