﻿@{
    ViewBag.Title = "_InfoDescripcion";
    Layout = null;
}

<div class="row">
    <div class="col-md-8">
        <label><strong>Detalle de plazos</strong></label>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="input-group">
            <label class="checkbox-inline" style="width:150px">
                <input type="checkbox" checked ng-model="vm.DetallePlazoVentaDirecta" />
                <strong>Sólo Venta Directa</strong>
            </label>
        </div>
    </div>
</div>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th width="100">Plazo</th>
            <th width="180">Desde</th>
            <th width="180">Hasta</th>
            <th width="150">Años / Meses / Días</th>
            <th width="50">N° Aproximado</th>
            <th>Años</th>
            <th>Meses</th>
            <th>Días</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="detalleplazo in vm.DetallePlazo">
            <td>
                {{detalleplazo.DesActividad}}
            </td>
            <td>
                <table id="t01">
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="idFechaFinal" type='date' class="form-control" ng-model="detalleplazo.FechaInicio" maxlength="10" placeholder="dd/mm/yyyy" />
                                
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table id="t01">
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="idFechaFinal" type='date' class="form-control" ng-model="detalleplazo.FechaFin" maxlength="10" placeholder="dd/mm/yyyy" />
                                
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <select class="form-control"
                        ng-model="detalleplazo.IdUnidadMedida"
                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaPeriodoPlazos" ng-cloak></select>
            </td>
            <td>
                <input type="text" readonly class="form-control" ng-model="detalleplazo.Cantidad" />
            </td>
            <td>
                <input type="text" readonly class="form-control" ng-model="detalleplazo.Anios" />
            </td>
            <td>
                <input type="text" readonly class="form-control" ng-model="detalleplazo.Meses" />
            </td>
            <td>
                <input type="text" readonly class="form-control" ng-model="detalleplazo.Dias" />
            </td>
            <td>
                <button ng-click="vm.CalcularPeriodoPlazos(detalleplazo)" class="btn btn-success">Calcular</button>
            </td>
        </tr>
</tbody>
</table>

<div class="pull-right">
    <button type="submit" ng-click="vm.GuardarDetallePlazo()" class="btn btn-success" ng-hide="vm.OptionPreVenta"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
</div>
