﻿@{
    ViewBag.Title = "_InfoFinancieraCostoConcepto";
    Layout = null;
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a id="lnkCollapse1" data-toggle="collapse" href="#collapse1" onclick="javascript:ExpandCollapse(this, 'collapse1')"><i class="fa fa-minus-square"></i> <strong>Costos Opex x Concepto (Sin IGV)</strong></a>
            </h2>
            <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="table-responsive" style="overflow:auto;">
                                <table class="table table-bordered table-hover">
                                    <tr class="grid-head">
                                        <th class="text-center">Concepto OPEX</th>
                                        <th class="text-center">Costo Propios</th>
                                        <th class="text-center">Costo Terceros</th>
                                    </tr>
                                    <tr ng-repeat="copex in vm.ListaCostosOpex" ng-hide="vm.ListaCostosOpex.length == 0">
                                        <td>
                                            {{copex.Concepto}}
                                        </td>
                                        <td>
                                            {{copex.CostoPropio}}
                                        </td>
                                        <td>
                                            {{copex.CostoTercero}}
                                        </td>
                                    </tr>
                                    <tr ng-hide="vm.ListaCostosOpex.length != 0">
                                        <td colspan="15"><strong>No hay registros.</strong></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="panel-title">
                <a id="lnkCollapse2" data-toggle="collapse" href="#collapse2" onclick="javascript:ExpandCollapse(this, 'collapse2')"><i class="fa fa-minus-square"></i> <strong>Costos Capex x Concepto (Sin IGV):</strong></a>
            </h2>
            <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="table-responsive" style="overflow:auto;">
                                <table class="table table-bordered table-hover">
                                    <tr class="grid-head">
                                        <th class="text-center">Concepto OPEX</th>
                                        <th class="text-center">Costo Propios</th>
                                        <th class="text-center">Costo Terceros</th>
                                    </tr>
                                    <tr ng-repeat="copex in vm.ListaCostosCapex" ng-hide="vm.ListaCostosCapex.length == 0">
                                        <td>
                                            {{copex.Concepto}}
                                        </td>
                                        <td>
                                            {{copex.CostoPropio}}
                                        </td>
                                        <td>
                                            {{copex.CostoTercero}}
                                        </td>
                                    </tr>
                                    <tr ng-hide="vm.ListaCostosCapex.length != 0">
                                        <td colspan="15"><strong>No hay registros.</strong></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
    });

    function ExpandCollapse(control, idcontenedor) {
        var id = $(control).attr("id");
        var bExpandido = $("#" + idcontenedor).attr("aria-expanded");
        bExpandido = (typeof (bExpandido) == "undefined" ? false : bExpandido);

        if (bExpandido == "false") {
            $("#" + id + " i").removeClass("fa fa-plus-square");
            $("#" + id + " i").addClass("fa fa-minus-square");
        } else {
            $("#" + id + " i").removeClass("fa fa-minus-square");
            $("#" + id + " i").addClass("fa fa-plus-square");
        }
    }
</script>