﻿
@{
    ViewBag.Title = "_InfoDescripcion";
    Layout = null;
}

<table class="table table-bordered">
    <tr>
        <th width="250px">Rol</th>
        <th width="250px">Usuario</th>
        <th>Correo Corporativo</th>
    </tr>
    
    <tr>
        <td>
            <strong>Ing. Pre Venta</strong> / Big Manager
        </td>
        <td>
            <input type="text" class="form-control" value="{{vm.NombreUsuarioActual}}" readonly />
        </td>
        <td>
            <input type="text" class="form-control" value="{{vm.EmailUsuarioActual}}" readonly />
        </td>
    </tr>
    <tr ng-repeat="recurso in vm.RecursoProyecto">
        <td>
            <strong>{{recurso.DesCargo}}</strong>
        </td>
        <td>
            <select class="form-control" ng-show="recurso.IdCargo == 4" ng-change="vm.SeleccionarUsuarioEquipo(recurso)"
                    ng-model="recurso.IdRecurso"
                    ng-options="item.IdRecurso as item.Nombre for item in vm.ListaRecursoAF" ng-cloak></select>

            <select class="form-control" ng-show="recurso.IdCargo == 8" ng-change="vm.SeleccionarUsuarioEquipo(recurso)"
                    ng-model="recurso.IdRecurso"
                    ng-options="item.IdRecurso as item.Nombre for item in vm.ListaRecursoJP" ng-cloak></select>

            <select class="form-control" ng-show="recurso.IdCargo == 3" ng-change="vm.SeleccionarUsuarioEquipo(recurso)"
                    ng-model="recurso.IdRecurso"
                    ng-options="item.IdRecurso as item.Nombre for item in vm.ListaRecursoGC" ng-cloak></select>

            <select class="form-control" ng-show="recurso.IdCargo == 7" ng-change="vm.SeleccionarUsuarioEquipo(recurso)"
                    ng-model="recurso.IdRecurso"
                    ng-options="item.IdRecurso as item.Nombre for item in vm.ListaRecursoJP2" ng-cloak></select>
        </td>
        <td>
            <input type="text" class="form-control" ng-model="recurso.Email" readonly />
        </td>
    </tr>
</table>
<div class="pull-right">
    <button type="submit" ng-click="vm.GuardarRecursoProyecto()" class="btn btn-success" ng-hide='vm.MostrarAF'><i class="glyphicon glyphicon-floppy-disk"> Guardar</i></button>
</div>