﻿@{
    ViewBag.Title = "_InfoFinancieraCosto";
    Layout = null;
}

<div class="row">

    <div class="col-lg-12">
        <div class="table-responsive" style="overflow:auto;">
            <table class="table table-bordered table-hover">
                <tr class="grid-head">
                    <th class="text-center">Costos (Sin IGV)</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Servicio CMI 1<br />CENTRALES ALQUILER</th>
                    <th class="text-center">Servicio CMI 2<br />INFOINTERNET</th>
                    <th class="text-center">Linea 3<br />IP ADSL</th>
                    <th class="text-center">Servicio CMI 4<br />IP METRO</th>
                    <th class="text-center">Servicio CMI 5<br />IP VPN</th>
                    <th class="text-center">Servicio CMI 6<br />0</th>
                    <th class="text-center">Servicio CMI 7<br />0</th>
                    <th class="text-center">Servicio CMI 8<br />0</th>
                </tr>
                <tr ng-repeat="costo in vm.ListaCostos" ng-hide="vm.ListaCostos.length == 0">
                    <td>
                        {{costo.Costo}}
                    </td>
                    <td>
                        {{costo.Total}}
                    </td>
                    <td>
                        {{costo.Centrales_Alquiler}}
                    </td>
                    <td>
                        {{costo.Info_Internet}}
                    </td>
                    <td>
                        {{costo.Ip_Adsl}}
                    </td>
                    <td>
                        {{costo.Ip_Metro}}
                    </td>
                    <td>
                        {{costo.Ip_Vpn}}
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr ng-hide="vm.ListaCostos.length != 0">
                    <td colspan="15"><strong>No hay registros.</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>