﻿
@{
    ViewBag.Title = "_InfoDescripcion";
    Layout = null;
}

<div class="row">
    <div class="col-md-8">
        <label><strong>Monto final acordado con cliente:</strong></label>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <input type="hidden" ng-model="vm.IdDetalleFacturar">
        <label><strong>Moneda</strong></label>
        <div class="radio">
            <label class="checkbox-inline" style="width:70px">
                <input type="radio" name="optRdTipoMoneda" id="rbtnTipoMoneda1" 
                       ng-model="vm.proyectoMontos.IdMonedaPagoUnico" ng-change="CheckTipoMoneda('Soles', 1)" value="1" checked>Soles
            </label>
            <label class="checkbox-inline" style="width:200px">
                <input type="radio" name="optRdTipoMoneda" id="rbtnTipoMoneda2" 
                       ng-model="vm.proyectoMontos.IdMonedaPagoUnico" ng-change="CheckTipoMoneda('Dólares', 2)" value="2">Dólares
            </label>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-4">
        <div class="form-group">
            <label><strong>Pago único</strong></label>
            <input type="text" ng-model="vm.proyectoMontos.MonedaPagoUnico" disabled class="form-control" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label><strong>Monto sin IGV</strong></label>
            <input type="number" id="txtMontoPagoUnico" ng-model="vm.proyectoMontos.MontoPagoUnico" class="form-control" autocomplete="off" ng-cloak/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label><strong>Pago recurrente</strong></label>
            <input type="text" class="form-control" ng-model="vm.proyectoMontos.MonedaRecurrenteMensual"  disabled/>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label><strong>Monto sin IGV</strong></label>
            <input type="number" id="txtMontoPagoRec" class="form-control" ng-model="vm.proyectoMontos.MontoRecurrenteMensual" autocomplete="off" ng-cloak/>
        </div>
    </div>
</div>

<div class="pull-right">
    <button type="button" class="btn btn-success btn-sm" ng-click="vm.GrabarProyectoMontos()" ng-hide="vm.OptionPreVenta"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
</div>