﻿
@{
    ViewBag.Title = "_InfoFinancieraIndicador";
    Layout = null;
}

<div class="row">

    <div class="col-lg-12">
        <div class="table-responsive" style="overflow:auto;">
            <table class="table table-bordered table-hover">
                <tr class="grid-head">
                    <th class="text-center">Nombre Indicador</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Linea 1</th>
                    <th class="text-center">Linea 2</th>
                    <th class="text-center">Linea 3</th>
                    <th class="text-center">Linea 4</th>
                    <th class="text-center">Linea 5</th>
                    <th class="text-center">Linea 6</th>
                    <th class="text-center">Linea 7</th>
                    <th class="text-center">Linea 8</th>
                </tr>
                <tr ng-repeat="indicador in vm.ListaIndicadores" ng-hide="vm.ListaIndicadores.length == 0">
                    <td>
                        {{indicador.Indicadores}}
                    </td>
                    <td>
                        {{indicador.Total}}
                    </td>
                    <td>
                        {{indicador.Linea_1}}
                    </td>
                    <td>
                        {{indicador.Linea_2}}
                    </td>
                    <td>
                        {{indicador.Linea_3}}
                    </td>
                    <td>
                        {{indicador.Linea_4}}
                    </td>
                    <td>
                        {{indicador.Linea_5}}
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr ng-hide="vm.ListaIndicadores.length != 0">
                    <td colspan="15"><strong>No hay registros.</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>