﻿
@{
    ViewBag.Title = "_InfoDocumentacion";
    Layout = null;
}

<fieldset>
    <legend>Información Documento</legend>
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label"><strong>Tipo Documento:</strong></label>

            <select class="form-control" ng-model="vm.Documento.IdTipoDocumento" ng-change="vm.SeleccionarTipoDocumento()"
                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoDocumento" ng-cloak></select>
        </div>
        <div class="form-group">
            <label class="control-label"><strong>Archivo:</strong></label>
            <div class="form-group">
                <div class="input-group input-file" name="Fichier1">
                    <input type="text" readonly ng-model="vm.Documento.NombreArchivo" class="form-control" />
                    <input id="fArchivo" name='file' type="file" accept="{{vm.TipoDocumentoValor2}}" ngf-select="UploadFiles($files)" style="display:none" />

                    <span class="input-group-btn">
                        <button class="btn btn-default btn-choose" onclick="$('#fArchivo').click()" type="button">Seleccionar Archivo</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" ng-click="vm.GuardarDocumento()" ng-hide="vm.OptionPreVenta"><i class="glyphicon glyphicon-paperclip"></i> Adjuntar</button>
        </div>
    </div>
</fieldset>

<br />

<table class="table table-bordered">
    <tr class="grid-head">
        <th class="text-center">Documento de sustento</th>
        <th class="text-center">Archivos</th>
        <th class="text-center">Acción</th>
    </tr>
    <tr ng-repeat="documento in vm.ListaDocumentos" ng-hide="vm.ListaDocumentos.length == 0" >
        <td>
            <strong>{{documento.DesTipoDocumento}}</strong>
        </td>
        <td>
            <strong><a  href="#" ng-click="vm.DescargarDocumentacionArchivo(documento)">{{documento.NombreArchivo}}</a></strong>
        </td>
        <td class="text-center" ng-hide="vm.OptionPreVenta">
            <a ng-click="vm.EliminarDocumento(documento)"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
    <tr ng-hide="vm.ListaDocumentos.length != 0">
        <td colspan="3"><strong>No hay archivos.</strong></td>
    </tr>
</table>
<div class="pull-right">
    <button type="submit" ng-click="vm.GuardarDocumentacion()" ng-hide="vm.OptionPreVenta" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> Guardar</i></button>
</div>
