﻿@{
    ViewBag.Title = "_InfoFinancieraServicios";
    Layout = null;
}

<div class="row">

    <div class="col-lg-12">
        <div  class="table-responsive" style="overflow:auto;">
            <table class="table table-bordered table-hover">
                <tr class="grid-head">
                    <th class="text-center">Código</th>
                    <th class="text-center">Línea</th>
                    <th class="text-center">Sub-Línea</th>
                    <th class="text-center">Servicio CMI</th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Porcentaje</th>
                    <th class="text-center">Costo</th>
                    <th class="text-center">Elemento PEP</th>
                    <th class="text-center">Centro gestor</th>
                    <th class="text-center">Ce. Co.</th>
                    <th class="text-center">Estado de CMI</th>
                    <th class="text-center">Código Proyecto</th>
                    <th class="text-center">Código CMI</th>
                    <th class="text-center">Autor</th>
                    <th class="text-center">Fecha</th>
                </tr>
                <tr ng-repeat="servicio in vm.ListaServiciosCMI" ng-hide="vm.ListaServiciosCMI.length == 0">
                    <td>
                        {{servicio.IdDetalleFinanciero}}
                    </td>
                    <td>
                        {{servicio.Linea}}
                    </td>
                    <td>
                        {{servicio.SubLinea}}
                    </td>
                    <td>
                        {{servicio.Servicio}}
                    </td>
                    <td>
                        {{servicio.Producto}}
                    </td>
                    <td>
                        {{servicio.Porcentaje}}
                    </td>
                    <td>
                        {{servicio.Costo}}
                    </td>
                    <td>
                        {{servicio.ElementoPEP}}
                    </td>
                    <td>
                        {{servicio.CentroGestor}}
                    </td>
                    <td>
                        {{servicio.CeCo}}
                    </td>
                    <td>
                        {{servicio.Estado}}
                    </td>
                    <td>
                        {{servicio.CodigoProyecto}}
                    </td>
                    <td>
                        {{servicio.CodigoProyecto}}
                    </td>
                    <td>
                        {{servicio.UsuarioCreacion}}
                    </td>
                    <td>
                        {{servicio.FechaCreacion}}
                    </td>
                </tr>
                <tr ng-hide="vm.ListaServiciosCMI.length != 0">
                    <td colspan="15"><strong>No hay registros.</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>