﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Proyecto;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_RegistroProyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Proyecto" block-ui="main">
</body>
<style>
    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
        border-top: 3px solid #fb0201;
        margin-left: 20px;
        margin-right: 20px;
    }

    .m-t-xs {
        margin-top: 5px;
    }

    .grid-head {
        background-color: #dde0ff;
    }

    table#t01 td {
        padding: 0px;
        text-align: left;
    }

    .tab-content .tab-pane {
        border: 1px solid #DDDDDD;
        padding: 5px 5px 40px 5px;
        line-height: 22px;
    }

        .tab-content .tab-pane h4 {
            margin-top: 0 !important;
            font-weight: 700 !important;
            font-size: 20px !important;
        }

    .btnActivo {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
        pointer-events: none;
    }

    .btnNoActivo {
        background-color: #00A4B6;
        border-color: #00A4B6;
        color: #FFFFFF;
        pointer-events: none;
    }

    .margin-checkbox {
        padding-left: 27px;
    }

    .disabledTab {
        pointer-events: none;
    }
</style>

<!-- ============================================================== -->
<div id="idBandejaProyecto" ng-app="app.Proyecto" ng-controller="RegistroProyectoController as vm">
    <input type="hidden" id="__IdProyecto" ng-model="vm.Proyecto.IdProyecto" />
    <div id="alertContenedor" class="col-md-12"></div>
    <!-- Start content -->
    <div class="row">
        <div id="lblAlerta_Proyecto" class="alert-edit"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-3" style="max-width:15%">
                                    <strong>Código de proyecto:</strong>
                                </div>
                                <div class="col-lg-2">
                                    {{vm.Proyecto.CodigoProyectoExtendido}}
                                </div>
                                <div class="col-lg-3" style="max-width:14%">
                                    <strong>Fecha de creación:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.Proyecto.FechaCrea.substr(6,13) | date:'dd/MM/yyyy'}}
                                </div>
                                <div class="col-lg-1">
                                    <strong>Estado:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.Proyecto.Estado}}
                                </div>
                                <div class="col-lg-1">
                                    <strong>Actualizado:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.Proyecto.FechaModifica.substr(6,13) | date:'dd/MM/yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="btn-group">
                            <button type="button" ng-class='vm.Proyecto.IdEtapaActual == 9 ? "btn btnActivo" : "btn btnNoActivo"' id="btnPreventa"><i class="glyphicon glyphicon-lock"></i> PV</button>
                            <button type="button" ng-class='vm.Proyecto.IdEtapaActual == 10 ? "btn btnActivo" : "btn btnNoActivo"'><i class="glyphicon glyphicon-user"></i> Líder JP</button>
                            <button type="button" ng-class='vm.Proyecto.IdEtapaActual == 11 ? "btn btnActivo" : "btn btnNoActivo"' id="btnAf"><i class="glyphicon glyphicon-check"></i> AF</button>
                            <button type="button" ng-class='vm.Proyecto.IdEtapaActual == 12 ? "btn btnActivo" : "btn btnNoActivo"' id="btnControl"><i class="glyphicon glyphicon-list"></i> CONTROL</button>
                            <button type="button" ng-class='vm.Proyecto.IdEtapaActual == 13 ? "btn btnActivo" : "btn btnNoActivo"' id="btnJp"><i class="glyphicon glyphicon-paperclip"></i> JP</button>
                        </div>
                    </div>
                    <div class="tab" role="tabpanel" style="margin-top:10px">
                        <!-- Nav tabs -->
                        <!-- Tab panes content goes here-->
                        <div class="tab-content">
                            <div role="tabpanel" class="fade-in active" id="javatab">
                                <fieldset>
                                    <legend><strong>Información de Oportunidad</strong></legend>
                                    Habilitar {{vm.HabilitarEditar}}
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label class="control-label"><strong>Código Oportunidad:</strong></label>
                                            <input type="text" name="Codigo" ng-model="vm.OportunidadGanada.IdOportunidad" ng-disabled="vm.HabilitarEditar" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><strong>Fecha Ganada:</strong></label>
                                            <div class="input-group">
                                                <input id="idFechaGanada" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaGanada" maxlength="10" placeholder="Fecha Ganada" ng-disabled="vm.HabilitarEditar" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-success" ng-click="vm.ObtenerOportunidadGanadaPorId()" ng-disabled="vm.HabilitarEditar"><i class="glyphicon glyphicon-search"></i> Obtener</button>
                                        </div>
                                    </div>
                                    <div class="row m-t-xs">
                                        <div class="col-md-12">
                                            <ul id="idContenedor" class="nav nav-tabs">
                                                <li class="active"><a id="lnkInfoCliente" href="#cliente" ng-click="vm.MostrarInfoCliente()" data-toggle="tab">Cliente</a></li>
                                                <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabledTab" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#descripcion" : "" }}' data-toggle="tab" ng-click="vm.MostrarInfoDescripcion()">Descripción</a></li>
                                                <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabledTab" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#montos" : "" }}' data-toggle="tab" ng-click="vm.MostrarInfoMonto()">Montos</a></li>
                                                <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabledTab" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#plazos" : "" }}' data-toggle="tab" ng-click="vm.MostrarInfoPlazo()">Plazos</a></li>
                                                <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabledTab" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#equipo" : "" }}' data-toggle="tab" ng-click="vm.MostrarInfoEquipo()">Equipo</a></li>
                                                <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabledTab" : "" '><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#documentacion" : "" }}' data-toggle="tab" ng-click="vm.MostrarInfoDocumentacion()">Documentación</a></li>
                                                <li ng-class='vm.Proyecto.IdProyecto == 0 ? "disabledTab" : "" ' ng-hide='vm.MostrarTabPF'><a ng-href='{{vm.Proyecto.IdProyecto != 0 ? "#plantillaFinanciera" : "" }}' data-toggle="tab" ng-click="vm.MostrarPlantillaFinanciera()">Datos de plantilla financiera</a></li>
                                                @*<li><a href="#proyecto" data-toggle="tab" ng-click="vm.CargaPreImplantacion()">Proyecto</a></li>
                                                    <li><a href="#comentario" data-toggle="tab" ng-click="vm.CargaPreImplantacion()">Comentarios</a></li>*@
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade-in active" id="cliente">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <label><strong>Cliente</strong></label>
                                                                <input type="text" class="form-control" readonly ng-model="vm.OportunidadGanada.Cliente" placeholder="Razón social" />
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label><strong>Código</strong></label>
                                                                <input type="text" class="form-control" readonly ng-model="vm.OportunidadGanada.IdCliente" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pull-right">
                                                        <button class="btn btn-success btn-sm" id="btnProyectoCliente" ng-click="vm.GrabarProyectoCliente()" ng-hide="vm.OptionPreVenta" type="button"><i class="glyphicon glyphicon-floppy-disk"> </i> Guardar</button>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade-in" id="descripcion">
                                                    <div id="ContenidoInfoDescripcion">
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade-in" id="montos">
                                                    <div id="ContenidoInfoMonto">
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade-in" id="plazos">
                                                    <div id="ContenidoInfoPlazo">
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade-in" id="equipo">
                                                    <div id="ContenidoInfoEquipo">
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade-in" id="documentacion">
                                                    <div id="ContenidoInfoDocumentacion">
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade-in" id="plantillaFinanciera" ng-hide="vm.MostrarTabPF">
                                                    <div id="ContenidoPlantillaFinanciera">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>
    <div class="content">
        <div class="container">

        </div>
        <!-- content -->
    </div>
</div>

@section scripts{
    <link href="~/Content/morris.css" rel="stylesheet" />
    <script src="~/Content/morris.min.js"></script>
    <script src="~/Content/raphael-min.js"></script>

    <script>var jsonListCliente= @Html.Raw(Json.Encode(ViewBag.vbListCliente));</script>

    @*<script>var jsonListGerente= @Html.Raw(Json.Encode(ViewBag.vbListGerente));</script>

        <script>var jsonListDireccion= @Html.Raw(Json.Encode(ViewBag.vbListDireccion));</script>*@

    @Scripts.Render("~/bundles/app/base/js")
    @Scripts.Render("~/bundles/app/comun/js")

@Scripts.Render("~/bundles/app/Compra/PrePeticionCompra/js")

    <script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    <script src="~/Scripts/app/Comun/Recurso/Recurso.service.js"></script>
    <script src="~/Scripts/app/Comun/TipoSolucion/TipoSolucion.service.js"></script>
    @Scripts.Render("~/bundles/app/Proyecto/Registro/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")

    <script>
        var IdProyecto = '@ViewBag.IdProyecto';
        var IdPerfil = '@ViewBag.IdPerfil';
    </script>


    @*<script src="~/Scripts/app/Oportunidad/RegistrarOportunidad/RegistrarOportunidad.service.js"></script>*@
    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>

    <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />

    <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>

    <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/typeahead.js"></script>
}