﻿
<div id="idConfiguracionAdicionalEditController" ng-app="app.Oportunidad" ng-controller="ConfiguracionAdicionalEditController as vm">
    
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_ConfiguracionAdicional" class="alert-edit"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Editar SubServicio
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">SubServicio<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtServicio" ng-model="vm.SubServicio" ng-disabled="true" class="tb form-control" autocomplete="off" />
                </div>
            </div>

            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">Monto<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtMonto" ng-model="vm.Monto" class="tb form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Costo</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipoCosto"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoCosto" ng-cloak></select>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnConfiguracionAdicional" type="button" ng-click="vm.GrabarConfiguracionAdicional()">Grabar</button>
                </div>
            </div>*@

        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

</div>