﻿
<div id="idConfiguracionAdicionalController" ng-app="app.Oportunidad" ng-controller="ConfiguracionAdicionalController as vm">
    <br />
    <section class="panel">
        <header class="panel-heading">
            Configuración Adicional
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Pago Unico</label>
                <hr />
               
            </div>
            <br />
            <div class="form-group col-md-10">
                <label class="col-md-2 control-label" ng-hide="vm.tabFlujoCaja">Tipo Moneda</label>
                <div class="col-md-2" ng-hide="vm.tabFlujoCaja">
                    <select id="" class="form-control"
                            ng-model="vm.IdMoneda"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoMoneda" ng-cloak
                            ng-change="vm.CargarInput_1();"></select>
                </div>

                <label class="col-md-2 control-label" ng-hide="vm.tabFlujoCaja">Monto Soles</label>
                <div class="col-md-2">
                    <input id="txtPonderacion" ng-model="vm.CostoPreOperativoSoles" class="form-control" autocomplete="off"  ng-disabled="vm.Soles"/>
                </div>
                <label class="col-md-2 control-label" ng-hide="vm.tabFlujoCaja">Monto Dolares</label>
                <div class="col-md-2">
                    <input id="txtPonderacion" ng-model="vm.CostoPreOperativoDolares" class="form-control" autocomplete="off" ng-disabled="vm.Dolares"/>
                </div>
                
            </div>
            <div class="form-group col-md-2" ng-hide="vm.tabFlujoCaja">

                <button class="btn btn-primary btn-sm" id="btnFlujoCaja" ng-click="vm.GrabarFlujoCajaConfiguracionUnicio()" type="button">Grabar</button>

            </div>
            <br /><br />
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Pago Total</label>
                <hr />
            </div>
            <br />
            <div class="form-group col-md-10">
                <label class="col-md-2 control-label" ng-hide="vm.tabFlujoCaja">Tipo Moneda</label>
                <div class="col-md-2" ng-hide="vm.tabFlujoCaja">
                    <select id="" class="form-control"
                            ng-model="vm.IdMoneda_2"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoMoneda_2" ng-cloak
                            ng-change="vm.CargarInput_2();"></select>
                </div>
                <label class="col-md-2 control-label" ng-hide="vm.tabFlujoCaja">Monto Soles</label>
                <div class="col-md-2">
                    <input id="txtPonderacion" ng-model="vm.CostoPreOperativoSoles_2" class="form-control" autocomplete="off" ng-disabled="vm.Soles_2" />
                </div>
                <label class="col-md-2 control-label" ng-hide="vm.tabFlujoCaja">Monto Dolares</label>
                <div class="col-md-2">
                    <input id="txtPonderacion" ng-model="vm.CostoPreOperativoDolares_2" class="form-control" autocomplete="off" ng-disabled="vm.Dolares_2" />
                </div>

                
            </div>
            
            <div class="form-group col-md-2" ng-hide="vm.tabFlujoCaja">

                <button class="btn btn-primary btn-sm" id="btnFlujoCaja" ng-click="vm.GrabarFlujoCajaConfiguracionTotal()" type="button">Grabar</button>

            </div>

            @*<section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbConfiguracionAdicional" datatable="" dt-options="vm.dtOptionsConfiguracionAdicional" dt-columns="vm.dtColumnsConfiguracionAdicional"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtInstanceConfiguracionAdicional" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>*@
        </div>
    </section>
    <section class="panel" style="display:none">
        <header class="panel-heading">
            Parametros
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbParametro" datatable="" dt-options="vm.dtOptionsParametro" dt-columns="vm.dtColumnsParametro"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtInstanceParametro" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            TipoCambio
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbTipoCambio" datatable="" dt-options="vm.dtOptionsTipoCambio" dt-columns="vm.dtColumnsTipoCambio"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtInstanceTipoCambio" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
    <div id="frmConfiguracionAdicional" class="container">
        <!--Modal-->
        <div class="modal fade" id="ModalConfiguracionAdicional" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ vm.TituloModal }}</h4>

                    </div>
                    <div id="ContenidoConfiguracionAdicional" class="modal-body">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="ModalRegistrarOportunidadTipoCambio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">Editar Tipo Cambio</p>

                </div>
                <div id="ContenidoOportunidadTipoCambio" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalRegistrarOportunidadParametro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">Editar Parametro</p>

                </div>
                <div id="ContenidoOportunidadParametro" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>
</div>