﻿
@using Tgs.SDIO.Util.Web.Funnel
@using Scripts = System.Web.Optimization.Scripts

@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_ReporteEvolutivo;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}

<div class="row" style="margin-top:0px;" ng-app="app.Funnel" ng-controller="ReporteEvolutivoOportunidadController as vm">
    <div id="divAlert"> </div>
    <!-- Breadcrumbs-->

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@Cadenas.RptEvolutivoOportunidad_IdOportunidad</label>
                                    <div class="col-md-8">
                                        <input type="text" id="txtOportunidadId" class="form-control" ng-model="vm.IdOportunidad" autocomplete="false"
                                               placeholder="@Cadenas.RptEvolutivoOportunidad_IdOportunidad_placeholder">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.ConsultarReporte()">@Cadenas.BotonFiltrar</button>
                            <button class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarModelo()">@Cadenas.BotonLimpiar</button>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Reporte
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" width="1200" height="650"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/app/funnel/ReporteEvolutivoOportunidad/js")
}

