﻿<div class="row" id="IdCorreoController" ng-app="app.Comun" ng-controller="CorreoController as vm">
    <div class="col-md-12">
        <!--progress bar start-->
        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                Enviar Correo
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" data-toggle="collapse" href="#EnviarCorreo"></a>
                </span>
            </header>
            <div id="EnviarCorreo" class="panel-collapse collapse in">

                <div class="panel-body">
                    <div class="row">
                        <div id="divAlertEnviarCorreoCartaFianza" class="alert-edit col-md-12"></div>
                    </div>
                    <div class="compose-btn pull-right">
                        <button class="btn btn-primary btn-sm" ng-click="vm.EnviarCorreoCartaFianza(vm.correo)"><i class="fa fa-check"></i> Enviar</button>
                        <button class="btn btn-sm" ng-click="vm.DescartarCorreoCartaFianza()"><i class="fa fa-times"></i> Descartar</button>
                    </div>
                    <div class="compose-mail">

                        <input type="hidden" ng-model="vm.correo.IdCartaFianza">
                        <input type="hidden" ng-model="vm.correo.IdTipoSubEstadoCartaFianzaTm">
                        <input type="hidden" ng-model="vm.correo.IdRenovarTm">
                        <input type="hidden" ng-model="vm.correo.IdTipoAccionTm">
                        <input type="hidden" ng-model="vm.correo.IdEstadoCartaFianzaTm">
                        <input type="hidden" ng-model="vm.correo.IdColaborador">
                        <input type="hidden" ng-model="vm.correo.IdUsuarioCreacion">
                        <input type="hidden" ng-model="vm.correo.UsuarioEdicion">
                        
                        <div class="form-group col-md-12" style="padding-right: 0px;">
                            <label for="subject" class="">De:</label>
                            <input type="text" tabindex="1" id="From" class="form-control" ng-model="vm.correo.From" ng-disabled="true">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="to" class="">Para:</label>
                            <input type="text" tabindex="1" id="To" class="form-control" ng-model="vm.correo.To" placeholder="example@domain.com">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="cc" class="">Copia:</label>
                            <input type="text" tabindex="2" id="Copy" class="form-control" ng-model="vm.correo.Copy" placeholder="example@domain.com">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="subject" class="">Asunto:</label>
                            <input type="text" tabindex="1" id="Subject" class="form-control" ng-model="vm.correo.Subject" placeholder="Asunto">
                        </div>
                        <div class="compose-editor">
                            <textarea id="Body" class="form-control texto-enriquecido" ng-model="vm.correo.Body"> </textarea>
                            <br />
                            <input type="file" id="Adjuntos" class="form-control" upload-files="vm.correo.Attachments" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--progress bar end-->
    </div>
</div>

<script>
    window.correo = @Html.Raw(ViewBag.Correo);
</script>