﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Negocio;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_NgBandejaOportunidad;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/negocio.css" rel="stylesheet"/>

<!----------------- Comienza el Contenido ------------------>
<div id="divAlert" class="alert-edit col-md-12"></div>
<br />
<div class="" id="idNgBandejaOportunidad" ng-app="app.Negocio" ng-controller="NgBandejaOportunidadesController as vm">
    <!----------- Panel  ------------>
    <section class="panel">
        <header class="panel-heading">
            <i class="fa fa-chevron-circle-down"></i>
            Filtrar Relacion
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <form class="col-md-12" role="form">
                    <input type="hidden" id="gics" value="@Html.Raw(ViewBag.vbOptionGics)" />
                    <div class="form-group col-md-2">
                        <label class="control-label" for="PER" >Codigo PER</label>
                        <div class="input-group">
                            <input id="PER" class="form-control" type="text" ng-model="vm.PER" ng-change="vm.CambioPER()" placeholder="PER-XXXXXX" />
                        </div>
                    </div>

                    <div class="form-group col-md-4 Cliente">
                        <label class="control-label" for="Cliente">Cliente:</label>
                        <div class="input-group">
                            <input id="Cliente" class="form-control" ng-model="vm.Cliente" type="text"/>
                        </div>
                    </div>

                    <div class="form-group col-md-2 col-md-offset-2">
                        <label class="control-label" for="RUC">RUC:</label>
                        <div class="input-group">
                            <input id="RUC" class="form-control"  ng-model="vm.RUC" type="text"/>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label class="control-label" for="CodCliente">Cod Cliente:</label>
                        <div class="input-group">
                            <input id="CodCliente" class="form-control"  ng-model="vm.CodCliente" type="text"/>
                        </div>
                    </div>

                </form>
            </div>
            <div class="row">
                <form class="col-md-12" role="form">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="Sisego">SISEGO</label>
                        <div class="input-group">
                            <input id="Sisego" class="form-control"  ng-model="vm.Sisego" type="text"/>
                        </div>               
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="Etapa">Etapa</label>
                        <select class="form-control"
                                ng-change="vm.BuscarEtapaRPA()"
                                ng-model="vm.EtapaRPA"
                                ng-options="item.Codigo as item.Descripcion for item in vm.ListaEtapasRPA" ng-cloak></select>
                    </div>
                    
                    <div class="form-group col-md-2">
                        <label class="control-label" for="EstadoRPA">Estado RPA</label>
                        <select class="form-control"
                                ng-change="vm.BuscarEstadoRPA()"
                                ng-model="vm.EstadoRPA"
                                ng-options="item.Codigo as item.Descripcion for item in vm.ListaEstadosRPA" ng-cloak></select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="FInicio">F. Inicio</label>
                        <div class="input-group">
                            <input id="FInicio" class="form-control" type="text"  data-date-time-picker ng-model="vm.FechaInicio"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="FFin">F. Fin</label>
                        <div class="input-group">
                            <input id="FFin" class="form-control" type="text" data-date-time-picker ng-model="vm.FechaFin" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="Manipulado">Manipulado</label>
                        <div class="input-group">
                            <select id="Manipulado" class="form-control" ng-model="vm.Manipulado" type="text">
                                <option class="option-0">--Seleccione--</option>
                                <option class="option-1">Todos</option>
                                <option class="option-2">Usuario</option>
                                <option class="option-3">Robot</option>
                            </select>
                        </div>                    
                    </div>
                </form>
            </div>
            <br />                    
            <div class="row">
                <div class="text-right col-md-4 col-md-offset-8">
                    <a id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" href="{{vm.Nuevo}}0" ng-hide="">Nueva Ficha</a>
                    <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.BuscarOportunidad()">Buscar</button>
                    @*<a id="btnNueva" class="btn btn-primary btn-primary-tgestiona" href="{{vm.ProcesarOportunidad}}0" ng-hide="">Procesar</a>*@
                </div>
            </div>
        </div>
    </section>

    <!----------- Panel Inferior ------------>
    <section class="panel">
        <header class="panel-heading">
            <i class="fa fa-chevron-circle-down"> </i>
            Bandeja de Atencion
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <table id="tbNgOportunidades" datatable="" dt-options="vm.dtOptionsNgOportunidades" dt-columns="vm.dtColumnsNgOportunidades"
                       class="ui compact striped celled table"
                       dt-instance="vm.dtInstanceNgOportunidades" style="width:100%;">
                    <thead class="cf">
                </table>
            </div>
            <br /> 
           
        </div>
    </section>

</div>

<!----------------- Finaliza el Contenido ------------------>

@section scripts{

    @Scripts.Render("~/bundles/app/BandejaOportunidades/js")
    @Scripts.Render("~/bundles/app/Comun/Maestra/js")
        
}