﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.PlantaExterna;
@{
    ViewBag.Area = Titulos.TituloArea;
    ViewBag.Opcion = Titulos.Configuraciones;
    ViewBag.Title = Titulos.NoPeps;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.PlantaExterna" block-ui="main">
</body>
<div id="IdBandejaPepsController" ng-app="app.PlantaExterna" ng-controller="BandejaNoPepsController as vm">

    <div id="frmNoPeps" class="content-page">
        <div class="row">
            <div id="divAlertMaestro" class="alert-edit col-md-12"></div>
        </div>

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">



                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Serie Pep:</label>
                            <div class="col-md-8">
                                <input id="BPeps" class="form-control" ng-model="vm.CodigoPep" placeholder="Serie Pep" autocomplete="off" type="text" maxlength="24" step="any" ng-keypress="$event.keyCode === 13 && vm.BuscarNoPeps()">
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">



                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-right">

                            <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.CargaModalPepReg()">
                                <span class="glyphicon glyphicon-new-window"></span> Nuevo
                            </a>

                            <a class="btn btn-primary" ng-click="vm.BuscarNoPeps()">
                                <span class="glyphicon glyphicon-new-search"></span> Filtrar
                            </a>

                            <a class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                                <span class="glyphicon glyphicon-new-erase"></span> Limpiar
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <br />

        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                Lsta de Peps Excluidas
            </header>
            <div class="panel-body">
                <input type="text" id="vSId" ng-model="vm.vSId" style="visibility:hidden;display:none" />
                <div class="dv-table">

                    <div class="table-responsive">

                        <table id="tbInstanceNoPeps" datatable="" dt-options="vm.dtOptionsNoPeps" dt-columns="vm.dtColumnsNoPeps"
                               class="display table table-bordered table-striped"
                               dt-instance="vm.dtInstanceNoPeps" style="width:100%;" dt-column-defs="vm.dtColumnDefs">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </div>
        </section>


    </div>

</div>

<!-- Modal-->
<div class="modal fade" id="ModalNoPeps" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-contentTgestiona">
            <div class="modal-header modalheaderTgestiona">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">Registros de Codigo NoPeps</p>

            </div>
            <div id="ContenidoNoPeps" class="modal-body">

            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/app/PlantaExterna/BandejaNoPeps/js");

}