﻿<div id="IdEstudiosController" ng-app="app.Oportunidad" ng-controller="BandejaEstudios as vm">
    <input ng-model="vm.IdOportunidad" style="display:none" ng-cloak>
    <br />
    <section class="panel">
        <header class="panel-heading">
            Lista de Estudios
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <!--Inicio alerta-->
            <div class="row">
                <div id="divAlerta" class="alert-edit"></div>
            </div>
            <!--Fin alerta-->
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstance" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
    <!--Inicio Modal-->
    <div class="container">
        <div id="ModalRegistrarEstudios" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ vm.TituloModal }}</h4>
                    </div>
                    <div id="ContenidoEstudios" class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Modal-->
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/oportunidad/js")
    @Scripts.Render("~/bundles/app/oportunidad/bandejaContacto/js")
}