﻿@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container" ng-app="app.Seguridad" ng-controller="CambioClaveController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="divAlert" class="alert-edit"></div>
    </div>
    <section class="panel">
        
        <div class="panel-body">
            <div class="form-horizontal col-md-12">


                <div class="form-group">
                    <label for="cambioNomUsuario" class="col-md-4 control-label">Usuario</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="vm.TxtUsuario">
                    </div>
                </div>

                <div class="form-group">
                    <label for="cambioAntiguaContrasena" class="col-md-4 control-label">Antigua contraseña</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" ng-model="vm.TxtClave">
                    </div>
                </div>

                <div class="form-group">
                    <label for="cambioNuevaContrasena" class="col-md-4 control-label">Nueva contraseña</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" ng-model="vm.TxtNuevaClave">
                    </div>
                </div>

                <div class="form-group">
                    <label for="ConfirmarContrasena" class="col-md-4 control-label">Confirmar contraseña</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" ng-model="vm.TxtConfirmarClave">
                    </div>
                </div>

                <div style="" class="form-group">
                    <div class="modal-footer">
                        <span class="pull-right">
                            <button type="submit" ng-click="vm.CambioClave()" class="btn btn-primary  ">
                                <span class="glyphicon glyphicon-ok"></span> Cambiar clave
                            </button>&nbsp;

                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Login", new { })'">
                                <span class="glyphicon glyphicon-ok icon-hand-left"></span> Regresar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


@section scripts{
    @Scripts.Render("~/bundles/app/seguridad/cambioclave/js")
}
