﻿<div id="IdRegistrarComponenteController" ng-controller="RegistrarComponenteController as vm">
    <br />

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div id="lblAlerta_FlujoCaja" class="alert-edit col-md-12"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Servicio:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdFlujoCaja"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListServicio" ng-cloak></select>
                </div>
                <label class="control-label col-md-2">Tipo Costo:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipoCosto"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoCosto " ng-cloak></select>
                </div>
               

            </div>
        </div>
    </div>
    <br />


    <div class="row">
        <div class="col-md-12">

            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Clasificación:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdGrupo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListGrupo" ng-change="vm.CargarComponente()"  ng-cloak></select>
                </div>
                <label class="control-label col-md-2">Componente:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdSubServicio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListSubServicio" ng-cloak></select>
                </div>

              
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Moneda:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdMoneda"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListMoneda" ng-cloak></select>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12 text-right">


                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarComponente()"> Grabar</a>

            </div>
        </div>
    </div>
</div>



    @section scripts{
<script src="~/Scripts/app/Oportunidad/RegistrarComponente/RegistrarComponente.controller.js"></script>

<script src="~/Scripts/app/Oportunidad/RegistrarComponente/RegistrarComponente.service.js"></script>
    }
