﻿<div id="IdCargaExcelDatosPreventaMovilController" ng-controller="CargaExcelDatosPreventaMovil as vm">
    <!-- Datos content -->
    <div class="row">
        <div id="divAlert" class="alert-edit col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <div id="divAlert" class="alert-edit col-md-12"></div>
                        <label class="col-lg-2 col-form-label col-form-label-lg" for="inpArchivoZip">Adjuntar Archivo:</label>
                        <div class="col-lg-10">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control input-lg" ng-model="vm.TxtArchivos[0].name" id="NombreArchivo" placeholder="Seleccione un archivo Excel ..."  onclick="document.getElementById('TxtArchivos').click()"/>
                                <input type="text" ng-model="vm.ExtencionArchivo" id="ExtencionArchivo" style="display:none" />
                                <span class="input-group-btn">
                                    <button id="lbtnBuscarComprimido"  onclick="document.getElementById('TxtArchivos').click()"
                                            class="btn btn-primary">
                                        <span class="fa fa-search"></span>
                                        Buscar
                                    </button>
                                </span>
                            </div>
                            @*<p class="no-margin text-muted">
                                <small>
                                    <label id="lblMensaje" ng-model="vm.TxtArchivos">
                                        {{vm.CargaMensaje}}
                                    </label>
                                </small>
                            </p>*@
                            <input id="TxtArchivos" class="filestyle" data-buttonName="btn-primary" data-buttonText="&nbsp; Adjuntar" type="file" upload-files="vm.TxtArchivos" style="display:none" />
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">

                <div class="modal-footer">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.CargarOportunidadesVenta()"> Aceptar</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

    </script>
}

