﻿@using Tgs.SDIO.Util.Web.Compra;
@{
    ViewBag.Area = Titulos.Titulo_AreaPrePeticion;
    ViewBag.Title = Titulos.Titulo_ContenedorPrePeticion;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="idBandejaProyecto" ng-app="app.Compra" ng-controller="PrePeticionCompraController as vm">
    <!-- Start content -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Pre Peticiones
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbBandeja"></a>
                    </span>
                </header>

                <div class="panel-body">
                    <div class="form-group row" id="pnbBandeja">
                        <div class="col-sm-3 pull-right">
                            <span class="input-group-btn">
                                <a class="btn btn-primary" ng-click="vm.EditarPrePeticion(0)">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Agregar Pre Petición
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="tblPrePeticionCompra" datatable="" dt-options="vm.dtOptionsPrePeticionCabecera"
                               dt-columns="vm.dtColumnsPrePeticionCabecera"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstancePrePeticionCabecera" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="content">
        <div class="container">
        </div>
        <!-- content -->
    </div>
</div>
<script>
        var IdProyecto = '@ViewBag.IdProyecto'
        var IdDetalleFinanciero = '@ViewBag.IdDetalleFinanciero'
        var IdCabecera = 0;
        var MostrarBusquedaPrePeticion = 0;
</script>
@section scripts{
@Scripts.Render("~/bundles/app/base/js")
@Scripts.Render("~/bundles/app/comun/js")
<script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
<script src="~/Scripts/app/Comun/Recurso/Recurso.service.js"></script>
<script src="~/Scripts/app/Comun/Proveedor/Proveedor.service.js"></script>
<script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>
@Styles.Render("~/bundles/Assets/css")
@Styles.Render("~/bundles/bootstrap/Master/css")
@Scripts.Render("~/bundles/app/Compra/Modulo/js")
@Scripts.Render("~/bundles/app/Proyecto/Registro/js")

@Scripts.Render("~/bundles/app/Compra/PrePeticionCompra/js")
@Scripts.Render("~/bundles/app/Compra/BuscadoresPeticionCompra/js")
@Scripts.Render("~/bundles/app/Compra/DetallePrePeticionCompra/js")
@Scripts.Render("~/bundles/app/Compra/DetallePrePeticionCompraOrdinaria/js")
@Scripts.Render("~/bundles/app/Compra/ClienteProveedor/js")
@Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")
}





