﻿
@{
    ViewBag.Title = "ModalBuscarPrePeticion";
    Layout = null;
}


<div id="idBandejaProyecto" ng-app="app.Compra" ng-controller="PrePeticionCompraController as vm">
    <!-- Start content -->
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbFiltros"></a>
                    </span>
                </header>
                <div id="pnbFiltros" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Proyecto:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="CodigoCompra" ng-model="vm.FiltrosPreCompra.DescripcionProyecto" placeholder="Descripción del proyecto" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Precompra:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="CodigoCompra" ng-model="vm.FiltrosPreCompra.DescripcionPrePeticion" placeholder="Descripción de Pre-Compra" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">CMI:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="CodigoCompra" ng-model="vm.FiltrosPreCompra.CMI" placeholder="Descripción de CMI" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.BuscarPrePeticion()">
                                    <i class="glyphicon glyphicon-search"></i> Filtrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Proyectos
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tblPrePeticionCompra" datatable="" dt-options="vm.dtOptionsPrePeticion" 
                               dt-columns="vm.dtColumnsPrePeticion"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstancePrePeticion" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="content">
        <div class="container">
        </div>
        <!-- content -->
    </div>
</div>
@section scripts{
    <link href="~/Content/morris.css" rel="stylesheet" />
    <script src="~/Content/morris.min.js"></script>
    <script src="~/Content/raphael-min.js"></script>
    <script>var jsonListCliente= @Html.Raw(Json.Encode(ViewBag.vbListCliente));</script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")
    <script src="~/Scripts/app/Proyecto/Proyecto.module.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    @Scripts.Render("~/bundles/app/Compra/Bandeja/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")
    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>
    <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>
}


