﻿@using Tgs.SDIO.Util.Web.Compra;
@{
    ViewBag.Area = Titulos.Titulo_AreaPrePeticion;
    ViewBag.Title = ViewBag.IdCabecera == 0 ? Titulos.Titulo_RegistroPrePeticionCompra : Titulos.Titulo_EdicionPrePeticionCompra;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .hiddencol {
        display: none;
    }
</style>
<div id="idGestionController" ng-app="app.Compra" ng-controller="PrePeticionCompraController as vm">
    <div class="modal fade" id="IdClienteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Seleccione Cliente</h4>
                </div>
                <div class="modal-body">
                    <section class="panel">
                        <header class="panel-heading-modal">
                            <i class="fa fa-chevron-circle-down"> </i>
                            DATOS DE CLIENTE
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbCliente"></a>
                            </span>
                        </header>
                        <div id="pnbCliente" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">RUC:</label>
                                    <div class="col-md-3">
                                        <input class="form-control" ng-model="vm.Filtros.Ruc" placeholder="RUC" autocomplete="off" step="any" type="number">
                                    </div>
                                    <label class="col-form-label col-md-2">Razón Social: </label>
                                    <div class="col-md-4">
                                        <input class="form-control" ng-model="vm.Filtros.RazonSocial" placeholder="Razón Social" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.Buscar()"><span class='glyphicon glyphicon-search'></span> Buscar</a>
                                        <button id="btnLimpiar" class="btn btn-primary" type="reset" ng-click="vm.LimpiarFiltros()">
                                            <span class="glyphicon glyphicon-erase" />
                                            Limpiar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="panel">
                        <header class="panel-heading-modal">
                            <i class="fa fa-chevron-circle-down"> </i>
                            RESULTADO DE CLIENTE
                        </header>
                        <div class="panel-body">
                            <section id="dv-table">
                                <div>
                                    <table id="tbCliente" datatable="datatable" dt-options="vm.dtOptionsCliente" dt-columns="vm.dtColumnsCliente"
                                           class="ui compact selectable striped celled table"
                                           dt-instance="vm.dtInstanceCliente" style="width:100%;">
                                        <thead class="cf">
                                    </table>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="IdProveedorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-left:170px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Seleccione Proveedor</h4>
                </div>
                <div class="modal-body">
                    <section class="panel">
                        <header class="panel-heading-modal">
                            <i class="fa fa-chevron-circle-down"> </i>
                            DATOS DE PROVEEDOR
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbCliente"></a>
                            </span>
                        </header>
                        <div id="pnbCliente" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">RUC:</label>
                                    <div class="col-md-3">
                                        <input class="form-control" ng-model="vm.Filtros.Ruc" placeholder="RUC" autocomplete="off" step="any" type="number">
                                    </div>
                                    <label class="col-form-label col-md-2">Razón Social: </label>
                                    <div class="col-md-4">
                                        <input class="form-control" ng-model="vm.Filtros.RazonSocial" placeholder="Razón Social" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.BuscarProveedor()"><span class='glyphicon glyphicon-search'></span> Buscar</a>
                                        <button id="btnLimpiar" class="btn btn-primary" type="reset" ng-click="vm.LimpiarFiltrosProveedor()">
                                            <span class="glyphicon glyphicon-erase" />
                                            Limpiar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="panel">
                        <header class="panel-heading-modal">
                            <i class="fa fa-chevron-circle-down"> </i>
                            RESULTADO DE PROVEEDOR
                        </header>
                        <div class="panel-body">
                            <section id="dv-table">
                                <div>
                                    <table id="tbProveedor" datatable="datatable" dt-options="vm.dtOptionsProveedor" dt-columns="vm.dtColumnsProveedor"
                                           class="ui compact selectable striped celled table"
                                           dt-instance="vm.dtInstanceProveedor" style="width:100%;">
                                        <thead class="cf">
                                    </table>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade " id="IdDetallePrePeticionCompra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:900px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">Detalle Pre-Petición Compra</p>
                </div>
                <div id="DetalleContenidoPrePeticionCompra" class="modal-body modal-bodyTgestiona" style="font-size:9pt; overflow-x: scroll; height:500px;">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalCompraContratoMarco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-left:-170px">
        <div class="modal-dialog">
            <div class="modal-content" style="width:1050px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">BUSCAR CONTRATO MARCO</p>
                </div>
                <div id="ContenidoCompraContratoMarco" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <div id="lblAlerta_PrePeticionCompra" class="alert-edit"></div>
            <section class="panel">
                <div class="panel-group">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        INFORMACIÓN PRE-PETICIÓN
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse1"></a>
                        </span>
                    </header>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tipo:</label>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <select id="cboTipo" class="form-control"
                                                    ng-model="vm.PrePeticionCompra.Tipo" ng-change="vm.ListarPrePeticionDetalle();"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListarTipoCompra"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Cliente:</label>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <input type="hidden" ng-model="vm.PrePeticionCompra.IdCliente" />
                                            <input type="text" class="form-control" id="txtCliente"
                                                   ng-model="vm.ClienteSeleccionado.RazonSocialCliente" readonly />

                                        </div>
                                    </div>
                                    <label class="col-sm-1 col-form-label">Sector:</label>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtSector" readonly
                                                   ng-model="vm.ClienteSeleccionado.Sector" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Lider de Proyecto:</label>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtLiderProyecto" readonly
                                                   ng-model="vm.Proyecto.NombreLiderProyecto" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Descripción del Proyecto:</label>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtDescripcionProyecto" readonly
                                                   ng-model="vm.Proyecto.Descripcion" />
                                        </div>
                                    </div>
                                    <label class="col-sm-1 col-form-label">Jefe de Proyecto:</label>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtJefeProyecto" readonly
                                                   ng-model="vm.Proyecto.NombreJefeProyecto" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Código PMO:</label>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtGerenteCuenta" readonly
                                                   ng-model="vm.ClienteSeleccionado.x" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Gerente de Cuenta:</label>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtGerenteCuenta" readonly
                                                   ng-model="vm.ClienteSeleccionado.GerenteComercial" />
                                        </div>
                                    </div>
                                    <label class="col-sm-1 col-form-label">Ing Preventa:</label>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtIngPreVenta" readonly
                                                   ng-model="vm.Proyecto.NombreIngPreVenta" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Fecha Inicio Proyecto:</label>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="date" class="form-control" id="txtFechaInicioProyecto" ng-model="vm.PrePeticionCompra.FechaInicioProyecto" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        DETALLE PRE-PETICIÓN
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse2"></a>
                        </span>
                    </header>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-2 pull-right">
                                    <span class="input-group-btn">
                                        <a class="btn btn-primary" ng-click="vm.EditarDetalle(0, 1)">
                                            <span class="glyphicon glyphicon-plus-sign"></span> Agregar Detalle
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div ng-show="vm.PrePeticionCompra.Tipo == 2">
                                            <table id="tbDCM" datatable="datatable" dt-options="vm.dtOptionsDCM" dt-columns="vm.dtColumnsDCM"
                                                   class="ui compact selectable striped celled table"
                                                   dt-instance="vm.dtInstanceDCM" style="width:100%;">
                                                <thead class="cf">
                                            </table>
                                        </div>

                                        <div ng-show="vm.PrePeticionCompra.Tipo == 3">
                                            <table id="tbOrdinaria" datatable="datatable" dt-options="vm.dtOptionsOrdinaria" dt-columns="vm.dtColumnsOrdinaria"
                                                   class="ui compact selectable striped celled table"
                                                   dt-instance="vm.dtInstanceOrdinaria" style="width:100%;">
                                                <thead class="cf">
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 pull-right">
            <button type="button" class="btn btn-success btn-sm" ng-click="vm.EditarDetalle(0, 0)"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        </div>
    </div>
    <script>
        var IdCabecera = '@ViewBag.IdCabecera'
        var IdProyecto = '@ViewBag.IdProyecto'
        var IdDetalleFinanciero = '@ViewBag.IdDetalleFinanciero'
        var MostrarBusquedaPrePeticion = 0;
    </script>
</div>
@Scripts.Render("~/bundles/app/base/js")
@Scripts.Render("~/bundles/app/comun/js")
<script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
<script src="~/Scripts/app/Comun/Recurso/Recurso.service.js"></script>
<script src="~/Scripts/app/Comun/Proveedor/Proveedor.service.js"></script>
<script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>
@Styles.Render("~/bundles/Assets/css")
@Styles.Render("~/bundles/bootstrap/Master/css")
@Scripts.Render("~/bundles/app/Compra/Modulo/js")
@Scripts.Render("~/bundles/app/Proyecto/Registro/js")

@Scripts.Render("~/bundles/app/Compra/PrePeticionCompra/js")
@Scripts.Render("~/bundles/app/Compra/BuscadoresPeticionCompra/js")
@Scripts.Render("~/bundles/app/Compra/DetallePrePeticionCompra/js")
@Scripts.Render("~/bundles/app/Compra/DetallePrePeticionCompraOrdinaria/js")
@Scripts.Render("~/bundles/app/Compra/ClienteProveedor/js")
@Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")


