﻿
@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Reporte Estatus Recupero Carta Fianza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.CartaFianza" block-ui="main">
</body>

<div ng-app="app.CartaFianza" ng-controller="ReporteEstatusRecuperoCartaFianzaController as vm">

    <div class="content-page">
        <div class="row">
            <div id="divAlerta" class="alert-edit col-md-12"></div>
        </div>

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <form name="formularioBusqueda" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Fecha Inicio:</label>
                                <div class="col-md-8">
                                    <input type="month" id="FechaInicio" class="form-control" ng-model="vm.search.FechaInicio" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Fecha Fin:</label>
                                <div class="col-md-8">
                                    <input type="month" id="FechaFin" class="form-control" ng-model="vm.search.FechaFin" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Fecha Vencimiento:</label>
                                <div class="col-md-8">
                                    <input type="date" id="FechaVencimiento" class="form-control" ng-model="vm.search.FechaVencimiento">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Cliente:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="vm.search.Cliente"
                                           data-animation="am-flip-x" data-trim-value="false" ng-trim="false"
                                           bs-options="items as items.Descripcion for items in vm.CargarCliente($viewValue)"
                                           placeholder="Ingrese el nombre del cliente" bs-typeahead>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Banco:</label>
                                <div class="col-md-8">
                                    <select id="IdBanco" class="form-control"
                                            ng-model="vm.search.IdBanco"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListEntidadBancaria" ng-disabled="ActivarPanel"></select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary" ng-click="vm.BuscarReporteEstatusRecupero()">
                                <span class="glyphicon glyphicon-new-search"></span> Filtrar
                            </button>
                            <button class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                                <span class="glyphicon glyphicon-new-erase"></span> Limpiar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <br />

        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                Status de Recupero
            </header>
            <div class="panel-body">
                <div class="dv-table">
                    <div class="table-responsive">
                        <iframe id="FReporte" width="100%" name="FReporte" frameborder="0" scrolling="yes"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/app/CartaFianza/ReporteEstatusRecuperoCartaFianza/js");
}

