﻿@using Tgs.SDIO.Util.Web.Funnel;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_Oportunidades;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}

<div id="IdRptLineaNegocio" ng-app="app.Funnel" ng-controller="RptOportunidadesPorLineaNegocioController as vm">
    <div ng-init="vm.BuscarOportunidades()"> </div>
    <div id="divAlertRegistro"></div>
    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    @Titulos.Titulo_Oportunidades
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstance" style="width:150%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">

    function SeleccionarLineaNegocio(nivel, IdLineaNegocio, desplegado) {
        var scope = angular.element(document.getElementById("IdRptLineaNegocio")).scope();
        scope.vm.SeleccionarLineaNegocio(nivel, IdLineaNegocio, desplegado);
        scope.$apply();
    }

    function SeleccionarCliente(nivel, IdLineaNegocio, IdCliente, desplegado) {
        var scope = angular.element(document.getElementById("IdRptLineaNegocio")).scope();
        scope.vm.SeleccionarCliente(nivel, IdLineaNegocio, IdCliente, desplegado);
        scope.$apply();
    }

    function SeleccionarOportunidad(nivel, IdLineaNegocio, IdCliente, IdOportunidad, desplegado) {
        var scope = angular.element(document.getElementById("IdRptLineaNegocio")).scope();
        scope.vm.SeleccionarOportunidad(nivel, IdLineaNegocio, IdCliente, IdOportunidad, desplegado);
        scope.$apply();
    }

    function SeleccionarOferta(nivel, IdLineaNegocio, IdCliente, IdOportunidad, NumeroCaso, desplegado) {
        var scope = angular.element(document.getElementById("IdRptLineaNegocio")).scope();
        scope.vm.SeleccionarOferta(nivel, IdLineaNegocio, IdCliente, IdOportunidad, NumeroCaso, desplegado);
        scope.$apply();
    }

</script>

@section scripts{
    @Scripts.Render("~/bundles/app/funnel/RptOportunidadesPorLineaNegocio/js")

}

