﻿@using Scripts = System.Web.Optimization.Scripts
<div id="IdEstudiosEspecialesController" ng-app="app.Oportunidad" ng-controller="EstudiosEspecialesController as vm">

    <!-- Alert -->
   
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="row">
                <div id="lblAlerta_EstudiosEspecialesModal"></div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtCruceEEsp" ng-model="vm.SubServicio" disabled="disabled" class="form-control" autocomplete="off" />
                </div>
                <label class="control-label col-md-2">Tipo :</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-cloak ng-change="vm.CantidadEstudioEsp();"></select>
                </div>
            </div>
            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceEEsp" ng-model="vm.Cruce" disabled="disabled" class="form-control" autocomplete="off" />
                </div>


                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoEEsp" ng-model="vm.AEReducido" disabled="disabled" class="form-control" autocomplete="off" />
                </div>
             
            </div>*@
            <div class="form-group col-md-12">

                <label class="col-md-2 control-label">Circuito</label>
                <div class="col-md-4">
                    <input id="txtCircuitoEEsp" ng-model="vm.Circuito" class="form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">SISEGO</label>
                <div class="col-md-4">
                    <input id="txtSisegoEEsp" ng-model="vm.Sisego" class="form-control" autocomplete="off" ng-change="vm.CantidadEstudioEsp();" />
                </div>
              
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadEEsp" ng-model="vm.Antiguedad" class="form-control" autocomplete="off" ng-change="vm.CantidadEstudiosEspecialesComplete();" />
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadEEsp" ng-model="vm.Cantidad" ng-disabled="true" type="text" class="form-control" ng-change="vm.CantidadEstudiosEspecialesComplete();" />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Antiguo (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCUAntiguoEEsp" ng-model="vm.CuAntiguo" class="form-control" autocomplete="off" ng-change="vm.CantidadEstudiosEspecialesComplete();" />
                </div>
                <label class="col-md-2 control-label">Valor Residual (S/.)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualEEsp" ng-model="vm.ValorResidual" type="text" disabled="disabled" class="form-control" />
                </div>
             
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCUEEsp" class="form-control" ng-model="vm.CuSoles" autocomplete="off" ng-change="vm.CantidadEstudiosEspecialesComplete();" />
                </div>
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresEEsp" type="text" ng-model="vm.CapexDolares" disabled="disabled" class="form-control" />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesEEsp" class="form-control" ng-model="vm.CapexSoles" disabled="disabled" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexEEsp" type="text" disabled="disabled" ng-model="vm.TotalCapex" class="form-control" />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoEEsp" class="form-control" ng-model="vm.MesRq" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoEEsp" type="text" ng-model="vm.MesComprometido" class="form-control" />
                </div>
            
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtMesCertificadoEEsp" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>
            </div>
           
            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnEstudiosEspeciales" type="button" ng-click="vm.GrabarEstudiosEspeciales()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarEstudiosEspeciales()">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/estudiosEspeciales/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}