﻿<div id="IdObservacionController" ng-controller="ObservacionController as vm">
    <section class="panel">
        <header class="panel-heading">
            Observaciones
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div id="alertObservacion" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-label">Responsable:</label>
                    <label class="col-md-2 control-label" ng-view="vm.Responsable"></label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Descripción:</label>
                <div class="col-md-4">
                    <textarea id="txtDescripcion" class="form-control" ng-model="vm.Descripcion"> </textarea>
                </div>
                <label class="col-md-2 control-label">Estado:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdEstado"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListEstado" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-label">Asignado:</label>
                    <label class="col-md-2 control-label" ng-view="vm.Asignado"></label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Comentario:</label>
                <div class="col-md-4">
                    <textarea id="txtComentario" class="form-control" ng-model="vm.Comentario"> </textarea>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnGrabar" type="button" ng-click="vm.GrabarObservacion()">Grabar</button>
                </div>
            </div>
        </div>
    </section>
</div>

    @section scripts{
        @Scripts.Render("~/bundles/app/Observaciones/js")
        <script>
            var jsonSolicitud= @Html.Raw(Json.Encode(ViewBag.ObjSolicitudCapex));
            var jsonObservacion= @Html.Raw(Json.Encode(ViewBag.Observacion));
        </script>
    }
