﻿
<div id="idBandejaOportunidad" ng-controller="RegistrarSolicitudController as vm">

    <div class="row">
        <div class="col-sm-12">

            <section class="panel">
                <header class="panel-heading">
                    Datos del Proyecto
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div id="alertSolicitud" class="alert-edit"></div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label">Código Salesforce</label>
                            <div class="col-md-4">
                                <input id="IdCodigoSalesForce" type="text" class="form-control" ng-model="vm.IdProyectoSF" ng-change="vm.CargarProyectos()"
                                       data-animation="am-flip-x" data-trim-value="false" ng-trim="false"
                                       bs-options="items.IdProyectoSF as items.IdProyectoSF for items in vm.proyectos"
                                       placeholder="Código SalesForce" bs-typeahead>
                                @*<select id="IdCodigoSalesForce" class="form-control" ng-model="vm.IdProyectoSF"
                                    ng-options="item.IdProyectoSF as item.IdProyectoSF for item in vm.proyectos" ng-change="vm.CargarProyectos()"></select>*@
                            </div>
                            <label class="col-md-2 control-label">Código Pmo</label>
                            <div class="col-md-4">
                                <input id="txtCodigoPmo" class="form-control" disabled ng-model="vm.CodigoPmo" />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label">Proyecto</label>
                            <div class="col-md-4">
                                <input id="txtProyecto" class="form-control" disabled ng-model="vm.Proyecto" />
                            </div>
                            <label class="col-md-2 control-label">Cliente</label>
                            <div class="col-md-4">
                                <input id="txtCliente" class="form-control" disabled ng-model="vm.Cliente" />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label">Tipo Entidad</label>
                            <div class="col-md-4">
                                <input id="txtEntidad" class="form-control" disabled ng-model="vm.Entidad" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    General Proyecto
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="compose-mail">
                            <div class="compose-editor">
                                <textarea id="GeneralProyecto" class="form-control texto-enriquecido" ng-model="vm.GeneralProyecto"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Resumen de la Solicitud
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="compose-mail">
                            <div class="compose-editor">
                                <textarea id="ResumenSolicitud" class="form-control texto-enriquecido" ng-model="vm.ResumenSolicitud"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Que se obtendra con la solicitud
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="compose-mail">
                            <div class="compose-editor">
                                <textarea id="ObtendraSolicitud" class="form-control texto-enriquecido" ng-model="vm.ObtendraSolicitud"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Sustento Cuantitativo
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="compose-mail">
                            <div class="compose-editor">
                                <textarea id="SustentoCuantitativo" class="form-control texto-enriquecido" ng-model="vm.SustentoCuantitativo"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Sustento Cualitativo
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="compose-mail">
                            <div class="compose-editor">
                                <textarea id="SustentoCualitativo" class="form-control texto-enriquecido" ng-model="vm.SustentoCualitativo"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-block btn-group-sm" id="btnGrabar" type="button" ng-click="vm.RegistrarSolicitud()">Grabar</button>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section id="sectionIndicadores" class="panel" ng-hide=vm.TabIndicadores>
                <header class="panel-heading">
                    Indicadores
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Linea :</label>
                        <div class="col-md-4">
                            <select id="" class="form-control"
                                    ng-model="vm.IdCapexLineaNegocio"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListCapexLinea" ng-cloak ng-change="vm.CantidadEstudioEsp();"></select>
                        </div>
                        <label class="control-label col-md-2">Fc :</label>
                        <div class="col-md-4">
                            <input id="txtFc" class="form-control" ng-model="vm.Fc" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Van :</label>
                        <div class="col-md-4">
                            <input id="txtVan" class="form-control" ng-model="vm.Van" />
                        </div>
                        <label class="control-label col-md-2">PayBack :</label>
                        <div class="col-md-4">
                            <input id="txtPayBack" class="form-control" ng-model="vm.PayBack" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-sm" id="btnGrabar" type="button" ng-click="vm.ActualizarCapex()">Grabar</button>
                        </div>
                    </div>

                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table id="tbIndicadores" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                    <div id="Producto" class="col-md-12">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-block btn-group-sm" id="btnEstadoProducto" type="button" ng-click="vm.GrabaEstado()">Envio a Producto</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>