﻿@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaCasoNegocio;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Comun" block-ui="main">
</body>
<div id="IdCasoNegocioController" ng-app="app.Comun" ng-controller="CasoNegocioController as vm">

    <div id="frmBandejaCasoNegocio" class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">

                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Descripción:</label>
                                <div class="col-md-4">
                                    <input id="id" class="form-control" ng-model="vm.Descripcion" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                </div>
                                <label class="control-label col-md-2">Linea de Negocio: </label>
                                <div class="col-md-4">
                                    <select id="" class="form-control"
                                            ng-model="vm.IdLineaNegocioBandeja"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row action">
                        <div class="col-sm-12 text-right">
                           
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarCasoNegocio()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </section>


            <br />
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Configuración - Servicios
                </header>
                <div class="panel-body">
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.CargaModalCasoNegocio()">
                            Nuevo
                        </button>
                    </span>
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table id="tbEstudiosEspeciales" datatable="" dt-options="vm.dtOptionsCasoNegocio" dt-columns="vm.dtColumnsCasoNegocio"
                                   class="table order-column"
                                   dt-instance="vm.dtInstanceCasoNegocio" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>

        </div>
        
    </div>
    
</div>

<!-- Modal-->
<div class="modal fade" id="ModalCasoNegocio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-contentTgestiona">
            <div class="modal-header modalheaderTgestiona">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">Registros de Caso de Negocio</p>

            </div>
            <div id="ContenidoCasoNegocio" class="modal-body">

            </div>
        </div>
    </div>
</div>




@section scripts{

    @Scripts.Render("~/bundles/app/comun/casonegocio/js");




}
