﻿@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="ajustepantalla ng-scope" ng-app="app.Seguridad" ng-controller="LoginController as vmc">

    <div class="form-body">
        <div class="website-logo animated  zoomIn">
            <a href="#">
                <div class="logo">
                    <img class="logo-size" src="~/Content/login/images/company_logo.png" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder  animated  zoomIn">
                <div class="bg"></div>
                <div class="info-holder">

                </div>
            </div>
            <div class="form-holder  animated  fadeInRight">
                <div class="form-content">
                    <div class="form-items" style="margin-top:100px">
                        <h4 class="header-title m-t-0" style="color: #fff;">Sistema de la Dirección de Ingeniería y Operaciones </h4>
                        @*<h3>Bienvenido</h3>*@
                        @* <p>Ingrese Usuario y Contraseña</p>*@
                        <div class="page-links">
                            <div id="divAlert"> </div>
                        </div>
                        <form class="login-form pull-right ng-valid ng-valid-maxlength ng-dirty ng-valid-parse">
                            <input class="form-control" ng-valid ng-valid-maxlength ng-dirty ng-valid-parse ng-touched" autocomplete="off" ng-model="vmc.TxtUsuario" ng-blur="vmc.CompletarCip()" maxlength="30" name="username" placeholder="Ingrese su usuario">

                            <input type="password" autocomplete="off" ng-model="vmc.TxtClave" ng-keydown="$event.keyCode === 13 && vmc.Login()" class="form-control" placeholder="Ingrese su contraseña">

                            <div class="form-button">

                                <button type="submit" ng-click="vmc.Login()" class="btn btn-primary" style=" background-color :#003245;">Ingresar</button>
                                <br />
                                <p style="margin-top:15px;">
                                    <label class="label-control" ng-click="vmc.CargaModalOlvidoClave()" style="cursor:pointer">Recuperar contraseña</label> | 
                                    <label class="label-control" ng-click="vmc.CargaModalCambioClave()"  style="cursor:pointer">Cambio de contraseña</label> 
                                </p>
                            </div>
                        </form>
                        @*<div class="other-links">
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal - Cambio de Clave -->
    <div class="modal fade" id="ModalCambioClave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cambio de Clave</h4>
                </div>
                <div id="ContenidoCambioClave" class="modal-body modal-bodyTgestiona">

                </div>
            </div>
        </div>
    </div>


    <!--Modal - Olvido Clave -->
    <div class="modal fade" id="ModalOlvidoClave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Recuperar constraseña</h4>
                </div>
                <div id="ContenidoOlvidoClave" class="modal-body modal-bodyTgestiona">

                </div>
            </div>
        </div>
    </div>


</div>

@section scripts{
    @Scripts.Render("~/bundles/app/seguridad/login/js")


<script>
    $('input[name=username]').focus();
</script>




}


