﻿<div id="IdRiesgoProyectoController" ng-app="app.Comun" ng-controller="BandejaRiesgoProyecto as vm">
    <input ng-model="vm.IdOportunidad" style="display:none" ng-cloak>
    <br />
    <section class="panel">
        <header class="panel-heading">
            Filtros
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div id="lblAlerta" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoRiesgoProyecto" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Estado</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdEstado"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListEstadoRiesgoProyecto" ng-cloak></select>
                </div>
            </div>
            <div class="col-sm-12 text-right">
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.ListarRiesgoProyecto()">Filtrar</a>
            </div>
            <section id="flip-scroll">
                <div class="col-sm-12">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.ModalRiesgoProyecto(0)">Agregar</a>
                </div>
                <div class="table-responsive">
                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtInstance" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
    <!--Modal-->
    <div id="ModalRegistrarRiesgoProyecto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">Registro de Riesgo del Proyecto</p>

                </div>
                <div id="ContenidoRiesgoProyecto" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Comun/RiesgoProyecto/js")
<script>
    function EliminarRiesgoProyecto(Id) {
        var scope = angular.element(document.getElementById("IdRiesgoProyectoController")).scope();
        scope.vm.EliminarRiesgoProyecto(Id);
        scope.$apply();
    }
</script>
}