﻿
@{
    Layout = null;
}

<div id="idBandejaOportunidad" ng-app="app.Capex" ng-controller="ProyectoController as vm">

    <div class="row">
        <div class="form-group">
            <div class="">
                <ul class="nav nav-tabs navtab-bg">
                    <li id="SolicitudTab" class="active">
                        <a href="#datoSolicitud" data-toggle="tab">
                            <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                            <span class="hidden-xs">Solicitud</span>
                        </a>
                    </li>
                    <li id="EstructuraCostoTab">
                        <a href="#EstructuraCosto" data-toggle="tab" ng-click="vm.CargarEstructuraCosto()">
                            <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                            <span class="hidden-xs">Estructura de Costos</span>
                        </a>
                    </li>
                    <li id="DocumentoTopologiaTab">
                        <a href="#DocumentoTopologia" data-toggle="tab" ng-click="vm.CargarDocumentoTopologia()">
                            <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                            <span class="hidden-xs">Documentos Topolog&iacute;a </span>
                        </a>
                    </li>
                    <li id="CronogramaTab">
                        <a href="#cronograma" data-toggle="tab">
                            <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                            <span class="hidden-xs">Cronograma</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="datoSolicitud">
                        <div class="card-box">
                            <br />
                            @Html.Action("Index", "RegistrarSolicitud", new { area = "Capex" })

                        </div>
                    </div>
                   
                    <div class="tab-pane" id="EstructuraCosto">
                        <div class="content-page">
                        </div>
                    </div>
                    <div class="tab-pane" id="DocumentoTopologia">
                        <div class="content-page">
                        </div>
                    </div>
                    <div class="tab-pane" id="cronograma">
                        <div class="content-page">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    window.correo = "";
</script>

@section scripts{


    @Scripts.Render("~/bundles/app/Proyecto/js")
}