﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Renovacion Carta Fianza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .form-horizontal .form-group {
    margin-bottom : 1px;
    }

</style>
<body ng-app="app.CartaFianza" block-ui="main" onkeydown="popupEmail()">
</body>

<div id="idRenovacionCartaFianza" ng-app="app.CartaFianza" ng-controller="RenovacionCartaFianzaController as vm">

    <!-- Modal-->
    <div id="frmCartaFianza" class="content-page">
        <div class="row">
            <div id="divAlertMaestro" class="alert-edit col-md-12"></div>
            <input type="hidden" id="IdCliente" ng-model="vm.IdCliente" />
            <input type="hidden" id="IdCartaFianza" ng-model="vm.IdCartaFianza" />
            <input type="hidden" id="NumeroGarantia" ng-model="vm.NumeroGarantia" />
        </div>

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">RUC/NIF:</label>
                            <div class="col-md-8">
                                <input id="NumeroIdentificadorFiscalSearch" class="form-control" ng-model="vm.search.NumeroIdentificadorFiscal" placeholder="RUC / NIF" autocomplete="off" type="number" step="any">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Nombre Ciente:</label>
                            <div class="col-md-8">
                                <input id="ClienteSearch" class="form-control" ng-model="vm.search.Cliente" placeholder="Nombre del Cliente" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Importe:</label>
                            <div class="col-md-8">
                                <input id="ImporteSearch" class="form-control" ng-model="vm.search.Importe" placeholder="Importe" autocomplete="off" type="number" step="any">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-3">Num Garantia:</label>
                            <div class="col-md-8">
                                <input id="NumeroGarantiaSearch" class="form-control" ng-model="vm.search.NumeroGarantia" placeholder="Numero Garantia">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Gerente Cuenta:</label>
                            <div class="col-md-8">
                                <select id="IdColaboradorSearch" class="form-control" ng-model="vm.search.IdColaborador"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Fecha Vencimiento:</label>
                            <div class="col-md-8">
                                <input id="FechaVencimientoRenovacionSearch" class="form-control" ng-model="vm.search.FechaVencimientoRenovacion" type="date" placeholder="Fecha de Vencimiento">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4" style="visibility:hidden;display:none">
                        <div class="form-group">
                            <label class="control-label col-md-3">Tipo de Renovación:</label>
                            <div class="col-md-8">
                                <select id="TipoRenovacionSearch" class="form-control"
                                        ng-model="vm.search.IdRenovarTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoRenovacion" ng-disabled="ActivarPanel"></select>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" ng-click="vm.BuscarCartaFianzaRenovacion()">
                            <span class="glyphicon glyphicon-new-search"></span> Filtrar
                        </button>
                        <button class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                            <span class="glyphicon glyphicon-new-erase"></span> Limpiar
                        </button>
                    </div>
                </div>

            </div>
        </section>
        <br />
        <section class="panel">
            <header class="panel-heading-modal" style="background-color:white;color:black;">
                <i class="fa fa-chevron-circle-down"> </i>
                <input type="text" id="vSIdCartaFianza" ng-model="vm.vSIdCartaFianza" style="visibility:hidden;display:none" />
                Registro de Renovación Carta Fianza
                <center>
                    <p class="text-center" style="font-size:18px; padding-bottom:10px;
			                        font-size: 18px;border-bottom-color: orange; border-top-color: white; border-left-color: white;
                                    border-right-color: white;border-style: solid;font-size: 28px;font-family:cursive;">
                        Renovación
                    </p>
                </center>
            </header>
            <div class="panel-body">
                <button class="btn btn-primary  text-right" ng-click="vm.VerificarItemSelecionadosCartaFianzaRevertirRenovacion()" data-toggle="modal" style="background-color:#dc7f61;">
                    <span class="fa fa-refresh"></span> Revertir Renovación
                </button>
                    <button class="btn btn-primary  text-right" ng-click="vm.VerificarItemSelecionadosCartaFianzaRenovacion()" data-toggle="modal" style="background-color:#dc7f61;">
                    <span class="fa fa-refresh"></span> RENOVAR
                </button>
                <button class="btn btn-primary  text-right" ng-click="vm.EnviarCorreoGC()" data-toggle="modal" style="background-color:#dc7f61;">
                    <span class="fa fa-envelope"></span> ENVIAR CORREO GC
                </button>
                <div class="dv-table">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table id="tbCartaFianzaRenovacion" datatable dt-options="vm.dtOptionsCartaFianza" dt-columns="vm.dtColumnsCartaFianza"
                                   class="table order-column"
                                   dt-instance="vm.dtInstanceCartaFianzaRenovacion" style="width:150%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>

            </div>
        </section>

    </div>
    <!-- Modal-->
    <div class="modal fade" style="overflow:auto;" id="ModalCartaFianzaRenovacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:900px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">ACTUALIZAR RENOVACIÓN</p>
                </div>
             
                    <div class="modal-body">
                    
                        <div class="row">
                            <div id="divAlertRegistrarRenovacion" class="alert-edit col-md-12"></div>
                        </div>    

                        <div class="row">
                            <div class="col-md-12">
                                <!--progress bar start-->
                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Datos del Cliente - Renovación
                                        <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnContratoCliente"></a>
                                        </span>
                                    </header>
                                    <div id="pnContratoCliente" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label"> RUC :<span class="text-danger"></span></label>
                                                    <div class="col-md-10">
                                                        <input id="IdentidificadoFiscal" class="form-control" ng-model="vm.IdentidificadoFiscal" placeholder="RUC / NIF" autocomplete="off" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Cliente:<span class="text-danger"></span></label>
                                                    <div class="col-md-10">
                                                        <input id="NombreCliente" class="form-control" ng-model="vm.NombreCliente" placeholder="Nombre Completo del Cliente" autocomplete="off" ng-disabled="true" />
                                                    </div>
                                                </div>

                                            </div>



                                        </div>
                                    </div>
                                </section>
                                <!--progress bar end-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!--progress bar start-->
                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Datos del Contrato - Renovación
                                        <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnContratoRenovacion"></a>
                                        </span>
                                    </header>
                                    <div id="pnContratoRenovacion" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Descripción:<span class="text-danger"></span></label>
                                                    <div class="col-md-10">
                                                        <input id="DescripcionCartaFianza" class="form-control" ng-model="vm.DescripcionCartaFianza" placeholder="Descripción de la Carta Fianza" autocomplete="off" ng-disabled="true">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <div style="visibility:hidden;display:none">
                                                        <label class="col-md-2 control-label">Tipo de Renovación:</label>
                                                        <div class="col-md-4" ng-disabled="true">
                                                            <select id="TipoRenovacion" class="form-control"
                                                                    ng-model="vm.renovacion.IdRenovarTm"
                                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoRenovacion" ng-disabled="ActivarPanel"></select>
                                                        </div>
                                                    </div>
                                                    <label class="col-md-2 control-label"> Importe :<span class="text-danger"></span></label>
                                                    <div class="col-md-4">
                                                        <input id="ImporteStr" class="form-control" ng-model="vm.ImporteStr" placeholder="RUC / NIF" autocomplete="off" ng-disabled="true" />
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </section>
                                <!--progress bar end-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!--progress bar start-->
                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Datos de Garantía - Renovación
                                        <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#RegistroRenovacion"></a>
                                        </span>
                                    </header>
                                    <div id="RegistroRenovacion" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <input type="hidden" ng-model="vm.renovacion.IdCartaFianzaDetalleRenovacion">


                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Fecha Emision Banco<span class="text-danger"></span></label>
                                                    <div class="col-md-4">
                                                        <input id="FechaEmisionBancoRnv" type="date" class="form-control input-md" ng-model="vm.renovacion.FechaEmisionBancoRnv" max="3000-12-31" min="2000-01-01" />
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Fecha Vigencia Banco<span class="text-danger"></span></label>
                                                    <div class="col-md-4">
                                                        <input id="FechaVigenciaBancoRnv" type="date" class="form-control input-md" ng-model="vm.renovacion.FechaVigenciaBancoRnv" max="3000-12-31" min="2000-01-01" />
                                                    </div>


                                                    <label class="col-md-2 control-label">Fecha Vencimiento Banco<span class="text-danger">*</span></label>
                                                    <div class="col-md-4">
                                                        <input id="FechaVencimientoBancoRnv" type="date" class="form-control input-md" ng-model="vm.renovacion.FechaVencimientoBancoRnv" max="3000-12-31" min="2000-01-01" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <div class="form-group">


                                                    <label class="col-md-2 control-label">Entidad Bancaria Reemplazo:<span class="text-danger">*</span></label>
                                                    <div class="col-md-4">

                                                        <select id="CmbIdTipoBancoReemplazo" class="form-control"
                                                                ng-model="vm.renovacion.IdTipoBancoReemplazo"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListEntidadBancaria" ng-disabled="ActivarPanel"></select>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Numero Garantía Org:<span class="text-danger"></span></label>
                                                    <div class="col-md-4">
                                                        <input id="NumeroGarantia" class="form-control" ng-model="vm.renovacion.NumeroGarantia" placeholder="Número Garantía" autocomplete="off" ng-cloak readonly>
                                                    </div>
                                                    <label class="col-md-2 control-label">Número Garantía Reemplazo:<span class="text-danger">*</span></label>
                                                    <div class="col-md-4">
                                                        <input id="NumeroGarantiaReemplazo" class="form-control" ng-model="vm.renovacion.NumeroGarantiaReemplazo" placeholder="Número Garantía Reemplazo" autocomplete="off" value="" ng-value="" ng-cloak>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group col-md-12" style="visibility:hidden;display:none">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Fecha Solitud Tesoria:<span class="text-danger"></span></label>
                                                    <div class="col-md-4">
                                                        <input id="FechaSolitudTesoria" class="form-control" ng-model="vm.renovacion.FechaSolitudTesoria" type="date" placeholder="Fecha de Vencimiento">
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Fecha Recepción Carta Fianza Renovación:<span class="text-danger"></span></label>
                                                    <div class="col-md-4">
                                                        <input id="FechaRecepcionCartaFianzaRenovacion" class="form-control" ng-model="vm.renovacion.FechaRecepcionCartaFianzaRenovacion" type="date" placeholder="Fecha Recepción Carta Fianza Renovación">
                                                    </div>



                                                    <label class="col-md-2 control-label">Fecha Entrega Renovación:<span class="text-danger"></span></label>
                                                    <div class="col-md-4">
                                                        <input id="FechaEntregaRenovacion" class="form-control" ng-model="vm.renovacion.FechaEntregaRenovacion" type="date" placeholder="Fecha Entrega Renovación">
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Sustento:<span class="text-danger"></span></label>
                                                    <div class="col-md-10">
                                                        <input id="Sustento" class="form-control" ng-model="vm.renovacion.SustentoRenovacion" type="text" placeholder="Sustento">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </section>
                                <!--progress bar end-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" ng-click="vm.GuardarCartaFianzaRenovacion(vm.renovacion)" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                   
                    </div>

            </div>
        </div>
    </div>
    <!-- Modal-->
    <div class="modal fade" style="overflow:auto;margin-left:-28%" id="ModalEnviarCorreoCartaFianza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:1150px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">ENVIAR CORREO</p>
                </div>
                <div class="modal-body" id="ContenidoCorreo">

                </div>

            </div>
        </div>
    </div>
    <!-- Modal-->
    <div class="modal fade" id="ModalCartaFianzaAccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:900px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">ACCIONES DEL CONTRATO </p>

                </div>
                <div id="ContenidoCartaFianzaAcciones" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">

                </div>
            </div>
        </div>
    </div>
    <!-- Modal-->
    <div class="modal fade" id="ModalRenovacionRevertir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:450px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">REVERTIR RENOVACIÓN</p>
                </div>

                <div class="row">
                    <div id="divAlertRevertirRenovacionRev" class="alert-edit col-md-12"></div>
                </div>
                <div id="ContenidoCartaFianzaRenovacion" class="modal-body modal-bodyTgestiona" style="font-size:9pt;"> </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group ">
                            <center><h4><strong>¿Desea revertir la Renovación ?</strong></h4></center>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" class="btn btn-primary" ng-click="vm.RenovarCartaFianzaReversion()">Procesar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-->
    <div class="modal fade" id="ModalCartaFianzaSolRenovacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:900px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">Reporte Solicitud Renovación</p>

                </div>
                <div id="ContenidoCartaFianzaSolRenovacion" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">

                    <div class="content-page">
                        <div class="row">
                            <div id="divAlerta" class="alert-edit col-md-12"></div>
                        </div>
                        <section class="panel">
                            <header class="panel-heading-modal">
                                <i class="fa fa-chevron-circle-down"> </i>
                                Solitud Renovación de Garantía
                            </header>
                            <div class="panel-body">
                                <div class="dv-table">
                                    <div class="table-responsive">
                                        <iframe id="FReporte" width="100%" name="FReporte" frameborder="0" scrolling="yes"></iframe>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Modal-->
    <div class="modal fade" id="ModalRenovacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:450px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">RENOVACIÓN</p>
                </div>

               
                <div id="ContenidoCartaFianzaRenovacion" class="modal-body modal-bodyTgestiona" style="font-size:9pt;"> </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <div class="row">
                            <div id="divAlertRegistrarRenovacionSol" class="alert-edit col-md-12"></div>
                        </div>

                        <div class="row">
                            <label for="CmbTipoRenovacionTm" class="col-lg-4 col-sm-4 control-label">Tipo de Renovación</label>
                            <div class="col-md-6">
                                <select id="CmbTipoRenovacionTm" name="vm.CmbTipoRenovacionTm" class="form-control"
                                        ng-model="vm.CmbTipoRenovacionTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoRenovacion" ng-change="vm.Renovar()" ng-disabled="ActivarPanel"></select>

                            </div>
                        </div>

                        <div id="RenovarSi">

                            <div class="form-group">

                                <label class="col-lg-4 col-sm-4 control-label">Periodo de Renovación:<span class="text-danger"></span></label>
                                <div class="col-md-6">
                                    <input id="PeriodoMesRenovacion" class="form-control" ng-model="vm.PeriodoMesRenovacion" placeholder="Periodo de Renovación" autocomplete="off" type="number" step="any" ng-change="vm.CalculaFechaVencimiento(vm.PeriodoMesRenovacion)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="FechaVencimientoRenovacion" class="col-lg-4 col-sm-4 control-label">Fecha Vencimiento Renovación</label>
                                <div class="col-md-6">
                                    <input id="FechaVencimientoRenovacion" class="form-control" ng-model="vm.FechaVencimientoRenovacion" type="date" placeholder="Fecha de Vencimiento" ng-change=" vm.monthDiff( vm.FechaVencimientoRenovacion )">
                                </div>
                            </div>



                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-sm-4 control-label">Validación Contrato Gc y Sm:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <!-- <input id="ValidacionContratoGcSm" class="form-control" ng-model="vm.ValidacionContratoGcSm" type="text" placeholder="Validacion Contrato Gc y Sm"> -->

                                <select id="CmbTipoValidacionRenovacionTm" name="vm.CmbTipoValidacionRenovacionTm" class="form-control"
                                        ng-model="vm.CmbTipoValidacionRenovacionTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoValidacionRenovacion" ng-disabled="ActivarPanel"></select>

                            </div>
                        </div>
  
                        <div class="row">
                            <label class="col-lg-4 col-sm-4 control-label">Fecha Respuesta Final Gc y Sm:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <input id="FechaRespuestaFinalGcSm" class="form-control" ng-model="vm.FechaRespuestaFinalGcSm" type="date" placeholder="Fecha Respuesta Final Gc y Sm">
                            </div>

                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-sm-4 control-label">Sustento<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <textarea id="SustentoRenovacion" class="form-control" ng-model="vm.SustentoRenovacion" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-sm-4 control-label">Observación:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <textarea id="Observacion" class="form-control" ng-model="vm.Observacion" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" class="btn btn-primary" ng-click="vm.RenovarCartaFianza()">Procesar</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="ModalRequerida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:450px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">REQUERIDA</p>
                </div>

                <div class="row">
                    <div id="divAlertRegistrarRequerida" class="alert-edit col-md-12"></div>
                </div>
                <div id="ContenidoCartaFianzaRequerida" class="modal-body modal-bodyTgestiona" style="font-size:9pt;"> </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <input type="hidden" id="vm.numerofila" name="vm.numerofila">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tipo de Requerida:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <select id="IdTipoRequeridaTm" name="vm.IdTipoRequeridaTm" class="form-control"
                                        ng-model="vm.IdTipoRequeridaTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoRequerida" ng-disabled="ActivarPanel" ng-change="vm.SelecionarFechaRequerida()"></select>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-md-4 control-label">Solicitud Renovación ó Ejecución:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <input id="FechaRenovacionEjecucion" type="date" class="form-control input-md" ng-model="vm.FechaRenovacionEjecucion" max="3000-12-31" min="2000-01-01" ng-change=" vm.LimpiarDtRequerida( 'RER' )" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Ejecución:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <input id="FechaEjecucion" type="date" class="form-control input-md" ng-model="vm.FechaEjecucion" max="3000-12-31" min="2000-01-01" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Desestimar Requerimiento:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <input id="FechaDesestimarRequerimiento" type="date" class="form-control input-md" ng-model="vm.FechaDesestimarRequerimiento" max="3000-12-31" min="2000-01-01" ng-change=" vm.LimpiarDtRequerida( 'DR' )" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Observación:<span class="text-danger"></span></label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" id="MotivoCartaFianzaRequerida" name="MotivoCartaFianzaRequerida" ng-model="vm.MotivoCartaFianzaRequerida" rows="3" placeholder="Motivo CartaFianza Errada" autocomplete="off" ng-cloak></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" class="btn btn-primary" ng-click="vm.RequeridaCartaFianza()">Actualizar Datos</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal-->
<div class="modal fade" style="overflow:auto;" id="ModalCartaFianza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">REGISTRO DE CARTA FIANZA</p>

            </div>

            <div id="ContenidoCartaFianza" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">

            </div>
        </div>
    </div>
</div>

<script>

    function popupEmail(){
      /* 
        document.onkeydown = function () {
            switch (event.keyCode) {

                case 122: // alert("F11");

                    $('#ModalEnviarCorreoCartaFianza').css('width', '1200px');

                    break;
               
                default:
                    return true;
                    break;
            }
            event.keyCode = 0;
            event.returnValue = false;
            event.cancelBubble = true;
            return false;
        }*/
    
    }

</script>



@section scripts{

    @Scripts.Render("~/bundles/app/CartaFianza/RenovacionCartaFianza/js");
    
}