﻿@using Tgs.SDIO.Util.Web.Funnel;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_Oportunidades;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}


<div id="IdRptPreventaOportunidadesGerente" ng-app="app.Funnel" ng-controller="RptPreventaOportunidadesGerenteController as vm">
    <div ng-init="vm.BuscarOportunidades()"> </div>
    <div class="content-page">

            <div class="col-md-12">

                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-chevron-circle-down"> </i>
                        @Titulos.Titulo_Oportunidades
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:150%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </div>
                </section>

            </div>

        </div>
</div>

<script type="text/javascript">
    var idUsuario = '@Html.Raw(ViewBag.IdUsuario)';

    function SeleccionarLider(nivel, idLider, desplegado) {
        var scope = angular.element(document.getElementById("IdRptPreventaOportunidadesGerente")).scope();
        scope.vm.SeleccionarLider(nivel, idLider, desplegado);
        scope.$apply();
    }

    function SeleccionarPreventa(nivel, idLider,idPreventa, desplegado) {
        var scope = angular.element(document.getElementById("IdRptPreventaOportunidadesGerente")).scope();
        scope.vm.SeleccionarPreventa(nivel, idLider, idPreventa, desplegado);
        scope.$apply();
    }

    function SeleccionarCliente(nivel, idLider, idPreventa, idCliente, desplegado)
    {
        var scope = angular.element(document.getElementById("IdRptPreventaOportunidadesGerente")).scope();
        scope.vm.SeleccionarCliente(nivel, idLider, idPreventa, idCliente, desplegado);
        scope.$apply();
    }

    function SeleccionarOportunidad(nivel, idLider, idPreventa, idCliente, idOportunidad, desplegado, longitud) {
        var scope = angular.element(document.getElementById("IdRptPreventaOportunidadesGerente")).scope();
        scope.vm.SeleccionarOportunidad(nivel, idLider, idPreventa, idCliente, idOportunidad, desplegado, longitud);
        scope.$apply();
    }

</script>


@section scripts{
    @Scripts.Render("~/bundles/app/funnel/PreventaOportunidadGerente/js")

}

