﻿<div id="IdRegistrarCostoController" ng-controller="RegistrarCostoController as vm">
    <br />

    <div class="row">
   
            <div class="row">
                <div id="divAlert_Registrar" class="alert-edit col-md-12"></div>
            </div>
        <div class="form-group col-md-6" ng-hide="{{vm.Seven}}">
            <label class="control-label col-md-4">Codigo:</label>
            <div class="col-md-8">
                <input id="idCodigoModelo" class="form-control" ng-model="vm.CodigoModelo" placeholder="Ingrese Codigo" autocomplete="off" ng-cloak  ng-disabled="{{vm.Seventxt}}">
            </div>
        </div>
        <div class="form-group col-md-6" ng-hide="{{vm.One}}">
            <label class="control-label col-md-4">{{vm.TitleModelo}}:</label>
            <div class="col-md-8">
                <input id="idModelo" class="form-control" ng-model="vm.Modelo" placeholder="Ingrese Modelo" autocomplete="off" ng-cloak  ng-disabled="{{vm.Onetxt}}">
            </div>

        </div>
        <div class="form-group col-md-6" ng-hide="{{vm.Two}}">
            <label class="control-label col-md-4">Antena Casa Cliente (US$):</label>
            <div class="col-md-8">
                <input id="idAntenaCasaClienteUSD" class="form-control" ng-model="vm.AntenaCasaClienteUSD" placeholder="Ingrese Modelo" autocomplete="off" ng-cloak ng-disabled="{{vm.Twotxt}}" ng-change="vm.calculoMonto()">
            </div>

        </div>

        <div class="form-group col-md-6" ng-hide="{{vm.Three}}">
            <label class="control-label col-md-4">{{vm.TitleCostoSegmentoSatelital}}:</label>
            <div class="col-md-8">
                <input id="idCostoSegmentoSatelital" class="form-control" ng-model="vm.CostoSegmentoSatelital" placeholder="Ingrese CostoSegmentoSatelital" autocomplete="off" ng-cloak ng-disabled="{{vm.Threetxt}}">
            </div>

        </div>
        <div class="form-group col-md-6" ng-hide="{{vm.Four}}">
            <label class="control-label col-md-4">{{vm.TitleDescripcion}}:</label>
            <div class="col-md-8">
                <input id="idDescripcion" class="form-control" ng-model="vm.Descripcion" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak ng-disabled="{{vm.Fourtxt}}" ng-change="vm.calculoMonto()">
            </div>
        </div>
        <div class="form-group col-md-6" ng-hide="{{vm.Five}}">
            <label class="control-label col-md-4">{{vm.TitleInstalacion}}:</label>
            <div class="col-md-8">
                <input id="idInstalacion" class="form-control" ng-model="vm.Instalacion" placeholder="Ingrese Instalacion" autocomplete="off" ng-cloak ng-disabled="{{vm.Fivetxt}}">
            </div>
        </div>

        <div class="form-group col-md-6" ng-hide="{{vm.Six}}">
            <label class="control-label col-md-4">Inv. Antena en Hub (US$) :</label>
            <div class="col-md-8">
                <input id="idInvAntenaHubUSD" class="form-control" ng-model="vm.AntenaCasaClienteUSD" placeholder="Ingrese AntenaCasaClienteUSD" autocomplete="off" ng-cloak ng-disabled="{{vm.Sixtxt}}">
            </div>

        </div>


        
        
        <div class="form-group col-md-6" ng-hide="{{vm.Eigth}}">
            <label class="control-label col-md-4">Costo:</label>
            <div class="col-md-8">
                <input id="idMonto" class="form-control" ng-model="vm.Monto" placeholder="Ingrese Monto" autocomplete="off" ng-cloak ng-disabled="{{vm.Eigthtxt}}">
            </div>

        </div>
       
        <div class="form-group col-md-6" ng-hide="{{vm.Nine}}">
            <label class="control-label col-md-4">{{vm.TitleGarantizado}}:</label>
            <div class="col-md-8">
                <input id="idPorcentajeGarantizado" class="form-control" ng-model="vm.PorcentajeGarantizado" placeholder="Ingrese PorcentajeGarantizado" autocomplete="off" ng-cloak ng-disabled="{{vm.Ninetxt}}" ng-change="vm.calculoMonto();">
            </div>

        </div>
        <div class="form-group col-md-6" ng-hide="{{vm.Teen}}">
            <label class="control-label col-md-4">Sobresuscripción (%):</label>
            <div class="col-md-8">
                <input id="idProcentajeSobresuscripcion" class="form-control" ng-model="vm.ProcentajeSobresuscripcion" placeholder="Ingrese ProcentajeSobresuscripcion" autocomplete="off" ng-cloak ng-disabled="{{vm.Teentxt}}" ng-change="vm.calculoMonto()">
            </div>

        </div>


        <div class="form-group col-md-6" ng-hide="{{vm.Eleven}}">
                <label class="control-label col-md-4">{{vm.TitleVelocidadSubidaKBPS}}:</label>
                <div class="col-md-8">
                    <input id="idVelocidadSubidaKBPS" class="form-control" ng-model="vm.VelocidadSubidaKBPS" placeholder="Ingrese VelocidadSubidaKBPS" autocomplete="off" ng-cloak ng-disabled="{{vm.Eleventxt}}" ng-change="vm.calculoMonto()">
                </div>

            </div>

        
       
        @*<div class="form-group col-md-6" ng-hide="{{vm.Twelve}}">
            <label class="control-label col-md-4">Inv. Antena en Hub (US$):</label>
            <div class="col-md-8">
                <input id="idInvAntenaHubUSD" class="form-control" ng-model="vm.InvAntenaHubUSD" placeholder="Ingrese InvAntenaHubUSD" autocomplete="off" ng-cloak ng-disabled="{{vm.Twelvetxt}}" ng-change="vm.calculoMonto()">
            </div>

        </div>*@
        

        <div class="form-group col-md-6" ng-hide="{{vm.Thirteen}}">
            <label class="control-label col-md-4">Veloc. Bajada (Kbps) :</label>
            <div class="col-md-8">
                <input id="idInvAntenaHubUSD" class="form-control" ng-model="vm.VelocBajada" placeholder="Ingrese VelocBajada" autocomplete="off" ng-cloak ng-disabled>
            </div>

        </div>
        <div class="form-group col-md-6" ng-hide="{{vm.Fourteen}}">
            <label class="control-label col-md-4"> Veloc. Subida (Kbps) :</label>
            <div class="col-md-8">
                <input id="idInvAntenaHubUSD" class="form-control" ng-model="vm.VelocSubida" placeholder="Ingrese VelocSubida" autocomplete="off" ng-cloak ng-disabled>
            </div>

        </div>
        <div class="form-group col-md-6" ng-hide="{{vm.Fifteen}}">
            <label class="control-label col-md-4">  Inv.  TOTAL (US$) :</label>
            <div class="col-md-8">
                <input id="idInvAntenaHubUSD" class="form-control" ng-model="vm.InvTotal" placeholder="Ingrese InvTotal" autocomplete="off" ng-cloak ng-disabled>
            </div>

        </div>

      
       
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">

                <div class="modal-footer">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarCosto()"> Grabar</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{

}
