﻿
@using Tgs.SDIO.Util.Web.Funnel;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}

<div class="row" style="margin-top:0px;" ng-app="app.Funnel" ng-controller="ReportDashboardController as vm">
    <div id="divAlert"> </div>

    <div ng-init="vm.MostrarDashboard()"> </div>
    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Reporte
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="900" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>




@section scripts{
    @Scripts.Render("~/bundles/app/funnel/Dashboard/js")
}

