﻿@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Bandeja Tabla Maestra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="container" ng-app="app.Comun" block-ui="main" ng-controller="MaestraController as vm">

    <div class="row">

        <div class="col-md-12 card" style="padding:0px 0px 0px 0px">
            <div class="card-header">Filtrar Servicio</div>
            <div class="card-bady">
                <div class="col-md-12" style="margin-top: 1em">
                    <form>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="#RazonSocial">Descripcion:</label>
                            <div class="input-group">
                                <input id="RazonSocial" class="form-control" type="text" ng-model="vm.Descripcion"/>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3 col-md-offset-6">
                            <label class="control-label" for="#CodigoProveedor">Relacion Padre:</label>
                            <div class="input-group">
                                <select class="form-control"
                                        ng-model="vm.RelacionPadre"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaRelacionPadre" ng-cloak></select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-12">
                    <div class="text-right col-md-6 col-md-offset-6" style="margin-bottom: 1em">
                        <div class="input-group col-md-12" style="padding:0">
                            <a id="btnActualizar" class="btn btn-primary btn-primary-tgestiona" href="{{vm.EnlaceActualizar}}0" style="margin-right: 5px">
                                <i class="glyphicon glyphicon-download-alt"></i> Actualiar
                            </a>
                            <button id="btnBuscarMaestra" class="btn btn-primary btn-primary-tgestiona" ng-click="vm.btnFilltrarProveedor()">
                                <i class="glyphicon glyphicon-search"></i> Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 card" style="padding:0px 0px 0px 0px">
            <div class="card-header">Bandeja Tabla Maestra</div>
            <div class="card-bady">
                <table id="tablaMaestra" datatable="" dt-options="vm.dtOptionsMaestra" dt-columns="vm.dtColumnsMaestra"
                       class="ui compact  striped celled table"
                       dt-instance="vm.dtInstanceTablaMaestra" style="width:100%;">
                    <thead class="cf">
                </table>
            </div>
        </div>

    </div>

</body>

@section scripts{

    @Scripts.Render("~/bundles/app/Comun/Maestra/js");

}

