﻿@using Tgs.SDIO.Util.Web.Funnel;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulos_OportunidadesSector;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}

<div id="IdOportunidadSectorGerentePreventa" class="row" ng-app="app.Funnel" ng-controller="RptOportunidadSectorGerentePreventaController as vm">
    <div ng-init="vm.MostrarReporte()"> </div>
    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    @Titulos.Titulos_OportunidadesSector
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="500" class="iframe-style"></iframe>
                    </div>
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstance" style="width:150%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">

    var idUsuario = '@Html.Raw(ViewBag.IdUsuario)';

    function SeleccionarSector(nivel, idSector, desplegado) {
        var scope = angular.element(document.getElementById("IdOportunidadSectorGerentePreventa")).scope();
        scope.vm.SeleccionarSector(nivel, idSector, desplegado);
        scope.$apply();
    }

    function SeleccionarLider(nivel, idSector, idLider, desplegado) {
        var scope = angular.element(document.getElementById("IdOportunidadSectorGerentePreventa")).scope();
        scope.vm.SeleccionarLider(nivel, idSector, idLider, desplegado);
        scope.$apply();
    }

    function SeleccionarPreventa(nivel, idSector, idLider, idPreventa, desplegado) {
        var scope = angular.element(document.getElementById("IdOportunidadSectorGerentePreventa")).scope();
        scope.vm.SeleccionarPreventa(nivel,idSector, idLider, idPreventa, desplegado);
        scope.$apply();
    }

    function SeleccionarCliente(nivel,idSector, idLider, idPreventa, idCliente, desplegado) {
        var scope = angular.element(document.getElementById("IdOportunidadSectorGerentePreventa")).scope();
        scope.vm.SeleccionarCliente(nivel, idSector, idLider, idPreventa, idCliente, desplegado);
        scope.$apply();
    }

   
</script>


@section scripts{
    @Scripts.Render("~/bundles/app/funnel/rptOportunidadSectorGerentePreventa/js")
}

