﻿
@model IEnumerable<Tgs.SDIO.DataContracts.Dto.Response.Comun.SalesForceConsolidadoCabeceraListarDtoResponse>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div style="margin-top: 400px">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDelCaso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioOportunidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipologiaOportunidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroDelCaso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropietarioOportunidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipologiaOportunidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
            </tr>
        }

    </table>

</div>
