﻿@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div ng-app="app.Seguridad" ng-controller="OlvidoClaveController as vm" class="container">
    <div class="row">
        <div id="divAlert" class="alert-edit"></div>
    </div>
    <section class="panel">

        <div class="panel-body">
            <div style="padding-top:25px" class="panel-body form-horizontal">

                <p class="text-left">
                    Se enviara su clave de acceso a su correo
                </p>

                <div class="form-group">
                    <label class="col-md-2 control-label">Usuario</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-keydown="$event.keyCode === 13 && vm.EnvioClave()" placeholder="Ingrese su usuario" maxlength="15" ng-model="vm.TxtUsuario" required="">
                    </div>
                </div>

                <div style="margin-top:10px; padding-right :15px " class="form-group">
                    <div class="modal-footer">
                        <span class="pull-right">
                            <button type="button" ng-click="vm.EnvioClave()" class="btn btn-primary block full-width m-b">Enviar contraseña</button>
                            <button type="button" onclick="location.href='@Url.Action("Index", "Login", new { })'" class="btn btn-primary block full-width m-b">Regresar</button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

@section scripts{
    @Scripts.Render("~/bundles/app/seguridad/olvidoclave/js")
}
