﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="idAprobacionesController" ng-app="app.Compra" ng-controller="AprobacionesController as vm">
    <div class="form-group row">
        <label class="col-sm-6 col-form-label"><strong>Aprobaciones:</strong></label>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="tblAprobacionesPeticionCompra" datatable="" dt-options="vm.dtAprobacionesOptions" 
                       dt-columns="vm.dtAprobacionesColumns"
                       class="ui compact selectable striped celled table"
                       dt-instance="vm.dtAprobacionesInstance" style="width:100%;">
                    <thead class="cf">
                </table>
            </div>
        </div>
    </div>
</div>