﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Seguridad;
@{
    ViewBag.Area = Titulos.Area;
    ViewBag.Title = Titulos.TituloBandejaUsuario;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Seguridad" block-ui="main"></body> 

<div  ng-app="app.Seguridad" ng-controller="BandejaUsuarioController as vm">

    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="divAlert" class="alert-edit col-lg-12"></div>
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Apellidos:</label>
                                <div class="col-md-8">
                                    <input id="DescripcionCliente" class="form-control" ng-model="vm.Apellidos" placeholder="Ingrese un apellido" maxlength="240" autocomplete="off" ng-cloak>
                                </div>
                            </div>
                        </div>       

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Nombres:</label>
                                <div class="col-md-8">
                                    <input id="DescripcionOportunidad" class="form-control" ng-model="vm.Nombres" placeholder="Ingrese un nombre" maxlength="240" autocomplete="off" ng-cloak>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Login: </label>
                                <div class="col-md-8">
                                    <input id="DescripcionCliente" class="form-control" ng-model="vm.Login" placeholder="Ingrese un login" maxlength="50" autocomplete="off" ng-cloak>
                                </div>
                            </div>
                        </div> 
                    </div>             
                    
                    <div class="clearfix"></div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-12 text-right">
                            <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.ModalRegistrarUsuario('0')">
                                Nuevo
                            </button>
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.ListarUsuariosPaginado()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Mantenimiento de usuarios
            </header>
            <div class="panel-body"> 
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="table table-bordered table-striped table-condensed cf"
                               dt-instance="vm.dtInstance" style="width:99%">
                            <thead class="cf">
                        </table>
                    </div> 
            </div>
        </section>

        
        <div class="modal fade" id="ModalRegistrarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title">Registro de usuario</p>
                    </div>
                    <div id="ContenidoDatosUsuario" class="modal-body-white">
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="ModalRegistrarUsuarioPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title">Asignar perfil</p>
                    </div>
                    <div id="ContenidoUsuarioPerfil" class="modal-body-white">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalRegistrarRecursoLineaNegocio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title">Asignar linea negocio</p>
                    </div>
                    <div id="ContenidoRecursoLineaNegocio" class="modal-body-white">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalRegistrarRecursoJefe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title">Asignar personal</p>
                    </div>
                    <div id="ContenidoRecursoJefe" class="modal-body-white">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>  


@section scripts{
      
    @Scripts.Render("~/bundles/app/seguridad/bandejaUsuario/js") 

}
