﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="form-group row">
    <div class="col-sm-12">
        <section class="panel">
            <div class="panel-group">

                <header class="panel-heading-modal">
                    <i class="fa fa-chevron-circle-down"> </i>
                    TIPO DE COMPRA
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse1"></a>
                    </span>
                </header>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="form-group row" ng-show="vm.PeticionCompraDCM || (vm.IdAsociadoProyecto == '2' && (!vm.FlagAPOrdinariaInv && !vm.PeticionCompraAPOrdinariaOpex))">
                                <label class="col-sm-4 col-form-label">#Contrato Marco:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="hidden" ng-model="vm.ContratoMarco.IdContratoMarco" />
                                        <input type="text" ng-disabled="vm.Ver == 1" class="form-control" id="txtResponsablePost"
                                               ng-model="vm.ContratoMarco.NumContrato" readonly />
                                        <span class="input-group-btn" ng-hide="vm.Ver == 1">
                                            <a class="btn btn-primary" ng-click="vm.ModalBuscarContratoMarco()">
                                                <span class="glyphicon glyphicon-new-search"></span> Buscar
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-hide="vm.PeticionCompraDCM || (vm.IdAsociadoProyecto == '2' && (!vm.FlagAPOrdinariaInv && !vm.PeticionCompraAPOrdinariaOpex))">
                                <label class="col-sm-4 col-form-label">Línea de producto de compra:</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <select id="cboLineaProducto" class="form-control" ng-disabled="vm.Ver == 1"
                                                ng-model="vm.PeticionCompra.IdLineaProducto"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListaLineaProducto"
                                                ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-hide="vm.PeticionCompraDCM || (vm.IdAsociadoProyecto == '2' && (!vm.FlagAPOrdinariaInv && !vm.PeticionCompraAPOrdinariaOpex))">
                                <label class="col-sm-4 col-form-label">Comprador:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="hidden" ng-model="vm.PeticionCompra.IdComprador" />
                                        <input type="text" class="form-control" id="txtComprador" ng-model="vm.BComprador" readonly />
                                        <span ng-hide="vm.Ver == 1" class="input-group-btn">
                                            <a class="btn btn-primary" ng-click="vm.ModalBuscarComprador()">
                                                <span class="glyphicon glyphicon-new-search"></span> Buscar
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Adjunta Cotización / RFP:</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <select id="cboAdjuntaCotizacion" class="form-control" ng-disabled="vm.Ver == 1"
                                                ng-model="vm.PeticionCompra.AdjuntaCotizacion" ng-cloak>
                                            <option value="-1">--Seleccione--</option>
                                            <option value="0">Si</option>
                                            <option value="1">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-hide="vm.IdAsociadoProyecto == '2'">
                                <label class="col-sm-4 col-form-label">Monto Total Cotización:</label>
                                <div class="col-sm-8">
                                    <input type="number" id="txtMontoTotCot" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.PeticionCompra.MontoCotizacion" min="0" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" ng-hide="vm.PeticionCompraDCM || (vm.IdAsociadoProyecto == '2' && (!vm.FlagAPOrdinariaInv && !vm.PeticionCompraAPOrdinariaOpex))">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Sub-Grupo de Compras:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtSubGrupo" ng-disabled="vm.Ver == 1" ng-model="vm.PeticionCompra.SubGrupoCompras" />
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:6%;">
                                <label class="col-sm-4 col-form-label">Correo Comprador:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtCorreoComprador"  ng-model="vm.BCorreoComprador" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <header class="panel-heading-modal" ng-show="vm.IdAsociadoProyecto == '2'">
                    <i class="fa fa-chevron-circle-down"> </i>
                    DATOS DEL PROYECTO
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapseProyecto"></a>
                    </span>
                </header>

                <div id="collapseProyecto" class="panel-collapse collapse in" ng-show="vm.IdAsociadoProyecto == '2'">
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Código de Proyecto:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="txtDireccion" ng-model="vm.PrePeticionProyecto.IdProyectoLKM" disabled />
                                </div>
                                <label class="col-sm-2 col-form-label">Línea:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="vm.SeleccionarPrePeticion.Linea" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"> </label>
                                <div class="col-sm-4">

                                </div>
                                <label class="col-sm-2 col-form-label">SubLínea:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="vm.SeleccionarPrePeticion.SubLinea" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Descripción:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="vm.PrePeticionProyecto.Descripcion" disabled />
                                </div>
                                <label class="col-sm-2 col-form-label">Servicio CMI:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="vm.SeleccionarPrePeticion.Servicio" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Jefe de Proyecto:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="txtUnidad" ng-model="vm.PrePeticionProyecto.NombreJefeProyecto" disabled />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <header class="panel-heading-modal">
                    <i class="fa fa-chevron-circle-down"> </i>
                    DATOS DEL SOLICITANTE Y DE CONTROL
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse2"></a>
                    </span>
                </header>
                <div id="collapse2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Area Solicitante:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="hidden" ng-model="vm.BIdCentroCosto" />
                                        <select id="cboAreaSolicitante" class="form-control" ng-disabled="vm.Ver == 1"
                                                ng-model="vm.IdAreaSolicitante"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListaAreaSolicitante"
                                                ng-cloak></select>
                                        <span class="input-group-btn" ng-hide="vm.Ver == 1">
                                            <a class="btn btn-primary" ng-click="vm.ModalBuscarCentroCosto()">
                                                <span class="glyphicon glyphicon-new-search"></span> Buscar
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Dirección:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtDireccion" ng-model="vm.BDireccionSol" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Gerencia:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtGerencia" ng-model="vm.BGerenciaSol" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Unidad:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtUnidad" ng-model="vm.BUnidadSol" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Solicitante:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtSolicitante" ng-model="vm.Solicitante" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Correo Corporativo:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtCorreoSol" ng-model="vm.CorreoSolicitante" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Responsable de Certificación PostVenta:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="hidden" ng-model="vm.PeticionCompra.IdResponsablePostventa" />
                                        <input type="text" class="form-control" id="txtResponsablePost"
                                               ng-model="vm.bResponsablePostventa" readonly />
                                        <span class="input-group-btn" ng-hide="vm.Ver == 1">
                                            <a class="btn btn-primary" ng-click="vm.ModalBuscarResponsable()">
                                                <span class="glyphicon glyphicon-new-search"></span> Buscar
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">CeCo de Solicitante:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtCeCoSol" ng-model="vm.BCeCo" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Fecha:</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="dpFechaSol" ng-model="vm.FechaSol" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">¿Petición x Penalidad SLA?:</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <select id="cboPeticionPenalidad" class="form-control" ng-disabled="vm.Ver == 1"
                                                ng-model="vm.PeticionCompra.PeticionPenalidad" ng-cloak>
                                            <option value="-1">--Seleccione--</option>
                                            <option value="0">Si</option>
                                            <option value="1">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Elemento PEP:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.PeticionCompra.ElementoPEP" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Grafo:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.PeticionCompra.Grafo" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Cuenta:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.PeticionCompra.Cuenta" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Descripción Cuenta:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.PeticionCompra.DescripcionCuenta" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Area Funcional:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.PeticionCompra.AreaFuncional" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:13%">
                                <label class="col-sm-4 col-form-label">Correo Responsable:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.bCorreoResponsable" disabled />
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:20%">
                                <label class="col-sm-4 col-form-label">¿Arrendamiento / Renting?:</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <select id="cboArendamientoRen" class="form-control" ng-disabled="vm.Ver == 1"
                                                ng-model="vm.PeticionCompra.ArrendamientoRenting" ng-cloak>
                                            <option value="-1">--Seleccione--</option>
                                            <option value="0">Si</option>
                                            <option value="1">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div ng-hide="vm.Ver == 1">
                    <div class="pull-right">
                        @*<div style="float:left;" ng-show="vm.EstadoEtapa != 4">
                            <button type="button" ng-show="vm.Accion == 2" class="btn btn-info btn-sm" ng-disabled="vm.AtenderPeticionCompra" ng-click="vm.fAtenderPeticionCompra()"><i class="glyphicon glyphicon-thumbs-up"></i> Atender</button>
                            <button type="button" ng-show="!vm.AtenderPeticionCompra && vm.Accion == 1" class="btn btn-info btn-sm" ng-click="vm.AprobarPeticionCompra()"><i class="glyphicon glyphicon-ok"></i> Aprobar</button>
                            <button type="button" ng-show="vm.AtenderPeticionCompra && (vm.Accion == 2 || vm.Accion == 4)" class="btn btn-info btn-sm" ng-click="vm.AprobarPeticionCompra()"><i class="glyphicon glyphicon-ok"></i> Aprobar</button>
                            <button type="button" ng-show="vm.AtenderPeticionCompra && (vm.Accion == 2 || vm.Accion == 4)" class="btn btn-info btn-sm" ng-click="vm.ModalObservacion()"><i class="glyphicon glyphicon-thumbs-down"></i> Observar</button>
                            <button type="button" ng-show="vm.AtenderPeticionCompra && (vm.Accion == 2 || vm.Accion == 4)" class="btn btn-info btn-sm" ng-click="vm.AnularPeticionCompra()"><i class="glyphicon glyphicon-remove-sign"></i> Anular</button>
                        </div>*@
                        <button type="button" class="btn btn-success btn-sm" ng-click="vm.GrabarPeticionCompra()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Modal Buscar Observar-->
<div class="modal fade" id="ModalCompraObservacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:300px; margin-left:20%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">OBSERVAR PETICIÓN DE COMPRA</p>
            </div>
            <div class="modal-body modal-bodyTgestiona" style="font-size:9pt;">
                <div id="lblAlerta_Observacion" class="alert-edit"></div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Etapa:</label>
                    <div class="col-sm-8">
                        <select id="cboEtapa" class="form-control"
                                ng-model="vm.ObservarIdOrden"
                                ng-options="item.Orden as item.Descripcion for item in vm.ListaEtapas"
                                ng-cloak></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Motivo:</label>
                    <div class="col-sm-8">
                        <select id="cboObservacion" class="form-control"
                                ng-model="vm.ObservarMotivo"
                                ng-options="item.Codigo as item.Descripcion for item in vm.ListaMotivos"
                                ng-cloak></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Comentario:</label>
                    <div class="col-sm-8">
                        <textarea rows="5" class="form-control" ng-model="vm.ObservarComentario"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" ng-click="vm.ObservarPeticionCompra()"><i class="glyphicon glyphicon-ok"></i> Observar</button>
                <button type="button" class="btn btn-info btn-sm" ng-click="vm.CerrarPopupObservacion()"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Buscar Comprador-->
<div class="modal fade" id="ModalCompraComprador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">BUSCAR COMPRADOR</p>
            </div>
            <div id="ContenidoCompraComprador" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">
            </div>
        </div>
    </div>
</div>
<!-- Modal Buscar Centro Costo-->
<div class="modal fade" id="ModalCompraCentroCosto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:950px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">BUSCAR CENTRO DE COSTO</p>
            </div>
            <div id="ContenidoCompraCentroCosto" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">
            </div>
        </div>
    </div>
</div>
<!-- Modal Buscar Responsable PostVenta-->
<div class="modal fade" id="ModalCompraResponsablePostVenta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">BUSCAR RESPONSABLE POSTVENTA</p>
            </div>
            <div id="ContenidoCompraResponsablePost" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">
            </div>
        </div>
    </div>
</div>
<!-- Modal Buscar Contrato Marco-->
<div class="modal fade" id="ModalCompraContratoMarco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-left:-170px">
    <div class="modal-dialog">
        <div class="modal-content" style="width:1050px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">BUSCAR CONTRATO MARCO</p>
            </div>
            <div id="ContenidoCompraContratoMarco" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">
            </div>
        </div>
    </div>
</div>