﻿@using Tgs.SDIO.Util.Web.Funnel;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = ViewBag.Titulo;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}


<div class="row" ng-app="app.Funnel" ng-controller="PvcOfertaSectorController as vm">
    <div ng-init="vm.ConsultarReporte()"> </div>
    <div id="divAlertRegistro"></div>
    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    @ViewBag.Titulo
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@Cadenas.RptPrincipalAnio</label>
                                    <div class="col-md-8">
                                        <selectorAnios id="idAnio"></selectorAnios>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@Cadenas.RptPrincipalMes</label>
                                    <div class="col-md-8">
                                        <selectormeses id="idMeses"></selectormeses>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.ConsultarReporte()">Filtrar</button>
                            <button class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarModelo()">Limpiar</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="600" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    
</script>

@section scripts{
    @Scripts.Render("~/bundles/app/funnel/PvcOfertaSectorController/js")
}

