﻿
@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.PlantaExterna;
@{
    ViewBag.Area = Titulos.TituloArea;
    ViewBag.Opcion = Titulos.Reportes;
    ViewBag.Title = Titulos.ReporteConsolidado;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.PlantaExterna" block-ui="main">
</body>
<div ng-app="app.PlantaExterna" ng-controller="ReporteConsolidadoSisegosController as vm">

    <div class="content-page">
        <div class="row">
            <div id="divAlerta" class="alert-edit col-md-12"></div>
        </div>

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">

                <div class="row" style="display:none">
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Acci&oacute;n Estrategica:</label>
                                    <div class="col-md-10">
                                        <div ng-dropdown-multiselect="" options="vm.AccionEstrategicaData" selected-model="vm.AccionEstrategicaModel" checkboxes="true"
                                             extra-settings="vm.AccionEstrategicaSettings"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Sisego:</label>
                            <div class="col-md-8">
                                <input id="BSisego" class="form-control" ng-model="vm.Sisego" placeholder="Codigo Sisego" autocomplete="off" type="text" maxlength="24" step="any" ng-keypress="$event.keyCode === 13 && vm.BuscarReporte()">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">C&oacute;digo Proyecto:</label>
                            <div class="col-md-8">
                                <input id="BProyecto" class="form-control" ng-model="vm.Proyecto" placeholder="Id Proyecto" autocomplete="off" type="text" maxlength="24" step="any" ng-keypress="$event.keyCode === 13 && vm.BuscarReporte()">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Pep 1:</label>
                            <div class="col-md-8">
                                <input id="BPep1" class="form-control" ng-model="vm.Pep1" placeholder="Serie Pep" autocomplete="off" type="text" maxlength="24" step="any" ng-keypress="$event.keyCode === 13 && vm.BuscarReporte()">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Nro. Oportunidad:</label>
                                <div class="col-md-8">
                                    <input id="BProyecto" class="form-control" ng-model="vm.Salesforce" placeholder="Sales Force" autocomplete="off" type="text" maxlength="30" step="any" ng-keypress="$event.keyCode === 13 && vm.BuscarReporte()">
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="row"> 
                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-right" > 

                            <a class="btn btn-primary" ng-click="vm.BuscarReporte()">
                                <span class="glyphicon glyphicon-new-search"></span> Filtrar
                            </a> 
                            <a class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                                <span class="glyphicon glyphicon-new-search"></span> Limpiar
                            </a>
                        </div>
                        
                    </div> 
                </div>
            </div>
        </section>
        <br />

        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                Reporte Consolidado
            </header>
            <div class="panel-body"> 
                <div class="dv-table">
                    <div class="table-responsive">
                        <iframe id="FReporte" width="100%" name="FReporte" frameborder="0" scrolling="yes"></iframe>
                    </div>
                </div>
            </div>
        </section> 
    </div> 
</div>
 

@section scripts{
   @Scripts.Render("~/bundles/app/PlantaExterna/ReporteConsolidado/js");
}

