﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Comun" block-ui="main">
</body>

<div id="idCliente" ng-app="app.Comun" ng-controller="ClienteController as vm">
    <div id="frmCliente" class="content-page">
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Nombre:</label>
                            <div class="col-md-8">
                                <input id="DescripcionSearch" class="form-control" ng-model="vm.search.Descripcion" placeholder="Nombre">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Gerente Comercial:</label>
                            <div class="col-md-8">
                                <input id="GerenteComercialSearch" class="form-control" ng-model="vm.search.GerenteComercial" placeholder="Gerente Comercial" autocomplete="off" type="text" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Dirección Comercial:</label>
                            <div class="col-md-8">
                                <select id="IdDireccionComercialSearch" class="form-control"
                                        ng-model="vm.search.IdDireccionComercial"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaDireccionComercial" ng-disabled="ActivarPanel"></select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Sector:</label>
                            <div class="col-md-8">
                                <select id="IdSectorSearch" class="form-control"
                                        ng-model="vm.search.IdSector"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaSector" ng-disabled="ActivarPanel"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tipo de Indentificador Fiscal:</label>
                            <div class="col-md-8">
                                <select id="IdTipoIdentificadorFiscalTmSearch" class="form-control"
                                        ng-model="vm.search.IdTipoIdentificadorFiscalTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoIdentificadorFiscal" ng-disabled="ActivarPanel"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tipo de Entidad:</label>
                            <div class="col-md-8">
                                <select id="IdTipoEntidadSearch" class="form-control"
                                        ng-model="vm.search.IdTipoEntidad"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoEntidad" ng-disabled="ActivarPanel"></select>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a class="btn btn-primary" ng-click="vm.NuevoCliente()">
                            <span class="glyphicon glyphicon-new-search"></span> Nuevo
                        </a>
                        <a class="btn btn-primary" ng-click="vm.BuscarCliente()">
                            <span class="glyphicon glyphicon-new-search"></span> Filtrar
                        </a>
                        <a class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                            <span class="glyphicon glyphicon-new-erase"></span> Limpiar
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <br />

        <section class="panel">
            <header class="panel-heading-modal" style="background-color:white;color:black;">
                <i class="fa fa-chevron-circle-down"> </i>
                Registro de Clientes
                <center>
                    <p class="text-center" style="font-size:18px; padding-bottom:10px; font-size: 18px; border-bottom-color: orange; border-top-color: white; border-left-color: white; border-right-color: white; border-style: solid; font-size: 28px; font-family: cursive;">Cliente</p>
                </center>
            </header>
            <div class="panel-body">
                <div class="dv-table">
                    <div class="table-responsive">
                        <table id="tablaCliente" datatable="" dt-options="vm.dtOptionsCliente" dt-columns="vm.dtColumnsCliente"
                               class="display table table-bordered table-striped"
                               dt-instance="vm.dtInstanceCliente" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Modal-->
    <div class="modal fade" style="overflow:auto;" id="ModalCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:900px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title"><span id="titleModal"></span> CLIENTE</p>
                </div>
                <div class="modal-body">
                    <form name="formularioCliente" class="form-horizontal" role="form">
                        <div class="row">
                            <div id="divAlertRegistrarCliente" class="alert-edit col-md-12"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!--progress bar start-->
                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Datos del Cliente
                                        <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnContratoCliente"></a>
                                        </span>
                                    </header>
                                    <div id="pnContratoCliente" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <div class="col-md-12">
                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">Código de Cliente:</label>
                                                        <div class="col-md-7">
                                                            <input type="number" id="CodigoCliente" class="form-control" ng-model="vm.cliente.CodigoCliente" placeholder="Código de Cliente" required oninvalid="this.setCustomValidity('Ingrese un Codigo de Cliente válido')" oninput="this.setCustomValidity('')">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">R U C:</label>
                                                        <div class="col-md-7">
                                                            <input type="number" id="NumeroIdentificadorFiscal" class="form-control" ng-model="vm.cliente.NumeroIdentificadorFiscal" placeholder="R U C" required oninvalid="this.setCustomValidity('Ingrese un Ruc válido')" oninput="this.setCustomValidity('')"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">Nombre:</label>
                                                        <div class="col-md-7">
                                                            <input type="text" id="Descripcion" class="form-control" ng-model="vm.cliente.Descripcion" placeholder="Nombre" required oninvalid="this.setCustomValidity('Ingrese el nombre del cliente')" oninput="this.setCustomValidity('')">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">Gerente Comercial:</label>
                                                        <div class="col-md-7">
                                                            <input type="text" id="GerenteComercial" class="form-control" ng-model="vm.cliente.GerenteComercial" placeholder="Gerente Comercial" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">Dirección Comercial:</label>
                                                        <div class="col-md-7">
                                                            <select id="IdDireccionComercial" class="form-control"
                                                                    ng-model="vm.cliente.IdDireccionComercial"
                                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaDireccionComercial" ng-disabled="ActivarPanel"></select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">Sector:</label>
                                                        <div class="col-md-7">
                                                            <select id="IdSector" class="form-control"
                                                                    ng-model="vm.cliente.IdSector"
                                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaSector" ng-disabled="ActivarPanel"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">Tipo de Indentificador Fiscal:</label>
                                                        <div class="col-md-7">
                                                            <select id="IdTipoIdentificadorFiscalTm" class="form-control"
                                                                    ng-model="vm.cliente.IdTipoIdentificadorFiscalTm"
                                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoIdentificadorFiscal" ng-disabled="ActivarPanel"></select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">Tipo de Entidad:</label>
                                                        <div class="col-md-7">
                                                            <select id="IdTipoEntidad" class="form-control"
                                                                    ng-model="vm.cliente.IdTipoEntidad"
                                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoEntidad" ng-disabled="ActivarPanel"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">Email:</label>
                                                        <div class="col-md-7">
                                                            <input type="email" id="Email" class="form-control" ng-model="vm.cliente.Email" placeholder="ejemplo@mail.com"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5">Dirección:</label>
                                                        <div class="col-md-7">
                                                            <input type="text" id="Direccion" class="form-control" ng-model="vm.cliente.Direccion" placeholder="Direccion" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </section>
                                <!--progress bar end-->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" ng-click="vm.GuardarCliente(vm.cliente, 'divAlertRegistrarCliente')" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="ModalEliminiarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:450px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">ELIMINAR CLIENTE</p>
                </div>

                <div class="row">
                    <div id="divAlertEliminiarCliente" class="alert-edit col-md-12"></div>
                </div>
                <div class="modal-body modal-bodyTgestiona" style="font-size:9pt;"> </div>
                <div class="modal-body">
                    <form name="formularioCliente" class="form-horizontal" role="form">
                        <div class="form-group ">
                            <center><h4><strong>¿Está seguro que desea eliminar este cliente?</strong></h4></center>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" class="btn btn-primary" ng-click="vm.GuardarCliente(vm.delete, 'divAlertEliminiarCliente')">Procesar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts{
    @Scripts.Render("~/bundles/app/Comun/Cliente/js");
}