﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Compra;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = ViewBag.IdPeticionCompra == 0 ? Titulos.Titulo_RegistroPeticionCompra : Titulos.Titulo_EdicionPeticionCompra;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nav-tabs {
        border: none !important;
    }

    .tab-content .tab-pane {
        border: 1px solid #DDDDDD;
        padding: 5px 5px 40px 5px;
        line-height: 22px;
    }

        .tab-content .tab-pane h4 {
            margin-top: 0;
            font-weight: 700;
            font-size: 20px;
        }

    .disabledTab {
        pointer-events: none;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        background-color: #00a4b6 !important;
        color: #fff !important;
    }

    .nav-tabs > li > a {
        padding: 5px 30px !important;
    }

    table.dataTable thead > tr > th {
        padding-right: 0px !important;
    }

    label[for^=txtCostoPorUnidad] { 
        position: absolute; 
        background: white; 
        left:30px; 
        top: 7px; 
        cursor: pointer; 
    }
    input[id^=txtCostoPorUnidad] { 
        position: relative; 
        width: 100px; 
    }
    input[id^=txtCostoPorUnidad], label[for=txtCostoPorUnidad] { 
        padding: 0; 
        border: 1px solid #e2e2e4; 
        border-radius: 5px;
        width: 100px; 
        font-family: Arial; 
        line-height: 32px; 
        padding-left: inherit;
    }
    input[id^=txtCostoPorUnidad]:focus + label[for^=txtCostoPorUnidad] { 
        display: none; 
    }
    input[id=txtCantidad] { 
        width: 60px; 
    }

    .buttons {
        border: 1px solid #DDDDDD;
        padding: 5px 5px 40px 5px;
        line-height: 22px;
    }

    .observacion-comentario {
        border: 1px solid #f486be;
        padding: 5px 5px 40px 5px;
        line-height: 22px;
    }
</style>

<body ng-app="app.Compra" block-ui="main">
</body>

<div id="idBandejaPeticionCompra" ng-app="app.Compra" ng-controller="RegistroPeticionCompraController as vm">

    <div class="modal fade" id="ModalPrePeticion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-left:-50px">
        <div class="modal-dialog">
            <div class="modal-content" style="width:950px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">BUSCAR PRE PETICIÓN</p>
                </div>
                <div id="ContenidoPrePeticion" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="lblAlerta_Compras" class="alert-edit"></div>
            <section class="panel">
                <div class="panel-body">

                    <div class="row">
                        <div ng-cloak class="col-md-12" ng-hide="vm.PeticionCompraDCM || vm.PeticionCompraAPOrdinariaOpex || vm.FlagAPOrdinariaInv">
                            <div class="row">
                                <div class="col-lg-2" style="width:20% !important">
                                    <strong>Código de Petición Compra:</strong>
                                </div>
                                <div class="col-lg-2" style="width:16% !important">
                                    {{vm.PeticionCompra.CodigoPeticionCompraExtendido}}
                                </div>
                                <div class="col-lg-1">
                                    <strong>Estado:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.PeticionCompra.EstadoEtapa}}
                                </div>
                                <div class="col-lg-1">
                                    <strong>Actualizado:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.PeticionCompra.FechaModifica | date:'dd/MM/yyyy'}}
                                </div>
                                <div class="col-lg-2" style="width:13% !important">
                                    <strong>Tipo de compra:</strong>
                                </div>
                                <div class="col-lg-2">
                                    {{vm.PeticionCompra.TipoCompra}}
                                </div>
                            </div>
                        </div>
                        <div ng-cloak class="col-md-12" ng-show="vm.PeticionCompraDCM || vm.PeticionCompraAPOrdinariaOpex || vm.FlagAPOrdinariaInv">
                            <div class="row">
                                <div class="col-lg-1" style="width:5% !important">
                                    <strong>Código:</strong>
                                </div>
                                <div class="col-lg-2" style="width:10% !important">
                                    {{vm.PeticionCompra.CodigoPeticionCompraExtendido}}
                                </div>
                                <div class="col-lg-1">
                                    <strong>Estado:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.PeticionCompra.Etapa}}
                                </div>
                                <div class="col-lg-1">
                                    <strong>Actualizado:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.PeticionCompra.FechaModifica | date:'dd/MM/yyyy'}}
                                </div>
                                <div class="col-lg-1">
                                    <strong>Tipo de compra:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.PeticionCompra.TipoCompra}}
                                </div>
                                <div class="col-lg-1">
                                    <strong>Cesta:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.PeticionCompra.Cesta}}
                                </div>
                                <div class="col-lg-1">
                                    <strong>Contrato Marco:</strong>
                                </div>
                                <div class="col-lg-1">
                                    {{vm.PeticionCompra.NumContrato}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display:none">
                        <div class="col-lg-7">
                            <div class="pull-right">
                                <div class="row">
                                    <h4><strong>PETICION DE COMPRA</strong></h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-11 text-center">
                                        <strong>TDyM-18-00001</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right">
                            <div class="row">
                                <div class="col-lg-5">
                                    <strong>Estado:</strong>
                                </div>
                                <div class="col-lg-7">
                                    Preliminar
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <strong>Actualizado:</strong>
                                </div>
                                <div class="col-lg-7">
                                    28/09/2018
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <strong>Tipo de Compra:</strong>
                                </div>
                                <div class="col-lg-7">
                                    CG - Compra General
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <fieldset>
                        <legend>Información General</legend>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Asociado a Proyecto:</label>
                            <div class="col-sm-4">
                                <select id="cboAsociadoProyecto" class="form-control"
                                        ng-model="vm.IdAsociadoProyecto"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaAsociadoProyecto"
                                        ng-change="vm.CargarTipoCosto()"
                                        ng-disabled="vm.AsociadoAProyectosDisabled || vm.Ver == 1"
                                        ng-cloak></select>
                            </div>

                            <label ng-show="vm.IdAsociadoProyecto == 2 && vm.IdOrdenEtapa == 1 && vm.Ver == 0" class="col-sm-2 col-form-label">
                                <a class="btn btn-primary" ng-click="vm.ModalBuscarPrePeticion()">
                                    <i class="glyphicon glyphicon-new-search"></i> Buscar Pre-Petición
                                </a>
                            </label>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tipo de Compra:</label>
                            <div class="col-sm-4">
                                <select id="cboTipoCompra" class="form-control"
                                        ng-model="vm.IdTipoCompra"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoCompra"
                                        ng-change="vm.SeleccionarTipoPeticion()"
                                        ng-disabled="vm.TiposDisabled || vm.Ver == 1"
                                        ng-cloak></select>
                            </div>
                            <label class="col-sm-2 col-form-label">Tipo de Costo:</label>
                            <div class="col-sm-4">
                                <select id="cboTipoCosto" class="form-control"
                                        ng-model="vm.IdTipoCosto"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoCosto"
                                        ng-disabled="vm.TiposDisabled || vm.Ver == 1"
                                        ng-cloak></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Descripción de compra:</label>
                            <div class="col-md-10">
                                <input id="txtDescripcionPC" class="form-control" ng-disabled="vm.Ver == 1"
                                       ng-model="vm.PeticionCompra.Descripcion"
                                       maxlength="100" />
                            </div>
                        </div>

                        

                        <div ng-cloak ng-show="vm.EstadoEtapa == 2" class="form-group row">
                            <div class="col-xs-12 ">
                                <div class="observacion-comentario danger">
                                    Comentario: {{vm.ObservacionComentario}}
                                </div>
                            </div>
                        </div>


                        <div ng-cloak class="row">
                            <div class="col-xs-12">
                                <div id="js_image_selection" class="horizontal-scrollable-tabs">
                                    <div class="scroller arrow-left"><i class="fa fa-caret-left fa-2x"></i></div>
                                    <div class="scroller arrow-right"><i class="fa fa-caret-right fa-2x"></i></div>
                                    <div class="horizontal-tabs" style="height:35px;">
                                        <ul role="tablist" class="nav nav-tabs nav-tabs-horizontal">
                                            <li role="presentation" class="active"><a id="lnkInfoDatosGenerales" href="#datosgenerales" ng-click="vm.MostrarInfoDatosGenerales()" data-toggle="tab">Datos Generales</a></li>
                                            <li role="presentation" ng-class='vm.PeticionCompra.IdPeticionCompra == 0 ? "disabledTab" : "" '><a ng-href='{{vm.PeticionCompra.IdPeticionCompra != 0 ? "#clienteproveedor" : "" }}' id="lnkInfoClienteProveedor" ng-click="vm.MostrarInfoClienteProveedor()" data-toggle="tab">Cliente / Proveedor</a></li>
                                            <li role="presentation" ng-class='vm.PeticionCompra.IdPeticionCompra == 0 ? "disabledTab" : "" '><a ng-href='{{vm.PeticionCompra.IdPeticionCompra != 0 ? "#detallecompra" : "" }}' ng-click="vm.MostrarInfoDetalleCompra()" data-toggle="tab">Detalle de la Compra</a></li>
                                            <li role="presentation" ng-class='vm.PeticionCompra.IdPeticionCompra == 0 ? "disabledTab" : "" ' ng-hide="vm.AsociadoProyecto"><a ng-href='{{vm.PeticionCompra.IdPeticionCompra != 0 ? "#aprobaciones" : "" }}' ng-click="vm.MostrarInfoAprobaciones()" data-toggle="tab">Aprobaciones</a></li>
                                            <li role="presentation" ng-class='vm.PeticionCompra.IdPeticionCompra == 0 ? "disabledTab" : "" '><a ng-href='{{vm.PeticionCompra.IdPeticionCompra != 0 ? "#comentarios" : "" }}' ng-click="vm.MostrarInfoComentarioAnexo()" data-toggle="tab">Comentarios-Anexos</a></li>
                                            <li role="presentation" ng-class='vm.PeticionCompra.IdPeticionCompra == 0 ? "disabledTab" : "" '><a ng-href='{{vm.PeticionCompra.IdPeticionCompra != 0 ? "#soporte" : "" }}' ng-click="vm.MostrarInfoSoporte()" data-toggle="tab">Soporte</a></li>
                                            <li role="presentation" ng-class='vm.PeticionCompra.IdPeticionCompra == 0 ? "disabledTab" : "" '><a ng-href='{{vm.PeticionCompra.IdPeticionCompra != 0 ? "#gestion" : "" }}' ng-click="vm.MostrarInfoGestion()" data-toggle="tab">Gestión</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade-in active" id="datosgenerales">
                                        <div id="ContenidoInfoDatosGenerales">
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade-in" id="clienteproveedor">
                                        <div id="ContenidoInfoClienteProveedor">
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade-in" id="detallecompra">
                                        <div id="ContenidoInfoDetalleCompra">
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade-in" id="aprobaciones">
                                        <div id="ContenidoInfoDetalleAprobaciones">
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade-in" id="comentarios">
                                        <div id="ContenidoInfoCometarioAnexo">
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade-in" id="soporte">
                                        <div id="ContenidoInfoSoporte">
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade-in" id="gestion">
                                        <div id="ContenidoInfoGestion">
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade-in" id="despacho">
                                        <div id="ContenidoInfoDespacho">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t-xs">
                            <div class="col-md-12">
                                <ul id="idContenedor" class="nav nav-tabs"></ul>
                                <div class="tab-content">

                                </div>
                            </div>
                        </div>
                        
                        <div ng-cloak ng-show="vm.EstadoEtapa != 4 && (vm.Accion != 0 || vm.Observado == 1) && !vm.FlagEtapaCertificadaUsuario">
                            <div class="buttons">
                                <div class="pull-right">
                                    <div style="float:left;">
                                        <div ng-show="vm.Observado == 0">
                                            <button type="button" ng-show="vm.Accion == 2" class="btn btn-info btn-sm" ng-disabled="vm.AtenderPeticionCompra" ng-click="vm.fAtenderPeticionCompra()"><i class="glyphicon glyphicon-thumbs-up"></i> Atender</button>
                                            <button type="button" ng-show="!vm.AtenderPeticionCompra && vm.Accion == 1" class="btn btn-info btn-sm" ng-click="vm.AprobarPeticionCompra()"><i class="glyphicon glyphicon-ok"></i> Aprobar</button>
                                            <button type="button" ng-show="vm.AtenderPeticionCompra && (vm.Accion == 2 || vm.Accion == 4)" class="btn btn-info btn-sm" ng-click="vm.AprobarPeticionCompra()"><i class="glyphicon glyphicon-ok"></i> Aprobar</button>
                                            <button type="button" ng-show="vm.AtenderPeticionCompra && (vm.Accion == 2 || vm.Accion == 4)" class="btn btn-info btn-sm" ng-click="vm.ModalObservacion()"><i class="glyphicon glyphicon-thumbs-down"></i> Observar</button>
                                            <button type="button" ng-show="vm.AtenderPeticionCompra && (vm.Accion == 2 || vm.Accion == 4)" class="btn btn-info btn-sm" ng-click="vm.AnularPeticionCompra()"><i class="glyphicon glyphicon-remove-sign"></i> Anular</button>
                                        </div>
                                        <div ng-show="vm.Observado == 1">
                                            <button type="button" class="btn btn-info btn-sm" ng-click="vm.SubsanarPeticionCompra()"><i class="glyphicon glyphicon-thumbs-up"></i> Subsanar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </section>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/morris.css" rel="stylesheet" />
    <script src="~/Content/morris.min.js"></script>
    <script src="~/Content/raphael-min.js"></script>

    <script>var jsonListCliente= @Html.Raw(Json.Encode(ViewBag.vbListCliente));</script>

    @Scripts.Render("~/bundles/app/base/js")
    @Scripts.Render("~/bundles/app/comun/js")


    <script src="~/Scripts/app/Proyecto/Proyecto.module.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    <script src="~/Scripts/app/Comun/Recurso/Recurso.service.js"></script>
    <script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>
    <script src="~/Scripts/app/Comun/Proveedor/Proveedor.service.js"></script>

    @Scripts.Render("~/bundles/app/Compra/Bandeja/js")
    @Scripts.Render("~/bundles/app/Compra/DetalleCompra/js")
    @Scripts.Render("~/bundles/app/Compra/Soporte/js")
    @Scripts.Render("~/bundles/app/Compra/Aprobaciones/js")
    @Scripts.Render("~/bundles/app/Compra/ClienteProveedor/js")
    @Scripts.Render("~/bundles/app/Compra/BuscadoresPeticionCompra/js")
    @Scripts.Render("~/bundles/app/Compra/Gestion/js")
    @Scripts.Render("~/bundles/app/Compra/Anexo/js")

    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaServicio/js")
    <script src="~/Scripts/app/Compra/PrePeticionCompra/PrePeticionCompra.controller.js"></script>
    <script src="~/Scripts/app/Compra/PrePeticionCompra/PrePeticionCompra.service.js"></script>
    <script src="~/Scripts/app/Proyecto/RegistroProyecto/RegistroProyecto.service.js"></script>
    <script>
        var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));
        var IdPeticionCompra = '@ViewBag.IdPeticionCompra';
        var Accion = '@ViewBag.Accion';
        var IdOrdenEtapa = '@ViewBag.Orden';
        var IdEstadoEtapa = '@ViewBag.EstadoEtapa';
        var IdEtapaPeticionCompra = '@ViewBag.IdEtapaPeticionCompra';
        var Observado = '@ViewBag.Observado';
        var ObservacionComentario = '@ViewBag.Comentario';
        var Etapa = '@ViewBag.Etapa';
        var CargoUsuario = '@ViewBag.vbOptionUsuarioSol';
        var flagActaAcept = '@ViewBag.flagActaSubidaUsuario';
        var flagUsuarioAtiende = '@ViewBag.flagUsuarioAtiende';

        var IdUsuario = '@ViewBag.IdUsuario';
        var Ver = '@ViewBag.Ver';

        var IdProyecto = 0
        var IdDetalleFinanciero = 0
        var MostrarBusquedaPrePeticion = 1;
        var IdCabecera = 0;
    </script>

    <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />

    <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>

    <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>


    <script src="~/Content/css/js/scripts/navs/bootstrap-nav-tab-scrollable.js"></script>
    <link href="~/Content/css/bootstrap-nav-tab-scrollable.css" rel="stylesheet" />
    <script type="text/JavaScript">
        setTimeout(function(){
            $("#js_image_selection").horizontalTabs();
        }, 200);
    </script>

}

