﻿<div id="IdRegistrarRiesgoProyectoController" ng-controller="RegistrarRiesgoProyecto as vm">
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div id="divAlertRegistrarRiesgoProyecto" class="alert-edit col-md-12"></div>
            </div>
            <!--
            <div class="form-group col-md-12">
                <label class="control-label col-md-2"></label>
                <div class="col-md-4"></div>
                <label class="control-label col-md-2">Nivel:</label>
                <div class="col-md-4">
                    <label class="control-label" ng-model="vm.IdNivel"></label>
                </div>
            </div>
            -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Tipo:</label>
                <div class="col-md-4">
                    <select class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoRiesgoProyecto" ng-cloak></select>
                </div>
                <label class="control-label col-md-2">Fecha de detección:</label>
                <div class="col-md-4">
                    <div class="input-group date" style="cursor:pointer;">
                        <input type="text" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched" data-date-time-picker="" min-date="today" ng-model="vm.FechaDeteccion" maxlength="10" placeholder="dd/mm/yyyy">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Descripción:</label>
                <div class="col-md-4">
                    <textarea autocomplete="off" class="tb form-control" ng-model="vm.Descripcion" placeholder="Ingrese la descripcion" rows="5"></textarea>
                </div>
                <label class="control-label col-md-2">Consecuencias:</label>
                <div class="col-md-4">
                    <textarea autocomplete="off" class="tb form-control" ng-model="vm.Consecuencias" placeholder="Ingrese la consecuencia" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Plan de acción:</label>
                <div class="col-md-4">
                    <textarea autocomplete="off" class="tb form-control" ng-model="vm.PlanAccion" placeholder="Ingrese plan de accion" rows="5"></textarea>
                </div>
                <label class="control-label col-md-2">Responsable:</label>
                <div class="col-md-4">
                    <input class="form-control" ng-model="vm.Responsable" placeholder="Ingrese el responsable" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Probabilidad:</label>
                <div class="col-md-4">
                    <select class="form-control"
                            ng-model="vm.IdProbabilidad"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListProbabilidad" ng-cloak></select>
                </div>
                <label class="control-label col-md-2">Impacto:</label>
                <div class="col-md-4">
                    <select class="form-control"
                            ng-model="vm.IdImpacto"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListImpacto" ng-cloak></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Estado:</label>
                <div class="col-md-4">
                    <select class="form-control"
                            ng-model="vm.IdEstado"
                            ng-change="vm.IdEstado_SelectedIndexChanged()"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListEstado" ng-cloak></select>
                </div>
                <label class="control-label col-md-2">Fecha cierre:</label>
                <div class="col-md-4">
                    <div class="input-group date" style="cursor:pointer;">
                        <input type="text" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched" data-date-time-picker="" min-date="today" ng-model="vm.FechaCierre" maxlength="10" placeholder="dd/mm/yyyy" 
                               ng-disabled="vm.disabledIdEstado">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarRiesgoProyecto()">{{vm.Id==0?'Grabar':'Actualizar'}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/comun/RegistrarRiesgoProyecto/js")
}