﻿<div id="IdRegistrarOportunidadParametro" ng-controller="RegistrarOportunidadParametro as vm">
    <br />

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div id="divAlert_RegistrarOportunidadParametro" class="alert-edit col-md-12"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Descripción:</label>
                <div class="col-md-4">
                    <input id="id" class="form-control" ng-model="vm.Descripcion" placeholder="Ingrese Descripción" autocomplete="off" disabled ng-cloak>
                </div>

                <label class="control-label col-md-2">Valor:</label>
                <div class="col-md-4">
                    <input id="id" class="form-control" ng-model="vm.Valor" placeholder="Ingrese Valor" autocomplete="off"  ng-cloak>
                </div>

            </div>
            <div class="form-group col-md-12 text-right">


                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.ActualizarOportunidadParametro()"> Grabar</a>

            </div>
        </div>
    </div>
   
  
</div>
  
