﻿
<div id="IdRegistrarServicioController" ng-controller="RegistrarServicioController as vm">
 
        <div class="row">
            <div class="col-sm-12">


                <section class="panel">
                    <header class="panel-heading-modal">
                        Servicio
                        <span class="tools pull-right">

                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div id="divAlert" class="alert-edit col-md-12"></div>
                        </div>

                        <form id="contact-form">

                            <input id="id" class="form-control" ng-model="vm.IdServicio" style="display:none" ng-cloak>
                            <input id="id" class="form-control" ng-model="vm.IdServicioSubServicio" style="display:none" ng-cloak>
                            <input id="id" class="form-control" ng-model="vm.IdServicioSubServicioPorservicio" style="display:none" ng-cloak>



                            <div class="form-group col-md-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Servicio :</label>
                                    <div class="col-md-8">
                                        <select id="ddlServicioGrupo" class="form-control"
                                                ng-model="vm.IdListaServicioGrupo"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListaServiciosGrupo" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label class="control-label col-md-4">Descripción :</label>
                                    <div class="col-md-8">
                                        <input id="id" class="form-control" ng-model="vm.Servicio" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group col-md-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Linea Negocio :</label>
                                        <div class="col-md-8">
                                            <select id="" class="form-control"
                                                    ng-model="vm.IdLineaNegocio"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio " ng-cloak></select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Servicio CMI:</label>
                                        <div class="col-md-8">
                                            <select id="" class="form-control"
                                                    ng-model="vm.IdServicioCMI"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListServicioCMI " ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group col-md-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Grupo :</label>
                                        <div class="col-md-8">
                                            <select id="" class="form-control"
                                                    ng-model="vm.IdGrupoServicio"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListGrupoServicio " ng-cloak></select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Medio:</label>
                                        <div class="col-md-8">
                                            <select id="" class="form-control"
                                                    ng-model="vm.IdMedio"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListMedio " ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group col-md-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Tipo enlace :</label>
                                        <div class="col-md-8">
                                            <select id="" class="form-control"
                                                    ng-model="vm.IdEnlace"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListEnlace " ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Estado :</label>
                                        <div class="col-md-8">
                                            <select id="" class="form-control"
                                                    ng-model="vm.IdEstadoServicio"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListEstadoServicio " ng-cloak></select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-12 text-right">

                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4 text-right">
                                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarServicio()"> Registrar</a>
                                </div>


                            </div>
                            @*<div class="col-md-8">
                                </div>
                                <div class="col-md-4 text-right">
                                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarServicioController()"> Registrar</a>
                                </div>*@

                        </form>
                    </div>
                </section>
                <br />
                <section class="panel" id="IdBandejaSubServicio">
                    <header class="panel-heading-modal">
                        Componentes asociados
                        <span class="tools pull-right">

                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>

                    <div class="panel-body">
                        <div class="row">
                            <div id="divAlert_2" class="alert-edit col-md-12"></div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Grupo:</label>
                                    <div class="col-md-7">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdGrupoSubServicio"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListGrupoSubServicio " ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Sub Servicio:</label>
                                    <div class="col-md-7">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdSubServicio"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListSubServicio " ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group col-md-12">
                            @*<div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Requiere SISEGO:</label>
                                    <div class="col-md-7">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdSisego" ng-cloak>
                                            <option value="-1">--Seleccione--</option>
                                            <option value="0">Si</option>
                                            <option value="1">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Tipo Costo:</label>
                                    <div class="col-md-7">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdTipoCosto"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoCosto " ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Moneda:</label>
                                    <div class="col-md-7">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdMoneda"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListMoneda" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        @*<div class="form-group col-md-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Proveedor :</label>
                                    <div class="col-md-7">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdProveedor"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListProveedor " ng-cloak></select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Contrato marco:</label>
                                    <div class="col-md-7">
                                        <input id="id" class="form-control" ng-model="vm.ContratoMarco" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <br />
                        @*<div class="form-group col-md-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Periodo :</label>
                                    <div class="col-md-7">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdPeriodo"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListPeriodo " ng-cloak></select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Inicio:</label>
                                    <div class="col-md-7">
                                        <input id="id" class="form-control" ng-model="vm.Inicio" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                        <br />
                        @*<div class="form-group col-md-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Ponderado :</label>
                                    <div class="col-md-7">
                                        <input id="id" class="form-control" ng-model="vm.Ponderado" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>

                                    </div>
                                </div>
                            </div>
                           
                        </div>*@
                        <div class="form-group col-md-12">
                            <div class="text-right">
                                @*<a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.CargaModalServicio()" > Nuevo</a>*@
                                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-hide="vm.AccionGrabar" ng-click="vm.RegistrarSubServicioPorServicio()"> Registrar</a>
                            </div>
                        </div>
                        <section id="flip-scroll" style="margin-top:1em">
                            <div class="table-responsive">

                                <table datatable="" dt-options="vm.dtOptionsServicio" dt-columns="vm.dtColumnsServicio"
                                        class="ui compact selectable striped celled table"
                                        dt-instance="vm.dtInstanceServicio" style="width:100%;">
                                    <thead class="cf">
                                </table>

                            </div>
                        </section>

                    </div>
                </section>
            </div>
        </div>
        <div>

        </div>

</div>

@section scripts{

    <script>
        function EliminarSubServicio(IdServicioSubServicio) {
            debugger
            var scope = angular.element(document.getElementById("IdBandejaSubServicio")).scope();
            scope.vm.EliminarSubServicio(IdServicioSubServicio);
            scope.$apply();
        }
        function ObtenerSubServicio(IdServicioSubServicio) {
            debugger
            var scope = angular.element(document.getElementById("IdBandejaSubServicio")).scope();
            scope.vm.ObtenerSubServicio(IdServicioSubServicio);
            scope.$apply();
        }

        function ObtenerServicio(IdServicio) {
            var scope = angular.element(document.getElementById("IdBandejaServicio")).scope();
            scope.vm.ObtenerServicio(IdServicio);
            scope.$apply();
        }

        function EliminarServicio(IdServicio) {
            var scope = angular.element(document.getElementById("IdBandejaServicio")).scope();
            scope.vm.EliminarServicio(IdServicio);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    <script src="~/Scripts/app/Oportunidad/Oportunidad.module.js"></script>

    <script src="~/Scripts/app/Comun/RegistrarServicio/RegistrarServicio.controller.js"></script>
    <script src="~/Scripts/app/Comun/ServicioGrupo/ServicioGrupo.service.js"></script>
    <script src="~/Scripts/app/Comun/RegistrarServicio/RegistrarServicio.service.js"></script>
}

