﻿<div id="IdModemsController" ng-app="app.Oportunidad" ng-controller="ModemsController as vm">
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_ModemsModal" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoModem" class="tb form-control" ng-model="vm.Equipo" autocomplete="off" />
                </div>
                <label class="control-label col-md-2">Tipo :</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-cloak ng-change="vm.CantidadRoutersComplete();"></select>
                </div>               

            </div>
            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceModem" class="form-control" autocomplete="off" ng-model="vm.Cruce" />
                </div>
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoModem" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.AEReducido"/>
                </div>
                
            </div>*@
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Circuito</label>
                <div class="col-md-4">
                    <input id="txtCircuitoModem" class="form-control" autocomplete="off" ng-model="vm.Circuito" />
                </div>
                <label class="col-md-2 control-label">Modelo</label>
                <div class="col-md-4">
                    <input id="txtModeloModem" class="form-control" autocomplete="off"  ng-model="vm.Modelo" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtMesesAntiguedadModem" ng-model="vm.MesesAntiguedad" class="form-control" autocomplete="off" ng-change="vm.CantidadModemsComplete();" />
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadModem" ng-model="vm.Cantidad" type="text" class="form-control" ng-change="vm.CantidadModemsComplete();" />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Antiguo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioAntiguoModem" class="form-control" ng-model="vm.CostoUnitarioAntiguo" autocomplete="off" ng-change="vm.CantidadModemsComplete();" />
                </div>
                <label class="col-md-2 control-label">Valor Residual (USD)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualSolesModem" ng-model="vm.ValorResidualSoles" type="text" disabled="disabled" class="form-control" />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Nuevo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioModem" ng-model="vm.CostoUnitario" class="form-control" autocomplete="off" ng-change="vm.CantidadModemsComplete();" />
                </div>
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresModem" type="text" class="form-control" ng-model="vm.CapexDolares"  disabled="disabled" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesModem" class="form-control" autocomplete="off" ng-model="vm.CapexSoles" disabled="disabled" />
                </div>
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexModem" type="text" class="form-control" disabled="disabled"  ng-model="vm.TotalCapex" />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoModem" class="form-control" autocomplete="off" ng-model="vm.MesRecupero" />
                </div>
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoModem" type="text" class="form-control" ng-model="vm.MesComprometido" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtMesCertificadoModem" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>

            </div>
            
            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnModems" type="button" ng-click="vm.GrabarConceptoModems()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarConceptoModems()">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/modems/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");
}