﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Registro de Carta Fianza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<body ng-app="app.CartaFianza" block-ui="main">
</body>
<div id="IdMaestroCartaFianzaController" ng-app="app.CartaFianza" ng-controller="MaestroCartaFianzaController as vm">

    <div id="frmCartaFianza" class="content-page">
        <div class="row">
            <div id="divAlertMaestro" class="alert-edit col-md-12"></div>
        </div>

        <div style="visibility:hidden;display:none">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Registrar Nueva Carta Fianza
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <form>
                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <input type="hidden" id="IdCliente" ng-model="vm.IdCliente" />

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3"> RUC/NIF:</label>
                                        <div class="col-md-5">
                                            <input id="BNumeroIdentificador" class="form-control" ng-model="vm.BNumeroIdentificador" placeholder="RUC / NIF" autocomplete="off" ng-cloak readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">NOMBRE CLIENTE:</label>
                                        <div class="col-md-10">
                                            <input id="BNombreCliente" class="form-control" ng-model="vm.BNombreCliente" placeholder="Nombre Cliente" autocomplete="off" ng-cloak readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                    Limpiar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </section>
        </div>


        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">



                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">RUC/NIF:</label>
                            <div class="col-md-7">
                                <input id="NumeroIdentificador" class="form-control" ng-model="vm.NumeroIdentificador" placeholder="RUC / NIF" autocomplete="off" type="number" step="any" >
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label col-md-4">Nombre Ciente:</label>
                            <div class="col-md-8">
                                <input id="NombreCliente" class="form-control" ng-model="vm.NombreCliente" placeholder="Nombre Cliente" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Número Contrato:</label>
                            <div class="col-md-7">
                                <input id="NumeroContrato" class="form-control" ng-model="vm.NumeroContrato" placeholder="Número Contrato" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Num Garantía:</label>
                            <div class="col-md-7">
                                <input id="NumeroGarantia" class="form-control" ng-model="vm.NumeroGarantia" placeholder="Número Garantía">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label col-md-4">Importe Soles:</label>
                            <div class="col-md-8">
                                <input id="ImporteCartaFianzaSoles" class="form-control" ng-model="vm.ImporteCartaFianzaSoles" placeholder="Importe Carta Fianza Soles" type="number" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Fecha Vemcimiento:</label>
                            <div class="col-md-7">
                                <input id="FechaVencimiento" class="form-control" ng-model="vm.FechaVencimiento" type="date" placeholder="Fecha Vencimiento">
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label col-md-5">Est Carta Fianza:</label>
                            <div class="col-md-7">
                                <select id="IdEstadoCartaFianzaTm" class="form-control"
                                        ng-model="vm.IdEstadoCartaFianzaTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaEstadoCartaFianzaTm" ng-disabled="ActivarPanel"></select>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label col-md-4">Requerida:</label>
                            <div class="col-md-8">
                                <select id="IdEstadoCartaFianzaTmb" class="form-control"
                                        ng-model="vm.IdEstadoCartaFianzaTmb"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoRequerida" ng-disabled="ActivarPanel"></select>

                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.CargaModalCartaBuscarCliente()">
                            <span class="glyphicon glyphicon-new-window"></span> Nuevo
                        </button>
                        <button class="btn btn-primary" ng-click="vm.BuscarCartaFianza()">
                            <span class="glyphicon glyphicon-new-search"></span> Filtrar
                        </button>
                        <button class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                            <span class="glyphicon glyphicon-new-erase"></span> Limpiar
                        </button>
                    </div>
                </div>

            </div>
        </section>
        <br />

        <section class="panel">
            <header class="panel-heading-modal" style="background-color:white;color:black;">
                <i class="fa fa-chevron-circle-down"> </i>
                Registro de Carta Fianza
                <center>
                    <p style="padding-bottom:10px;
			                font-size: 18px;border-bottom-color: orange;border-top-color: white;
                            border-left-color: white;border-right-color: white;border-style: solid;
                            font-size: 28px;font-family: cursive;">
                        Emisión
                    </p>
                </center>
            </header>
            <div class="panel-body">
                <input type="text" id="vSIdCartaFianza" ng-model="vm.vSIdCartaFianza" style="visibility:hidden;display:none" />
                <button style="visibility:hidden;display:none; background-color:#dc7f61;" class="btn btn-primary  text-right" ng-click="vm.VerificarItemSelecionadosCartaFianza()" data-toggle="modal" >
                    <span class="fa fa-refresh"></span> RENOVAR
                </button>
                <div class="dv-table">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table id="tbEstudiosEspeciales" datatable="" dt-options="vm.dtOptionsCartaFianza" dt-columns="vm.dtColumnsCartaFianza"
                                   class="table order-column"
                                   dt-instance="vm.dtInstanceCartaFianza" style="width:150%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>

            </div>
        </section>


    </div>

    <div class="modal fade" id="ModalRenovacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:450px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">RENOVACIÓN</p>
                </div>

                <div class="row">
                    <div id="divAlertRegistrarRenovacion" class="alert-edit col-md-12"></div>
                </div>
                <div id="ContenidoCartaFianzaRenovacion" class="modal-body modal-bodyTgestiona" style="font-size:9pt;"> </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="CmbTipoRenovacionTm" class="col-lg-4 col-sm-4 control-label">Tipo de Renovación</label>
                            <div class="col-md-6">
                                <select id="CmbTipoRenovacionTm" name="vm.CmbTipoRenovacionTm" class="form-control"
                                        ng-model="vm.CmbTipoRenovacionTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoRenovacion" ng-change="vm.Renovar()" ng-disabled="ActivarPanel"></select>

                            </div>
                        </div>

                        <div id="RenovarSi">

                            <div class="form-group">

                                <label class="col-lg-4 col-sm-4 control-label">Periodo de Renovación:<span class="text-danger"></span></label>
                                <div class="col-md-6">
                                    <input id="PeriodoMesRenovacion" class="form-control" ng-model="vm.PeriodoMesRenovacion" placeholder="Periodo de Renovación" autocomplete="off" type="number" step="any" ng-change="vm.CalculaFechaVencimiento(vm.PeriodoMesRenovacion)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="FechaVencimientoRenovacion" class="col-lg-4 col-sm-4 control-label">Fecha Vencimiento Renovación</label>
                                <div class="col-md-6">
                                    <input id="FechaVencimientoRenovacion" class="form-control" ng-model="vm.FechaVencimientoRenovacion" type="date" placeholder="Fecha de Vencimiento" ng-change=" vm.monthDiff( vm.FechaVencimientoRenovacion )">
                                </div>
                            </div>



                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 col-sm-4 control-label">Validación Contrato Gc y Sm:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <!-- <input id="ValidacionContratoGcSm" class="form-control" ng-model="vm.ValidacionContratoGcSm" type="text" placeholder="Validacion Contrato Gc y Sm"> -->

                                <select id="CmbTipoValidacionRenovacionTm" name="vm.CmbTipoValidacionRenovacionTm" class="form-control"
                                        ng-model="vm.CmbTipoValidacionRenovacionTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoValidacionRenovacion" ng-disabled="ActivarPanel"></select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-sm-4 control-label">Fecha Respuesta Final Gc y Sm:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <input id="FechaRespuestaFinalGcSm" class="form-control" ng-model="vm.FechaRespuestaFinalGcSm" type="date" placeholder="Fecha Respuesta Final Gc y Sm">
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-lg-4 col-sm-4 control-label">Sustento<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <textarea id="SustentoRenovacion" class="form-control" ng-model="vm.SustentoRenovacion" rows="4"></textarea>
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="col-lg-4 col-sm-4 control-label">Observación:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <textarea id="Observacion" class="form-control" ng-model="vm.Observacion" rows="4"></textarea>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" class="btn btn-primary" ng-click="vm.RenovarCartaFianza()">Procesar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalRequerida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:450px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">REQUERIDA</p>
                </div>

                <div class="row">
                    <div id="divAlertRegistrarRequerida" class="alert-edit col-md-12"></div>
                </div>
                <div id="ContenidoCartaFianzaRequerida" class="modal-body modal-bodyTgestiona" style="font-size:9pt;"> </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <input type="hidden" id="vm.numerofila" name="vm.numerofila">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tipo de Requerida:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <select id="IdTipoRequeridaTm" name="vm.IdTipoRequeridaTm" class="form-control"
                                        ng-model="vm.IdTipoRequeridaTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoRequerida" ng-disabled="ActivarPanel" ng-change="vm.SelecionarFechaRequerida()"></select>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-md-4 control-label">Solicitud Renovacion ó Ejecución:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <input id="FechaRenovacionEjecucion" type="date" class="form-control input-md" ng-model="vm.FechaRenovacionEjecucion" max="3000-12-31" min="2000-01-01" ng-change=" vm.LimpiarDtRequerida( 'RER' )" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Ejecución:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <input id="FechaEjecucion" type="date" class="form-control input-md" ng-model="vm.FechaEjecucion" max="3000-12-31" min="2000-01-01" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Desestimar Requerimiento:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <input id="FechaDesestimarRequerimiento" type="date" class="form-control input-md" ng-model="vm.FechaDesestimarRequerimiento" max="3000-12-31" min="2000-01-01" ng-change=" vm.LimpiarDtRequerida( 'DR' )" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Observación:<span class="text-danger"></span></label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" id="MotivoCartaFianzaRequerida" name="MotivoCartaFianzaRequerida" ng-model="vm.MotivoCartaFianzaRequerida" rows="3" placeholder="Motivo CartaFianza Errada" autocomplete="off" ng-cloak></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" class="btn btn-primary" ng-click="vm.RequeridaCartaFianza()">Actualizar Datos</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal-->
<div class="modal fade" style="overflow:auto;" id="ModalEnviarCorreoCartaFianza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">ENVIAR CORREO</p>
            </div>
            <div class="modal-body" id="ContenidoCorreo">

            </div>

        </div>
    </div>
</div>

<!-- Modal-->
<div class="modal fade" style="overflow:auto;" id="ModalCartaFianza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">REGISTRO DE CARTA FIANZA</p>

            </div>

            <div id="ContenidoCartaFianza" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">

            </div>
        </div>
    </div>
</div>

<!-- Modal-->
<div class="modal fade" id="ModalCartaFianzaCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">BUSCAR CLIENTE</p>

            </div>
            <div id="ContenidoCartaFianzaCliente" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">

            </div>
        </div>
    </div>
</div>

<!-- Modal-->
<div class="modal fade" id="ModalCartaFianzaAccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">ACCIONES DEL CONTRATO </p>

            </div>
            <div id="ContenidoCartaFianzaAcciones" class="modal-body modal-bodyTgestiona" style="font-size:9pt;">

            </div>
        </div>
    </div>
</div>








@section scripts{

    @Scripts.Render("~/bundles/app/CartaFianza/MaestroCartaFianza/js");

}


