﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table.dataTable.compact tbody th, table.dataTable.compact tbody td {
        padding: 1px;
    }
</style>
<body ng-app="app.Trazabilidad" block-ui="main">
</body>

<div id="IdBandejaDatosPreventaMovil" ng-app="app.Trazabilidad" ng-controller="BandejaDatosPreventaMovil as vm">

    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div id="divAlertBandeja">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Oportunidad:</label>
                        <div class="col-md-4">
                            <input id="IdOportunidadSF" class="form-control" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Codigo" maxlength="240" autocomplete="off" ng-cloak>
                        </div>
                        <label class="control-label col-md-2">Descripción de Cliente: </label>
                        <div class="col-md-4">
                            <input id="DescripcionCliente" class="form-control" ng-model="vm.DescripcionCliente" placeholder="Ingrese Descripción" maxlength="240" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Caso:</label>
                        <div class="col-md-4">
                            <input id="IdCasoSF" class="form-control" ng-model="vm.IdCasoSF" placeholder="Ingrese Codigo" maxlength="240" autocomplete="off" ng-cloak>
                        </div>
                        <label class="control-label col-md-2">Estado de Caso: </label>
                        <div class="col-md-4">
                            <select id="IdEstadoCaso" class="form-control input-md"
                                    ng-model="vm.IdEstadoCaso"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstadosCaso" ng-cloak></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Segmento Negocio:</label>
                        <div class="col-md-4">
                            <select id="IdSegmentoNegocio" class="form-control input-md"
                                    ng-model="vm.IdSegmentoNegocio"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listSegmentosNegocios" ng-cloak></select>

                        </div>
                        <label class="control-label col-md-2">Tipo Oportunidad: </label>
                        <div class="col-md-4">
                            <select id="IdTipoOportunidad" class="form-control input-md"
                                    ng-model="vm.IdTipoOportunidad"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listTiposOportunidad" ng-cloak></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Linea Negocio: </label>
                        <div class="col-md-4">
                            <select id="IdLineaNegocio" class="form-control input-md"
                                    ng-model="vm.IdLineaNegocio"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listLineaNegocio" ng-cloak></select>
                        </div>
                        <label class="control-label col-md-2">Complejidad:</label>
                        <div class="col-md-4">
                            <select id="Codigo" class="form-control input-md"
                                    ng-model="vm.Codigo"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listComplejidad" ng-cloak></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Etapa:</label>
                        <div class="col-md-4">
                            <select id="IdEtapa" class="form-control input-md"
                                    ng-model="vm.IdEtapa"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarDatosPreventaMovil()">
                            Filtrar
                        </button>
                        <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                            Limpiar
                        </button>
                        <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalCargaExcelDatosPreventaMovil" ng-click="vm.CargarExcelOportunidadesVenta()">
                            Cargar Excel de Oportunidades
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <section class="panel">
            <header class="panel-heading">
                Seguimiento Oportunidad
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstance" style="width:500%">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>

        <!-- Modal Registrar-->

        <div class="modal fade" id="ModalRegistrarDatosPreventaMovil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title">REGISTRO DE DATOS PREVENTA MOVIL</p>

                    </div>
                    <div id="ContenidoDatosPreventaMovil" class="modal-body-white">

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Carga Archivo-->

        <div class="modal fade" id="ModalCargaExcelDatosPreventaMovil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title">CARGA DE OPORTUNIDADES DE VENTA</p>

                    </div>
                    <div id="ContenidoCargaExcelDatosPreventaMovil" class="modal-body-white">

                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Actualizar-->

        <div class="modal fade" id="IdConfirmacionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label for="txtIdRecurso">¿Esta seguro de querer eliminar este registro?</label>
                            <input type="hidden" id="idClave" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnAgregar" ng-if="vm.btnEliminar" ng-click="vm.AceptarEliminarDatosPreventaMovil()">Eliminar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>  


    @section scripts{

        <script>
            function EliminarDatosPreventaMovil(IdDatosPreventaMovil) {
                var scope = angular.element(document.getElementById("IdBandejaDatosPreventaMovil")).scope();
                scope.vm.EliminarDatosPreventaMovil(IdDatosPreventaMovil);
                scope.$apply();
            }
        </script>

        @Scripts.Render("~/bundles/app/comun/js")
        @Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
        @Scripts.Render("~/bundles/app/Trazabilidad/BandejaDatosPreventaMovil/js")

    }









