﻿@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaSubServicios;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Comun" block-ui="main">
</body>
<div id="IdBandejaSubServicio" ng-app="app.Comun" ng-controller="BandejaSubServicio as vm">

    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                @*<i class="fa fa-chevron-circle-down"> </i>*@
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
              
            </header>
            <div class="panel-body">
                <div id="divAlert_Eliminar" class="alert-edit col-lg-12"></div>
                <div class="messages"></div>
                
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Descripción:</label>
                        <div class="col-md-4">

                            <input id="id" class="form-control" ng-model="vm.Descripcion" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>


                        </div>
                        <label class="col-md-2 control-label">Tipo Costo:</label>
                        <div class="col-md-4" ng-init="vm.ListarMaestraPorIdRelacion()">

                            <select id="" class="form-control"
                                    ng-model="vm.IdtipoSubServicio"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoServicio" ng-cloak></select>


                        </div>

                       </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row action">
                        <div class="col-sm-12 text-right">
                            @*<button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalRegistrarServicio" ng-click="vm.ModalSubServicio()">
                        Nuevo
                    </button>*@
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarSubServicio()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </div>
        </section>

        <br />
        <section class="panel">
            <header class="panel-heading">
                @*<i class="fa fa-chevron-circle-down"> </i>*@
              Componentes
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <span class="tools pull-right">
                    <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalRegistrarServicio" ng-click="vm.ModalSubServicio()">
                        Nuevo
                    </button>
                </span>

                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstance" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>

        <!-- Modal-->

    <div class="modal fade" id="ModalRegistrarServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">Registro de Componente</p>

                    </div>
                    <div id="ContenidoSubServicio" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>

    </div>
</div>
@section scripts{

    <script>
     
        function EliminarSubServicio(IdSubServicio) {
            var scope = angular.element(document.getElementById("IdBandejaSubServicio")).scope();
            scope.vm.EliminarSubServicio(IdSubServicio);
            scope.$apply();
        }


    </script>

    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/comun/BandejaSubServicio/js")


}

