﻿<div id="IdSeguridadOPEX" ng-app="app.Oportunidad" ng-controller="SeguridadOPEXController as vm">
   
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_SOPEX" class="alert-edit"></div>
            </div>
            
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Componente<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtServicio" ng-model="vm.servicio" class="tb form-control" autocomplete="off" />
                </div>
                @*<label class="col-md-2 control-label">Tipo</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-cloak></select>
                </div>*@
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidad" ng-model="vm.cantidad" type="text" class="form-control" autocomplete="off" ng-change="vm.CalculaPxQ()" />
                </div>
            </div>
            @*<div class="form-group col-md-12">
              
                
            </div>*@
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Monto Unitario</label>
                <div class="col-md-4">
                    <input id="txtMontoUnitario" ng-model="vm.precioUnitario" class="form-control" autocomplete="off" ng-change="vm.CalculaPxQ()"/>
                </div>
                <label class="col-md-2 control-label">Monto PxQ</label>
                <div class="col-md-4">
                    <input id="txtMontoPxQ" ng-model="vm.montoPxQ" class="form-control" autocomplete="off" disabled="disabled" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Factor</label>
                <div class="col-md-4">
                    <input id="txtfactor" ng-model="vm.factor" class="form-control" autocomplete="off"  ng-change="vm.CalculaValorCuota()" />
                </div>
                <label class="col-md-2 control-label">Valor Cuota</label>
                <div class="col-md-4">
                    <input id="txtValorCuota" ng-model="vm.valorCuota" class="form-control" autocomplete="off" disabled="disabled" />
                </div>
            </div>
            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">N° Mes Inicio gasto</label>
                <div class="col-md-4">
                    <input id="txtMesInicio" ng-model="vm.mesInicioGasto" class="form-control" autocomplete="off" />
                </div>
            </div>*@

            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnSeguridadOPEX" type="button" ng-click="vm.GrabarSOPEX()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarSOPEX()">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/SOPEX/js");
}