﻿<div id="IdRoutersController" ng-app="app.Oportunidad" ng-controller="RoutersController as vm">
   
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="row">
                <div id="lblAlerta_Routers" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtTipoRouter" class="tb form-control" onkeypress="ConceptoComplete(this,8);" autocomplete="off"  ng-model="vm.Tipo" />
                </div>
                <label class="control-label col-md-2">Tipo :</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-cloak ng-change="vm.CantidadRoutersComplete();"></select>
                </div>
            </div>
            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceRouter" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.Cruce" />
                </div>
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoRouter" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.AEReducido"  />
                </div>
               
            </div>*@
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Circuito</label>
                <div class="col-md-4">
                    <input id="txtCircuitoRouter" class="form-control" autocomplete="off" ng-model="vm.Circuito" />
                </div>
                <label class="col-md-2 control-label">Modelo</label>
                <div class="col-md-4">
                    <input id="txtModeloRouter" class="form-control" autocomplete="off" ng-model="vm.Modelo"/>
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadEE" ng-model="vm.MesesAntiguedad" class="form-control" autocomplete="off" ng-change="vm.CantidadRoutersComplete();" />
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadRouter" type="text" class="form-control" autocomplete="off" ng-change="vm.CantidadRoutersComplete();" ng-model="vm.Cantidad" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Antiguo</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioAntiguoRouter" class="form-control" autocomplete="off" ng-change="vm.CantidadRoutersComplete();" ng-model="vm.CostoUnitarioAntiguo" />
                </div>
                <label class="col-md-2 control-label">Valor Residual (USD)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualRouter" type="text" class="form-control" disabled="disabled" ng-model="vm.ValorResidualSoles"  />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. nuevo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioRouter" class="form-control" autocomplete="off" ng-change="vm.CantidadRoutersComplete();" ng-model="vm.CostoUnitario" />
                </div>
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresRouter" type="text" class="form-control" disabled="disabled" ng-model="vm.CapexDolares"  />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex (Instalación) (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexInstalacion" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.CapexInstalacion" />
                </div>
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesRouter" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.CapexSoles" />
                </div>
              

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexRouter" type="text" class="form-control" disabled="disabled" ng-model="vm.TotalCapex" />
                </div>

                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoRouter" class="form-control" autocomplete="off" ng-model="vm.MesRecupero" />
                </div>
                
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtMesCertificadoRouter" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoRouter" type="text" class="form-control" ng-model="vm.MesComprometido" />
                </div>

            </div>
            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnRouters" type="button" ng-click="vm.GrabarConceptoRouter()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarConceptoRouter()">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/routers/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}