﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="idDetalleCompraController" ng-app="app.Compra" ng-controller="ClienteProveedorController as vm">

    <div class="modal fade" id="IdClienteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Seleccione {{vm.TituloModal}}</h4>
                </div>
                <div class="modal-body">
                    <section class="panel">
                        <header class="panel-heading-modal">
                            <i class="fa fa-chevron-circle-down"> </i>
                            DATOS DE <span style="text-transform:uppercase">{{vm.TituloModal}}</span>
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbCliente"></a>
                            </span>
                        </header>

                        <div id="pnbCliente" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div class="form-group row">

                                    <label class="col-form-label col-md-2">RUC:</label>
                                    <div class="col-md-3">
                                        <input class="form-control" ng-model="vm.Filtros.Ruc" placeholder="RUC" autocomplete="off" step="any" type="number">
                                    </div>

                                    <label class="col-form-label col-md-2">Razón Social: </label>
                                    <div class="col-md-4">
                                        <input class="form-control" ng-model="vm.Filtros.RazonSocial" placeholder="Razón Social" autocomplete="off" ng-cloak>
                                    </div>

                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.Buscar()"><span class='glyphicon glyphicon-search'></span> Buscar</a>

                                        <button id="btnLimpiar" class="btn btn-primary" type="reset" ng-click="vm.LimpiarFiltros()">
                                            <span class="glyphicon glyphicon-erase" />
                                            Limpiar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="panel">
                        <header class="panel-heading-modal">
                            <i class="fa fa-chevron-circle-down"> </i>
                            RESULTADO DE <span style="text-transform:uppercase">{{vm.TituloModal}}</span>
                        </header>
                        <div class="panel-body">
                            <section id="dv-table">
                                <div ng-hide="vm.TipoModal == 2">
                                    <table id="tbCliente" datatable="datatable" dt-options="vm.dtOptionsCliente" dt-columns="vm.dtColumnsCliente"
                                           class="ui compact selectable striped celled table"
                                           dt-instance="vm.dtInstanceCliente" style="width:100%;">
                                        <thead class="cf">
                                    </table>
                                </div>

                                <div ng-hide="vm.TipoModal == 1">
                                    <table id="tbProveedor" datatable="datatable" dt-options="vm.dtOptionsProveedor" dt-columns="vm.dtColumnsProveedor"
                                           class="ui compact selectable striped celled table"
                                           dt-instance="vm.dtInstanceProveedor" style="width:100%;">
                                        <thead class="cf">
                                    </table>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


    <section class="panel">
        <header class="panel-heading-modal">
            DATOS DEL CLIENTE
        </header>

        <div id="pnbCliente" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cliente:</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input class="form-control" readonly ng-model="vm.ClienteSeleccionado.RazonSocialCliente" />
                            <span class="input-group-addon" ng-hide="vm.Ver == 1" ng-click="vm.AbrirBusquedaClienteProveedor(1)">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row" style="display:none">
                    <label class="col-sm-2 col-form-label">Razón Social del Cliente:</label>
                    <div class="col-sm-7">
                        <input class="form-control" readonly ng-model="vm.ClienteSeleccionado.RazonSocialCliente" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            DATOS DEL PROVEEDOR
        </header>

        <div id="pnbCliente" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Proveedor:</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input class="form-control" readonly ng-model="vm.ProveedorSeleccionado.RazonSocialProveedor" />
                            <span class="input-group-addon" ng-hide="vm.Ver == 1" ng-show="!vm.PeticionCompraDCM" ng-click="vm.AbrirBusquedaClienteProveedor(2)">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">RUC:</label>
                    <div class="col-sm-3">
                        <input class="form-control" readonly ng-model="vm.ProveedorSeleccionado.RUC" />
                    </div>
                    <label class="col-sm-2 col-form-label text-center">Código SAP:</label>
                    <div class="col-sm-2">
                        <input class="form-control" ng-disabled="vm.Ver == 1" maxlength="100" ng-model="vm.DetalleClienteProveedor.CodigoSap" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Código SRM:</label>
                    <div class="col-sm-2">
                        <input class="form-control" ng-disabled="vm.Ver == 1" maxlength="100" ng-model="vm.DetalleClienteProveedor.CodigoSrm" />
                    </div>
                </div>

                <fieldset>
                    <legend>Contacto del Proveedor</legend>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Nombre:</label>
                        <div class="col-sm-3">
                            <input class="form-control" ng-disabled="vm.Ver == 1" maxlength="255" ng-model="vm.DetalleClienteProveedor.NombreContacto" />
                        </div>
                        <label class="col-sm-1 col-form-label">Email:</label>
                        <div class="col-sm-3">
                            <input class="form-control" ng-disabled="vm.Ver == 1" maxlength="255" ng-model="vm.DetalleClienteProveedor.EmailContacto" />
                        </div>
                        <label class="col-sm-1 col-form-label">Teléfono:</label>
                        <div class="col-sm-3">
                            <input class="form-control" ng-disabled="vm.Ver == 1" maxlength="255" ng-model="vm.DetalleClienteProveedor.TelefonoContacto" />
                        </div>
                    </div>
                    <div>
                        <div class="pull-right">
                            <button id="btnLimpiar" ng-hide="vm.Ver == 1" class="btn btn-success btn-sm" type="reset" ng-click="vm.GuardarDetalleClienteProveedor()">
                                <span class="glyphicon glyphicon-floppy-disk" />
                                Guardar
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </section>
</div>
