﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Asginar Colaborador Carta Fianza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.CartaFianza" block-ui="main">
</body>

<div id="idRecuperoCartaFianza" ng-app="app.CartaFianza" ng-controller="AsignarColaboradorCartaFianzaController as vm">
    <div id="frmCartaFianza" class="content-page">

        <header class="panel-heading-modal" style="background-color:white;color:black;">
            <i class="fa fa-chevron-circle-down"> </i>
            Asignación
            <center>
                <p style="padding-bottom:10px;
			                font-size: 18px;border-bottom-color: orange;border-top-color: white;
                            border-left-color: white;border-right-color: white;border-style: solid;
                            font-size: 28px;font-family: cursive;">
                    Asignar Colaborador
                </p>
            </center>
        </header>

        <br />
        <div class="row">
            <div class="col-lg-5">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading">
                        Asignar Supervisor a Gerente de Cuenta
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div id="divAlertSupervisorAGerenteCuenta" class="alert-edit col-md-12"></div>
                        </div>
                        <div class="form-group">
                            <label for="IdSupervisorSup">Supervisor</label>
                            <select id="IdSupervisorSup" class="form-control" ng-model="vm.supervisor.IdSupervisorColaborador" onchange="vm.SupervisorChange()"></select>
                        </div>
                        <div class="form-group">
                            <label for="IdGerenteCuentaSup">Gerente de Cuenta</label>
                            <select id="IdGerenteCuentaSup" class="form-control" ng-model="vm.supervisor.IdColaborador" multiple></select>
                        </div>
                        <div class="col-lg-offset-2 col-lg-10 text-right">
                            <button type="submit" class="btn btn-info" ng-click="vm.GuardarSupervisorAGerenteCuenta()">Guardar</button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-7">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading">
                        últimas Asignaciones de Gerente de Cuenta a Supervisores
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="dv-table">
                            <div class="table-responsive">
                                <table class="table order-column" id="tablaSupervisorAGerenteCuenta" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Nro</th>
                                            <th>Supervisor</th>
                                            <th>Gerente de Cuenta</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-lg-5">
                <section class="panel">
                    <header class="panel-heading">
                        Asignar Gerente de Cuenta a Cliente
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div id="divAlertGerenteCuentaACartaFianza" class="alert-edit col-md-12"></div>
                        </div>
                        <div class="form-group">
                            <label for="IdGerenteCuentaGer">Gerente de Cuenta</label>
                            <select id="IdGerenteCuentaGer" class="form-control" ng-model="vm.gercuenta.IdColaborador" onchange="vm.GerenteCuentaChange()"></select>
                        </div>
                        <div class="form-group">
                            <label for="IdServicesManagerGer">Services Manager</label>
                            <select id="IdServicesManagerGer" class="form-control" ng-model="vm.gercuenta.IdServicesManager" multiple></select>
                        </div>
                        <div class="form-group">
                            <label for="IdClienteGer">Cliente</label>
                            <select id="IdClienteGer" class="form-control" ng-model="vm.gercuenta.IdCliente" multiple></select>
                        </div>
                        <div class="col-lg-offset-2 col-lg-10 text-right">
                            <button type="submit" class="btn btn-info" ng-click="vm.GuardarGerenteCuentaACartaFianza()">Guardar</button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-7">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading">
                        últimas Asignaciones de Clientes a Gerentes de Cuenta
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="dv-table">
                            <div class="table-responsive">
                                <table class="display table table-bordered table-striped" id="tablaGerenteCuentaACartaFianza">
                                    <thead>
                                        <tr>
                                            <th>Nro</th>
                                            <th>Gerente de Cuenta</th>
                                            <th>Cliente</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-lg-5">
                <section class="panel">
                    <header class="panel-heading">
                        Asignar Tesorera
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div id="divAlertActualizarTesorera" class="alert-edit col-md-12"></div>
                        </div>
                        <div class="form-group">
                            <label for="IdTesorera">Tesorera</label>
                            <select id="IdTesorera" class="form-control" ng-model="vm.tesorera.IdColaborador"></select>
                        </div>
                        <div class="col-lg-offset-2 col-lg-10 text-right">
                            <button type="submit" class="btn btn-info" ng-click="vm.ActualizarTesorera()">Guardar</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/CartaFianza/AsignarColaboradorCartaFianza/js");
}
