﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<style>
    .panel-title {
        padding: 15px;
    }
</style>

<div id="idGestionController" ng-app="app.Compra" ng-controller="GestionController as vm">

    <div class="form-group row">
        <label class="col-sm-6 col-form-label"><strong>Gestión de Petición de Compra:</strong></label>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            <i class="fa fa-chevron-circle-down"> </i>
            CONTRATO MARCO (CM) Y CESTA (ANTES SOLPE)
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbContratoMarco"></a>
            </span>
        </header>

        <div id="pnbContratoMarco" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group row" ng-hide="vm.PeticionDCM || (vm.GestionAsociadaPro && (!vm.FlagAPOrdinariaInv && !vm.PeticionCompraAPOrdinariaOpex))">
                    <label class="col-sm-2 col-form-label">Contrato Marco:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.ContratoMarco" maxlength="100" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">CESTA:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.Cesta" maxlength="150" />
                    </div>
                    <label class="col-sm-2 col-form-label">Fecha CESTA:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.FechaCesta" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" ng-show="vm.PeticionDCM || vm.PeticionOrdinaria || vm.GestionAsociadaPro">Cesta Liberada:</label>
                    <div class="col-sm-4" ng-show="vm.PeticionDCM || vm.PeticionOrdinaria || vm.GestionAsociadaPro">
                        <select id="cboCestaLiberada" class="form-control" ng-disabled="vm.Ver == 1"
                                ng-model="vm.CestaLiberada" ng-cloak>
                            <option value="-1">--Seleccione--</option>
                            <option value="0">Si</option>
                            <option value="1">No</option>
                        </select>
                    </div>
                    <label class="col-sm-2 col-form-label">Posición CESTA:</label>
                    <div class="col-sm-4">
                        <input type="number" min="0" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.PosicionCesta" />
                    </div>
                </div>
            </div>
        </div>

        <header class="panel-heading-modal">
            <i class="fa fa-chevron-circle-down"> </i>
            PEDIDO (Antes O/C: Orden de Compra)
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbPedidoOC"></a>
            </span>
        </header>

        <div id="pnbPedidoOC" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group row" ng-show="vm.PeticionDCM || vm.GestionAsociadaPro || vm.PeticionCompraGeneral || vm.PeticionOrdinaria">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-4">
                    </div>
                    <label class="col-sm-2 col-form-label">Moneda:</label>
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            <input type="radio" name="optRdTipoMonedaCompra" ng-disabled="vm.Ver == 1" id="rbtnTipoMonedaCompra1"
                                   ng-model="vm.Gestion.IdTipoMoneda" value="1" checked>Soles
                        </label>
                        <label class="checkbox-inline" style="width:200px">
                            <input type="radio" name="optRdTipoMoneda" ng-disabled="vm.Ver == 1" id="rbtnTipoMoneda2"
                                   ng-model="vm.Gestion.IdTipoMoneda" value="2">Dólares
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Número de Pedido:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.NumeroPedido" maxlength="150" />
                    </div>
                    <label class="col-sm-2 col-form-label">Fecha Pedido:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.FechaPedido" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-4">
                    </div>
                    <label class="col-sm-2 col-form-label">Posición Pedido:</label>
                    <div class="col-sm-4">
                        <input type="number" min="0" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.PosicionPedido" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-4">
                    </div>
                    <label class="col-sm-2 col-form-label">Envió Pedido:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.EnvioPedido" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-4">
                        <strong>Campos para Actas de Aceptación ==></strong>
                    </div>
                    <label class="col-sm-2 col-form-label">Monto de Pedido:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.MontoPedido" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-4 text-center">
                        <span class="text-danger">Importante:</span><br />
                        Actualizar el "Saldo de Pedido" en cada certificación, con el saldo de la última Acta de Aceptación certificada.
                    </div>
                    <label class="col-sm-2 col-form-label">Saldo de Pedido:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.SaldoPedido" />
                    </div>
                </div>
            </div>
        </div>

        <header class="panel-heading-modal">
            <i class="fa fa-chevron-circle-down"> </i>
            CONFIRMACION (Antes: Certificación)
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbConfirmacion"></a>
            </span>
        </header>

        <div id="pnbConfirmacion" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" ng-show="vm.PeticionDCM || vm.GestionAsociadaPro || vm.PeticionOrdinaria">Código de confirmación:</label>
                    <div class="col-sm-4" ng-show="vm.PeticionDCM || vm.GestionAsociadaPro || vm.PeticionOrdinaria">
                        <input type="text" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.CodigoConfirmacion" maxlength="15" />
                    </div>
                    <label class="col-sm-2 col-form-label">Fecha de Confirmación:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.FechaConfirmacion" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fecha de Acta recibida:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.FechaActaRecibida" />
                    </div>
                    <label class="col-sm-2 col-form-label">Fecha de Atención de Gestor:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-disabled="vm.Ver == 1" ng-model="vm.Gestion.FechaAtencionGestor" />
                    </div>
                </div>
            </div>
        </div>
        
        <header class="panel-heading-modal" ng-show="vm.FlagEtapaCertificada && vm.FlagEsUsuarioGeneraPeticion">
            <i class="fa fa-chevron-circle-down"> </i>
            ADJUNTAR ACTA
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbGenerarActa"></a>
            </span>
        </header>
        
        <div id="pnbGenerarActa" class="panel-collapse collapse in" ng-show="vm.FlagEtapaCertificada && vm.FlagEsUsuarioGeneraPeticion">
            <div class="panel-body">
                <div class="form-group row" ng-hide="vm.FlagEtapaCertificada">
                    <div class="col-sm-4">
                        <button id="btnLimpiar" ng-disabled="vm.Ver == 1" class="btn btn-primary" type="reset">
                            <span class="glyphicon glyphicon-cog" />
                            Generar Acta
                        </button>
                    </div>
                </div>

                <div class="form-group row" ng-show="vm.FlagEtapaCertificada">
                    <div ng-show="vm.FlagEsUsuarioGeneraPeticion">
                        <label class="col-sm-2 col-form-label">Acta de Aceptación: </label>
                        <div class="col-sm-4">
                            <div class="input-group input-file" name="Fichier1">
                                <input type="text" readonly ng-model="vm.Documento.NombreArchivo2" placeholder="Seleccione un archivo ..." class="form-control" />
                                <input id="fArchivo" name='file' type="file" accept="{{vm.TipoDocumentoValor2}}" ngf-select="UploadFiles($files)" style="display:none" />

                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-choose" ng-disabled="vm.Ver == 1" onclick="$('#fArchivo').click()" type="button">Seleccionar Archivo</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" ng-disabled="vm.Ver == 1" ng-click="vm.GuardarActa()"><i class="glyphicon glyphicon-paperclip"></i> Adjuntar Acta</button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <strong><a href="#" ng-click="vm.DescargarArchivo(vm.Documento)">{{vm.Documento.NombreArchivo}}</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <div class="pull-right">
            <button type="button" class="btn btn-success btn-sm" ng-hide="vm.Ver == 1" ng-click="vm.GuardarGestion()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
    });

    function ExpandCollapse(control, idcontenedor) {
        var id = $(control).attr("id");
        var bExpandido = $("#" + idcontenedor).attr("aria-expanded");
        bExpandido = (typeof (bExpandido) == "undefined" ? false : bExpandido);

        if (bExpandido == "false") {
            $("#" + id + " i").removeClass("fa fa-plus-square");
            $("#" + id + " i").addClass("fa fa-minus-square");
        } else {
            $("#" + id + " i").removeClass("fa fa-minus-square");
            $("#" + id + " i").addClass("fa fa-plus-square");
        }
    }
</script>

