﻿@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Bandeja Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="container" ng-app="app.Comun" block-ui="main" ng-controller="ProveedorController as vm">

    <div class="row">

        <div id="divAlert" class="alert-edit col-md-12"></div>

        <div class="col-md-12 card" style="padding:0px 0px 0px 0px">
            <div class="card-header">Filtrar Servicio</div>
            <div class="card-bady">
                <div class="col-md-12" style="margin-top: 1em">
                    <form>
                        <div class="form-group col-md-3" style="padding:0">
                            <label class="control-label" for="#Descripcion">Descripcion Proveedor:</label>
                            <div class="input-group">
                                <input id="Descripcion" class="form-control" type="text" ng-model="vm.Descripcion" ng-change="vm.CambioDescripcion()" />
                            </div>
                        </div>
                        <div class="form-group col-md-3" >
                            <label class="control-label" for="#RazonSocial">Razon Social:</label>
                            <div class="input-group">
                                <input id="RazonSocial" class="form-control" type="text" ng-model="vm.RazonSocial" ng-change="vm.CambioRazonSocial()" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="#RUC">RUC:</label>
                            <div class="input-group">
                                <input id="RUC" class="form-control" type="text" ng-model="vm.RUC" ng-change="vm.CambioRUC()"/>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="#CodigoProveedor">Codigo Proveedor:</label>
                            <div class="input-group">
                                <input id="CodigoProveedor" class="form-control" type="text" ng-model="vm.CodigoProveedor" ng-change="vm.CambioCodProveedor()"/>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="col-md-12">
                    <div class="text-right col-md-6 col-md-offset-6" style="margin-bottom: 1em">
                        <div class="input-group col-md-12" style="padding:0">
                            <a id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" href="{{vm.EnlaceRegistrar}}0" ng-hide="vm.OptionPreVenta" style="margin-right: 5px">
                                <i class="glyphicon glyphicon-plus"></i> Nuevo
                            </a>
                            <button id="btnBuscarProveedor" class="btn btn-primary btn-primary-tgestiona" ng-click="vm.btnFilltrarProveedor()"> 
                                <i class="glyphicon glyphicon-search"></i> Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 card" style="padding:0px 0px 0px 0px">
            <div class="card-header">Bandeja Proveedores</div>
            <div class="card-bady">
                <table id="tablaProveedor" datatable="" dt-options="vm.dtOptionsProveedor" dt-columns="vm.dtColumnsProveedor" 
                       class="ui compact  striped celled table" 
                       dt-instance="vm.dtInstanceTablaProveedor" style="width:100%;">
                    <thead class="cf">
                </table>
            </div>
        </div>

    </div>

</body>

@section scripts{

    @Scripts.Render("~/bundles/app/Comun/Proveedor/js");

}








