﻿<div id="idContactoController" ng-app="app.Oportunidad" ng-controller="RegistrarContacto as vm">
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Contacto
        </header>
        <div class="panel-body">
            <!-- Inicio Alert -->
            <div class="row">
                <div id="divAlertRegistrarContacto" class="alert-edit"></div>
            </div>
            <!-- Fin Alert -->
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Nombre y Apellidos</label>
                <div class="col-md-9">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.NombreApellidos" maxlength="30" placeholder="Ingrese nombre y apellidos" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Telefono</label>
                <div class="col-md-9">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.NumeroTelefono" maxlength="10" placeholder="Ingrese telefono" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Celular</label>
                <div class="col-md-9">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.NumeroCelular" maxlength="10" placeholder="Ingrese celular" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Correo Electronico</label>
                <div class="col-md-9">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.CorreoElectronico" maxlength="100" placeholder="Ingrese correo electronico" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Cargo</label>
                <div class="col-md-9">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.Cargo" maxlength="50" placeholder="Ingrese cargo"/>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnVisita" type="button" ng-click="vm.RegistrarContacto()">{{vm.Id==0?'Grabar':'Actualizar'}}</button>
                </div>
            </div>
        </div>
    </section>
</div>
