﻿
<div id="IdClienteCartaFianzaController" ng-app="app.CartaFianza" ng-controller="ClienteCartaFianzaController as vm">
    <div id="frmCartaFianzaBCliente" class="content-page">
        <div class="row">
            <div id="divAlertBuscarCliente" class="alert-edit col-md-12"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        DATOS DE CLIENTE
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbCliente"></a>
                        </span>
                    </header>

                    <div id="pnbCliente" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"> RUC/NIF:</label>
                                        <div class="col-md-8">
                                            <input id="bClienteNumeroIdentificador" class="form-control" ng-model="vm.bClienteNumeroIdentificador" placeholder="RUC / NIF" autocomplete="off"  step="any"  type="number">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nombre Cliente: </label>
                                        <div class="col-md-9">
                                            <input id="bClienteNombreCliente" class="form-control" ng-model="vm.bClienteNombreCliente" placeholder="Nombre Cliente" autocomplete="off" ng-cloak>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <br />

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.BuscarClienteCartaFianza()"><span class='glyphicon glyphicon-search'></span> Buscar</a>

                                    <button id="btnLimpiar" class="btn btn-primary" type="reset" ng-click="vm.LimpiarFiltros()">
                                        <span class="glyphicon glyphicon-erase" />
                                        Limpiar
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>
                <!--progress bar end-->
            </div>
        </div>


                    <section class="panel">
                        <header class="panel-heading-modal">
                            <i class="fa fa-chevron-circle-down"> </i>
                            REGISTRO DE CLIENTE
                        </header>
                        <div class="panel-body">
                            <section id="dv-table">

                                <div class="table-responsive">

                                    <table id="tbBuscarCliente" datatable="" dt-options="vm.dtOptionsCartaFianza" dt-columns="vm.dtBuscarClienteColumnsCartaFianza"
                                           class="display table table-bordered table-striped"
                                           dt-instance="vm.dtBuscarClienteInstanceCartaFianza" style="width:100%;" dt-column-defs="vm.dtBuscarColumnDefs"></table>
                                </div>
                            </section>
                        </div>
                    </section>
            </div>

        </div>


        @section scripts{

            @Scripts.Render("~/bundles/app/CartaFianza/ClienteCartaFianza/js");

        }
