﻿@using Scripts = System.Web.Optimization.Scripts
@{
 
    ViewBag.Title = "Bandeja Solicitude Capex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/page.css" rel="stylesheet" />
<body ng-app="app.Capex" block-ui="main">
</body>

<!-- ============================================================== -->
<body ng-app="app.Capex" block-ui="main">
</body>
<div id="idBandejaOportunidad" ng-app="app.Capex" ng-controller="BandejaSolicitudController as vm">
    <!-- Start content -->
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Linea producto</label>
                                <div class="col-md-4">
                                    <select class="form-control"
                                            ng-model="vm.IdLineaNegocio"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio" ng-cloak></select>
                                </div>
                                <label class="control-label col-md-2">N de SalesForce</label>
                                <div class="col-md-4">
                                    <input type="text" ng-model="vm.NumeroSalesForce" class="form-control" id="formGroupExampleInput">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">F. Creación</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaCreacion" maxlength="10" placeholder="dd/mm/yyyy" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <label class="control-label col-md-2">F. Edición</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaEdicion" maxlength="10" placeholder="dd/mm/yyyy" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">


                                <label class="control-label col-md-2">Cliente</label>
                                <div class="col-md-4">
                                    <input type="text" ng-model="vm.Descripcion" ng-keyup="vm.SelectCliente(vm.Descripcion)" class="form-control" />
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-model="vm.DescripcionCliente" ng-repeat="item in vm.ListCliente" ng-click="vm.fillTextbox(item.Descripcion,item.IdCliente)">{{item.Descripcion}}</li>
                                    </ul>
                                </div>
                                <label class="control-label col-md-2">Estado Solicitud</label>
                                <div class="col-md-4">
                                    <select class="form-control"
                                            ng-model="vm.IdEstadoCapex"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListMaestra" ng-cloak></select>
                                </div>
                            </div>
                        </div>

                      

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" href="{{vm.Nuevo}}0" ng-hide="vm.OptionPreVenta">
                                Nuevo
                            </a>
                            <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.BuscarOportunidad()">Filtrar</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-12 col-sm-12  col-md-8  col-lg-8">
            <div class="" ng-repeat="item in vm.ListSolicitudCapexDtoResponse">
                <section class="panel" id="itemProyecto">
                    <div class="panel-body">
                        <div class="row align-items-center" style="cursor:pointer" ng-click="vm.DetalleSolicitudCapex(item.IdSolicitudCapex);">
                            <div class="col-sm-1 text-center padingTuerca">
                                <i class="fa fa-cogs iconTuerca"></i>
                            </div>
                            <div class="col-sm-7 Capex-text">

                                {{item.Descripcion}}<br />
                                Cliente:    <span class="oportunidades_textgris">{{item.Cliente}}</span>
                                <br />
                                N-SalesForce: <button class="btn oportunidades_EnProceso  Estado-1  waves-effect waves-light btn-xs" style="height: 20px; margin-top: -7px; color:#000000; width: 140px;" type="button">{{item.NumeroSalesForce}}</button>
                                <br />
                                <br />
                            </div>
                            <div class="col-sm-4">
                                Fecha de creación:<br>
                                <span class="Capexes_textgris"> {{item.FechaCreacion.substr(6,13) | date:'dd/MM/yyyy HH:MM:ss'}}</span><br>
                                Fecha de modificación:<br>
                                <span class="Capexes_textgris"> {{item.FechaEdicion.substr(6,13) | date:'dd/MM/yyyy HH:MM:ss'}}</span>
                            </div>
                        </div>
                    </div>
                </section>
                <br />
            </div>

            <div class="container text-right">
                <paging class="small"
                        page="currentPage"
                        page-size="pageSize"
                        total="total"
                        pg-href="{{pgHref}}"
                        adjacent="{{adjacent}}"
                        dots="{{dots}}"
                        hide-if-empty="{{hideIfEmpty}}"
                        text-first="<<"
                        text-last=">>"
                        text-next=">"
                        text-prev="<"
                        text-title-page="Page {page} Hover Over"
                        text-title-first="First hover"
                        text-title-last="Last hover"
                        text-title-next="Next hover"
                        text-title-prev="Prev hover"
                        show-prev-next="true"
                        show-first-last="true"
                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
                </paging>
                <div class="well" style="display:none;">
                    <input ng-model="currentPage" ng-init="currentPage = 1" />
                    <input ng-model="pageSize" />
                    <input ng-model="total" />
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-sm-12 col-md-4  col-lg-4" ng-hide="vm.VerDetalle">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Resumen del Solicitud
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div id="divAlert" class="alert-edit col-md-12"></div>
                    </div>
                    @*<div class="panel-header panel-oportunidad_v2">

                        <div class="row align-items-center">
                            <div class="col-md-8">vm.Oportunidad</div>
                            <div class="col-md-4" ng-init="vm.CargarVersiones()">

                                <select id="idOportunidad" class="form-control"
                                        ng-model="vm.IdOportunidad"
                                        ng-options="des.IdOportunidad as des.Version for des in vm.ListVersiones" ng-change="vm.DatosPorVersion(vm.IdOportunidad);" ng-cloak></select>
                            </div>
                        </div>
                    </div>*@
                    <div class="panel-body panel-oportunidad-body_v2">
                        <div class="row">
                            <div class="col-xs-12  col-sm-12 col-md-12 col-lg-6  text-info">Coordinandor Preventa:</div>
                            <div class="col-xs-12  col-sm-12 col-md-12 col-lg-6 ">{{vm.NomCompletoPreventa}}</div>
                            <br />
                            <div class="col-xs-12  col-sm-12 col-md-12 col-lg-6  text-info">Jefe Preventa:</div>
                            <div class="col-xs-12  col-sm-12 col-md-12 col-lg-6 ">{{vm.NomCompletoJefePreventa}}</div>
                        </div>
                        <br />
                      
                    </div>

                </div>
                @*<hr class="lineaoption" />*@
                <div class="panel panel-leyend">
             
                        <div class="modal-footer">
                            <div class="col-md-6 text-center"><a href="@Url.Action("Index", "CapexContenedor", new {area = "Capex"})/Index/{{vm.IdSolicitudCapex}}"><i class="fa fa-edit"></i> Editar</a></div>
                        </div>
                
                </div>
            </section>

            <div class="panel panel-leyend panel-lateral-tgestiona">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Lineas de Negocio
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row flex-parent">
                        @*<div class="col-md-8">
                            
                        </div>*@
                        <div class="col-md-12 text-left flex-parent">
                            <ul class="list-inline chart-detail-list m-b-0 flex-child">
                                <li>
                                    <p><i class="fa fa-square squareGreen"></i> Linea de Datos</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-square squareYellow"></i> Linea Housing</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-square squareRed"></i> Linea Data Center</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


        </div>



    </div>

</div>
    

    @section scripts{


        @Scripts.Render("~/bundles/app/BandejaSolicitudCapex/js")


        <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />

        <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>

        <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
        <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>


    }




