﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="idBandejaProyecto" ng-app="app.Compra" ng-controller="BandejaPrePeticionCompraController as vm">
    <!-- Start content -->
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbFiltros"></a>
                    </span>
                </header>
                <div id="pnbFiltros" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Cliente:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="CodigoCompra" ng-model="vm.FiltrosPreCompra.DescripcionCliente" placeholder="Descripción del cliente" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tipo:</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select id="cboTipo" class="form-control"
                                            ng-model="vm.FiltrosPreCompra.Tipo" 
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListarTipoCompra"
                                            ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.BuscarPrePeticionCabecera()">
                                    <i class="glyphicon glyphicon-search"></i> Filtrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Pre Peticiones
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tblPrePeticionCompra" datatable="" dt-options="vm.dtOptionsPrePeticionCabecera"
                               dt-columns="vm.dtColumnsPrePeticionCabecera"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstancePrePeticionCabecera" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="content">
        <div class="container">
        </div>
        <!-- content -->
    </div>
</div>
@section scripts{
    <link href="~/Content/morris.css" rel="stylesheet" />
    <script src="~/Content/morris.min.js"></script>
    <script src="~/Content/raphael-min.js"></script>
    <script>var jsonListCliente= @Html.Raw(Json.Encode(ViewBag.vbListCliente));</script>
    @Scripts.Render("~/bundles/app/comun/js")
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
<script src="~/Scripts/app/Proyecto/Proyecto.module.js"></script>
    <script src="~/Scripts/app/Trazabilidad/Trazabilidad.module.js"></script>
    @Scripts.Render("~/bundles/app/Compra/BandejaPrePeticionCompra/js")
    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>
    <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>
}





