﻿
<div id="idOTEController" ng-app="app.Oportunidad" ng-controller="OTEController as vm">
    <br />
    @Html.Action("Index", "Riesgos", new { area = "Oportunidad" })

    <div id="frmOTE" class="container">
        <!-- Modal -->
        <div class="modal fade" id="ModalOTE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Riesgo</h4>

                    </div>
                    <div id="ContenidoOTE" class="modal-body">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

