﻿@using Scripts = System.Web.Optimization.Scripts
<div id="IdEquiposEspecialesController" ng-app="app.Oportunidad" ng-controller="EquiposEspecialesController as vm">
   
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlertaEE" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtTipoEE" class="tb form-control"  autocomplete="off" ng-model="vm.Tipo"/>
                </div>

                <label class="control-label col-md-2">Tipo :</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-cloak ng-change="vm.CantidadEquipoEspecialesComplete();"></select>
                </div>

               
            </div>
            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceEE" class="form-control" autocomplete="off" ng-model="vm.Cruce" />
                </div>

                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoEE" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.AEReducido" />
                </div>
                
            </div>*@
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Circuito</label>
                <div class="col-md-4">
                    <input id="txtCircuitoEE" class="form-control" autocomplete="off" ng-model="vm.Circuito" />
                </div>
                <label class="col-md-2 control-label">Modelo</label>
                <div class="col-md-4">
                    <input id="txtModeloEE" class="form-control" autocomplete="off" ng-model="vm.Modelo" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadEE" ng-model="vm.MesesAntiguedad" class="form-control" autocomplete="off" ng-change="vm.CantidadEquipoEspecialesComplete();" />
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadEE" ng-model="vm.Cantidad" type="text" class="form-control" ng-change="vm.CantidadEquipoEspecialesComplete();" />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Antiguo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioAntiguoEE" ng-model="vm.CostoUnitarioAntiguo" class="form-control" autocomplete="off" ng-change="vm.CantidadEquipoEspecialesComplete();" />
                </div>
                <label class="col-md-2 control-label">Valor Residual (USD)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualSolesEE" ng-model="vm.ValorResidualSoles" type="text" disabled="disabled" class="form-control" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Nuevo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioEE" ng-model="vm.CostoUnitario" class="form-control" autocomplete="off" ng-change="vm.CantidadEquipoEspecialesComplete();" />
                </div>

                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresEE" type="text" disabled="disabled" class="form-control"  ng-model="vm.CapexDolares" />
                </div>

                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesEE" class="form-control" disabled="disabled" autocomplete="off" ng-model="vm.CapexSoles" />
                </div>

                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexEE" type="text" disabled="disabled" class="form-control" ng-model="vm.TotalCapex"/>
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoEE" class="form-control" autocomplete="off" ng-model="vm.MesRecupero" />
                </div>
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoEE" type="text" class="form-control" ng-model="vm.MesComprometido"  />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtMesCertificadoEE" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>

            </div>
            


            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnEquiposEE" type="button" ng-click="vm.GrabarConceptoEquiposEE()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarConceptoEquiposEE()">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    </script>
    @Scripts.Render("~/bundles/app/oportunidad/equiposEspeciales/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");
}
