﻿

<div id="IdRegistrarCasoNegocioController" ng-controller="RegistrarCasoNegocioController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_AgregarCasoNegocio" class="alert-edit"></div>
    </div>
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Caso Negocio<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdCasoNegocio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListCasoNegocio" ng-cloak
                            ng-change="vm.BuscarCasoNegocio()"></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnServicio" type="button" ng-click="vm.RegistrarCasoNegocioServicio()">Registrar</button>
                </div>
            </div>
        </div>
    </section>
    <br />
    <section class="panel">
        <header class="panel-heading-modal">
            Servicios
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbServiciosModal" datatable="" dt-options="vm.dtOptionsCasoNegocioModal" dt-columns="vm.dtColumnsCasoNegocioModal"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtInstanciaCasoNegocioModal" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
</div>
@section scripts{
    

}
