﻿<div id="IdTiempoAtencionEquipoBusquedaOportunidadCasoController" ng-controller="TiempoAtencionEquipoBusquedaOportunidadCaso as vm">

    <div id="divAlert" class="alert-edit col-md-12"></div>
    <div class="row">
        <div id="divAlert">
        </div>
        <div class="col-sm-12" style="margin-right:5px;margin-left:5px">
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Oportunidad:</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control input-md" id="DescripcionOportunidad" ng-model="vm.DescripcionOportunidad" placeholder="Ingrese Descripción" />
                        </div>
                        <div class="col-lg-2">
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Caso:</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control input-md" id="DescripcionCaso" ng-model="vm.DescripcionCaso" placeholder="Ingrese Descripción" />
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nro de Caso SF:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control input-md" id="IdCasoSF" ng-model="vm.IdCasoSF" placeholder="Ingrese Codigo" />
                        </div>
                        <label class="col-md-2 control-label" for="IdOportunidadSF">Oportunidad SF:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control input-md" id="IdOportunidadSF" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Codigo" />
                        </div>
                        <div class="col-lg-2">
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona waves-effect m-l-5" type="submit" ng-click="vm.BuscarOportunidadST()">
                                Filtrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <section class="panel">
                    <header class="panel-heading">
                        Oportunidades - Caso
                    </header>
                    <div class="panel-body">
                        <section id="flip-scroll">
                            <div class="table-responsive">
                                <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                       class="ui compact selectable striped celled table"
                                       dt-instance="vm.dtInstance" style="width:150%">
                                    <thead class="cf">
                                </table>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>


    </div>
</div>


