﻿<div id="IdCircuitoController" ng-app="app.Oportunidad" ng-controller="CircuitoController as vm">
    <!-- Alert -->

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div id="lblAlerta_Circuito" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Servicio<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtServicio" ng-model="vm.servicio" class="tb form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">N° Circuito</label>
                <div class="col-md-4">
                    <input id="txtNumeroCircuito" ng-model="vm.circuito" class="form-control" autocomplete="off" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Medio</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdMedio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListMedio" ng-cloak
                            ng-change="vm.CargarBW()"></select>
                </div>
                <label class="col-md-2 control-label">Tipo de Enlace</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipoEnlace"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoEnlace" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Activo / Pasivo</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdEstado"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListEstado" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Localidad</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdLocalidad"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLocalidad" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidad" ng-model="vm.cantidad" type="text" class="form-control" autocomplete="off" ng-keydown="vm.ObtieneCostoPreOperativo()" />
                </div>
                <label class="col-md-2 control-label">BW</label>
                <div class="col-md-4">

                    <input id="IdCodigoBW" type="text" class="form-control" ng-view="{{item.Descripcion}}" ng-model="vm.IdOportunidadCosto" ng-change="vm.ObtieneCostoPreOperativo()"
                           data-animation="am-flip-x" data-trim-value="false" ng-trim="false"
                           bs-options="items.IdCosto as items.Descripcion for items in vm.ListBW"
                           placeholder="Nombre del Modelo" bs-typeahead>

                </div>
            </div>
        </div>
    </section>
    <br />
    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>

    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarCircuito()">Grabar</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var ConceptoDatosCapexDtoResponse = @Html.Raw(Json.Encode(ViewBag.dto));
    </script>

    @Scripts.Render("~/bundles/app/oportunidad/estudiosEspeciales/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}