﻿<div id="IdContactoController" ng-app="app.Oportunidad" ng-controller="BandejaContacto as vm">
    <input ng-model="vm.IdOportunidad" style="display:none" ng-cloak>
    <input ng-model="vm.IdSede" style="display:none" ng-cloak>
    <br />
    <section class="panel">
        <header class="panel-heading">
            Lista de Contactos
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <!--Inicio alerta-->
            <div class="row">
                <div id="divAlertRegistrarContacto" class="alert-edit"></div>
            </div>
            <!--Fin alerta-->
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Nombre y Apellidos</label>
                <div class="col-md-10">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.NombreApellidos" maxlength="30" placeholder="Ingrese nombre y apellidos" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Telefono</label>
                <div class="col-md-4">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.NumeroTelefono" maxlength="10" placeholder="Ingrese telefono" />
                </div>
                <label class="col-md-2 control-label">Celular</label>
                <div class="col-md-4">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.NumeroCelular" maxlength="10" placeholder="Ingrese celular" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Correo</label>
                <div class="col-md-4">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.CorreoElectronico" maxlength="100" placeholder="Ingrese correo electronico" />
                </div>
                <label class="col-md-2 control-label">Cargo</label>
                <div class="col-md-4">
                    <input autocomplete="off" class="tb form-control" ng-model="vm.Cargo" maxlength="50" placeholder="Ingrese cargo" />
                </div>
            </div>
            <div class="col-sm-12 text-right">
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarContacto()">Agregar</a>
            </div>
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstance" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
    <!--Inicio Modal-->
    <div class="container">
        <div id="ModalRegistrarContacto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ vm.TituloModal }}</h4>
                    </div>
                    <div id="ContenidoContacto" class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Modal-->
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/oportunidad/js")
    @Scripts.Render("~/bundles/app/oportunidad/bandejaContacto/js")
    <script>
    function InactivarContacto(Id) {
        var scope = angular.element(document.getElementById("IdContactoController")).scope();
        scope.vm.InactivarContacto(Id);
        scope.$apply();
    }
    </script>
}