﻿<div id="IdRegistrarAreaSeguimientoController" ng-controller="RegistrarAreaSeguimiento as vm">
    <!-- Datos content -->
    <div class="row">
        <div id="divAlert" class="alert-edit col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group col-md-12">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-12">Los campos con asterisco (*) son obligatorios.</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Código:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-md" id="txtIdAreaSeguimiento" ng-model="vm.IdAreaSeguimiento" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Descripcion(*):</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control input-md" ng-model="vm.Descripcion" id="txtDescripcion" maxlength="100" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="ddlSegmentoNegocio">Segmento Negocio(*):</label>
                        <div class="col-md-4">
                            <div ng-dropdown-multiselect="" options="vm.SegmentoNegocioData" selected-model="vm.SegmentoNegocioModel" checkboxes="true" extra-settings="vm.SegmentoNegocioSettings"></div>

                        </div>
                        <label class="col-md-2 control-label" for="txtOrdenVisual">Orden Visual:</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control input-md" ng-model="vm.OrdenVisual" id="txtOrdenVisual" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Estado(*): </label>
                        <div class="col-md-4">
                            <select id="ddlIdEstado" class="form-control input-md"
                                    ng-model="vm.IdEstado"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled" ></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">

                <div class="modal-footer">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistraAreaSeguimiento()"> Grabar</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

    </script>
}

