﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SDIO</title>

</head>
<body ng-app="app.Funnel"  block-ui="main"> 
     
@RenderBody()

@RenderSection("scripts", required: false)
</body>

</html>
