﻿
<div ng-controller="RegistrarUsuarioController as vmregusu">
    <div class="row">
        <div id="divAlertRegistrar" class="alert-edit col-md-12"></div>
    </div>

    <section class="panel">
        
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Login<span class="text-danger">*</span></label>
                <div class="col-md-4"> 
                    <input class="form-control" ng-model="vmregusu.Login" ng-disabled="vmregusu.BloquearCajaLogin"/> 
                </div>
                <label class="col-md-2 control-label">Email<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input  class="form-control" ng-model="vmregusu.Email" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Nombre<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input class="form-control" ng-model="vmregusu.Nombre" />
                </div>
                <label class="col-md-2 control-label">Apellido<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input class="form-control" ng-model="vmregusu.Apellido" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Área<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select class="form-control"
                            ng-model="vmregusu.IdArea"
                            ng-options="item.Codigo as item.Descripcion for item in vmregusu.ListaArea"></select>

                </div>
                <label class="col-md-2 control-label">Cargo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select class="form-control"
                            ng-model="vmregusu.IdCargo"
                            ng-options="item.Codigo as item.Descripcion for item in vmregusu.ListaCargo"></select>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">F. caducidad<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <div class='input-group date' style="cursor: pointer;">
                        <input id="idFechaInicio" type='text' class="form-control" data-date-time-picker ng-model="vmregusu.FechaCaducidad" maxlength="10" placeholder="dd/mm/yyyy" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <label class="col-md-2 control-label">Intentos Fallidos</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" ng-model="vmregusu.IntentosFallidos" solo-Numeros maxlength="1" />
                </div>
            </div>

            <div class="form-group col-md-12" ng-show="vmregusu.MostrarClave">
                <label class="col-md-2 control-label">Contraseña</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" ng-model="vmregusu.Clave"  maxlength="20" />
                </div>

                <label class="col-md-2 control-label">Repetir clave </label>
                <div class="col-md-4">
                    <input type="password" class="form-control" ng-model="vmregusu.RepetirClave" maxlength="20" />
                </div>
            </div>

            <div class="form-group col-md-12"> 
             
                <label class="col-md-2 control-label">Cambio clave por periodo </label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="vmregusu.CambioClavePeriodo"
                                   ng-true-value=true ng-false-value=false>
                        </label>
                    </div>
                </div>

            </div>
             
            <div class="form-group col-md-12">
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vmregusu.RegistrarUsuario()"> Grabar</a>
                </div>
            </div>
         </div>
    </section> 
       
</div>
 