﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Recupero Carta Fianza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.CartaFianza" block-ui="main">
</body>

<div id="idRecuperoCartaFianza" ng-app="app.CartaFianza" ng-controller="RecuperoCartaFianzaController as vm">
    <div id="frmCartaFianza" class="content-page">
        <div class="row">
            <div id="divAlertMaestro" class="alert-edit col-md-12"></div>
            <input type="hidden" id="IdCliente" ng-model="vm.IdCliente" />
            <input type="hidden" id="IdCartaFianza" ng-model="vm.IdCartaFianza" />
        </div>

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Nombre Ciente:</label>
                            <div class="col-md-8">
                                <input id="ClienteSearch" class="form-control" ng-model="vm.search.Cliente" placeholder="Nombre del Cliente" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Número de Garantía:</label>
                            <div class="col-md-8">
                                <input id="NumeroGarantiaSearch" class="form-control" ng-model="vm.search.NumeroGarantia" placeholder="Número de Garantía" autocomplete="off" type="text" step="any">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Importe:</label>
                            <div class="col-md-8">
                                <input id="ImporteStrSearch" class="form-control" ng-model="vm.search.ImporteStr" placeholder="Importe" autocomplete="off" type="number" step="any">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Banco:</label>
                            <div class="col-md-8">
                                <select id="IdBancoSearch" class="form-control"
                                        ng-model="vm.search.IdBanco"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListEntidadBancaria" ng-disabled="ActivarPanel"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Fecha fin de servicio:</label>
                            <div class="col-md-8">
                                <input id="FechaFinServicioSearch" class="form-control" ng-model="vm.search.FechaFinServicio" type="date" placeholder="Fecha fin de servicio">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Status de recupero:</label>
                            <div class="col-md-8">
                                <select id="TipoRecuperoSearch" class="form-control"
                                        ng-model="vm.search.IdEstadoRecuperacionCartaFianzaTm"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListStatusRecupero" ng-disabled="ActivarPanel">
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a class="btn btn-primary" ng-click="vm.BuscarCartaFianzaRecupero()">
                            <span class="glyphicon glyphicon-new-search"></span> Filtrar
                        </a>
                        <a class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                            <span class="glyphicon glyphicon-new-erase"></span> Limpiar
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <br />

        <section class="panel">
            <header class="panel-heading-modal" style="background-color:white;color:black;">
                <i class="fa fa-chevron-circle-down"> </i>
                <input type="text" id="vSIdCartaFianza" ng-model="vm.vSIdCartaFianza" style="visibility:hidden;display:none" />
                Registro de Recupero Carta Fianza
                <center>
                    <p class="text-center" style="font-size:18px; padding-bottom:10px;
			font-size: 18px;    border-bottom-color: orange;    border-top-color: white;    border-left-color: white;    border-right-color: white;    border-style: solid;    font-size: 28px;    font-family: cursive;	">Recupero</p>
                </center>
            </header>
            <div class="panel-body">
                <div class="dv-table">
                    <div class="table-responsive">
                        <a class="btn btn-primary  text-right" ng-click="vm.VerificarItemSelecionadosCartaFianza()" data-toggle="modal" style="background-color:#dc7f61;">
                            <span class="fa fa-refresh"></span> Revertir Recupero
                        </a>
                        <table id="tbCartaFianzaRecupero" datatable="" dt-options="vm.dtOptionsCartaFianzaRecupero" dt-columns="vm.dtColumnsCartaFianzaRecupero"
                               class="display table table-bordered table-striped"
                               dt-instance="vm.dtInstanceCartaFianzaRecupero" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </div>
            </div>
        </section>




    </div>

    <!-- Modal-->
    <div class="modal fade" style="overflow:auto;" id="ModalCartaFianzaRecupero" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:900px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">ACTUALIZAR RECUPERO</p>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div id="divAlertRegistrarRecupero" class="alert-edit col-md-12"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!--progress bar start-->
                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Datos del Cliente - Recupero
                                        <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnContratoCliente"></a>
                                        </span>
                                    </header>
                                    <div id="pnContratoCliente" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label"> RUC :<span class="text-danger"></span></label>
                                                    <div class="col-md-10">
                                                        <input id="IdentidificadoFiscal" class="form-control" ng-model="vm.IdentidificadoFiscal" placeholder="RUC / NIF" autocomplete="off" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Cliente:<span class="text-danger"></span></label>
                                                    <div class="col-md-10">
                                                        <input id="NombreCliente" class="form-control" ng-model="vm.NombreCliente" placeholder="Nombre Completo del Cliente" autocomplete="off" ng-disabled="true" />
                                                    </div>

                                                </div>

                                            </div>



                                        </div>
                                    </div>
                                </section>
                                <!--progress bar end-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!--progress bar start-->
                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Datos de Garantía - Recupero
                                        <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#RegistroRecupero"></a>
                                        </span>
                                    </header>
                                    <div id="RegistroRecupero" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <input type="hidden" ng-model="vm.recupero.IdCartaFianza">
                                            <input type="hidden" ng-model="vm.recupero.IdCartaFianzaDetalleRecupero">
                                            <input type="hidden" ng-model="vm.recupero.IdCartaFianzaDetalleSeguimiento">

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Fecha de Solicitud de Recupero:<span class="text-danger"></span></label>
                                                    <div class="col-md-3">
                                                        <input id="FechaSolicitudRecupero" class="form-control" ng-model="vm.recupero.FechaSolicitudRecupero" type="date" ng-change="vm.FechaSolicitudRecuperoChange()">
                                                    </div>

                                                    <label class="col-md-3 control-label">Fecha que recuperamos la Fianza:<span class="text-danger"></span></label>
                                                    <div class="col-md-3">
                                                        <input id="FechaRecupero" class="form-control" ng-model="vm.recupero.FechaRecupero" type="date" ng-change="vm.FechaRecuperoChange()">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Fecha de devolución a Tesorería:<span class="text-danger"></span></label>
                                                    <div class="col-md-3">
                                                        <input id="FechaDevolucionTesoreria" class="form-control" ng-model="vm.recupero.FechaDevolucionTesoreria" type="date">
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </section>
                                <!--progress bar end-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!--progress bar start-->
                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Último Seguimiento
                                        <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#RegistroRecupero"></a>
                                        </span>
                                    </header>
                                    <div id="RegistroRecupero" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Seguimiento<span class="text-danger"></span></label>
                                                    <div class="col-md-10">
                                                        <textarea id="Comentario" class="form-control" ng-model="vm.recupero.Comentario" rows="2" ng-change="vm.ComentarioChange()"></textarea>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Status de Recupero:<span class="text-danger"></span></label>
                                                    <div class="col-md-4">

                                                        <select id="IdEstadoRecuperacionCartaFianzaTm" class="form-control"
                                                                ng-model="vm.recupero.IdEstadoRecuperacionCartaFianzaTm"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListStatusRecupero" ng-disabled="ActivarPanel"></select>

                                                    </div>

                                                    <label class="col-md-2 control-label">Seguimiento a cargo de:<span class="text-danger"></span></label>
                                                    <div class="col-md-4">

                                                        <select id="IdColaboradorACargo" class="form-control ListaColaboradorACargo" ng-model="vm.recupero.IdColaboradorACargo" ng-disabled="ActivarPanel"></select>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </section>
                                <!--progress bar end-->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" ng-click="vm.GuardarCartaFianzaRecupero(vm.recupero)" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="ModalCartaFianzaSeguimiento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:900px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">SEGUIMIENTO </p>

                </div>
                <div class="modal-body modal-bodyTgestiona" style="font-size:9pt;">
                    <div class="content-page">

                        <div class="row">
                            <div id="divAlertRegistrarSeguimiento" class="alert-edit col-md-12"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!--progress bar start-->
                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Nuevo Seguimiento
                                        <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#RegistroRecupero"></a>
                                        </span>
                                    </header>
                                    <div id="RegistroRecupero" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <input type="hidden" ng-model="vm.seguimiento.IdCartaFianza">
                                            <input type="hidden" ng-model="vm.seguimiento.IdCartaFianzaDetalleSeguimiento">

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Seguimiento<span class="text-danger"></span></label>
                                                    <div class="col-md-10">
                                                        <textarea id="ComentarioSeg" class="form-control" ng-model="vm.seguimiento.Comentario" rows="2"></textarea>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Status de Recupero:<span class="text-danger"></span></label>
                                                    <div class="col-md-4">

                                                        <select id="IdEstadoRecuperacionCartaFianzaTmSeg" class="form-control"
                                                                ng-model="vm.seguimiento.IdEstadoRecuperacionCartaFianzaTm"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListStatusRecupero" ng-disabled="ActivarPanel"></select>

                                                    </div>

                                                    <label class="col-md-2 control-label">Seguimiento a cargo de:<span class="text-danger"></span></label>
                                                    <div class="col-md-4">

                                                        <select id="IdColaboradorACargoSeg" class="form-control ListaColaboradorACargo" ng-model="vm.seguimiento.IdColaboradorACargo" ng-disabled="ActivarPanel">
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group col-md-12" ">
                                                <div class="col-lg-offset-8 col-lg-4 text-right">
                                                    <button type="submit" ng-click="vm.EditarCartaFianzaSeguimiento(vm.seguimiento)" class="btn btn-primary" ng-disabled="vm.habilitarEditar">Grabar</button>
                                                    <button type="submit" ng-click="vm.GuardarCartaFianzaSeguimiento(vm.seguimiento)" class="btn btn-primary">Agregar</button>
                                                </div>
                                            </div>

                                        </div>

                                    
                                </section>
                                <!--progress bar end-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <section class="panel">
                                    <header class="panel-heading-modal">
                                        <i class="fa fa-chevron-circle-down"> </i>
                                        Seguimiento
                                    </header>
                                    <div class="panel-body">
                                        <div class="dv-table">
                                            <div class="table-responsive">
                                                <table class="display table table-bordered table-striped" datatable id="tableCartaFianzaSeguimiento">
                                                    <thead>
                                                        <tr>
                                                            <th>Nro</th>
                                                            <th>Status de Recupero</th>
                                                            <th>Seguimiento</th>
                                                            <th>Seguimiento a cargo de</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="ModalRevertirRecupero" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:450px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">REVERTIR RECUPERO</p>
                </div>

                <div class="row">
                    <div id="divAlertRevertirRecupero" class="alert-edit col-md-12"></div>
                </div>
                <div id="ContenidoCartaFianzaRecupero" class="modal-body modal-bodyTgestiona" style="font-size:9pt;"> </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group ">
                            <center><h4><strong>¿Desea revertir el Recupero ?</strong></h4></center>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" class="btn btn-primary" ng-click="vm.RevertirRecupero()">Procesar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/app/CartaFianza/RecuperoCartaFianza/js");
}