﻿<div id="IdSoftwareController" ng-app="app.Oportunidad" ng-controller="SoftwareController as vm">
   
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_Software" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoSoftware" class="tb form-control" autocomplete="off" ng-model="vm.Equipo"  />
                </div>
                <label class="control-label col-md-2">Tipo :</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-cloak ng-change="vm.CantidadSoftwareComplete();"></select>
                </div>
               
            </div>
            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceSoftware" class="form-control" autocomplete="off" ng-model="vm.Cruce" />
                </div>

                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoSoftware" class="form-control" autocomplete="off" ng-model="vm.AEReducido"   />
                </div>
               
            </div>*@
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Marca</label>
                <div class="col-md-4">
                    <input id="txtMarcaSoftware" class="form-control" autocomplete="off" ng-model="vm.Marca" />
                </div>
                <label class="col-md-2 control-label">Modelo</label>
                <div class="col-md-4">
                    <input id="txtModeloSoftware" class="form-control" ng-model="vm.Modelo"  autocomplete="off" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadSoftware" ng-model="vm.MesesAntiguedad" class="form-control" autocomplete="off" ng-change="vm.CantidadSoftwareComplete();" />
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadSoftware" type="text" ng-model="vm.Cantidad"  class="form-control" ng-change="vm.CantidadSoftwareComplete();" />
                </div>
               
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Antiguo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCUAntiguoSoftware" class="form-control" ng-model="vm.CostoUnitarioAntiguo" ng-change="vm.CantidadSoftwareComplete();" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Valor Residual (USD)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualSoftware" type="text" disabled="disabled" ng-model="vm.ValorResidualSoles" class="form-control" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">C.U. Nuevo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioSoftware" ng-model="vm.CostoUnitario" class="form-control" autocomplete="off" ng-change="vm.CantidadSoftwareComplete();" />
                </div>
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresSoftware" disabled="disabled" ng-model="vm.CapexDolares"  type="text" class="form-control" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesSoftware" disabled="disabled" ng-model="vm.CapexSoles" class="form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexSoftware" disabled="disabled" ng-model="vm.TotalCapex" type="text" class="form-control" />
                </div>
                
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoSoftware" ng-model="vm.MesRecupero" class="form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoSoftware" ng-model="vm.MesComprometido" type="text" class="form-control" />
                </div>
                
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtCertificadoSoftware" ng-model="vm.MesCertificado" class="form-control" autocomplete="off" />
                </div>
            </div>
            
            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnSoftware" type="button" ng-click="vm.GrabarConceptoSoftware()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarConceptoSoftware()">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/software/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}