﻿@using Tgs.SDIO.Util.Web.Funnel;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_Oportunidades;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutPopupFunnel.cshtml";
}

<div class="row" ng-app="app.Funnel" ng-controller="RptProbabilidadPorMesPopupController as vm">
    <div ng-init="vm.MostrarReporte()"> </div>
    <div id="divAlertRegistro"></div>
    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="850" width="1100" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    var IdOportunidad = '@Html.Raw(ViewBag.IdOportunidad)';
</script>


@section scripts{
    @Scripts.Render("~/bundles/app/funnel/RptProbabilidadPorMesPopupController/js")

}

