﻿<div id="idSISEGOController" ng-app="app.Oportunidad" ng-controller="SISEGOController as vm">
    <br />
    <!-- Alert -->

    <section class="panel">
        <header class="panel-heading">
            Servicios
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div id="lblAlerta_SISEGO" class="alert-edit"></div>
            </div>
            
            @*<div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo de visita</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipoSISEGO"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoSISEGO" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Hora de Fin</label>
                <div class="col-md-4">
                    <div class="input-group date" style="cursor:pointer;">
                        <input id="idHoraInicioSISEGO" type="text" class="form-control ng-valid ng-valid-maxlength ng-touched ng-dirty ng-valid-parse" time-picker="" ng-model="vm.HoraFin" maxlength="5" placeholder="HH:mm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>*@

            <div class="col-sm-12 text-right">
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarSISEGO()">Nueva Sede</a>
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.CargaModal(0)">Agregar Sede</a>
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarSISEGO()">Quitar Sede</a>
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarSISEGO()">Solicitar SISEGO</a>
            </div>

            <div class="col-sm-12 text-right">
            </div>

            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbSISEGO" datatable="" dt-options="vm.dtOptionsSISEGO" dt-columns="vm.dtColumnsSISEGO"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceSISEGO" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <div id="frmSISEGO" class="container">
        <!--Modal-->
        <div class="modal fade" id="ModalSISEGO" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ vm.TituloModal }}</h4>

                    </div>
                    <div id="ContenidoSISEGO" class="modal-body">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/oportunidad/SISEGO/js");
}