﻿<div id="IdRegistrarSedeController" ng-app="app.Oportunidad" ng-controller="RegistrarSede as vm">
    <section class="panel">
        <header class="panel-heading">
            Sede
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="row">
            <div id="divAlertRegistrarSede" class="alert-edit col-md-12"></div>
        </div>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_SedeDetalle" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Código Sede:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" id="txtCodigo" ng-model="vm.IdSede" disabled="disabled" />
                </div>
                <label class="control-label col-md-2">Código Sede Instalacion:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" id="txtCodigoInstalacion" ng-model="vm.IdSedeInstalacion" disabled="disabled" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo de Enlace</label>
                <div class="col-md-4">
                    <select id="ddlIdTipoEnlace" class="form-control"
                            ng-model="vm.IdTipoEnlace"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoEnlace" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Sede Cliente</label>
                <div class="col-md-4">
                    <input ng-model="vm.Codigo" class="tb form-control" id="txtSedeCliente" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo Sede</label>
                <div class="col-md-4">
                    <select id="ddlIdTipoSede" class="form-control"
                            ng-model="vm.IdTipoSede"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoSede" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Acceso cliente</label>
                <div class="col-md-4">
                    <select id="ddlIdAccesoCliente" class="form-control"
                            ng-model="vm.IdAccesoCliente"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListAccesoCliente" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tendido Externo</label>
                <div class="col-md-4">
                    <select id="ddlIdTendidoExterno" class="form-control"
                            ng-model="vm.IdTendidoExterno"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTendidoExterno" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">N° pisos</label>
                <div class="col-md-4">
                    <input ng-model="vm.NumeroPisos" class="tb form-control" id="txtNroPisos" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo / Via</label>
                <div class="col-md-4">
                    <select id="dllIdTipoVia" class="form-control"
                            ng-model="vm.IdTipoVia"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoVia" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Tipo servicio</label>
                <div class="col-md-4">
                    <select id="dllIdTipoServicio" class="form-control"
                            ng-model="vm.IdTipoServicio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoServicio" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Descripción del Requerimiento</label>
                <div class="col-md-4">
                    <textarea rows="2" ng-model="vm.DesRequerimiento" id="txtDesRequerimiento" class="tb form-control ng-pristine ng-valid ng-touched"></textarea>
                </div>
                <div class="col-md-6">
                    <label style="font-size:1em; margin-right:5em">
                        <input type="checkbox" ng-model="vm.FlgCotizacionReferencial" ng-true-value="true" ng-false-value="false" id="chckFlgCotizacionReferencial">
                        Cotización Referencial
                    </label>
                    <label style="font-size:1em">
                        <input type="checkbox" ng-model="vm.FlgRequisitosEspeciales" ng-true-value="true" ng-false-value="false" id="chckFlgRequisitosEspeciales">
                        Requisitos Especiales
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div id="map_canvas" style="height: 250px"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Departamento</label>
                <div class="col-md-4">
                    <select id="dllCodigoDepartamento" class="form-control"
                            ng-model="vm.CodigoDepartamento"
                            ng-change="vm.CargarProvincia(vm.CodigoDepartamento)"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListDepartamento" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Provincia</label>
                <div class="col-md-4">
                    <select id="dllCodigoProvincia" class="form-control"
                            ng-model="vm.CodigoProvincia"
                            ng-change="vm.CargarDistrito(vm.CodigoProvincia)"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListProvincia" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Direccion</label>
                <div class="col-md-3">
                    <textarea rows="2" ng-model="vm.Direccion" id="address" placeholder="Escribe aquí la dirección..." class="tb form-control ng-pristine ng-valid ng-touched"></textarea>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-successbuscar" id="pasar" ng-click="vm.geocode()" style="margin-top: .0rem;"><i class="fa fa-search"></i></button>
                </div>
                <label class="col-md-2 control-label">Distrito</label>
                <div class="col-md-4">
                    <select id="dllCodigoDistrito" class="form-control"
                            ng-model="vm.CodigoDistrito"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListDistrito" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12 form-inline">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Manzana:</label>
                        <div class="input-group">
                            <input ng-model="vm.Manzana" class="tb form-control" id="txtManzana" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Interior:</label>
                        <div class="input-group">
                            <input ng-model="vm.Interior" class="tb form-control" id="txtInterior" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Piso:</label>
                        <div class="input-group">
                            <input ng-model="vm.Piso" class="tb form-control" id="txtPiso" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Lote:</label>
                        <div class="input-group">
                            <input ng-model="vm.Lote" class="tb form-control" id="txtLote" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Latitud</label>
                <div class="col-md-4">
                    <input ng-model="vm.Latitud" class="tb form-control" ng-keypress="vm.geocodeCoordenadas()" id="lat" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Longitud</label>
                <div class="col-md-4">
                    <input ng-model="vm.Longitud" class="tb form-control" ng-keypress="vm.geocodeCoordenadas()" id="lng" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Estado(*):</label>
                <div class="col-md-4">
                    <select id="ddlIdEstado" class="form-control input-md"
                            ng-model="vm.IdEstado"
                            ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled"></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnSede" type="button" ng-click="vm.RegistrarSede()">Grabar</button>
                    <input type="button" value="Buscar Direccion" ng-click="vm.geocode()" class="btn btn-primary btn-sm">
                    <button class="btn btn-primary btn-sm" id="btnMap" type="button">Solicitar SISEGO</button>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV7BNvCf6uZLDBg45nV2W3PD-a68_YWJE&callback=initMap"></script>
    <script src="~/Scripts/app/Oportunidad/Sede/Maps.js"></script>
    <div id="frmSede" class="container">
        <!--Modal-->
        <div class="modal fade" id="ModalRegistrarSede" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ vm.TituloModal }}</h4>
                    </div>
                    <div id="ContenidoSede" class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>