﻿
<div ng-controller="RegistrarTipoCambioSisegoController as vm">
    <div class="row">
        <div id="divAlertRegistrar" class="alert-edit col-md-12"></div>
    </div>
    <section class="panel">
        <div class="panel-body">              
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Fecha inicio<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <div class='input-group date' style="cursor: pointer;">
                        <input id="idFechaInicio" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaInicio" maxlength="10" placeholder="dd/mm/yyyy" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <label class="col-md-2 control-label">Fecha fin<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <div class='input-group date' style="cursor: pointer;">
                        <input id="idFechaInicio" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaFin" maxlength="10" placeholder="dd/mm/yyyy" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">

                <label class="col-md-2 control-label">Monto<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input class="form-control" ng-model="vm.Monto" solo-Numeros maxlength="8"/>
                </div>

                <label class="col-md-2 control-label">Estado<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select class="form-control" ng-disabled="vm.BloquearEstado"
                            ng-model="vm.IdEstado"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListaEstados"></select>
                </div>               
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarTipoCambioSisego()"> Grabar</a>
                </div>
            </div>
        </div>
    </section>
</div>
