﻿<div id="IdRegistrarConceptoSeguimientoController" ng-controller="RegistrarConceptoSeguimiento as vm">
    <!-- Datos content -->
    <div class="row">
        <div id="divAlert" class="alert-edit col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group col-md-12">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-12">Los campos con asterisco (*) son obligatorios.</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Código:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-md" id="txtCodigo" ng-model="vm.IdConcepto" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Descripcion(*):</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control input-md" ng-model="vm.Descripcion" id="txtDescripcion" maxlength="200" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Orden Visual(*): </label>
                        <div class="col-md-4">
                            <input type="number" class="form-control input-md" ng-model="vm.OrdenVisual" id="txtOrdenVisual" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="ddlEstado">Estado(*):</label>
                        <div class="col-md-4">
                            <select id="ddlIdEstado" class="form-control input-md"
                                    ng-model="vm.IdEstado"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled" ></select>
                        </div>
                        <label class="col-md-2 control-label" for="IdConceptoPadre">Cod. Agrupador:</label>
                        <div class="col-md-4">
                            <select id="ddlIdEstado" class="form-control input-md"
                                    ng-model="vm.IdConceptoPadre"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listConceptoPadre" ng-cloak></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">

                <div class="modal-footer">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistraConceptoSeguimiento()"> Grabar</a>
                </div>
            </div>
        </div>
    </div>
</div>


