﻿<div id="IdRouterSondaController" ng-app="app.Oportunidad" ng-controller="RouterSondaController as vm">
    
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_RouterSonda" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Modelo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select id="ComboModelo" class="form-control"
                            ng-model="vm.IdOportunidadCosto"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListModelos"
                            ng-change="vm.CargaCamposCosto()"></select>
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidad" ng-model="vm.cantidad" class="form-control" autocomplete="off" ng-keydown="vm.CalculaPxQ()" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Instalación</label>
                <div class="col-md-4">
                    <input id="txtInstalacion" ng-model="vm.instalacion" class="form-control" disabled="disabled" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Desinstalación</label>
                <div class="col-md-4">
                    <input id="txtDesinstalacion" ng-model="vm.desinstalacion" class="form-control" disabled="disabled" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">P.U($)</label>
                <div class="col-md-4">
                    <input id="txtPuRsonda" ng-model="vm.precioUnitario" class="form-control" disabled="disabled" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Alquiler</label>
                <div class="col-md-4">
                    <input id="txtAlquiler" ng-model="vm.alquiler" class="form-control" disabled="disabled" autocomplete="off" />
                </div>
            </div>
            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnRouterSonda" type="button" ng-click="vm.GrabarRouterSonda()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarRouterSonda()">Grabar</button>
            </div>
        </div>
    </div>
</div>