﻿<div id="IdRegistrarActividadController" ng-controller="RegistrarActividad as vm">
    <!-- Datos content -->
    <div class="row">
        <div id="divAlert" class="alert-edit col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group col-md-12">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-12">Los campos con asterisco (*) son obligatorios.</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Código:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-md" id="txtIdActividad" ng-model="vm.IdActividad" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Código Agrupador(*):</label>
                        <div class="col-md-4">
                            <select id="txtIdActividadPadre" class="form-control input-md"
                                    ng-model="vm.IdActividadPadre"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listActividadesPadre" ng-cloak ></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Descripcion(*):</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control input-md" ng-model="vm.Descripcion" id="txtDescripcion" maxlength="250" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Predecesoras(*):</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-md" ng-model="vm.Predecesoras" id="txtPredecesoras" maxlength="150" />

                        </div>
                        <label class="control-label col-md-2">Area/Sistema(*): </label>
                        <div class="col-md-4">
                            <select id="ddlIdAreaSeguimiento" class="form-control input-md"
                                    ng-model="vm.IdAreaSeguimiento"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listAreas" ng-cloak ></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Segmento Negocio(*):</label>
                        <div class="col-md-10">
                            <div ng-dropdown-multiselect="" options="vm.SegmentoNegocioData" selected-model="vm.SegmentoNegocioModel" checkboxes="true" extra-settings="vm.SegmentoNegocioSettings"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Fase(*):</label>
                        <div class="col-md-4">
                            <select id="ddlIdFase" class="form-control input-md"
                                    ng-model="vm.IdFase"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listFases" ng-change="vm.ObtenerEtapa(vm.IdFase)" ng-cloak ></select>
                        </div>
                        <label class="control-label col-md-2">Etapa(*): </label>
                        <div class="col-md-4">
                            <select id="ddlIdEtapa" class="form-control input-md"
                                    ng-model="vm.IdEtapa"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak ></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label style="font-size:1em">
                                <input type="checkbox" ng-model="vm.FlgCapexMayor" ng-true-value="true" ng-false-value="false" id="chckFlgCapexMayor">
                                Capex Mayor
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label style="font-size:1em">
                                <input type="checkbox" ng-model="vm.FlgCapexMenor" ng-true-value="true" ng-false-value="false" id="chckFlgCapexMenor">
                                Capex Menor
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label style="font-size:1em">
                                <input type="checkbox" ng-model="vm.AsegurarOferta" ng-true-value="true" ng-false-value="false" id="chckAsegurarOferta">
                                Asegurar
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">N° Días Capex Mayor(*):</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control input-md" ng-model="vm.NumeroDiaCapexMayor" id="txtNumeroDiaCapexMayor" />
                        </div>
                        <label class="control-label col-md-2">N° Días Capex Menor(*): </label>
                        <div class="col-md-4">
                            <input type="number" class="form-control input-md" ng-model="vm.NumeroDiaCapexMenor" id="txtNumeroDiaCapexMenor" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Cantidad Días Capex Mayor(*):</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control input-md" ng-model="vm.CantidadDiasCapexMayor" id="txtCantidadDiasCapexMayor" />
                        </div>
                        <label class="control-label col-md-2">Cantidad Días Capex Menor(*): </label>
                        <div class="col-md-4">
                            <input type="number" class="form-control input-md" ng-model="vm.CantidadDiasCapexMenor" id="txtCantidadDiasCapexMenor" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Estado(*):</label>
                        <div class="col-md-4">
                            <select id="ddlIdEstado" class="form-control input-md"
                                    ng-model="vm.IdEstado"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled" ></select>
                        </div>
                        <label class="control-label col-md-2">Tipo Actividad(*): </label>
                        <div class="col-md-4">
                            <select id="ddlIdTipoActividad" class="form-control input-md"
                                    ng-model="vm.IdTipoActividad"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listActividades" ng-cloak ></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">

                <div class="modal-footer">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistraActividad()"> Grabar</a>
                </div>
            </div>
        </div>
    </div>
</div>
