﻿@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaConceptoSeguimiento;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table.dataTable.compact tbody th, table.dataTable.compact tbody td {
        padding: 1px;
    }
</style>
<body ng-app="app.Comun" block-ui="main">
</body>
<div id="IdBandejaConceptoSeguimiento" ng-app="app.Comun" ng-controller="BandejaConceptoSeguimiento as vm">

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-lg-1 control-label">Descripción:</label>
                            <div class="col-lg-4">
                                <input id="idDescripcion" class="form-control" ng-model="vm.Descripcion" placeholder="Ingrese Descripción" maxlength="200" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarConceptoSeguimiento()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                            <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalRegistrarConceptoSeguimiento" ng-click="vm.ModalConceptoSeguimiento()">
                                Nuevo
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Mantenimiento de Conceptos de Quiebres
                </header>
                <div class="panel-body">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
    <!-- Modal Registrar-->

    <div class="modal fade" id="ModalRegistrarConceptoSeguimiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">REGISTRO DE CONCEPTO DE SEGUIMIENTO</p>

                </div>
                <div id="ContenidoConceptoSeguimiento" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>
    <!-- Modal Agregar-->

    <div class="modal fade" id="IdConfirmacionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="txtIdAreaSeguimiento">¿Esta seguro de querer eliminar este registro?</label>
                        <input type="hidden" id="idClave" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAgregar" ng-if="vm.btnEliminar" ng-click="vm.AceptarEliminarConceptoSeguimiento()">Eliminar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>

        function EliminarConceptoSeguimiento(IdConcepto) {
            var scope = angular.element(document.getElementById("IdBandejaConceptoSeguimiento")).scope();
            scope.vm.EliminarConceptoSeguimiento(IdConcepto);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Comun/BandejaConceptoSeguimiento/js")


    

}

