﻿
@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Reporte Estatus de Tesoreria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.CartaFianza" block-ui="main">
</body>

<div ng-app="app.CartaFianza" ng-controller="ReporteEstatusTesoreriaCartaFianzaController as vm">

    <div class="content-page">
        <div class="row">
            <div id="divAlerta" class="alert-edit col-md-12"></div>
        </div>

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">

                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Indicador Color:</label>
                            <div class="col-md-8">
                                <select id="IndicadorColor" class="form-control"
                                        ng-model="vm.search.IndicadorColor"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaIndicadorColor" ng-disabled="ActivarPanel">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Estado Tesorería:</label>
                            <div class="col-md-8">
                                <select id="IdSubEstado" class="form-control"
                                        ng-model="vm.search.IdSubEstado"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaEstadoTesoreria" ng-disabled="ActivarPanel">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tipo Acción:</label>
                            <div class="col-md-8">
                                <select id="IdTipoAccion" class="form-control"
                                        ng-model="vm.search.IdTipoAccion"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoAccion" ng-disabled="ActivarPanel">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Fecha:</label>
                            <div class="col-md-8">
                                <input type="date" id="Fecha" class="form-control" ng-model="vm.search.Fecha">
                            </div>
                        </div>
                    </div>

                </div>

                <br />
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" ng-click="vm.BuscarReporteEstatusTesoreria()">
                            <span class="glyphicon glyphicon-new-search"></span> Filtrar
                        </button>
                        <button class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                            <span class="glyphicon glyphicon-new-erase"></span> Limpiar
                        </button>
                    </div>
                </div>

            </div>
        </section>
        <br />

        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                Reporte Estatus de Tesoreria
            </header>
            <div class="panel-body">
                <div class="dv-table">
                    <div class="table-responsive">
                        <iframe id="FReporte" width="100%" name="FReporte" frameborder="0" scrolling="yes"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/app/CartaFianza/ReporteEstatusTesoreriaCartaFianza/js");
}



