﻿@using Tgs.SDIO.Util.Web.Funnel;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = ViewBag.Titulo;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}


<div class="row" ng-app="app.Funnel" ng-controller="CargabilidadLineaNegocioController as vm">
    <div ng-init="vm.ConsultarReporte()"> </div>
    <div id="divAlertRegistro"></div>
    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    @ViewBag.Titulos_Cargabilidad
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="600" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/funnel/CargabilidadLineaNegocioController/js")
}

