﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Oportunidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Opcion ="Datos";
    ViewBag.Title = Titulos.Titulo_Contenedor;
    Layout = "";
}
<div class="tab-pane active" id="idBandejaOportunidad" ng-app="app.Oportunidad" ng-controller="RegistrarOportunidad as vm">
    <!-- Datos content -->
    <input ng-model="vm.IdCliente" style="display:none" ng-cloak>
    <input  ng-model="vm.IdOportunidad" style="display:none" ng-cloak>
    <input  ng-model="vm.IdEstadoOportunidad" style="display:none" ng-cloak>
    <input ng-model="vm.IdOportunidadLineaNegocio" style="display:none" ng-cloak>
    <div id="divAlert" class="alert-edit col-md-12"></div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Oportunidad
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>

                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Número de Sales Force</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" ng-model="vm.NumeroSalesForce" ng-change="vm.SelectNumeroSalesForce(vm.NumeroSalesForce)" placeholder="Ingrese Número de Sales Force" class="form-control"   ng-disabled=vm.EditarDato />
                                <ul id="client-list" class="list-group" style="height:{{vm.height }}px">
                                    <li class="list-group-item" ng-repeat="item in vm.ListNumeroSalesForce" ng-click="vm.fillTextboxNumeroSalesForce(item.IdOportunidad)">{{item.IdOportunidad}}</li>
                                </ul>
                            
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Descripción</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.Oportunidad" placeholder="Ingrese Descripción" ng-disabled=vm.EditarDato />
                            </div>
                        </div>

                       
                     
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Número de Caso</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select id="idNumeroCaso" class="form-control"
                                        ng-model="vm.NumeroCaso"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListNumeroCaso"   disabled="disabled" ng-disabled=vm.EditarDato ng-cloak></select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Fecha de Facturación</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class='input-group date' style="cursor:pointer;">
                                    <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.fecha" maxlength="10" placeholder="dd/mm/yyyy"  ng-disabled=vm.EditarDato />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Alcance del Proyecto</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.AlcanceProyecto" placeholder="Alcance del Proyecto" ng-disabled=vm.EditarDato />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Tiempo de Contrato</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.meses" placeholder="Ingrese Periodo en meses"  ng-disabled=vm.EditarDato />
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Tiempo Implantación</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.Implantacion" placeholder="Ingrese Periodo de Implantación en meses"  ng-disabled=vm.EditarDato />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Tipo de Proyecto</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select id="idLineaNegocio" class="form-control"
                                        ng-model="vm.IdTipoProyecto"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoProyecto" ng-disabled=vm.EditarDato  ng-cloak ></select>
                            </div>
                        </div>

                     
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Tipo de Servicio</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select id="idLineaNegocio" class="form-control"
                                        ng-model="vm.IdTipoServicio"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoServicio"   ng-cloak ng-disabled=vm.EditarDato></select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">N° Proyecto Anterior</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.IdProyectoAnterior" placeholder="Ingrese N° de Proyecto Anterior" ng-disabled=vm.EditarDato > 
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Linea(s) de Negocio</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select id="idLineaNegocio" class="form-control"
                                        ng-model="vm.IdLineaNegocio"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio" ng-disabled=vm.EditarDato  ng-cloak></select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Estado Oportunidad</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" ng-model="vm.DescripcionEstado" placeholder="Estado Oportunidad" class="form-control Estado-{{vm.IdEstado}}" disabled />


                            </div>
                        </div>

                    </div>
                    </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Clientes
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                  
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Cliente</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" ng-model="vm.Descripcion" ng-change="vm.SelectCliente(vm.Descripcion)" class="form-control" ng-disabled=vm.EditarDato  />
                                <ul class="list-group" style="height:{{vm.heightCliente }}px">
                                    <li class="list-group-item" ng-repeat="item in vm.ListCliente" ng-click="vm.fillTextbox(item.Descripcion,item.IdCliente)">{{item.Descripcion}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Sector</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Sector" ng-model="vm.Sector" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Gerente Comercial</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Gerente Comercial" ng-model="vm.GerenteComercial" disabled="">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Dirección Comercial</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.DireccionComercial"
                                       id="formGroupExampleInput" placeholder="Dirección Comercial" disabled="">
                            </div>
                        </div>


                    </div>
                

                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Finanzas
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>

                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Analista Financiero</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select id="idLineaNegocio" class="form-control"
                                        ng-model="vm.IdAnalistaFin"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListAnalistaFin" ng-disabled=vm.OptionCoordinadorFin ng-cloak></select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Pre Venta</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.Preventa" placeholder="Preventa" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Product Manager</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select id="idLineaNegocio" class="form-control"
                                        ng-model="vm.IdProductManager"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListProductManager"  ng-disabled=vm.OptionPreVenta ng-cloak></select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group required">
                                <label class="control-label">Coordinador Financiero</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select id="idLineaNegocio" class="form-control"
                                        ng-model="vm.IdCoordinadorFin"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListcoordinadorFin" ng-disabled=vm.OptionPreVenta ng-cloak></select>
                            </div>
                        </div>
                    </div>
             
                </div>
            </section>
        </div>
    </div>
    <br />
    @*<div class="modal-footer">
        <a class="btn btn-sm btn-primary btn-space right" ng-click="vm.RegistrarOportunidad()" ng-hide="vm.AccionGrabar"><span class="glyphicon glyphicon-list-alt"></span> Grabar</a>    
    </div>*@
    <div class="row">
        @*<div class="col-sm-2">
            <div class="form-group required">
                <label class="control-label">Asignación :</label>
            </div>
        </div>*@
            <div class="form-group"  >
                @*<select id="idLineaNegocio" class="form-control"
                    ng-model="vm.IdEstado"
                    ng-options="item.Codigo as item.Descripcion for item in vm.ListEstado"  ng-disabled={{vm.AccionGrabar}}  ng-cloak></select>*@

               



            </div>
       

    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.ListEstado" ng-hide="vm.AccionGrabar">
                            <a class="btn Estado-{{item.Codigo}} waves-effect waves-light btn-xs eventOportunidad" style="color:#000000;font-size: 14px;" ng-click="vm.RegistrarOportunidad(item.Codigo)">
                                <i class="fa fa-mail-forward"></i> {{item.Descripcion}}
                            </a>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ng-repeat="item in vm.ListEstado" ng-hide="!vm.AccionGrabar">
                            <a class="btn Estado-{{item.Codigo}} waves-effect waves-light btn-xs eventOportunidad" style="color:#000000;font-size:14px;" disabled>
                                <i class="fa fa-mail-forward"></i> {{item.Descripcion}}
                            </a>

                        </div>
                    </div>
                    

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts{
    <script>
        $("#idLineaNegocio option[value='?']").remove();
    </script>
    

    <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />

    <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>

    <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>


  

}

