﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaRecursoOportunidad;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table.dataTable.compact tbody th, table.dataTable.compact tbody td {
        padding: 1px;
    }
</style>
<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div id="IdBandejaRecursoOportunidad" ng-app="app.Trazabilidad" ng-controller="BandejaRecursoOportunidad as vm">

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12">

                            <label class="col-lg-1 control-label">Oportunidad:</label>
                            <div class="col-lg-3">
                                <input id="IdOportunidadSF" class="form-control" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Codigo de Oportunidad" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                            <label class="col-lg-1 control-label">Recurso:</label>
                            <div class="col-lg-3">
                                <input id="DescripcionRecurso" class="form-control" ng-model="vm.DescripcionRecurso" placeholder="Ingrese Recurso" maxlength="100" autocomplete="off" ng-cloak>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" type="submit" ng-click="vm.BuscarRecursoOportunidad()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" type="submit" href="{{vm.EnlaceRegistrar}}0"> Nuevo</a>
                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" type="submit" href="{{vm.EnlaceRegistrarMasivo}}"> Masivo</a>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Bandeja de Asignacion de Recursos
                </header>
                <div class="panel-body">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>

    <!-- Modal Confirma eliminacion-->

    <div class="modal fade" id="IdConfirmacionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="txtIdAreaSeguimiento">¿Esta seguro de querer eliminar este registro?</label>
                        <input type="hidden" id="idClave" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAgregar" ng-if="vm.btnEliminar" ng-click="vm.AceptarEliminarRecursoOportunidad()">Eliminar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>

        function EliminarRecursoOportunidad(IdAsignacion) {
            var scope = angular.element(document.getElementById("IdBandejaRecursoOportunidad")).scope();
            scope.vm.EliminarRecursoOportunidad(IdAsignacion);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaRecursoOportunidad/js")

}



