﻿
<div id="idFFinancieraController" ng-app="app.Oportunidad" ng-controller="FFinancieraController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_FFinanciera" class="alert-edit"></div>
    </div>

    <section class="panel">
        <header class="panel-heading">
            Generar proyectado
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <button type="button" class="btn btn-primary btn-sm" aria-label="Generar" ng-click="vm.GenerarProyectado()" ><span aria-hidden="true">Generar proyectado Financiero</span></button>
                </div>
            </section>
        </div>
    </section>
    <section class="panel" ng-show="vm.FlagMostrarReporte">
        <div class="panel-body">
            <section id="flip-scroll">
                <iframe id="FReporte" width="100%" height="650"  class="iframe-style"></iframe>
            </section>
        </div>
    </section>

    <div id="frmFFinanciera" class="container">
        <!--Modal-->
        <div class="modal fade" id="ModalGenerico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ vm.tituloModal }}</h4>

                    </div>
                    <div id="ContenidoModal" class="modal-body">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>