﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Oportunidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaOportunidadGanadora;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/page.css" rel="stylesheet" />
<body ng-app="app.Oportunidad" block-ui="main"></body>
<!-- Inicio de la bandeja -->
<div id="idBandejaOportunidad" ng-app="app.Oportunidad" ng-controller="BandejaOportunidad as vm">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"></i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">N de SalesForce</label>
                                <div class="col-md-4">
                                    <input type="text" ng-model="vm.NumeroSalesForce" class="form-control" id="formGroupExampleInput">
                                </div>
                                <label class="control-label col-md-2">Cliente</label>
                                <div class="col-md-4">
                                    <input type="text" ng-model="vm.Descripcion" ng-keyup="vm.SelectCliente(vm.Descripcion)" class="form-control" />
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-model="vm.DescripcionCliente" ng-repeat="item in vm.ListCliente" ng-click="vm.fillTextbox(item.Descripcion,item.IdCliente)">{{item.Descripcion}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">F. Inicio</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaCreacion" maxlength="10" placeholder="dd/mm/yyyy" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <label class="control-label col-md-2">F. Fin</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input id="idFechaFinal" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaEdicion" maxlength="10" placeholder="dd/mm/yyyy" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Estado Oportunidad</label>
                                <div class="col-md-4">
                                    <select class="form-control"
                                            ng-model="vm.IdEstadoOportunidad"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListMaestra" ng-cloak></select>
                                </div>
                                <label class="control-label col-md-2">Linea producto</label>
                                <div class="col-md-4">
                                    <select class="form-control"
                                            ng-model="vm.IdLineaNegocio"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                            -->
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.BuscarOportunidadGanadora()">Filtrar</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div ng-repeat="item in vm.ListOportunidadCabecera">
                <section class="panel" id="itemProyecto itemProyecto-{{item.IdOportunidad}}">
                    <div class="panel-body">
                        <div class="row align-items-center" style="cursor:pointer">
                            <div class="col-sm-1 text-center padingTuerca">
                                <i class="fa fa-cogs iconTuerca"></i>
                            </div>
                            <div class="col-sm-7 oportunidad-text">
                                {{item.Oportunidad}}<br />
                                Cliente:<span class="oportunidades_textgris">{{item.Cliente}}</span>
                                <br>
                                Estado: <button class="btn oportunidades_EnProceso  Estado-{{item.IdEstado}}  waves-effect waves-light btn-xs" style="height: 20px; margin-top: -7px; color:#000000; width: 140px;" type="button">{{item.Estado}}</button>
                                <!--
                                <button class="btn oportunidades_EnProceso FichaImplantacion waves-effect waves-light btn-xs" style="height: 20px; margin-top: -7px; color:#000000; width: 180px;" type="button">Ver Ficha Implantacion</button>
                                <button class="btn oportunidades_EnProceso SolicitarApertura waves-effect waves-light btn-xs" style="height: 20px; margin-top: -7px; color:#000000; width: 180px;" type="button">Solicitar Apertura</button>
                                -->
                                <a href="../BandejaPlantillaImplantacion/Index/{{item.IdOportunidad}}"><i class="fa fa-edit"></i>Ficha Implantacion</a>
                                <br>Versiones: {{item.Versiones}}
                            </div>
                            <div class="col-sm-4">
                                Fecha de creación:<br>
                                <span class="oportunidades_textgris"> {{item.FechaCreacion.substr(6,13) | date:'dd/MM/yyyy HH:MM:ss'}}</span><br>
                                Fecha de modificación:<br>
                                <span class="oportunidades_textgris"> {{item.FechaEdicion.substr(6,13) | date:'dd/MM/yyyy HH:MM:ss'}}</span>
                            </div>
                        </div>
                    </div>
                </section>
                <br />
            </div>
            <div class="container text-center">
                <paging class="small"
                        page="currentPage"
                        page-size="pageSize"
                        total="total"
                        pg-href="{{pgHref}}"
                        adjacent="{{adjacent}}"
                        dots="{{dots}}"
                        hide-if-empty="{{hideIfEmpty}}"
                        text-first="<<"
                        text-last=">>"
                        text-next=">"
                        text-prev="<"
                        text-title-page="Page {page} Hover Over"
                        text-title-first="First hover"
                        text-title-last="Last hover"
                        text-title-next="Next hover"
                        text-title-prev="Prev hover"
                        show-prev-next="true"
                        show-first-last="true"
                        paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
                </paging>
                <div class="well" style="display:none;">
                    <input ng-model="currentPage" ng-init="currentPage = 1" />
                    <input ng-model="pageSize" />
                    <input ng-model="total" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin de la bandeja -->
@section scripts{
    <link href="~/Content/morris.css" rel="stylesheet" />
    <script src="~/Content/morris.min.js"></script>
    <script src="~/Content/raphael-min.js"></script>
    <script>var jsonListOportunidadCabecera= @Html.Raw(Json.Encode(ViewBag.vbListOportunidadCabecera));</script>
    <script>var jsonListLineaNegocio= @Html.Raw(Json.Encode(ViewBag.vbListLineaNegocio));</script>
    <script>var jsonListCliente= @Html.Raw(Json.Encode(ViewBag.vbListCliente));</script>
    @Scripts.Render("~/bundles/app/comun/js")
    <script src="~/Scripts/app/Oportunidad/Oportunidad.module.js"></script>
    <script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    <script src="~/Scripts/app/Comun/LineaNegocio/LineaNegocio.service.js"></script>
    @Scripts.Render("~/bundles/app/Oportunidad/Bandeja/js")
    <script src="~/Scripts/app/Oportunidad/RegistrarOportunidad/RegistrarOportunidad.service.js"></script>
    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>
    <link href="~/Content/Assets/bootstrap-datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/Assets/bootstrap-datepicker/moment.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/es.js"></script>
    <script src="~/Scripts/Assets/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/app/Base/Controles/js/datepicker.directive.js"></script>
}