﻿<div id="IdContactoController" ng-app="app.Oportunidad" ng-controller="BandejaServiciosAgrupados as vm">
    <input ng-model="vm.IdOportunidad" style="display:none" ng-cloak>
    <br />
    <section class="panel">
        <header class="panel-heading">
            Lista de Servicios
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <!--Inicio alerta-->
            <div class="row">
                <div id="divAlert" class="alert-edit"></div>
            </div>
            <!--Fin alerta-->
            <div class="col-sm-12 text-right">
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.AgregarServicioSedeInstalacion()">Agregar</a>
            </div>
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="gridServicios" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstance" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
</div>