﻿<div id="idSedeEditController" ng-app="app.Oportunidad" ng-controller="SISEGOController as vm">
    <section>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div>
                        <ul class="nav nav-tabs navtab-bg">
                            <li id="tabSede" class="active">
                                <a href="#sede" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                    <span class="hidden-xs">Sede</span>
                                </a>
                            </li>
                            <li id="tabServicios" class="">
                                <a href="#servicios" data-toggle="tab" aria-expanded="false" ng-click="vm.VistaServiciosAgrupados()">
                                    <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                    <span class="hidden-xs">Servicios</span>
                                </a>
                            </li>
                            <li id="tabContacto" class="">
                                <a href="#contactos" data-toggle="tab" aria-expanded="false" ng-click="vm.VistaBandejaContacto()">
                                    <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                    <span class="hidden-xs">Contactos</span>
                                </a>
                            </li>
                            <li id="tabEstudios" class="">
                                <a href="#estudios" data-toggle="tab" aria-expanded="false" ng-click="vm.VistaBandejaEstudios()">
                                    <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                    <span class="hidden-xs">Estudios</span>
                                </a>
                            </li>
                            <li id="tabCotizacion" class="">
                                <a href="#cotizacion" data-toggle="tab" aria-expanded="false" ng-click="vm.VistaBandejaCotizacion()">
                                    <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                    <span class="hidden-xs">Cotizaciones</span>
                                </a>
                            </li>
                        </ul>
                        <br />
                        <div class="tab-content">
                            <div class="tab-pane active" id="sede">
                                <div class="content-page">
                                    @Html.Action("Index", "RegistrarSede", new { area = "Oportunidad" })
                                </div>
                            </div>
                            <div class="tab-pane" id="servicios">
                                <div class="content-page">
                                </div>
                            </div>
                            <div class="tab-pane" id="contactos">
                                <div class="content-page">
                                </div>
                            </div>
                            <div class="tab-pane" id="estudios">
                                <div class="content-page">
                                </div>
                            </div>
                            <div class="tab-pane" id="cotizacion">
                                <div class="content-page">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/app/oportunidad/SISEGO/js");
}