﻿@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Registar Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="container">

    <div id="RegistarProveedor"  ng-app="app.Comun" block-ui="main" ng-controller="RegistrarProveedorController as vm">
        <section class="panel">
            <header class="panel-heading">
                Datos Proveedor
            </header>
            <div class="panel-body">

                <div class="row">
                    <div id="divAlert" class="alert-edit"></div>
                </div>

                <form class="">
                    <input type="hidden" id="IdProveedor" value="@Html.Raw(ViewBag.IdProveedor)" />
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Descripcion Proveedor:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.DescripcionProveedor"/>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Estado Proveedor:</label>
                        <div class="col-md-6">
                            <select class="form-control"
                                    ng-model="vm.EstadoProveedor"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaEstados" ng-cloak></select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Tipo Proveedor:</label>
                        <div class="col-md-6">
                            <select class="form-control col-md-6"
                                    ng-model="vm.TipoProveedor"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoProveedor" ng-cloak></select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Razon Social:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.RazonSocial" maxlength="100" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Codigo Proveedor:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.CodigoProveedor" maxlength="50" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">RUC:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.RUC" maxlength="50" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Pais:</label>
                        <div class="col-md-6">
                            <select class="form-control col-md-6"
                                    ng-model="vm.Pais"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaPais" ng-cloak></select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">ID Secuencia:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.IdSecuencia" maxlength="50" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Nombre Persona Contacto:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.NombrePersonaContacto" maxlength="50" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Telefono Principal:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.TelefonoPrincipal" maxlength="50" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Correo Principal:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.CorreoPrincipal" maxlength="50" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Telefono Secundario:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.TelefonoSecundario" maxlength="50" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Correo Secundario:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.CorreoSecundario" maxlength="50" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Codigo SRM:</label>
                        <div class="col-md-6">
                            <input autocomplete="off" class="tb form-control" ng-model="vm.CodigoSRM" maxlength="50" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-sm" id="btnRegistrar" type="button" ng-click="vm.RegistrarProveedor()">
                                <i class="glyphicon glyphicon-save"></i> Registrar
                            </button>
                            <button class="btn btn-primary btn-sm" id="btnActualizar" style="display:none" type="button" ng-click="vm.ActualizarProveedor()">
                                <i class="glyphicon glyphicon-download-alt"></i> Actualizar
                            </button>
                        </div>
                    </div>
                </form>


            </div>
        </section>
    </div>

</body>

@section scripts{
   @Scripts.Render("~/bundles/app/Comun/Proveedor/js");

}