﻿
<div id="idRiesgosEditController" ng-app="app.Oportunidad" ng-controller="RiesgosEditController as vm">
    
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_Riesgo" class="alert-edit"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Editar Riesgo
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Fecha detección<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <div class="input-group date" style="cursor:pointer;">
                        <input id="idFechaDeteccion" type="text" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched" data-date-time-picker="" ng-model="vm.FechaDeteccion" maxlength="10" placeholder="dd/mm/yyyy">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Descripcion del riesgo<span class="text-danger">*</span></label>
                <div class="col-md-10">
                    <textarea  id="txtDescripcion" ng-model="vm.Descripcion" class="tb form-control" autocomplete="off" rows="5" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Consecuencias<span class="text-danger">*</span></label>
                <div class="col-md-10">
                    <textarea  id="txtConsecuencias" ng-model="vm.Consecuencias" class="tb form-control" autocomplete="off" rows="5" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Plan acción<span class="text-danger">*</span></label>
                <div class="col-md-10">
                    <textarea  id="txtPlanAccion" ng-model="vm.PlanAccion" class="tb form-control" autocomplete="off" rows="5" />
                </div>
            </div>
            <div class="form-group col-md-12">                
                <label class="col-md-2 control-label">Probabilidad</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdProbabilidad"
                            ng-change="vm.CalculaRiesgo()"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListProbabilidad" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Impacto</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdImpacto"
                            ng-change="vm.CalculaRiesgo()"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListImpacto" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Responsable</label>
                <div class="col-md-4">
                    <input id="txtResponsable" ng-model="vm.Responsable" class="tb form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Estatus</label>
                <div class="col-md-4">
                    <input id="txtStatus" ng-model="vm.Status" class="tb form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Fecha de Cierre</label>
                <div class="col-md-4">
                    <div class="input-group date" style="cursor:pointer;" ng-show="!vm.Continuo">
                        <input id="idFechaCierre" type="text" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched" data-date-time-picker="" ng-model="vm.FechaCierre" maxlength="10" placeholder="dd/mm/yyyy" >
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <input type="checkbox" ng-model="vm.Continuo"> Continuo?
                </div>
                <label class="col-md-2 control-label">Nivel de riesgo</label>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN {{vm.ClassNivelRiesgo}}">{{vm.NivelRiesgo}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.Test()">Test</a>
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.GrabarRiesgo()">Grabar</a>
                </div>
            </div>
        </div>
    </section>

</div>