﻿
<div id="idRiesgosController" ng-app="app.Oportunidad" ng-controller="RiesgosController as vm">
  
    <br />
    <section class="panel">
        <header class="panel-heading">
            Riesgos
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group required">
                        <label class="control-label">Proceso</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="vm.Proceso">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group required">
                        <label class="control-label">Servicio</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="vm.Servicio" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group required">
                        <label class="control-label">Propietario</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-click="vm.Grabar()">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group required">
                        <label class="control-label">Riesgo Global</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN {{vm.ClassRiesgoGlobal}}">{{vm.RiesgoGlobal}}</a>
                    </div>
                </div>
                <div class="col-sm-1 text-right">
                    <div class="form-group">
                        <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.Grabar()">Grabar</a> 
                    </div>
                </div>
            </div>
            
            <br />

            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.CargaModal(0)">Agregar</a>
                </div>
                <div class="col-sm-12">
                    <table id="tbRiesgos" datatable="" dt-options="vm.dtOptionsRiesgos" dt-columns="vm.dtColumnsRiesgos"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceRiesgos" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </div>
        </div>
    </section>
    
    <div id="frmRiesgos" class="container">
        <!-- Modal -->
        <div class="modal fade" id="ModalRiesgos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Estudios Especiales</h4>

                    </div>
                    <div id="ContenidoRiesgos" class="modal-body">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .RiesgoClass1 {
        color: white;
        background-color: green;
    }

    .RiesgoClass2 {
        color: white;
        background-color: yellow;
    }

    .RiesgoClass3 {
        color: white;
        background-color: red;
    }
</style>