﻿<div id="IdRegistrarDatosPreventaMovilController" ng-controller="RegistrarDatosPreventaMovil as vm">
    <!-- Datos content -->
    <input ng-model="vm.IdOportunidad" style="display:none" ng-cloak>
    <input ng-model="vm.IdCaso" style="display:none" ng-cloak>
    <input ng-model="vm.IdCliente" style="display:none" ng-cloak>
    <div id="divAlert" class="alert-edit col-md-12"></div>
    <div class="row">
        <div id="divAlertRegistro">
        </div>
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                    Detalle de la Oportunidad
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>

                    </span>
                </div>
                <div id="collapse1" class="collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">ID Oportunidad:</label>
                                    <div class="col-md-8">
                                        <input id="IdOportunidadSF" class="form-control" ng-model="vm.IdOportunidadSF" maxlength="20" autocomplete="off" disabled="disabled" ng-cloak>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nombre: </label>
                                    <div class="col-md-8">
                                        <input id="DescripcionOportunidad" class="form-control" ng-model="vm.DescripcionOportunidad" maxlength="250" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tipo:</label>
                                    <div class="col-md-8">
                                        <select id="IdTipoOportunidad" class="form-control input-md"
                                                ng-model="vm.IdTipoOportunidad"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listTiposOportunidad" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Motivo:</label>
                                    <div class="col-md-8">
                                        <select id="IdMotivoOportunidad" class="form-control input-md"
                                                ng-model="vm.IdMotivoOportunidad"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listMotivos" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Etapa:</label>
                                    <div class="col-md-8">
                                        <select id="IdEtapa" class="form-control input-md"
                                                ng-model="vm.IdEtapa"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nombre Cliente: </label>
                                    <div class="col-md-8">
                                        <input type="text" id="DescripcionCliente" class="form-control" ng-model="vm.DescripcionCliente" autocomplete="off" disabled="disabled" ng-cloak>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Segmento Neg.:</label>
                                    <div class="col-md-8">
                                        <select id="IdSegmentoNegocio" class="form-control input-md"
                                                ng-model="vm.IdSegmentoNegocio"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listSegmentosNegocios" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">RUC Cliente: </label>
                                    <div class="col-md-8">
                                        <input type="text" id="NumeroIdentificadorFiscal" class="form-control" ng-model="vm.NumeroIdentificadorFiscal" autocomplete="off" disabled ng-cloak>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Linea Negocio:</label>
                                    <div class="col-md-8">
                                        <select id="IdLineaNegocio" class="form-control input-md"
                                                ng-model="vm.IdLineaNegocio"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listLineaNegocio" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Sector:</label>
                                    <div class="col-md-8">
                                        <select id="IdSector" class="form-control input-md"
                                                ng-model="vm.IdSector"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listSectores" ng-cloak></select>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>


                </div>
            </section>

            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse2">
                            Detalle del Caso
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>

                            </span>
                        </div>
                        <div id="collapse2" class="collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Número: </label>
                                            <div class="col-md-8">
                                                <input id="IdCasoSF" class="form-control" ng-model="vm.IdCasoSF" maxlength="20" autocomplete="off" disabled="disabled" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Estado: </label>
                                            <div class="col-md-8">
                                                <select id="IdEstadoCaso" class="form-control input-md"
                                                        ng-model="vm.IdEstadoCaso"
                                                        ng-options="item.Codigo as item.Descripcion for item in vm.listEstadosCaso" ng-cloak></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">N° de Caso Princ:</label>
                                            <div class="col-md-8">
                                                <input id="IdCaso" class="form-control" ng-model="vm.IdCaso" autocomplete="off" disabled="disabled" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Asunto: </label>
                                            <div class="col-md-8">
                                                <input id="Asunto" class="form-control" ng-model="vm.Asunto" maxlength="20" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Fecha Apertura:</label>
                                            <div class="col-md-8">
                                                <input type="date" class="form-control input-md" ng-model="vm.FechaApertura" id="FechaApertura" max="3000-12-31" min="2000-01-01" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Fecha Cierre:</label>
                                            <div class="col-md-8">
                                                <input type="date" class="form-control input-md" ng-model="vm.FechaCierre" id="FechaCierre" max="3000-12-31" min="2000-01-01" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">TipoSolicitud:</label>
                                            <div class="col-md-8">
                                                <select id="IdTipoSolicitud" class="form-control input-md"
                                                        ng-model="vm.IdTipoSolicitud"
                                                        ng-options="item.Codigo as item.Descripcion for item in vm.listTipoSolicitud" ng-cloak></select>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse3">
                            Información Genérica Obligatoria
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                        </div>
                        <div id="collapse3" class="collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Operador Actual:</label>
                                            <div class="col-md-6">
                                                <select id="IdOperadorActual" class="form-control input-md"
                                                        ng-model="vm.IdOperadorActual"
                                                        ng-options="item.Codigo as item.Descripcion for item in vm.listOperadores" ng-cloak></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Líneas Actuales: </label>
                                            <div class="col-md-6">
                                                <input id="LineasActuales" class="form-control" ng-model="vm.LineasActuales" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Meses de Contrato Actual: </label>
                                            <div class="col-md-6">
                                                <input id="MesesContratoActual" class="form-control" ng-model="vm.MesesContratoActual" type="number" min="1" pattern="^[0-9]+" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Recurrente Mensual Actual:</label>
                                            <div class="col-md-6">
                                                <input id="RecurrenteMensualActual" class="form-control" ng-model="vm.RecurrenteMensualActual" min="0.00" max="10000000.00" step="0.01" type="number" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                       
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">FCV Actual: </label>
                                            <div class="col-md-6">
                                                <input id="FCVActual" class="form-control" ng-model="vm.FCVActual" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off"  disabled="disabled" ng-cloak>
                                                @*calulado*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Arpu Servicio Actual: </label>
                                            <div class="col-md-6">
                                                <input id="ArpuServicioActual" class="form-control" ng-model="vm.ArpuServicioActual" min="0.00" max="10000000.00" step="0.01" type="number" autocomplete="off" disabled="disabled" ng-cloak>
                                                @*calulado*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse4">
                            Concurso y EEMM (Estudio de Mercado)
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>

                            </span>
                        </div>
                        <div id="collapse4" class="collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">N° Líneas:</label>
                                            <div class="col-md-6">
                                                <input id="Lineas" class="form-control" ng-model="vm.Lineas" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Meses de Contrato: </label>
                                            <div class="col-md-6">
                                                <input id="MesesContrato" class="form-control" ng-model="vm.MesesContrato" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Recurrente Mensual: </label>
                                            <div class="col-md-6">
                                                <input id="RecurrenteMensualVR" class="form-control" ng-model="vm.RecurrenteMensualVR" maxlength="20" autocomplete="off" type="number" min="0.00" max="10000000.00" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">FCV:</label>
                                            <div class="col-md-6">
                                                <input id="FCVVR" class="form-control" ng-model="vm.FCVVR" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Arpu Servicio: </label>
                                            <div class="col-md-6">
                                                <input id="ArpuServicioVR" class="form-control" ng-model="vm.ArpuServicioVR" min="0.00" max="10000000.00" step="0.01" type="number" autocomplete="off" disabled="disabled" ng-cloak>
                                                @*calulado*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">F. Presentación: </label>
                                            <div class="col-md-6">
                                                <input type="date" id="FechaPresentacion" class="form-control" ng-model="vm.FechaPresentacion" maxlength="20" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">F. Buena Pro:</label>
                                            <div class="col-md-6">
                                                <input type="date" id="FechaBuenaPro" class="form-control" ng-model="vm.FechaBuenaPro" maxlength="20" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Monto Capex: </label>
                                            <div class="col-md-6">
                                                <input id="MontoCapex" class="form-control" ng-model="vm.MontoCapex" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Estado Oportunidad: </label>
                                            <div class="col-md-6">
                                                <select id="IdEstadoOportunidad" class="form-control input-md"
                                                        ng-model="vm.IdEstadoOportunidad"
                                                        ng-options="item.Codigo as item.Descripcion for item in vm.listEstadoOportunidad" ng-cloak></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-3">

                                        <label class="control-label col-md-12">Observaciones:</label>

                                    </div>
                                    <div class="col-sm-9">


                                        <textarea id="Observaciones" ng-model="vm.Observaciones" class="form-control input-md" maxlength="4000"></textarea>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse5">
                            Precios Ofertados
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                        </div>
                        <div id="collapse5" class="collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">FCV Movistar:</label>
                                            <div class="col-md-6">
                                                <input id="FCVMovistar" class="form-control" ng-model="vm.FCVMovistar" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0.00" max="10000000.00" step="0.01" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Arpu Total Movistar: </label>
                                            <div class="col-md-6">
                                                <input id="ArpuTotalMovistar" class="form-control" ng-model="vm.ArpuTotalMovistar" min="0.00" max="10000000.00" step="0.01" type="number" autocomplete="off" disabled="disabled" ng-cloak>
                                                @*calulado*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">% Van/Vai: </label>
                                            <div class="col-md-6">
                                                <input id="VanVai" class="form-control" ng-model="vm.VanVai"  min="-10000000.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"   ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Meses de Reupero:</label>
                                            <div class="col-md-6">
                                                <input id="MesesRecupero" class="form-control" ng-model="vm.MesesRecupero" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">FCV Claro: </label>
                                            <div class="col-md-6">
                                                <input id="FCVClaro" class="form-control" ng-model="vm.FCVClaro" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Arpu Total Claro: </label>
                                            <div class="col-md-6">
                                                <input id="ArpuTotalClaro" class="form-control" ng-model="vm.ArpuTotalClaro" min="0.00" max="10000000.00" step="0.01" type="number" autocomplete="off" disabled="disabled" ng-cloak>
                                                @*calulado*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">FCV Entel:</label>
                                            <div class="col-md-6">
                                                <input id="FCVEntel" class="form-control" ng-model="vm.FCVEntel" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Arpu Total Entel: </label>
                                            <div class="col-md-6">
                                                <input id="ArpuTotalEntel" class="form-control" ng-model="vm.ArpuTotalEntel" min="0.00" max="10000000.00" step="0.01" type="number" autocomplete="off" disabled="disabled" ng-cloak>
                                                @*calulado*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">FCV Viettel:</label>
                                            <div class="col-md-6">
                                                <input id="FCVViettel" class="form-control" ng-model="vm.FCVViettel" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Arpu Total Viettel: </label>
                                            <div class="col-md-6">
                                                <input id="ArpuTotalViettel" class="form-control" ng-model="vm.ArpuTotalViettel" min="0.00" max="10000000.00" step="0.01" type="number" autocomplete="off" disabled="disabled" ng-cloak>
                                                @*calulado*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapse6">
                            Detalle de la Oferta
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                        </div>
                        <div id="collapse6" class="collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Arpu Servicio:</label>
                                            <div class="col-md-6">
                                                <input id="ArpuServicio" class="form-control" ng-model="vm.ArpuServicio" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Arpu Equipos: </label>
                                            <div class="col-md-6">
                                                <input id="ArpuEquipos" class="form-control" ng-model="vm.ArpuEquipos" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off"  ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Modalidad del Equipo: </label>
                                            <div class="col-md-6">
                                                <select id="IdModalidadEquipo" class="form-control input-md"
                                                        ng-model="vm.IdModalidadEquipo"
                                                        ng-options="item.Codigo as item.Descripcion for item in vm.listModalidadEquipo" ng-cloak></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Costo Promedio del Equipo:</label>
                                            <div class="col-md-6">
                                                <input id="CostoPromedioEquipo" class="form-control" ng-model="vm.CostoPromedioEquipo" min="0.00" max="10000000.00" step="0.01" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" autocomplete="off" ng-change="vm.Calculo()" ng-cloak>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">% Subsidio: </label>
                                            <div class="col-md-6">
                                                <input id="PorcentajeSubsidio" class="form-control" ng-model="vm.PorcentajeSubsidio" min="0.00" max="10000000.00" step="0.01" type="number" autocomplete="off" disabled="disabled" ng-cloak>
                                                @*calulado*@
                                            </div>
                                        </div>
                                    </div>
                                </div>                             
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-primary btn-space right" ng-click="vm.ActualizarDatosPreventaMovil()"><span class="glyphicon glyphicon-list-alt"></span> Actualizar</a>
        </div>


    </div>
</div>
@section scripts{
    <script>

    </script>
}

