﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Observacion de Oportunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div ng-app="app.Trazabilidad" id="IdRegistrarObservacionOportunidad" ng-controller="RegistrarObservacionOportunidad as vm" ng-cloak>

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Datos Generales
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                        <div id="divAlert">
                        </div>
                    <form>
                        <div class="container">
                            <div class="row form-group">
                                <div class="col-md-10 col-md-offset-1">       
                                        <h5 class="font-bold col-md-12 control-label">Los campos con asterisco (*) son obligatorios.</h5>           
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <label class="col-md-2 control-label" for="IdObservacion">Código:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-md" id="IdObservacion" ng-model="vm.IdObservacion" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <label class="col-md-2 control-label" for="IdOportunidad">Oportunidad(*):</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-md" id="HIdOportunidadSF" ng-model="vm.HIdOportunidadSF" disabled="disabled" />
                                            <input type="hidden" class="form-control input-md" id="IdOportunidad" ng-model="vm.IdOportunidad" disabled="disabled" />
                                            <span class="input-group-addon btn btn-primary btn-primary-tgestiona waves-effect m-l-5" id="btnBuscar" ng-click="vm.ModalBusquedaOportunidadCaso()">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <label class="col-md-2 control-label" for="IdCaso">Caso:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control input-md" id="HIdCasoSF" ng-model="vm.HIdCasoSF" disabled="disabled" />
                                        <input type="hidden" class="form-control input-md" id="IdCaso" ng-model="vm.IdCaso" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <label class="col-md-2 control-label" for="FechaSeguimiento">Fecha Seguimiento(*):</label>
                                    <div class="col-md-4">
                                        <div class='input-group date' style="cursor:pointer;">
                                            <input id="FechaSeguimiento" type='text' class="form-control" data-date-time-picker ng-model="vm.FechaSeguimiento" placeholder="dd/mm/yyyyy" autocomplete="off" maxlength="10" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <label class="col-md-2 control-label" for="IdConcepto">Concepto(*):</label>
                                    <div class="col-md-4">
                                        <select id="IdConcepto" class="form-control input-md"
                                                ng-model="vm.IdConcepto"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listConcepto" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <label class="col-md-2 control-label" for="Observaciones">Observación:</label>
                                    <div class="col-md-10">
                                        <textarea id="Observaciones" ng-model="vm.Observaciones" class="form-control input-md" maxlength="1900"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <label class="col-md-2 control-label" for="ddlEstado">Estado(*):</label>
                                    <div class="col-md-4">
                                        <select id="ddlIdEstado" class="form-control input-md"
                                                ng-model="vm.IdEstado"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled"></select>
                                    </div>
                                </div>
                            </div>
                            <div class='modal-footer text-right'>
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" ng-click="vm.RegistraObservacionOportunidad()"><span class="glyphicon glyphicon-list-alt"></span> Registrar</button>
                                            <a class="btn btn-primary" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Retornar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <!-- Modal Buscar Oportunidad-->

    <div class="modal fade" id="ModalBusquedaOportunidadCaso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">BUSQUEDA OPORTUNIDAD - CASO</p>

                </div>
                <div id="ContenidoBusquedaOportunidadCaso" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>


</div>

</div>
@section scripts{

    <script>
        var jsonDatoObservacionOportunidad = @Html.Raw(Json.Encode(ViewBag.vbDatoObservacionOportunidad));
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RegistrarObservacionOportunidad/js")
}
