﻿
<div id="IdFlujoCajaController" ng-controller="FlujoCajaController as vm">

   
    <div class="row">
        <div class="col-md-12">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_FlujoCajaResponse_Modal" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Periodos</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdPeriodo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListPeriodos" ng-cloak
                            ng-change="vm.CargaOtros();"></select>
                </div>

                <label class="col-md-2 control-label" ng-hide="vm.tabFlujoCaja">Tipo Moneda</label>
                <div class="col-md-4" ng-hide="vm.tabFlujoCaja">
                    <select id="" class="form-control"
                            ng-model="vm.IdMoneda"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoMoneda" ng-cloak
                            ng-change="vm.CargaOtros();"></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Costo PreOperativo</label>
                <div class="col-md-4">
                    <input id="txtCostoPreOperativo" ng-model="vm.CostoPreOperativo" class="form-control" autocomplete="off" /> 
                </div>
                <label class="col-md-2 control-label">Ponderación</label>
                <div class="col-md-4">
                    <input id="txtPonderacion" ng-model="vm.Ponderacion" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div ng-show="vm.IdPeriodo>0" class="form-group col-md-12">
                <label ng-show="!vm.flagOtros" class="col-md-2 control-label">Inicio</label>
                <div ng-show="!vm.flagOtros" class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdInicioProyecto"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTiempoProyecto" ng-cloak></select>
                </div>
                <div class="col-md-6" ng-show="vm.flagOtros"></div>
                <label ng-show="vm.flagOtros" class="col-md-2 control-label">Año - Mes</label>
                <label ng-show="vm.IdPeriodo=='2'" class="col-md-2 control-label">Meses</label>
                <div class="col-md-4">
                    <select id="" ng-show="vm.flagOtros" class="form-control"
                            ng-model="vm.IdTiempo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTiempoProyecto" ng-cloak></select>
                    <input id="txtDuracion" ng-model="vm.Meses" ng-show="vm.IdPeriodo=='2'" class="form-control" autocomplete="off" />
                </div>

            </div>
            <div ng-show="vm.IdPeriodo == '4'" id="ListaFlujoCajaOtros">
                <table id="tbServicios" datatable="" dt-options="vm.dtOptionsServicios" dt-columns="vm.dtColumnsServicios"
                       class="ui compact selectable striped celled table"
                       dt-instance="vm.dtInstanceServicios" style="width:100%;">
                    <thead class="cf">
                </table>
            </div>
            <div class="form-group col-md-12" ng-hide="vm.tabFlujoCaja">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnFlujoCaja" ng-click="vm.GrabarFlujoCajaConfiguracion()" type="button">Grabar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

  
}