﻿@{
    ViewBag.Area = "Capex";
    ViewBag.Title = "Bandeja Estructura de Costo";
    Layout = "";
}

<body ng-app="app.Capex" block-ui="main">
</body>
<div id="IdBandejaEstructuraCosto" ng-app="app.Capex" ng-controller="BandejaEstructuraCosto as vm">

    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                @*<i class="fa fa-chevron-circle-down"> </i>*@
                Detalle Estructura Costo
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>

            </header>
            <div class="panel-body">
                <div id="divAlert_Eliminar" class="alert-edit col-lg-12"></div>
                <div class="messages"></div>

                <div class="row">
                    <span class="tools pull-right">
                        <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" ng-click="vm.ModalEstructuraCosto()">
                            Nuevo
                        </button>
                    </span>
                </div>

            </div>
        </section>

        <br />
        <section class="panel">
            <header class="panel-heading">
                @*<i class="fa fa-chevron-circle-down"> </i>*@
                SISEGO
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">

                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptionsSISEGO" dt-columns="vm.dtColumnsSISEGO"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstanceSISEGO" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>
        <br />
        <section class="panel">
            <header class="panel-heading">
                @*<i class="fa fa-chevron-circle-down"> </i>*@
                Servicio
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptionsServicio" dt-columns="vm.dtColumnsServicio"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstanceServicio" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>
        <br />
        <section class="panel">
            <header class="panel-heading">
                @*<i class="fa fa-chevron-circle-down"> </i>*@
                Concepto
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">

                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptionsConcepto" dt-columns="vm.dtColumnsConcepto"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstanceConcepto" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>
        <br />
        <section class="panel">
            <header class="panel-heading">
                @*<i class="fa fa-chevron-circle-down"> </i>*@
                Equipo
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptionsEquipo" dt-columns="vm.dtColumnsEquipo"
                               class="ui compact selectable striped celled table"
                               dt-instance="vm.dtInstanceEquipo" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>
        <!-- Modal-->
        
        <div class="modal fade" id="ModalRegistrarEstructuraCosto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title">Registro de Estructura Costo</p>

                    </div>
                    <div id="ContenidoEstructuraCosto" class="modal-body-white">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{

    <script>

       


    </script>


}

