﻿<div ng-controller="RegistrarUsuarioPerfilController as vmper">
    <div class="row">
        <div id="divAlertUsuarioPerfil" class="alert-edit col-md-12"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Usuario</label>
                <div class="col-md-4">
                    <label class="form-label" data-ng-bind="vmper.NombreUsuario"></label>
                </div>
                <label class="col-md-2 control-label">Perfil</label>
                <div class="col-md-4">
                    <select class="form-control"
                            ng-model="vmper.CodigoPerfil"
                            ng-options="item.Codigo as item.Descripcion for item in vmper.ListaUsuarioPerfil"></select>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vmper.RegistrarUsuarioPerfil()"> Grabar</a>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Perfiles Asignados
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table datatable="" dt-options="vmper.dtOptionsUsuarioPerfil" dt-columns="vmper.dtColumnsUsuarioPerfil"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vmper.dtInstanceUsuarioPerfil" style="width:99%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
</div>
