﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Oportunidad" block-ui="main">
</body>
<div id="IdBandejaDocumento" ng-app="app.Oportunidad" ng-controller="BandejaDocumento as vm">
    <div class="panel panel-default" ng-init="vm.BuscarDocumento()">
        <div class="panel-body">
            <div class='col-xs-12 col-sm-12'>
                <div class='form-group'>

                    <h4 class="modal-title">Mantenimiento de Areas de Seguimiento</h4>
                    <br />
                    <div id="divAlert" class="alert-edit">
                    </div>
                </div>
                <div class='form-group text-right acciones'>

                   @* <a class="btn btn-sm btn-primary btn-space right" href="{{vm.EnlaceRegistrar}}0"><span class="glyphicon glyphicon-list-alt"></span> Nuevo</a>*@

                </div>
            </div>
            <hr />
            <form>
                <div class='form-group'>
                    <div class='col-xs-12 col-sm-4'>
                        <h5>Nombre archivo :</h5>
                        <input id="idNombreArchvi" class="form-control" ng-model="vm.Nombre"  autocomplete="off" ng-cloak>
                    </div>
                    <div class='col-xs-12 col-sm-4'>
                        <h5>Descripción :</h5>
                        <input id="idDescripcion" class="form-control" ng-model="vm.Descripcion" autocomplete="off" ng-cloak>
                    </div>

                </div>
      


                <div class='form-group text-right'>
                    <div class='col-xs-12  col-sm-4 col-sm-4'>
                        <br /><br />
                        <button id="btnLimpiar" class="btn btn-sm btn-primary  text-right" ng-click="vm.LimpiarFiltros()">
                            <span class="glyphicon glyphicon-trash"></span> Limpiar
                        </button>
                        @*<button id="btnBuscar" class="btn btn-sm btn-primary right" ng-click="vm.BuscarDocumento()">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button>*@
                        <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().setFile(this)" accept="image/*" class="btn btn-warning" />
                        <input type="file" 
                               id="file" name='file' onchange="vm.fileNameChanged(this)" />
                        <button ng-click="vm.UploadFile()" class="btn btn-primary">Upload File</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
           class="row-border hover dataTable no-footer dtr-inline collapsed"
           dt-instance="vm.dtInstance" style="width:100%;"></table>

    <!-- Modal Agregar-->

    <div class="modal fade" id="IdConfirmacionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmacion</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="txtIdDocumento">Deseas eliminar este registro?</label>
                        <input type="hidden" id="idArea" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAgregar" ng-if="vm.btnEliminar" ng-click="vm.AceptarEliminarDocumento()">Eliminar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th class="header-tgestiona text-center">Proveedor</th>
                <th class="header-tgestiona text-center">Descripción</th>
                <th class="header-tgestiona text-center">Inicio Vigencia</th>
                <th class="header-tgestiona text-center">Fin Vigencia</th>
                <th class="header-tgestiona text-center">Estado</th>
                <th class="header-tgestiona text-center">Editar</th>
                <th class="header-tgestiona text-center">Inactivar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>IP VPN</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td class="text-center"><span class="fa fa-pencil" aria-hidden="true"></span></td>
                <td class="text-center"><span class="fa fa-trash" aria-hidden="true"></span></td>
            </tr>

        </tbody>
    </table>
</div>*@

@section scripts{

    <script>

        function EliminarDocumento(IdDocumento) {
            var scope = angular.element(document.getElementById("IdBandejaDocumento")).scope();
            scope.vm.EliminarDocumento(IdDocumento);
            scope.$apply();
        }
    </script>

    @Scripts.Render("~/bundles/app/Documento/Bandeja/js")

}

