﻿
<div id="IdServicioController" ng-app="app.Oportunidad" ng-controller="ServicioController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_AgregarServicio" class="alert-edit"></div>
    </div>
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Servicio<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListServicio" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnServicio" type="button" ng-click="vm.AgregarServicio()">Grabar</button>
                </div>
            </div>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading-modal">
            SubServicios
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbSubServicios" datatable="" dt-options="vm.dtOptionsSubServicios" dt-columns="vm.dtColumnsSubServicios"
                           class="ui compact selectable striped celled table"
                           dt-instance="vm.dtSubServicios" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
</div>
