﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="idSoporteController" ng-app="app.Compra" ng-controller="SoporteController as vm">
    <div class="form-group row">
        <label class="col-sm-6 col-form-label"><strong>Responsable del Proceso:</strong></label>

    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="tblPeticionCompra" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                       class="ui compact selectable striped celled table"
                       dt-instance="vm.dtInstance" style="width:100%;">
                    <thead class="cf">
                </table>
            </div>
        </div>
    </div>
</div>