﻿
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container" style="height : 100%;">
        <div class="row form-horizontal">
            <div class="col-xs-12">
                <div class="form-group">
                    <br />
                    <div class="alert alert-warning fade in">
                        <strong>Acceso Denegado!</strong> Ud. no tiene permiso para acceder a esta página.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>