﻿
<div id="IdRegistrarEstructuraCostoController" ng-controller="RegistrarEstructuraCosto as vm">
    <div class="row">
        <div id="divAlert_Registrar_EstructuraCosto" class="alert-edit col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <form id="contact-form">
            
                        <div class="form-group col-md-6">

                            <label class="control-label col-md-4">Grupo :</label>
                            <div class="col-md-8">
                                <select id="ddlEstructuraCostoGrupo" class="form-control"
                                        ng-model="vm.IdGrupo"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListGrupo" ng-change="vm.ListarConceptosCapex(vm.IdGrupo)" ng-cloak></select>
                            </div>
                        </div>
                     

       
                        <div class="form-group col-md-6" ng-hide="vm.InputConcepto">

                            <label class="control-label col-md-4">Concepto :</label>
                            <div class="col-md-8">
                                <select id="ddlEstructuraCostoGrupo" class="form-control"
                                        ng-model="vm.IdConceptoCapex"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListConceptoCapex" ng-cloak></select>
                            </div>
                        </div>
                        
            <div class="form-group col-md-6" ng-hide="vm.TipoPedido">
                <label class="control-label col-md-4">Tipo Pedido :</label>
                <div class="col-md-8">
                    <select id="ddlEstructuraCostoGrupo" class="form-control"
                            ng-model="vm.IdTipoPedido"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoPedido" ng-cloak></select>
                </div>

            </div>
            
                        <div class="form-group col-md-6" ng-hide="vm.SelectServicio">
                            <label class="control-label col-md-4">Servicio :</label>
                            <div class="col-md-8">
                                <select id="ddlEstructuraCostoGrupo" class="form-control"
                                        ng-model="vm.IdServicio"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListServicio" ng-cloak></select>
                            </div>

                        </div>

            
                        <div class="form-group col-md-6" ng-hide="vm.InputModelo">

                            <label class="control-label col-md-4">Modelo :</label>
                            <div class="col-md-8">
                                <input id="id" class="form-control" ng-model="vm.Modelo" placeholder="Ingrese Modelo" autocomplete="off" ng-cloak>
                            </div>

                        </div>
           
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Cantidad:</label>
                            <div class="col-md-8">
                                <input id="id" class="form-control" ng-model="vm.Cantidad" placeholder="Ingrese Cantidad" autocomplete="off" ng-cloak>
                            </div>

                        </div>

                        <div class="form-group col-md-6">

                            <label class="control-label col-md-4">Dolares:</label>
                            <div class="col-md-8">
                                <input id="id" class="form-control" ng-model="vm.Dolares" placeholder="Ingrese Dolares" autocomplete="off" ng-cloak>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">Soles:</label>
                            <div class="col-md-8">
                                <input id="id" class="form-control" ng-model="vm.Soles" placeholder="Ingrese Soles" autocomplete="off" ng-cloak>
                            </div>

                        </div>

                        <div class="form-group col-md-6">

                            <label class="control-label col-md-4">Total Soles:</label>
                            <div class="col-md-8">
                                <input id="id" class="form-control" ng-model="vm.TotalSoles" placeholder="Ingrese TotalSoles" autocomplete="off" ng-cloak>
                            </div>

                        </div>
                        <div class="form-group col-md-6" ng-hide="vm.SelectMedio">

                            <label class="control-label col-md-4">Medio :</label>
                            <div class="col-md-8">
                                <select id="" class="form-control"
                                        ng-model="vm.IdMedio"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListMedio" ng-cloak></select>
                            </div>


                        </div>

                        <div class="form-group col-md-6" ng-hide="vm.SelectUbigeo">
                            <label class="col-md-4 control-label">Departamento</label>
                            <div class="col-md-8">
                                <select id="dllCodigoDepartamento" class="form-control"
                                        ng-model="vm.CodigoDepartamento"
                                        ng-change="vm.CargarProvincia(vm.CodigoDepartamento)"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListDepartamento" ng-cloak></select>
                            </div>
                        </div>

                        <div class="form-group col-md-6" ng-hide="vm.SelectUbigeo">
                            <label class="col-md-4 control-label">Provincia</label>
                            <div class="col-md-8">
                                <select id="dllCodigoProvincia" class="form-control"
                                        ng-model="vm.CodigoProvincia"
                                        ng-change="vm.CargarDistrito(vm.CodigoProvincia)"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListProvincia" ng-cloak></select>
                            </div>
                        </div>
                        <div class="form-group col-md-6" ng-hide="vm.SelectUbigeo">
                            <label class="col-md-4 control-label">Distrito</label>
                            <div class="col-md-8">
                                <select id="dllCodigoDistrito" class="form-control"
                                        ng-model="vm.CodigoDistrito"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListDistrito" ng-cloak></select>
                            </div>
                        </div>
            <div class="form-group col-md-6">

                <label class="control-label col-md-4">Asignaci&oacute;n :</label>
                <div class="col-md-8">
                    <input id="id" class="form-control" ng-model="vm.Asignacion" placeholder="Ingrese Modelo" autocomplete="off" ng-cloak>
                </div>

            </div>
              <div class="form-group col-md-6">

                <label class="control-label col-md-4">Certificaci&oacute;n :</label>
                <div class="col-md-8">
                    <input id="id" class="form-control" ng-model="vm.Certificacion" placeholder="Ingrese Modelo" autocomplete="off" ng-cloak>
                </div>

            </div>
         
            <div class="form-group col-md-12" ng-hide="vm.InputDescripcion">
                <label class="control-label col-md-2">Descripción :</label>
                <div class="col-md-10">
  
                    <textarea class="form-control" ng-model="vm.Descripcion" rows="5" id="comment" autocomplete="off" ng-cloak></textarea>
                </div>

            </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-12 text-right">

                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4 text-right">
                                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarEstructuraCosto()"> Registrar</a>
                            </div>


                        </div>
                        @*<div class="col-md-8">
                            </div>
                            <div class="col-md-4 text-right">
                                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarEstructuraCostoController()"> Registrar</a>
                            </div>*@

                    </form>
        </div>
    </div>
    <div>

    </div>

</div>

@section scripts{


}

