﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<div id="idGestionController" ng-app="app.Compra" ng-controller="DetallePrePeticionCompraOrdinariaController as vm">

    <div class="form-group row">
        <div class="col-sm-12">
            <div id="lblAlerta_PrePeticionDetalle" class="alert-edit"></div>
            <section class="panel">
                <div class="panel-group">

                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        INFORMACIÓN PROVEEDOR
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse2"></a>
                        </span>
                    </header>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Proveedor Sugerido:</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="hidden" ng-model="$parent.vm.ProveedorSeleccionado.IdProveedor" />
                                            <input type="text" class="form-control" id="txtResponsablePost"
                                                   ng-model="$parent.vm.ProveedorSeleccionado.RazonSocialProveedor" readonly />
                                            <span class="input-group-btn">
                                                <a class="btn btn-primary" ng-click="vm.BuscarProveedor()">
                                                    <span class="glyphicon glyphicon-new-search"></span> Buscar
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <label class="col-sm-2 col-form-label">RUC:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtProveedor" readonly
                                                   ng-model="$parent.vm.ProveedorSeleccionado.RUC" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label">Nombre Contacto de Proveedor:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtNombreContacto" readonly
                                                   ng-model="$parent.vm.ProveedorSeleccionado.NombreContacto" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Télefono de Proveedor:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtTelefonoContacto" readonly
                                                   ng-model="$parent.vm.ProveedorSeleccionado.TelefonoContacto" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">E-mail Proveedor:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtEmailContacto" readonly
                                                   ng-model="$parent.vm.ProveedorSeleccionado.EmailContacto" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        RESUMEN SALDO
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse3"></a>
                        </span>
                    </header>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    {{vm.MensajeSaldo}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        INFORMACIÓN DETALLE PRE-PETICIÓN
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#collapse1"></a>
                        </span>
                    </header>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tipo de Costo:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboTipoProyecto" class="form-control"
                                                    ng-change="vm.ObtenerSaldo()"
                                                    ng-model="vm.DetallePrePeticionCompraOrdinaria.TipoCosto"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoCosto"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Línea Negocio:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboLineaProducto" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompraOrdinaria.IdLineaProducto"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListaLineaProducto"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Descripción de Compra:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtDescripcion"
                                                   ng-model="vm.DetallePrePeticionCompraOrdinaria.Descripcion" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Product Manager:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtProductManager"
                                                   ng-model="vm.DetallePrePeticionCompraOrdinaria.ProductManager" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-label">Moneda:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboMoneda" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompraOrdinaria.Moneda"
                                                    ng-options="item.Valor2 as item.Descripcion for item in vm.ListaMonedas"
                                                    ng-cloak></select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Monto:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="txtMonto"
                                                   ng-model="vm.DetallePrePeticionCompraOrdinaria.Monto" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Coordinado con Dirección de Compras de Telefónica:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtCoordinadorCompras"
                                                   ng-model="vm.DetallePrePeticionCompraOrdinaria.CoordinadorCompras" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Comprador asignado:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtCompradorAsignado"
                                                   ng-model="vm.DetallePrePeticionCompraOrdinaria.CompradorAsignado" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Grupo de Compras:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboGrupoCompra" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompraOrdinaria.GrupoCompra" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Grupo de Compras confirmado por Comprador:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboGrupoCompra" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompraOrdinaria.GrupoCompraConfirmado" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">P X Q:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboAutorizado" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompraOrdinaria.PQAdjudicado" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Pliego técnico de la compra:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboAutorizado" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompraOrdinaria.PliegoTecnico" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Cotización de Proveedor:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboCotizacionAdjunta" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompraOrdinaria.CotizacionAdjunta" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Posiciones en OC:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="cboAutorizado" class="form-control"
                                                    ng-model="vm.DetallePrePeticionCompraOrdinaria.PosicionesOC" ng-cloak>
                                                <option value="-1">--Seleccione--</option>
                                                <option value="0">Si</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Fecha de necesidad de entrega de Orden de Compra al Proveedor:</label>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="date" class="form-control" id="txtFechaEntregaOC"
                                                   ng-model="vm.DetallePrePeticionCompraOrdinaria.FechaEntregaOC" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Observaciones:</label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" ng-model="vm.DetallePrePeticionCompraOrdinaria.Observaciones"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 pull-right">
            <button type="button" class="btn btn-success btn-sm" ng-click="vm.GuardarPrePeticionOrdinariaDetalle()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="vm.CerrarPrePeticionCompra()"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
        </div>
    </div>
    <script>
        var IdProyecto = '@ViewBag.IdProyecto'
        var IdDetalleFinanciero = '@ViewBag.IdDetalleFinanciero'
    </script>
</div>

