﻿<style>
    .form-horizontal .form-group {
        margin-bottom: 1px;
    }

     .form-group {
        margin-bottom: 1px;
    }
</style>


<div id="IdRegistroCartaFianzaController" ng-app="app.CartaFianza" ng-controller="RegistroCartaFianzaController as vm">

    <div id="frmRegistroCartaFianza" class="content-page">
       
         <div class="row">
            <div id="divAlertRegistrar" class="alert-edit col-md-12">              
               
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="hidden" id="IdCartaFianza" ng-model="vm.IdCartaFianza" style = "visibility:hidden;display:none"/>
                <input type="hidden" id="IdEstadoCartaFianzaTm" ng-model="vm.IdEstadoCartaFianzaTm" style = "visibility:hidden;display:none"/>
                <input type="hidden" id="IdTipoSubEstadoCartaFianzaTm" ng-model="vm.IdTipoSubEstadoCartaFianzaTm" style="visibility:hidden;display:none" />
                <input type="hidden" id="IdRenovarTm" ng-model="vm.IdRenovarTm" style = "visibility:hidden;display:none"/>
                <div class="form-group col-md-12"  style = "visibility:hidden;display:none">
                    <label class="col-md-2 control-label">Tipo Acción<span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select id="CmbTipoAccion" class="form-control"
                                ng-model="vm.CmbTipoAccion"
                                ng-disabled="disableTipaccion"
                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoAccion"></select>
                    </div>                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal" >
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos de Cliente    
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" aria-expanded="true" href="#pnCliente"></a>
                        </span>
                    </header>

                    <div id="pnCliente" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label col-md-3">RUC/NIF</label>
                                <div class="col-md-9">
                                    <input id="IdentificadorFiscal" class="form-control" ng-model="vm.IdentificadorFiscal" placeholder="RUC / NIF" autocomplete="off" ng-cloak readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Cliente </label>
                                <div class="col-md-9">
                                    <input id="NombreCliente" class="form-control" ng-model="vm.NombreCliente" placeholder="Nombre Cliente" autocomplete="off" ng-cloak readonly>
                                </div>

                            </div>
                        </div>

                    </div>
                </section>
                <!--progress bar end-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos de Contrato
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnContrato"></a>
                        </span>
                    </header>
                    <div id="pnContrato" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label">Tipo Contrato<span class="text-danger">*</span></label>
                                <div class="col-md-4">
                                    <select id="CmbTipoContratoTm" class="form-control"
                                            ng-model="vm.CmbTipoContratoTm"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoContrato"></select>

                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Número Contrato<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <input id="NumeroContrato" class="form-control" ng-model="vm.NumeroContrato" placeholder="Número Contrato" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Número Oportunidad<span class="text-danger"></span></label>
                                        <div class="col-md-4">
                                            <input id="NumeroOportunidad" ng-model="vm.NumeroOportunidad" class="form-control" placeholder="Número Oportunidad" autocomplete="off" ng-cloak>
                                        </div>
                                 
                                        <label class="col-md-2 control-label">Empresa Adjudicada<span class="text-danger"></span></label>
                                        <div class="col-md-4">
                                            <select id="CmbEmpresaAdjudicadaTm" name="CmbEmpresaAdjudicadaTm" class="form-control"
                                                    ng-model="vm.CmbEmpresaAdjudicadaTm"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListEmpresaAdjudicada" ng-disabled="ActivarPanel"></select>

                                        </div>
                                    </div>
                                </div>

                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tipo de Proceso<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <select id="CmbTipoProcessoTm" name="vm.CmbTipoProcessoTm" class="form-control"
                                                ng-model="vm.CmbTipoProcessoTm"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoProceso" ng-disabled="ActivarPanel"></select>
                                    </div>
                                   
                                    <label class="col-md-2 control-label">Número Proceso</label>
                                    <div class="col-md-4">
                                        <input class="form-control" id="NumeroProceso" name="NumeroProceso" ng-model="vm.NumeroProceso" placeholder="Número Proceso" />
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-sm-3 control-label">Servicio:<span class="text-danger">*</span></label>
                                <div class="col-sm-12">
                                    <input class="form-control" id="Servicio" ng-model="vm.Servicio" />
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-sm-3 control-label">Objeto:</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control"id="DescripcionServicioCartaFianza"  ng-model="vm.DescripcionServicioCartaFianza" rows="3"  ></textarea>
                                </div>
                            </div>
                                    
                            <div class="form-group col-md-12" style="visibility:hidden;display:none">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Fecha Firma Servicio Contrato<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <input id="FechaFirmaServicioContrato" type="date" class="form-control input-md" ng-model="vm.FechaFirmaServicioContrato" max="3000-12-31" min="2000-01-01" />
                                    </div>
                               
                                    <label class="col-md-2 control-label">Fecha Fin Servicio Contrato<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <input id="FechaFinServicioContrato" type="date" class="form-control input-md" ng-model="vm.FechaFinServicioContrato" max="3000-12-31" min="2000-01-01" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                  <label class="col-md-2 control-label">Tipo Moneda<span class="text-danger">*</span></label>
                                   <div class="col-md-4">
                                        <select id="CmbTipoMoneda" class="form-control"
                                                ng-model="vm.CmbTipoMoneda"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoMoneda"></select>

                                   </div>

                            </div>

                            <div class="form-group col-md-12">
                                   
                                <div class="form-group">
                                    @*<label class="col-md-2 control-label">Importe Soles</label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="" data-mask=" 999,999,999.99" class="form-control" id="ImporteCartaFianzaSoles"  ng-model="vm.ImporteCartaFianzaSoles" >
                                        <span class="help-inline">$ 999,999,999.99</span>
                                    </div>
                            
                                    <label class="col-md-2 control-label">Importe Soles</label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="" data-mask=" 999,999,999.99" class="form-control"  id="ImporteCartaFianzaDolares"  ng-model="vm.ImporteCartaFianzaDolares" >
                                        <span class="help-inline">$ 999,999,999.99</span>
                                    </div>
                                </div>*@


                                <label class="col-md-2 control-label">Importe Soles</label>
                                    <div class="col-md-4">
                                        <input id="ImporteCartaFianzaSoles" class="form-control" ng-model="vm.ImporteCartaFianzaSoles"  ng-keyup="UtilsFactory.ValidarNumero(this)" type="text"  ng-currency-mask />


                                    </div>
                                    <label class="col-md-2 control-label">Importe Dolares</label>
                                    <div class="col-md-4">
                                        <input id="ImporteCartaFianzaDolares" class="form-control" ng-model="vm.ImporteCartaFianzaDolares" type="text" ng-currency-mask />
                                    </div>
                                </div>

                            </div>

                    </div>
                        </div>
                </section>
                <!--progress bar end-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos de Garantia
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnGarantia"></a>
                        </span>
                    </header>

                    <div id="pnGarantia" class="panel-collapse collapse in">

                        <div class="panel-body">

                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tipo Garantía<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <select id="CmbTipoGarantiaTm" class="form-control"
                                                ng-model="vm.CmbTipoGarantiaTm"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoGarantia" ng-disabled="ActivarPanel"></select>

                                    </div>

                                    <label class="col-md-2 control-label">Fecha Emisión Banco<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <input id="FechaEmisionBanco" type="date" class="form-control input-md" ng-model="vm.FechaEmisionBanco" max="3000-12-31" min="2000-01-01" />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Fecha Vigencia Banco<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <input id="FechaVigenciaBanco" type="date" class="form-control input-md" ng-model="vm.FechaVigenciaBanco" max="3000-12-31" min="2000-01-01" />
                                    </div>
                              

                                    <label class="col-md-2 control-label">Fecha Vencimiento Banco<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <input id="FechaVencimientoBanco" type="date" class="form-control input-md" ng-model="vm.FechaVencimientoBanco" max="3000-12-31" min="2000-01-01" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group" >
                                    <label class="col-md-2 control-label">Fecha Descargo Banco<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <input id="FechaDescargoBanco" type="date" style="background-color:aquamarine;" class="form-control input-md" ng-model="vm.FechaDescargoBanco" max="3000-12-31" min="2000-01-01"  readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Número Garantía<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <input id="NumeroGarantia" name="NumeroGarantia" class="form-control" ng-model="vm.NumeroGarantia" placeholder="Número Garantía" value="" ng-value="" autocomplete="off" ng-cloak>
                                    </div>

                                    <label class="col-md-2 control-label">Entidad Bancaria<span class="text-danger"></span></label>
                                    <div class="col-md-4">
                                        <select id="CmbBanco" class="form-control"
                                                ng-model="vm.CmbBanco"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListEntidadBancaria" ng-disabled="ActivarPanel"></select>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input id="ClienteEspecial" type="checkbox" ng-model="vm.ClienteEspecial" ng-disabled="vm.ActivarPanel" ng-true-value="'1'" ng-false-value="'0'">Cliente Especial
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input id="SeguimientoImportante" type="checkbox" ng-model="vm.SeguimientoImportante" ng-disabled="vm.ActivarPanel" ng-true-value="'1'" ng-false-value="'0'">Seguimiento Importante
                                        </label>
                                    </div>
                                </div>
                              
                             </div>


                                    <div class="col-md-4" style="visibility:hidden;display:none">
                                        <div class="checkbox">
                                            <label>
                                                <input id="IdEstado" type="checkbox" ng-model="vm.IdEstado" ng-true-value="'1'" ng-false-value="'0'">Estado
                                            </label>
                                        </div>
                                    </div>
    
                    </div>

                    </div>

                
                </section>
                    </div>
                
                <!--progress bar end-->
            </div>
       
        <div class="row">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos de Garantía - Errada
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnGarantiaErrada"></a>
                        </span>
                    </header>

                    <div id="pnGarantiaErrada" class="panel-collapse collapse in">

                        <div class="panel-body">

                            <div class="form-group col-md-12">


                                <label class="col-md-2 control-label">Carta Fianza Errada</label>
                                <div class="col-md-2">

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="vm.optionsRadios" ng-value="0" checked>
                                            NO
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="vm.optionsRadios" ng-value="1">
                                            SI
                                        </label>
                                    </div>
                                </div>
                                <label class="col-md-2 control-label">Motivo  </label>
                                <div class="col-md-6">
                                    <textarea class="form-control" id="MotivoCartaFianzaErrada" name="MotivoCartaFianzaErrada" ng-model="vm.MotivoCartaFianzaErrada" rows="3"   placeholder="Motivo CartaFianza Errada" autocomplete="off" ng-disabled=" ((vm.optionsRadios == 0) ? 1:0) " ng-cloak></textarea>
                                </div>

                            </div>
                                                                 
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label">Fecha Correción Tesorería</label>
                                <div class="col-md-4">
                                    <input id="FechaCorrecionTesoreria" type="date" class="form-control input-md" ng-model="vm.FechaCorrecionTesoreria" max="3000-12-31" min="2000-01-01" ng-disabled=" ((vm.optionsRadios == 0) ? 1:0) "  />
                                </div>
                                <label class="col-md-2 control-label">Fecha Recepción Tesorería</label>
                                <div class="col-md-4">
                                    <input id="FechaRecepcionTesoreria" type="date" class="form-control input-md" ng-model="vm.FechaRecepcionTesoreria" max="3000-12-31" min="2000-01-01" ng-disabled=" ((vm.optionsRadios == 0) ? 1:0) " />
                                </div>
                            </div>

                            </div>
                            <div class="col-md-4" style="visibility:hidden;display:none">
                                <div class="checkbox">
                                    <label>
                                        <input id="IdEstado" type="checkbox" ng-model="vm.IdEstado" ng-true-value="'1'" ng-false-value="'0'">Estado
                                    </label>
                                </div>
                            </div>



                        </div>

                </section>
            </div>

            <!--progress bar end-->
        </div>

        <div class="row" style = "visibility:hidden;display:none">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos de Contrato - Errada
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnContratoErrada"></a>
                        </span>
                    </header>

                    <div id="pnContratoErrada" class="panel-collapse collapse in">

                        <div class="panel-body">

                            <div class="form-group col-md-12">


                                <label class="col-md-2 control-label">Contrato Errado</label>
                                <div class="col-md-2">

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios_cnt" id="optionsRadios1_cnt" ng-model="vm.optionsRadios_cnt" ng-value="0" checked>
                                            NO
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios_cnt" id="optionsRadios2_cnt" ng-model="vm.optionsRadios_cnt" ng-value="1">
                                            SI
                                        </label>
                                    </div>
                                </div>
                                <label class="col-md-2 control-label">Motivo  </label>
                                <div class="col-md-6">
                                    <textarea class="form-control" id="MotivoCartaFianzaErrada_cnt" name="MotivoCartaFianzaErrada_cnt" ng-model="vm.MotivoCartaFianzaErrada_cnt" rows="3" placeholder="Motivo Contrato Errada" autocomplete="off" ng-disabled=" ((vm.optionsRadios_cnt == 0) ? 1:0) " ng-cloak></textarea>
                                </div>

                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label">Fecha Correción Gestor</label>
                                <div class="col-md-4">
                                    <input id="FechaCorrecionGestor" type="date" class="form-control input-md" ng-model="vm.FechaCorrecionGestor" max="3000-12-31" min="2000-01-01" ng-disabled=" ((vm.optionsRadios_cnt == 0) ? 1:0) " />
                                </div>
                                <label class="col-md-2 control-label">Fecha Recepción Gestor</label>
                                <div class="col-md-4">
                                    <input id="FechaRecepcionGestor" type="date" class="form-control input-md" ng-model="vm.FechaRecepcionGestor" max="3000-12-31" min="2000-01-01" ng-disabled=" ((vm.optionsRadios_cnt == 0) ? 1:0) " />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4" style="visibility:hidden;display:none">
                            <div class="checkbox">
                                <label>
                                    <input id="IdEstado" type="checkbox" ng-model="vm.IdEstado" ng-true-value="'1'" ng-false-value="'0'">Estado
                                </label>
                            </div>
                        </div>



                    </div>

                </section>
            </div>

            <!--progress bar end-->
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos de Observación e Incidencia
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnObservacion"></a>
                        </span>
                    </header>
                    <div id="pnObservacion" class="panel-collapse collapse in">
                        <div class="panel-body">


                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Observación <span class="text-danger"></span></label>
                                    <div class="col-md-12">
                                        <input type="text" id="Observacion" ng-model="vm.Observacion"  class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Incidencia <span class="text-danger"></span></label>
                                    <div class="col-md-12">
                                        <input type="text" id="Incidencia" ng-model="vm.Incidencia"  class="form-control"/>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </section>
                <!--progress bar end-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN"  ng-click="vm.GrabarCartaFianza()"><span class="glyphicon glyphicon-floppy-disk"/> Grabar</a>
            </div>
        </div>

    </div>

  

</div>



 @section scripts{

    @Scripts.Render("~/bundles/app/CartaFianza/RegistroCartaFianza/js");
    @Scripts.Render("//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js");
     
 }
