﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div id="idAnexoController" ng-app="app.Compra" ng-controller="AnexoController as vm">

    <div class="form-group row">
        <label class="col-sm-6 col-form-label"><strong>Comentarios y/o anexos de la Petición de Compra {{vm.CodigoPeticionCompraExtendido}}:</strong></label>

    </div>
    <fieldset>
        <legend>Información Documento</legend>
        <div class="form-inline" ng-show="vm.PermitirAcciones()">
            <div class="form-group">
                <label class="control-label"><strong>Tipo Documento:</strong></label>

                <select class="form-control" ng-model="vm.Anexo.IdTipoDocumento" ng-change="vm.SeleccionarTipoDocumento()"
                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoDocumento" ng-cloak></select>
            </div>
            <div class="form-group">
                <label class="control-label"><strong>Archivo:</strong></label>
                <div class="form-group">
                    <div class="input-group input-file" name="Fichier1">
                       
                        <input type="text" readonly ng-model="vm.Anexo.NombreArchivo" class="form-control" />
                        <input id="fArchivo" name='file' type="file" accept="{{vm.TipoDocumentoValor2}}" ngf-select="UploadFiles($files)" style="display:none" />

                        <span class="input-group-btn">
                            <button class="btn btn-default btn-choose" onclick="$('#fArchivo').click()" type="button">Seleccionar Archivo</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success" ng-click="vm.GuardarAnexo()"><i class="glyphicon glyphicon-paperclip"></i> Adjuntar</button>
            </div>
        </div>
    </fieldset>

    <br />

    <table class="table table-bordered">
        <tr class="grid-head">
            <th class="text-center">Documento de sustento</th>
            <th class="text-center">Archivos</th>
            <th class="text-center">Acción</th>
        </tr>
        <tr ng-repeat="anexo in vm.ListaAnexo" ng-hide="vm.anexo.length == 0">
            <td>
                <strong>{{anexo.DesTipoDocumento}}</strong>
            </td>
            <td>
                <strong><a href="#" ng-click="vm.DescargarAnexoArchivo(anexo)">{{anexo.NombreArchivo}}</a></strong>
            </td>
            <td class="text-center">
                <a  ng-show="(vm.IdUsuario == anexo.IdUsuario || anexo.EsNuevo) && vm.Ver == 0" ng-click="vm.EliminarAnexo(anexo)"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        <tr ng-hide="vm.ListaAnexo.length != 0">
            <td colspan="3"><strong>No hay archivos.</strong></td>
        </tr>
    </table>

    <br />
    <div>
        <div class="pull-right">
            <button type="button" class="btn btn-success btn-sm" ng-show="vm.PermitirAcciones()" ng-click="vm.GuardarAnexos()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        </div>
    </div>
</div>