﻿<div id="IdRegistrarRecursoController" ng-controller="RegistrarRecurso as vm">
    <!-- Datos content -->
                    <div class="row">
                        <div id="divAlert" class="alert-edit col-md-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-md-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-12">Los campos con asterisco (*) son obligatorios.</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Código:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-md" id="txtCodigo" ng-model="vm.IdRecurso" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Descripcion(*):</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-md" ng-model="vm.Nombre" id="txtNombre" maxlength="100" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Tipo Recurso(*):</label>
                                        <div class="col-md-4">
                                            <select id="IdTipoRecurso" class="form-control input-md"
                                                    ng-model="vm.IdTipoRecurso"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listRecursos" ng-cloak ></select>

                                        </div>
                                        <label class="control-label col-md-2">Estado(*): </label>
                                        <div class="col-md-4">
                                            <select id="ddlIdEstado" class="form-control input-md"
                                                    ng-model="vm.IdEstado"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled" ></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Usuario SF:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-md" ng-model="vm.UserNameSF" id="UserNameSF" maxlength="30" />
                        </div>
                        <label class="control-label col-md-2">DNI: </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-md" ng-model="vm.DNI" id="DNI" maxlength="16" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Email:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-md" ng-model="vm.Email" id="Email" maxlength="80" />
                        </div>
                        <label class="control-label col-md-2">Rol Defecto: </label>
                        <div class="col-md-4">
                            <select id="IdRolDefecto" class="form-control input-md"
                                    ng-model="vm.IdRolDefecto"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listRolRecurso" ng-cloak></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Cargo:</label>
                        <div class="col-md-4">
                            <select id="IdCargo" class="form-control input-md"
                                    ng-model="vm.IdCargo"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listCargo" ng-cloak></select>

                        </div>
                        <label class="control-label col-md-2">Empresa: </label>
                        <div class="col-md-4">
                            <select id="IdEmpresa" class="form-control input-md"
                                    ng-model="vm.IdEmpresa"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEmpresa" ng-cloak></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Area:</label>
                        <div class="col-md-4">
                            <select id="IdArea" class="form-control input-md"
                                    ng-model="vm.IdArea"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listArea" ng-cloak></select>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">

                                <div class="modal-footer">
                                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarRecurso()"> Grabar</a>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

