﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@using Tgs.SDIO.Web.Utilitarios;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Formulario Gerentes de Cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<body ng-app="app.CartaFianza" block-ui="main">
</body>

<div id="idRecuperoCartaFianza" ng-app="app.CartaFianza" ng-controller="FormularioGerentesCuentaController as vm">
    <div id="frmCartaFianza" class="content-page">
        <div class="row">
            <div id="divAlertFormularioGC" class="alert-edit col-md-12"></div>
        </div>

        <header class="panel-heading-modal" style="background-color:white;color:black;">
            <i class="fa fa-chevron-circle-down"> </i>

            <center>
                <p style="padding-bottom:10px;
			                font-size: 18px;border-bottom-color: orange;border-top-color: white;
                            border-left-color: white;border-right-color: white;border-style: solid;
                            font-size: 28px;font-family: cursive;">
                    Pendientes de Renovación
                </p>
            </center>
        </header>

        <br />
        <div class="row">
            <div class="col-lg-12">
                <input type="hidden" id="IdGerenteCuenta" value="@Html.Raw(ViewBag.IdRecurso)" />
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Tabla Carta Fianza Pendientes
                    </header>
                    <div class="panel-body">
                        <div class="dv-table">
                            <div class="table-responsive">
                                <table class="display table table-bordered table-striped" id="tablaSinRespuesta" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Vencimiento</th>
                                            <th>N°_de_Garantía</th>
                                            <th>Cliente</th>
                                            <th>N°_Contrato</th>
                                            <th>Servicio_de_la_Contratación</th>
                                            <th>Renovar?</th>
                                            <th>Periodo_Renovación(Meses)</th>
                                            <th>Sustento</th>
                                            @*<th>Guardar</th>*@
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-sm-12 text-right">
                <span> <i>Después de completar los campos, debe confirmar los cambios con este botón</i></span> 
            </div>
            <div class="col-sm-12 text-right">
                <button class="btn btn-primary btn-lg" ng-click="vm.ModalRespuestaGerenteCuentaGC()">
                    <span class="glyphicon glyphicon-new-search"></span> Guardar cambios
                </button>
            </div>

        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="ModalGuardarRespuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:450px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">GUARDAR INFORMACIÓN</p>
                </div>

                <div class="row">
                    <div id="divAlertGuardarRespuesta" class="alert-edit col-md-12"></div>
                </div>
                <div class="modal-body modal-bodyTgestiona" style="font-size:9pt;"> </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group ">
                            <center><h4><strong>&nbsp;¿Está seguro que desea guardar los cambios realizados?&nbsp;</strong></h4></center>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10 text-right">
                                <button type="submit" class="btn btn-primary" ng-click="vm.GuardarRespuestaGerenteCuentaGC()">Grabar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/CartaFianza/FormularioGerentesCuenta/js");
}
