﻿@using Tgs.SDIO.Util.Web.Funnel;
@{
    ViewBag.Title = "View";
    ViewBag.Area = Titulos.Titulo_Area;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" ng-app="app.Funnel" ng-controller="ReportDashboardController as vm">
    <div ng-init="vm.MostrarDashboard()"> </div>
    @*<div class="col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.OpexTotal}}</span>
                                CONSULTA OPEX TOTAL
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.OibdaTotal}}</span>
                                CONSULTA OIBDA TOTAL
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.serctorF}}</span>
                                SECTOR F
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.OportunidadesTrabajadas}}</span>
                                CONSULTA DE OPORTUNIDADES TRABAJADAS TOTAL
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.IngresoTotal}}</span>
                                CONSULTA DE INGRESOS TOTAL
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.CapexTotal}}</span>
                                CONSULTA  CAPEX TOTAL
                            </div>
                        </div>
                    </div>
                </div>          
        
    </div>
    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Reporte
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="900" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>*@
</div>




  <!--Morris Chart-->
<script src="~/Scripts/js/dashboard_2.js"></script>


@section scripts{
    @Scripts.Render("~/bundles/app/funnel/Dashboard/js")
}





