﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Title = "DashboardTrazabilidad";
    ViewBag.Area = Titulos.Titulo_Area;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-app="app.Trazabilidad" ng-controller="DashboardTrazabilidadController as vm">
    <div ng-init="vm.MostrarDashboard()"> </div>
    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    SEGUIMIENTO DE OPORTUNIDADES
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="1200" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script type="text/javascript">
    @*var codigosPerfiles = '@Html.Raw(Json.Encode(ViewBag.codigosPerfil))';*@
    var codigosPerfiles = '@Html.Raw(Json.Encode(ViewBag.codigosPerfil))';
    var idUsuario = '@Html.Raw(ViewBag.IdUsuario)';
    var coordinadorServicioF4 = '@Html.Raw(Tgs.SDIO.Util.Constantes.Generales.TipoPerfil.coordinadorServicioF4)';
    debugger;
</script>

@section scripts{
    @Scripts.Render("~/bundles/app/Trazabilidad/reporteDashboardTrazabilidad/js")
}





