﻿@using Tgs.SDIO.Util.Web.Funnel;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = ViewBag.Titulo;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}

<div class="row" ng-app="app.Funnel" ng-controller="DashboardFunnelConsolidadoController as vm">
    <div ng-init="vm.MostrarDashboard()"> </div>
    <div id="divAlertRegistro"></div>
    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    @ViewBag.Titulo
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="1200" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script type="text/javascript">
    var codigosPerfiles= '@Html.Raw(Json.Encode(ViewBag.codigosPerfil))';
    var gerentePreventa = '@Html.Raw(Tgs.SDIO.Util.Constantes.Generales.TipoPerfil.GerentePreventa)';
    var liderPreventa = '@Html.Raw(Tgs.SDIO.Util.Constantes.Generales.TipoPerfil.LiderPreventa)';
    var preventa = '@Html.Raw(Tgs.SDIO.Util.Constantes.Generales.TipoPerfil.PreventaProyecto)';
    var gerenteRentabilidad = '@Html.Raw(Tgs.SDIO.Util.Constantes.Generales.TipoPerfil.GerenteRentabilidad)';
    var idUsuario = '@Html.Raw(ViewBag.IdUsuario)';
    var idOpcion = '@Html.Raw(ViewBag.IdOpcion)';
    var moduloReporte = '@Html.Raw(ViewBag.ModuloReporte)';
</script>

@section scripts{
    @Scripts.Render("~/bundles/app/funnel/reporteDashboardFunnelConsoilidado/js")
}

