﻿
@using Tgs.SDIO.Util.Web.PlantaExterna;
@{
    ViewBag.Area = Titulos.TituloArea;
    ViewBag.Opcion = Titulos.Principal;
    ViewBag.Title = Titulos.DashBoard;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" ng-app="app.PlantaExterna" ng-controller="DashboardPlantaExternaController as vm">  
    <div class="content-page">
        <div class="col-md-12">
            <br />
            <section class="panel">
                <header class="panel-heading"> 
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="1200" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/PlantaExterna/DashBoard/js")
}


