﻿
@model Tgs.SDIO.Web.Models.DetalleUsuario

<div class="container">
    <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary" style="margin-left:-80px;width: 350px;">

            @if (Model.Usuario != null)
            {
                if (Model.Usuario.Roles != null)
                {
                    <div class="panel-heading">
                        <div class="panel-title">Perfiles Asignados</div>
                    </div>
                    <div style="padding-top:25px" class="panel-body form-horizontal">
                        <div class="form-group">
                            <div class="col-md-10">
                                <table>
                                    @foreach (var item in Model.Usuario.Roles)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item)
                                            </td>
                                        </tr>
                                    }
                                </table>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>