﻿
@{
    ViewBag.Title = "Modulo";
    Layout = "~/Views/Shared/_Layout_Modulo.cshtml";
}
@model List<Tgs.SDIO.DataContracts.Dto.Response.Seguridad.OpcionMenuResponse>


@foreach (var menu in Model)
{
    <div class="row">
        @if (menu.OpcionMenuDtoLista.Count > 0)
        {

            //src="@Url.Content("~/Content/image/icons/"+ menu.OpcionMenuDto.UrlImage)" title="@menu.OpcionMenuDto.AltlImage">


            <div class="col-sm-3 col-md-2">
                <div class="feed-box text-center">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="corner-ribon blue-ribon">

                            </div>
                            <a href="#">
                                <img alt="" src="@Url.Content("~/Content/image/icons/"+ menu.OpcionMenuDto.UrlImage)" title="@menu.OpcionMenuDto.AltlImage">
                            </a>
                            <h1>@menu.OpcionMenuDto.NombreOpcion</h1>
                            <p></p>
                        </div>
                    </section>
                </div>
            </div>





        }
    </div>

}



