﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Capex;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Opcion = "Contenedor";
    ViewBag.Title = Titulos.Titulo_Contenedor;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Capex" block-ui="main">
</body>

<div class="" id="idCapexContenedorController" ng-app="app.Capex" ng-controller="CapexContenedorController as vm">
    <div id="alertContenedor" class="col-md-12"></div>
    
    <div class="contenedor-content row">

        <div class="col-md-12">
            <ul class="breadcrumbs-alt">
                <li ng-repeat="item in vm.ListEstado">
                    <a ng-show="vm.IdEstado=={{item.Codigo}}" class="current" href="#">{{item.Descripcion}}</a>
                    <a ng-show="vm.IdEstado!={{item.Codigo}}" class="active-trail " href="#">{{item.Descripcion}}</a>
                </li>
                @*<li>
                    <a class="active-trail " href="#">Preventa</a>
                </li>
                <li>
                    <a class="active-trail" href="#">Producto</a>
                </li>
                <li>
                    <a class="active-trail" href="#">Planeamiento y Control</a>
                </li>
                <li>
                    <a class="active-trail" href="#">Oficina de Inversiones</a>
                </li>*@
            </ul>
        </div>
    </div>
        @*<div class="contenedor-tabs col-xs-1">*@
        <div class="contenedor-tabs row">
            <!-- Nav tabs -->
            <ul id="idContenedor" class="nav nav-tabs tabs-left sideways">
                <li class="active"><a href="#proyecto" data-toggle="tab">Capex</a></li>
                <li><a href="#detalle" data-toggle="tab" ng-click="vm.CargaDetalle()">Detalle</a></li>
            </ul>
        </div>
        @*<div class="contenedor-content col-xs-11">*@
        <div class="contenedor-content row">
            <div class="panel-content">
                <div class="col-md-12">
                    <!-- Tab panes -->
                    <div class="tab-content" style="padding: 2px 0 0 0;">
                        <div class="tab-pane active" id="proyecto">
                            <div class="card-box">
                                @Html.Action("Index", "Proyecto", new { area = "Capex" })
                            </div>
                        </div>
                        <div class="tab-pane" id="detalle">
                            <div class="card-box">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

@section scripts{

@Scripts.Render("~/bundles/app/CapexContenedor/js")

<script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
<script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>
<script src="~/Scripts/app/Comun/ServicioGrupo/ServicioGrupo.service.js"></script>
<script src="~/Scripts/app/Capex/BandejaEstructuraCosto/BandejaEstructuraCosto.controller.js"></script>
<script src="~/Scripts/app/Capex/BandejaEstructuraCosto/BandejaEstructuraCosto.service.js"></script>
<script src="~/Scripts/app/Capex/RegistrarEstructuraCosto/RegistrarEstructuraCosto.controller.js"></script>
<script src="~/Scripts/app/Capex/RegistrarEstructuraCosto/RegistrarEstructuraCosto.service.js"></script>
<script src="~/Scripts/app/Comun/Ubigeo/Ubigeo.service.js"></script>
<script src="~/Scripts/app/Comun/Archivo/Archivo.service.js"></script>
<script src="~/Scripts/app/Capex/RegistrarTopologia/RegistrarTopologia.controller.js"></script>
<script src="~/Scripts/app/Capex/RegistrarTopologia/RegistrarTopologia.service.js"></script>
<script>var jsonCapex= @Html.Raw(Json.Encode(ViewBag.ObjSolicitudCapex));</script>
}