﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Capex
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_Contenedor;
    Layout = "";
}
<div id="idCapexContenedorController" ng-app="app.Capex" ng-controller="CapexContenedorController as vm">
    <div id="frmDetalleOportunidadContenedor">

        <div class="row">
            <section class="panel">
                <header class="panel-heading">
                    Solicitud Capex
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label">Linea de Negocio<span class="text-danger">*</span></label>
                                <div class="col-md-2">
                                    <select id="CmbLineaNegocio" class="form-control"
                                            ng-model="vm.IdLineaNegocio"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListOportunidadLineaNegocio" ng-cloak
                                            ng-change="vm.ListarCasoNegocio()"></select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="">
                    <ul class="nav nav-tabs navtab-bg">
                        <li id="PedidoTab" class="active">
                            <a href="#pedido" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaDatos()">
                                <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                <span class="hidden-xs">Pedido</span>
                            </a>
                        </li>
                        <li id="TopologiaTab">
                            <a href="#topologia" data-toggle="tab" aria-expanded="false" ng-click="vm.CargaSustento()">
                                <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                <span class="hidden-xs">Topología</span>
                            </a>
                        </li>
                        
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="pedido">
                            <div class="card-box">

                            </div>
                        </div>
                        <div class="tab-pane" id="topologia">
                            <div class="card-box">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/app/CapexContenedor/js")
