﻿@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaAreaSeguimiento;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.Comun" block-ui="main">
</body>
<div id="IdBandejaAreaSeguimiento" ng-app="app.Comun" ng-controller="BandejaAreaSeguimiento as vm">

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-lg-2 control-label">Segmento Negocio:</label>
                            <div class="col-lg-3">
                                <input id="idNombreSegmento" class="form-control" ng-model="vm.DescripcionSegmento" placeholder="Ingrese Descripción" maxlength="100" autocomplete="off" ng-cloak>
                            </div>
                            <label class="col-lg-2 control-label">Descripción Area:</label>
                            <div class="col-lg-3">
                                <input id="idNombreArea" class="form-control" ng-model="vm.DescripcionArea" placeholder="Ingrese Descripción" autocomplete="off" maxlength="100" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarAreaSeguimiento()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                            <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalRegistrarAreaSeguimiento" ng-click="vm.ModalAreaSeguimiento()">
                                Nuevo
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <br />
            <section class="panel">
                <header class="panel-heading">
                    Are de Seguimiento
                </header>
                <div class="panel-body">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>

    <!-- Modal Registrar-->

    <div class="modal fade" id="ModalRegistrarAreaSeguimiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">REGISTRO DE AREAS DE SEGUIMIENTO</p>

                </div>
                <div id="ContenidoAreaSeguimiento" class="modal-body-white">

                </div>
            </div>
        </div>
    </div>
  
</div>

@section scripts{

    <script>

        function EliminarAreaSeguimiento(IdAreaSeguimiento) {
            var scope = angular.element(document.getElementById("IdBandejaAreaSeguimiento")).scope();
            scope.vm.EliminarAreaSeguimiento(IdAreaSeguimiento);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Comun/BandejaAreaSeguimiento/js")

}

