﻿@model Tgs.SDIO.Web.Models.Error

@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Error en la aplicación";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        body.ng-scope.block-ui.block-ui-anim-fade {
            background-image: url('../../Content/plantilla/images/error.png') !important;
            background-color: #00a0d8;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body ng-app="app.Seguridad">

</body>
</html>

@section scripts{
    @Scripts.Render("~/bundles/app/seguridad/login/js")

}

