﻿@using Tgs.SDIO.Web.Utilitarios

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDIO</title>


    @Styles.Render("~/bundles/bootstrap/Master/css")

    @Scripts.Render("~/bundles/jquery/js")

    @Scripts.Render("~/bundles/angular/js")
    @Styles.Render("~/bundles/Assets/css")

</head>
<body style="background-image: url(../Content/image/fondo21.jpg);
    position: fixed;
    background-repeat: no-repeat;
     z-index:1;
    display: block;
    width: 100%;
    height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    <input name="__RequestVerificationToken" type="hidden" value='@Tgs.SDIO.Web.Utilitarios.CustomAntiForgeryToken.GetAntiForgeryToken()'>


    @*Bienvenido: @SessionFacade.Usuario.FirstName*@
    

    <section id="container">
        <section>
            <section class="wrapper">
                <div class="row">

                    <div class="form-horizontal col-md-12">
                       
                        <!-- page start-->
                        @RenderBody()
                        <!-- page end-->
                    </div>
                </div>
            </section>
        </section>


        <!--main content end-->
        <!--right sidebar start-->
        <!--right sidebar end-->

    </section>

    <!--Core js-->
    <!--Core js-->
    <!--Core js-->
    @Scripts.Render("~/bundles/bootstrap/layout/js")
    @Scripts.Render("~/bundles/Assets/js")
    @Scripts.Render("~/bundles/app/base/js")
    @RenderSection("scripts", required: false)
</body>
</html>


<script type="text/javascript">
    var siteFullUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
</script>
