﻿@using Tgs.SDIO.Web.Utilitarios

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDIO</title>




    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/angular/js")
    @Styles.Render("~/bundles/Assets/css")
    @Styles.Render("~/bundles/bootstrap/Master/css")
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <input name="__RequestVerificationToken" type="hidden" value='@Tgs.SDIO.Web.Utilitarios.CustomAntiForgeryToken.GetAntiForgeryToken()'>



    @*Bienvenido: @SessionFacade.Usuario.FirstName*@

    <section id="container">
        <!--header start-->
        <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5 font-large-1"></i></a></li>
                        <li class="nav-item"><a href="@Url.Action("Moludo", "Principal",new {area = ""})" class="navbar-brand nav-link"><img alt="branding logo" src="~/Content/plantilla/images/logo.png" class="imagen-logo"></a></li>
                        <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>
                    </ul>
                </div>
                <div class="navbar-container content container-fluid">
                    <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                        <ul class="nav navbar-nav">
                            <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5">         </i></a></li>
                        </ul>
                        <!-- user login dropdown end -->
                        <ul class="nav navbar-nav float-xs-right">
                            <li class="nav-item hidden-sm-down right">
                                <div class="toggle-right-box">
                                    <div class="fa fa-bars"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        <!--header end-->
        <!--sidebar start-->
        <!-- main menu-->
        <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
            <!-- main menu header-->
            <div class="main-menu-content">

                <div class="profile clearfix">
                    <div class="profile_info">
                        <span>Bienvenido: </span>
                       
                        
                         <h2>@SessionFacade.Usuario.FirstName</h2>
                    </div>
                </div>
                <br />
                @Html.Action("Menu", "Principal", new { area = "" })
                <!-- main menu footer-->
            </div>
        </div>
        <!-- / main menu-->
        <!--main content start-->
        <div class="app-content content container-fluid">
            <div class="content-wrapper">
                <section id="main-content">
                    <section class="wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <!--breadcrumbs start -->
                                <ul class="breadcrumb"> 
                                    <li><a href="#"><i class="fa fa-home"></i>@ViewBag.Area</a></li>
                                    @if (@ViewBag.Opcion != null)
                                    {
                                        <li><a href="#" >@ViewBag.Opcion</a></li>
                                    }
                                    <li class="active">@ViewBag.Title</li>
                                </ul>
                                <!--breadcrumbs end -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- page start-->
                                @RenderBody()
                                <!-- page end-->
                            </div>
                        </div>
                    </section>
                </section>

            </div>
        </div>
        <!--main content end-->
        <!--right sidebar start-->
        <div class="right-sidebar">

            <div class="right-stat-bar">
                <ul class="right-side-accordion">
                    <li class="widget-collapsible">
                        <a href="#" class="head widget-head red-bg active clearfix">
                            <span class="pull-left">Notificaciones (0)</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="prog-row side-mini-stat clearfix">
                                    @*<div class="side-graph-info">
                                           <h4>Notificaciones 0</h4>
                                            <p>

                                            </p>
                                        </div>*@
                                    <div class="side-mini-graph">
                                        <div class="target-sell">
                                        </div>
                                    </div>
                                </div>

                            </li>
                        </ul>

                    </li>

                </ul>
            </div>
        </div>
        <!--right sidebar end-->

    </section>
    @Scripts.Render("~/bundles/bootstrap/layout/js")
    @Scripts.Render("~/bundles/Assets/js")
    @Scripts.Render("~/bundles/app/base/js")
    @Scripts.Render("~/bundles/Grafico/js")
    @RenderSection("scripts", required: false)
</body>
</html>


<script type="text/javascript">
    var siteFullUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
</script>
