﻿@model List<Tgs.SDIO.DataContracts.Dto.Response.Seguridad.OpcionMenuResponse>
@using Tgs.SDIO.Util.Web.Comun;

@foreach (var menu in Model)
            {
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

        @foreach (var submenu in menu.OpcionMenuDtoLista)
        {
            <li>
                @if (submenu.NombreOpcion == General.DashBoard)
                {

                    <a href="@Url.Content("~/"+submenu.UrlPagina + menu.OpcionMenuDto.IdOpcion)">
                        <i class="fa fa-dashboard"></i>
                        <span data-i18n="nav.dash.dashboard" class="menu-title">@submenu.NombreOpcion</span>
                    </a>

                }
            </li>
        }

        @foreach (var submenu in menu.OpcionMenuDtoLista.Where(x => x.NombreOpcion != General.DashBoard))
        {


            
                if (submenu.OpcionSubMenuDto.Count > 0 && submenu.NombreOpcion != General.DashBoard)
                {
                    <li class="nav-item has-sub">

                        <a href="#">
                            <i class="@submenu.UrlPagina"></i><span data-i18n="nav.@submenu .main" class="menu-title">@submenu.NombreOpcion</span>
                        </a>
                        <ul class="menu-content">
                            @foreach (var opcionInterna in submenu.OpcionSubMenuDto)
                        {
                                <li>
                                    <a href="@Url.Content("~/" + opcionInterna.UrlPagina)" data-i18n="nav.@submenu.@opcionInterna" class="menu-title">
                                        <span class="glyphicon glyphicon-minus"></span>&nbsp
                                        @opcionInterna.NombreOpcion
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href="@Url.Content("~/" + submenu.UrlPagina)">
                            <i class="@submenu.DescripcionOpcion"></i> 
                        <span data-i18n="nav.@submenu" class="menu-title">&nbsp @submenu.NombreOpcion</span>
                        </a>
                       
                    </li>
                   
            }




        }
        <li class="nav-item">
            <a href="@Url.Action("Modulo", "Principal", new {area = ""})">  
                <i class="fa fa-home "></i>
                <span data-i18n="nav.dash.dashboard" class="menu-title">&nbsp Inicio</span>
            </a>

        </li>
        <li class="nav-item">
            <a href="@Url.Action("CerrarSesion", "Login", new {area = "Seguridad"})">
                <i class="glyphicon glyphicon-off"></i>
                <span data-i18n="nav.dash.dashboard" class="menu-title">&nbsp Salir</span>
            </a>

        </li>
    </ul>
}
