﻿@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Title = "Modulo";
    Layout = "~/Views/Shared/_Layout_Modulo.cshtml";
}
@model List<Tgs.SDIO.DataContracts.Dto.Response.Seguridad.OpcionMenuResponse>
<div class="container">

    <div class="row">
        <div class="container  ">
            <div class="row ">
                <div class="col-sm-12 text-center">
                    <h3 class="h3-title"> <span class="span-title">S</span>ISTEMA DE LA <span class="span-title">D</span>IRECCIÓN DE <span class="span-title">I</span>NGENIERIA Y <span class="span-title">O</span>PERACIONES</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:10%;">

        <div class="panel-body">
            <div id="info" class="page-section  padding">
                    
                <div class="row">
                    <div class="col-sm-12 text-center">
                        @foreach (var menu in Model)
                        {
                            <div class="">
                                @*//foreach (var detalle in menu.OpcionMenuDtoLista.Where(x => x.NombreOpcion == General.DashBoard))*@
                              <div>

                                    @if (Model.Count == 1)
                                    {
                                        <div class="@General.col12">

                                        
                                            <a class="" href="@Url.Content(menu.OpcionMenuDto.UrlPagina + menu.OpcionMenuDto.IdOpcion)">
                                                <div class="st-inner ">
                                                    <div class="text_box text-center "><span class=""><i class="@menu.OpcionMenuDto.DescripcionOpcion" data-mce-bootstrap="1"></i></span><h4 class="text-white">@menu.OpcionMenuDto.NombreOpcion</h4></div>
                                                </div>
                                            </a>
                                          
                                        </div>
                                    }
                                    @if (Model.Count == 2)
                                    {
                                        <div class="@General.col6">

                                            <a class="" href="@Url.Content(menu.OpcionMenuDto.UrlPagina + menu.OpcionMenuDto.IdOpcion)">
                                                <div class="st-inner ">
                                                    <div class="text_box text-center "><span class=""><i class="@menu.OpcionMenuDto.DescripcionOpcion" data-mce-bootstrap="1"></i></span><h4 class="text-white">@menu.OpcionMenuDto.NombreOpcion</h4></div>
                                                </div>
                                            </a>

                                          
                                        </div>
                                    }
                                    @if (Model.Count >= 3)
                                    {
                                        <div class="@General.col4">

                                           
                                                <a class="" href="@Url.Content(menu.OpcionMenuDto.UrlPagina + menu.OpcionMenuDto.IdOpcion)">
                                                    <div class="st-inner ">
                                                        <div class="text_box text-center "><span class=""><i class="@menu.OpcionMenuDto.DescripcionOpcion" data-mce-bootstrap="1"></i></span><h4 class="text-white">@menu.OpcionMenuDto.NombreOpcion</h4></div>
                                                    </div>
                                                </a>
                                          
                                        </div>
                                    }
                                </div>
                               
                            </div>
                        }

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
