﻿
@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.CartaFianza;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Reporte Consolidado Carta Fianza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.CartaFianza" block-ui="main">
</body>

<div ng-app="app.CartaFianza" ng-controller="ReporteConsolidadoCartaFianzaController as vm">

    <div class="content-page">
        <div class="row">
            <div id="divAlerta" class="alert-edit col-md-12"></div>
        </div>

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">

                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Número de Oportunidad:</label>
                            <div class="col-md-8">
                                <input id="NumeroOportunidad" class="form-control" ng-model="vm.search.NumeroOportunidad" placeholder="Número de Oportunidad">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Número de Garantía:</label>
                            <div class="col-md-8">
                                <input id="NumeroGarantia" class="form-control" ng-model="vm.search.NumeroGarantia" placeholder="Número de Garantía">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Nombre del Ciente:</label>
                            <div class="col-md-8">
                                <input id="NombreCliente" class="form-control" ng-model="vm.search.NombreCliente" placeholder="Nombre del Cliente">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Importe:</label>
                            <div class="col-md-8">
                                <input id="Importe" class="form-control" ng-model="vm.search.Importe" placeholder="Importe">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Estado:</label>
                            <div class="col-md-8">
                                <select id="IdEstado" class="form-control"
                                        ng-model="vm.search.IdEstado"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaEstado" ng-disabled="ActivarPanel">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tipo de Acción:</label>
                            <div class="col-md-8">
                                <select id="IdTipoAccion" class="form-control"
                                        ng-model="vm.search.IdTipoAccion"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.ListaTipoAccion" ng-disabled="ActivarPanel">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <br />
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" ng-click="vm.BuscarReporteConsolidado()">
                            <span class="glyphicon glyphicon-new-search"></span> Filtrar
                        </button>
                        <button class="btn btn-primary" ng-click="vm.LimpiarFiltros()">
                            <span class="glyphicon glyphicon-new-erase"></span> Limpiar
                        </button>
                    </div>
                </div>

            </div>
        </section>
        <br />

        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                Reporte Consolidado
            </header>
            <div class="panel-body">
                <div class="dv-table">
                    <div class="table-responsive">
                        <iframe id="FReporte" width="100%" name="FReporte" frameborder="0" scrolling="yes"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/app/CartaFianza/ReporteConsolidadoCartaFianza/js");
}

