﻿<div id="IdOPEX" ng-app="app.Oportunidad" ng-controller="OPEXController as vm">
 
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_OPEX_Modal" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Componente<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtServicio" ng-model="vm.servicio" class="tb form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidad" ng-model="vm.cantidad" type="text" class="form-control" autocomplete="off" ng-keydown="vm.CalculaPxQ()" />
                </div>
            </div>
            <div class="form-group col-md-12">
                @*<label class="col-md-2 control-label">N° Meses</label>
                <div class="col-md-4">
                    <input id="txtNumeroMeses" ng-model="vm.numeroMeses" class="form-control" autocomplete="off" />
                </div>*@
                <label class="col-md-2 control-label">Monto Unitario</label>
                <div class="col-md-4">
                    <input id="txtMontoUnitario" ng-model="vm.montoUnitarioMensual" class="form-control" autocomplete="off" ng-keydown="vm.CalculaPxQ()"/>
                </div>
                <label class="col-md-2 control-label">Monto Total Mensual($)</label>
                <div class="col-md-4">
                    <input id="txtMontoPxQ" ng-model="vm.montoTotalMensual" class="form-control" autocomplete="off" disabled="disabled" />
                </div>
            </div>
            <div class="form-group col-md-12">
                @*<label class="col-md-2 control-label">N° Mes Inicio gasto</label>
                <div class="col-md-4">
                    <input id="txtMesInicio" ng-model="vm.mesInicio" class="form-control" autocomplete="off" />
                </div>*@
              
            </div>
            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnOPEX" type="button" ng-click="vm.GrabarOPEX()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>
    <br />
    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>
    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarOPEX()">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var ConceptoDatosCapexDtoResponse = @Html.Raw(Json.Encode(ViewBag.dto));
    </script>

    @Scripts.Render("~/bundles/app/oportunidad/opex/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}
