﻿<div id="IdRecursoOportunidadBusquedaRecursoController" ng-controller="RecursoOportunidadBusquedaRecurso as vm">
    <div id="divAlert" class="alert-edit col-md-12"></div>
    <div class="row">
        <div id="divAlert">
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Recurso:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control input-md" id="DescripcionRecurso" ng-model="vm.DescripcionRecurso" placeholder="Ingrese Descripción" />
                        </div>
                        <div class="col-lg-4">
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona waves-effect m-l-5" type="submit" ng-click="vm.BuscarRecurso()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltrosR()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <section class="panel">
                    <header class="panel-heading">
                        Recursos
                    </header>
                    <div class="panel-body">
                        <section id="flip-scroll">
                            <div class="table-responsive">
                                <table datatable="" dt-options="vm.dtOptionsR" dt-columns="vm.dtColumnsR"
                                       class="ui compact selectable striped celled table"
                                       dt-instance="vm.dtInstanceR" style="width:100%">
                                    <thead class="cf">
                                </table>
                            </div>
                        </section>
                    </div>
                </section>
                </div>
            </div>
        </div>
    </div>
