﻿<div ng-controller="RegistrarRecursoJefeController as vmjef">
    <div class="row">
        <div id="divAlertRecursoJefe" class="alert-edit col-md-12"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Jefe</label>
                <div class="col-md-4">
                    <label class="form-label" data-ng-bind="vmjef.NombreUsuario"></label>
                </div>
                <label class="col-md-2 control-label">Persona</label>
                <div class="col-md-4"> 
                    <input type="text" class="form-control" ng-model="vmjef.Persona"
                           data-animation="am-flip-x" data-trim-value="false" ng-trim="false"
                           bs-options="items as items.Descripcion for items in vmjef.BuscarPersonal($viewValue)"
                           placeholder="Ingrese el apellido de la persona" bs-typeahead>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vmjef.RegistrarRecursoJefe()"> Grabar</a>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Personal Asignado
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table datatable="" dt-options="vmjef.dtOptionsPersona" dt-columns="vmjef.dtColumnsPersona"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vmjef.dtInstancePersona" style="width:99%;">
                        <thead class="cf">
                    </table> 

                </div>
            </section>
        </div>
    </section>
</div>
