﻿@{
    ViewBag.Area = "Capex";
    ViewBag.Title = "Registrar Topologia";
    Layout = "";
}

<br />
<div id="IdRegistrarTopologiaController" ng-app="app.Oportunidad" ng-controller="RegistrarTopologia as vm">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Carga de Archivos
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div id="lblAlertArchivo" class="alert-edit col-md-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input id="TxtArchivos" class="filestyle" data-buttonName="btn-primary" data-buttonText="&nbsp; Adjuntar" type="file" upload-files="vm.TxtArchivos" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Descripción</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ingrese Descripci&oacute;n" ng-model="vm.DescripcionArchivo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarArchivo()"> Agregar</a>
                        </div>
                    </div>
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="ui compact selectable striped celled table"
                                   dt-instance="vm.dtInstance" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{

}