﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.PlantaExterna;
@{
    ViewBag.Area = Titulos.TituloArea;
    ViewBag.Opcion = Titulos.Configuraciones;
    ViewBag.Title = Titulos.BandejaTipoCambio;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.PlantaExterna" block-ui="main">
</body>

<div ng-app="app.PlantaExterna" ng-controller="BandejaTipoCambioSisegoController as vmTipo">

    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="divAlert" class="alert-edit col-lg-12"></div>
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Fecha inicio<span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <div class='input-group date' style="cursor: pointer;">
                                        <input id="idFechaInicio" type='text' class="form-control" data-date-time-picker ng-model="vmTipo.FechaInicio" maxlength="10" placeholder="dd/mm/yyyy" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Fecha fin<span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <div class='input-group date' style="cursor: pointer;">
                                        <input id="idFechaInicio" type='text' class="form-control" data-date-time-picker ng-model="vmTipo.FechaFin" maxlength="10" placeholder="dd/mm/yyyy" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="clearfix"></div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-12 text-right">
                            <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vmTipo.ModalRegistrarTipoCambioSisego('0')">
                                Nuevo
                            </button>
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vmTipo.ListarTipoCambioSisegoPaginado()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vmTipo.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Mantenimiento de Tipo de Cambio
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table datatable="" dt-options="vmTipo.dtOptions" dt-columns="vmTipo.dtColumns"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vmTipo.dtInstance" style="width:99%">
                        <thead class="cf">
                    </table>
                </div>
            </div>
        </section>

        <div class="modal fade" id="ModalTipoCambio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title">Registro de tipo de cambio</p>
                    </div>
                    <div id="ContenidoTipoCambio" class="modal-body-white">
                    </div>
                </div>
            </div>
        </div> 

    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/app/PlantaExterna/BandejaTipoCambioSisego/js")
}
