﻿<div id="IdSolarWindController" ng-app="app.Oportunidad" ng-controller="SolarWindController as vm">
    
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <!-- Alert -->
            <div class="row">
                <div id="lblAlerta_SolarWindModal" class="alert-edit"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoSolarWind" class="tb form-control" onkeypress="ConceptoComplete(this,15);" autocomplete="off"  ng-model="vm.Equipo" />
                </div>
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceSolarWind" class="form-control" autocomplete="off" ng-model="vm.Cruce" />
                </div>

            </div>
            <div class="form-group col-md-12">
                @*<label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoSolarWind" class="form-control" autocomplete="off" ng-model="vm.AEReducido"/>
                </div>*@
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadSolarWind" type="text" class="form-control" ng-change="vm.CantidadSolarWindComplete();" ng-model="vm.Cantidad" />
                </div>
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresSolarWind" type="text" class="form-control" disabled="disabled" ng-model="vm.CapexDolares" />
                </div>
            </div>
            <div class="form-group col-md-12">
             
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesSolarWind" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.CapexSoles"/>
                </div>
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexSolarWind" type="text" class="form-control" disabled="disabled" ng-model="vm.TotalCapex" />
                </div>
            </div>
            <div class="form-group col-md-12">
               
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoSolarWind" class="form-control" autocomplete="off" ng-model="vm.MesRecupero"  />
                </div>
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoSolarWind" type="text" class="form-control" ng-model="vm.MesComprometido" />
                </div>
            </div>
            <div class="form-group col-md-12">
              
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtCertificadoSolarWind" class="form-control" autocomplete="off"  ng-model="vm.MesCertificado" />
                </div>


            </div>
            @*<div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnSolarWind" type="button" ng-click="vm.GrabarConceptoSolarWind()">Grabar</button>
                </div>
            </div>*@
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-8"></div>
            <div class="col-md-4 modal-footer">
                <button class="btn btn-primary btn-block btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarConceptoSolarWind()">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/solarwind/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}