﻿<div id="IdPeticionCompraCompradorController" ng-app="app.Compra" ng-controller="BuscadorPeticionCompraController as vm">
    <div id="frmPeticionCompraBComprador" class="content-page">
        <div class="row">
            <div id="divAlertBuscarComprador" class="alert-edit col-md-12"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        DATOS DE COMPRADOR
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbComprador"></a>
                        </span>
                    </header>
                    <div id="pnbComprador" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nombre Comprador: </label>
                                        <div class="col-md-9">
                                            <input id="bCompradorNombreComprador" class="form-control" 
                                                   ng-model="vm.bCompradorNombreComprador" 
                                                   placeholder="Nombre Comprador" 
                                                   autocomplete="off" ng-cloak>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" 
                                       ng-click="vm.BuscarCompradorPeticionCompra()">
                                        <span class='glyphicon glyphicon-search'></span> Buscar
                                    </a>

                                    <button id="btnLimpiar" class="btn btn-primary" type="reset" 
                                            ng-click="vm.LimpiarFiltrosComprador()">
                                        <span class="glyphicon glyphicon-erase" /> Limpiar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--progress bar end-->
            </div>
        </div>

        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                LISTADO DE COMPRADORES
            </header>
            <div class="panel-body">
                <section id="dv-table">
                    <div class="table-responsive">
                        <table id="tbBuscarComprador" datatable="" dt-options="vm.dtOptionsComPeticionCompra" dt-columns="vm.dtBuscarCompradorColumnsPeticionCompra"
                               class="display table table-bordered table-striped"
                               dt-instance="vm.dtBuscarCompradorInstancePeticionCompra" style="width:100%;" dt-column-defs="vm.dtBuscarColumnDefs"></table>
                    </div>
                </section>
            </div>
        </section>
    </div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/app/Compra/BuscadoresPeticionCompra/js");

}