﻿<div id="IdRegistrarPlantillaImplantacionController" ng-app="app.Oportunidad" ng-controller="RegistrarPlantillaImplantacion as vm">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    Circuitos Datos Actual
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div id="divAlertPlantillaImplantacion" class="alert-edit col-md-12"></div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Tipo de Enlace</label>
                                <div class="col-md-7">
                                    <select class="form-control" 
                                            ng-model="vm.IdTipoEnlaceCircuitoDatos" 
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoEnlaceCD" ng-cloak></select>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Tipo Servicio</label>
                                <div class="col-md-7">
                                    <select class="form-control" 
                                            ng-model="vm.IdServicioGrupoCircuitoDatos" 
                                            ng-change="vm.ListarCostoCD()" 
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListServiciosGrupoCD" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Medio</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdMedioCircuitoDatos"
                                            ng-change="vm.ListarCostoCD()"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListMedioCD" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">BW</label>
                                <div class="col-md-7">
                                    <select id="ddlCD" class="form-control" 
                                            ng-model="vm.IdCostoCircuitoDatos"
                                            ng-change="vm.SelectIndexCD()" 
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListBwCD" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Tipo de CD</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdTipoCircuitoDatos"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoCD" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Número de CD</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.NumeroCircuitoDatos" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Conectado al CDK/CDO/CDR/CDW</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.ConectadoCircuitoDatos" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    Caudales Antiguos
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal LDN</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.LargaDistanciaNacionalCircuitoDatos" class="form-control" autocomplete="off" disabled="" ng-cloak>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Tiempo Real Voz TOS 5</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos5CaudalAntiguo"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos5CA" ng-cloak 
                                            ng-disabled="vm.enabledCD"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Tiempo Real Video TOS 4</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos4CaudalAntiguo"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos4CA" ng-cloak
                                            ng-disabled="vm.enabledCD"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Datos Platinum TOS 3</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos3CaudalAntiguo"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos3CA" ng-cloak
                                            ng-disabled="vm.enabledCD"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Datos Oro TOS 2</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos2CaudalAntiguo"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos2CA" ng-cloak
                                            ng-disabled="vm.enabledCD"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Datos Plata TOS 1</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos1CaudalAntiguo"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos1CA" ng-cloak
                                            ng-disabled="vm.enabledCD"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Datos Bronce TOS 0</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos0CaudalAntiguo"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos0CA" ng-cloak
                                            ng-disabled="vm.enabledCD"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    Otros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Ultima Milla</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.UltimaMillaCircuitoDatos" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">VRF</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.VrfCircuitoDatos" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Equipo CPE</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.EquipoCpeCircuitoDatos" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Equipo Terminal</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.EquipoTerminalCircuitoDatos" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    Servicio Ofertado al Cliente PV
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Acción ISIS</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdAccionIsis"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListAccionIsis" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Tipo de Enlace</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdTipoEnlaceServicioOfertado"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoEnlaceSO" ng-cloak
                                            ng-disabled="true"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Tipo Servicio</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdServicioGrupoServicioOfertado"
                                            ng-change="vm.ListarCostoSO()"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListServiciosGrupoSO" ng-cloak
                                            ng-disabled="true"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Medio</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdMedioServicioOfertado"
                                            ng-change="vm.ListarCostoSO()"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListMedioSO" ng-cloak
                                            ng-disabled="true"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">BW</label>
                                <div class="col-md-7">
                                    <select id="ddlSO" class="form-control" 
                                            ng-model="vm.IdCostoServicioOfertado"
                                            ng-change="vm.SelectIndexSO()" 
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListBwSO"
                                            ng-cloak
                                            ng-disabled="true"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Tipo de CD</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdTipoServicioOfertado"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoSO" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Número de CD</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.NumeroServicioOfertado" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    Caudales
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal LDN</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.LargaDistanciaNacionalServicioOfertado" class="form-control" autocomplete="off" disabled="" ng-cloak>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Tiempo Real Voz TOS 5</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos5ServicioOfertado"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos5SO" ng-cloak
                                            ng-disabled="vm.enabledSO"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Tiempo Real Video TOS 4</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos4ServicioOfertado"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos4SO" ng-cloak
                                            ng-disabled="vm.enabledSO"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Datos Platinum TOS 3</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos3ServicioOfertado"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos3SO" ng-cloak
                                            ng-disabled="vm.enabledSO"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Datos Oro TOS 2</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos2ServicioOfertado"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos2SO" ng-cloak
                                            ng-disabled="vm.enabledSO"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Datos Plata TOS 1</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos1ServicioOfertado"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos1SO" ng-cloak
                                            ng-disabled="vm.enabledSO"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Caudal Datos Bronce TOS 0</label>
                                <div class="col-md-7">
                                    <select class="form-control"
                                            ng-model="vm.IdVozTos0ServicioOfertado"
                                            ng-options="item.IdCosto as item.Descripcion for item in vm.ListVozTos0SO" ng-cloak
                                            ng-disabled="vm.enabledSO"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    Otros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Ultima Milla</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.UltimaMillaServicioOfertado" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">VRF</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.VrfServicioOfertado" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Equipo CPE</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.EquipoCpeServicioOfertado" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Equipo Terminal</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.EquipoTerminalServicioOfertado" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <label class="control-label col-md-5">Descripción</label>
                            <div class="col-md-7">
                                <textarea ng-model="vm.ObservacionServicioOfertado" class="tb form-control ng-pristine ng-valid ng-touched" rows="3" maxlength="250"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">% Garantizado BW</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.GarantizadoBw" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Propiedad Router</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.Propiedad" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Recurso Transporte</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.RecursoTransporte" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Router Swit</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.RouterSwitchCentralTelefonica" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Componentes Router</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.ComponentesRouter" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Tipo Antena</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.TipoAntena" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Segmento Satelital</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.SegmentoSatelital" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Cordenadas Ubicación</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.CoordenadasUbicacion" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Pozo a Tierra</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.PozoTierra" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">UPS</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.Ups" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-5">Equipo Telefonico</label>
                                <div class="col-md-7">
                                    <input ng-model="vm.EquipoTelefonico" class="form-control" autocomplete="off" ng-cloak maxlength="15">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-sm" type="button" ng-click="vm.RegistrarPlantillaImplantacion()">Grabar</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>