﻿<div id="IdDetalleCompraCuentaController" ng-app="app.Compra" ng-controller="BuscadorPeticionCompraController as vm">
    <div id="frmDetalleCompraBCuenta" class="content-page">
        <div class="row">
            <div id="divAlertBuscarCuenta" class="alert-edit col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--progress bar start-->
                <section class="panel">
                    <header class="panel-heading-modal">
                        <i class="fa fa-chevron-circle-down"> </i>
                        DATOS DE CUENTA
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" data-toggle="collapse" href="#pnbCuenta"></a>
                        </span>
                    </header>
                    <div id="pnbCuenta" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="form-group row">
                                <label class="col-form-label col-sm-1">Cuenta: </label>
                                <div class="col-sm-4">
                                    <input id="bCuenta" class="form-control"
                                           ng-model="vm.bCodigoCuenta"
                                           placeholder="Código de cuenta"
                                           autocomplete="off" ng-cloak>
                                </div>
                                <label class="col-form-label col-md-2">Descripción: </label>
                                <div class="col-md-4">
                                    <input id="bCuentaDescripcion" class="form-control"
                                           ng-model="vm.bCuentaDescripcion"
                                           placeholder="Descripción"
                                           autocomplete="off" ng-cloak>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                                       ng-click="vm.BuscarCuentaDetalleCompra()">
                                        <span class='glyphicon glyphicon-search'></span> Buscar
                                    </a>
                                    <button id="btnLimpiar" class="btn btn-primary" type="reset"
                                            ng-click="vm.LimpiarFiltrosCuenta()">
                                        <span class="glyphicon glyphicon-erase" /> Limpiar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--progress bar end-->
            </div>
        </div>
        <section class="panel">
            <header class="panel-heading-modal">
                <i class="fa fa-chevron-circle-down"> </i>
                LISTADO DE CUENTAS
            </header>
            <div class="panel-body">
                <section id="dv-table">
                    <div class="table-responsive">
                        <table id="tbBuscarCentroCosto" datatable="" dt-options="vm.dtOptionsCuentaDetalleCompra"
                               dt-columns="vm.dtBuscarCuentaColumnsDetalleCompra"
                               class="display table table-bordered table-striped"
                               dt-instance="vm.dtBuscarCuentaInstanceDetalleCompra"
                               style="width:100%;" dt-column-defs="vm.dtBuscarColumnDefs"></table>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/app/Compra/BuscadoresPeticionCompra/js");

}
